<app-mobile-header></app-mobile-header>
<app-header></app-header>
 
<ng-container *ngIf="recordLength == 0; else elseNoProduct">
    <div class="container">
        <div class="screen-mtb-50">
            <!--<div class="row p-t-25">
             <h2>Votre Compte</h2>
             </div>-->
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12 col-12 m-a mob-canter">
                    <div class="row cart-empty">
                        <div class="col-lg-3 col-sm-3 col-md-3 col-12">
                            <div class="">
                                <img class="mw-100" src="../../../assets/images/cart.png" width="150" />
                            </div>
                        </div>
                        <div class="col-lg-8 col-sm-8 col-md-8 col-12 a-s-c">
                            <h3 class="f-w-600 mt-3">Votre panier Porschists est vide</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>
<ng-template #elseNoProduct>
    

    <div class="container" >
        <div class="row mt-3 pt-3 mob-p-0">
            <div class="col-lg-12 m-a">
                <div class="row">
                    <div class=" col-lg-8 col-sm-12 col-md-7 col-12 screen-pr-50">
                        <div class="d-block d-sm-none d-md-none d-lg-none">
                            <h4><strong>Sous - total <span class="float-right">{{cartData.total_product_price}}  <i class="fa-solid fa-euro"></i> </span></strong></h4>
                        </div>
                        <div class="d-none d-sm-block d-md-block d-lg-block">
                            <h4>Votre Panier <span class="prix-spn">Prix</span></h4>
                        </div>
                        <div class="row cart-row" *ngFor="let pro of record">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-4">
                                <a routerLink="/accessoriesProductDetail/{{pro.ad_id[0]._id}}">
                                    <img *ngIf="pro.ad_id[0].accessoires_image =='' " class="mw-100 br-10" src="{{base_url_node_only}}public/uploads/no-image.png">
                                    <img *ngIf="pro.ad_id[0].accessoires_image !='' " class="mw-100 br-10" src="{{base_url_node_only}}{{pro.ad_id[0].accessoires_image[0].path}}">
                                </a>
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-6 col-8">
                                <h6 class="cart-des"><a>{{pro.ad_id[0].ad_name}}</a> </h6>
                                <p></p>
                                <div class="d-block d-sm-none d-md-none d-lg-none">{{pro.price}} <i class="fa-solid fa-euro"></i></div>

                                 

                                <ng-container *ngIf="pro.ad_id[0].user_type == 'pro_user'; else elseProQuantity ">
                                    <div><a class="ankr-big">En stock</a></div>
                                    <div>
                                        <select class="qty" (change)="updateQty($event, pro._id)">
                                            <option>Qty : {{pro.quantity}} </option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                        </select>
                                        <span class="plr-5">|</span>
                                        <span><a  class="ankr-big" (click)="deleteCartItem(pro._id)">Supprimer</a></span>
                                    </div>
                                </ng-container>    
                                <ng-template #elseProQuantity>
                                    <div></div>
                                    <div>
                                         
                                         
                                        <span><a  class="ankr-big" (click)="deleteCartItem(pro._id)">Supprimer</a></span>
                                    </div>
                                </ng-template>
                            </div>
                            
                            <div class="col-lg-2 col-md-2 col-sm-2 col-8 text-right">
                                <h6 class="d-none d-sm-block d-md-block d-lg-block"><a>{{pro.total_product_price}} <i class="fa-solid fa-euro"></i> </a></h6>


                            </div>
                            <div class="clearfix"></div><br>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                
                                <ng-container *ngIf="pro.ad_id[0].shipping_type_1">
                                    <ul class="fil-ul">
                                        <ng-container *ngIf="pro.ad_id[0].shipping_type_1 == 1 ">
                                            <li *ngIf="pro.ad_id[0].shipping_price_1 > 0">
                                                <label class="container-r">{{pro.ad_id[0].shipping_type_1_text }}   {{pro.ad_id[0].shipping_price_1 }} <input type="radio" name="radio{{pro.ad_id[0]._id}}" value="{{pro.ad_id[0].shipping_price_1 }}" (change)="getShippingCalculation(pro.ad_id[0]._id,pro.ad_id[0].shipping_price_1 )">
                                                    <span class="checkmark-r"></span>
                                                    <i class="fa-solid fa-euro"></i>
                                                </label></li>
                                        </ng-container>
                                        
                                        <ng-container *ngIf="pro.ad_id[0].shipping_type_2 == 1 ">
                                            <li *ngIf="pro.ad_id[0].shipping_price_2 > 0">
                                                <label class="container-r">{{pro.ad_id[0].shipping_type_2_text }}   {{pro.ad_id[0].shipping_price_2}} <input type="radio" name="radio{{pro.ad_id[0]._id}}" value="{{pro.ad_id[0].shipping_price_2}}" (change)="getShippingCalculation(pro.ad_id[0]._id,pro.ad_id[0].shipping_price_2)"><span class="checkmark-r"></span>
                                                    <i class="fa-solid fa-euro"></i>
                                                </label></li>
                                        </ng-container>
                                        <ng-container *ngIf="pro.ad_id[0].shipping_type_4 == 1">
                                            <li *ngIf="pro.ad_id[0].shipping_price_4 > 0">
                                                <label class="container-r">{{pro.ad_id[0].shipping_type_4_text }}   {{pro.ad_id[0].shipping_price_4}} <input type="radio" name="radio{{pro.ad_id[0]._id}}" value="{{pro.ad_id[0].shipping_price_4}}" (change)="getShippingCalculation(pro.ad_id[0]._id,pro.ad_id[0].shipping_price_4)"><span class="checkmark-r"></span>
                                                    <i class="fa-solid fa-euro"></i>
                                                </label></li>
                                        </ng-container>


                                        
                                        <ng-container *ngIf="pro.ad_id[0].shipping_type_3== 1">
                                            <li  >
                                                <label class="container-r">{{pro.ad_id[0].shipping_type_3_text }} <input type="radio" name="radio{{pro.ad_id[0]._id}}" value="0" (change)="getShippingCalculation(pro.ad_id[0]._id,0)"><span class="checkmark-r"> 

                                                </span></label></li>
                                        </ng-container>
                                        <ng-container *ngIf="pro.ad_id[0].shipping_type_5== 1">
                                            <li  >
                                                <label class="container-r">{{pro.ad_id[0].shipping_type_5_text }} <input type="radio" name="radio{{pro.ad_id[0]._id}}" value="0" (change)="getShippingCalculation(pro.ad_id[0]._id,0)"><span class="checkmark-r"> 

                                                </span></label></li>
                                        </ng-container>


                                        <!-- <li><label class="container-r">Livraison express <input type="radio" name=""><span class="checkmark-r"></span></label></li> 
                                        <li><label class="container-r">Autre mode de livraison <input type="radio" name=""><span class="checkmark-r"></span></label></li> 
                                        <li><label class="container-r">Livraison gratuite<input type="radio" name=""><span class="checkmark-r"></span></label></li> -->
                                    </ul>
                                </ng-container>
                            </div>
                        </div>

                        <div class="row cart-row d-none d-sm-block d-md-block d-lg-block">
                            <h6 class="text-right">
                                <ng-container *ngIf="record.length == 1; else elseLengthOne">
                                    Sous-total ({{ record.length}} article)
                                </ng-container>
                                <ng-template #elseLengthOne>Sous-total ({{ record.length}} articles)</ng-template>
                                
                                :<strong> {{cartData.total_product_price}} <i class="fa-solid fa-euro"></i></strong></h6>
                        </div>
                    </div>
                    <div class=" col-lg-4 col-sm-12 col-md-5 col-12 d-none d-sm-block d-md-block d-lg-block">
                        <div class="row sous-row">
                            <div class="col-lg-8 col-md-8 col-sm-8 col-8">
                                <p>
                                    <ng-container *ngIf="record.length == 1; else elseLengthOne1">
                                        Sous-total ({{ record.length}} article)
                                    </ng-container>
                                    <ng-template #elseLengthOne1>Sous-total ({{ record.length}} articles)</ng-template>
                                    
                                    :</p>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-4">
                                <strong>{{cartData.total_product_price}} <i class="fa-solid fa-euro"></i></strong>
                            </div>
                            <!-- routerLink="/my_checkout" -->
                            <div class="mt-3 mb-3"><button class="btn btn-theme-fill w-100" (click)="myCheckoutPage()">Passer la commande</button></div>

                            <div class="clearfix"></div><br>
                            <!-- <div class="alert alert-success">
                                <strong>Success!</strong> Indicates a successful or positive action.
                            </div> -->

                            <div class="comeBack_up" *ngIf="apiResponseAddress">
                                <div *ngIf="apiResponseAddress.error; else loggedOut">
                                    <div class="alert alert-danger"><strong>{{ apiResponseAddress.errorMessage
                            }}</strong></div>
                                </div>
                                <ng-template #loggedOut>
                                    <div *ngIf="apiResponseAddress.errorMessage;" class="alert alert-success">
                                        <strong>{{ apiResponseAddress.errorMessage }}</strong></div>
                                </ng-template>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="d-block d-sm-none d-md-none d-lg-none">
                    <button class="btn btn-theme-fill w-100">Passer la commande (3 articles)</button>
                    
                    

                </div>

                


            </div>
        </div>
    </div>
</ng-template>
<app-footer></app-footer>