.cart-empty{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    height: 350px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border: 1px solid #deee;
    box-shadow: 0 2px 5px #eee;
    border-radius: 10px;
}
.m-a{
    margin: auto;
}

.prix-spn {
    float: right;
    font-size: 12px;
    padding-top: 10px;
}
.cart-row {
    border-top: 1px solid #ddd;
    padding-top: 20px;
    padding-bottom: 20px;
}
.ankr-big {
    color: #007185;
    font-size: 14px;
}
.qty {
    background: #f1f1f1;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 6px 1px #ddd;
    border: 1px solid #ddd;
    color: #000;
    width: 90px;
}
.plr-5 {
    padding-left: 5px;
    padding-right: 5px;
}
.text-right {
    text-align: right;
}
.sous-row {
    padding: 12px;
    border: 1px solid#ddd;
    border-radius: 5px;
}
.btn-theme-fill {
    background: #f00 !important;
    color: #fff !important;
    padding: 5px 10px !important;
    font-size: 15px !important;
    border-radius: 4px;
}
.br-10{
    border-radius: 6px;
}
.ankr-big{
    cursor: pointer;
}





.container-r {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 17px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: 500 !important;
    text-align: left;
}
/* Hide the browser's default radio button */

.container-r input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
/* Create a custom radio button */

.checkmark-r {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: white;
    border-radius: 50%;
    border: 2px solid #999;
}
/* On mouse-over, add a grey background color */

.container-r:hover input~.checkmark-r {
    background-color: white;
}
/* When the radio button is checked, add a blue background */

.container-r input:checked~.checkmark-r {
    background-color: #f00;
}
/* Create the indicator (the dot/circle - hidden when not checked) */

.checkmark-r:after {
    content: "";
    position: absolute;
    display: none;
}
/* Show the indicator (dot/circle) when checked */

.container-r input:checked~.checkmark-r:after {
    display: block;
}
/* Style the indicator (dot/circle) */

.container-r .checkmark-r:after {
    top: 7px;
    left: 7px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: white;
}

.fil-ul li {
    list-style-type: none;
}