<app-mobile-header></app-mobile-header>
<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <ul class="nav nav-pills nv-favo" role="tablist">
                <li class="nav-item">

                    <a class="nav-link active" data-bs-toggle="pill" href="#home">
                        <span class="d-none d-sm-none d-md-block d-lg-block">Mes annonces sauvegardées</span>
                        <span class="d-block d-sm-block d-md-none d-lg-none">Annonces</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " data-bs-toggle="pill" href="#menu1">
                        <span class="d-none d-sm-none d-md-block d-lg-block">Mes vendeurs favoris</span>
                        <span class="d-block d-sm-block d-md-none d-lg-none">vendeurs</span>
                    </a>
                </li>

            </ul>

            <div class="tab-content">
                <div id="home" class="container tab-pane fade text-center active"><br>
                    <ng-container *ngIf="favitems">
                         
                        <ng-container *ngIf="favitems.length == 0">
                            
                            <div class="dont-save">
                                <div>
                                    <h5>Vous n’avez pas encore d’annonce sauvegardée</h5>
                                    <div class="mt-3 mb-3"><button type="button" class="btn btn-primary "><a href="#" style="color:#fff">Faire une nouvelle
                                        recherche</a></button></div>
                                </div>
                                <div>
                                    <img class="mw-100" src="../../../assets/images/logo.png" height="200">
                                </div>
                            </div>
                        </ng-container>
                    </ng-container>

                    <ul class="sellr-list">
                        <li *ngFor="let add of favitems">

                            <div *ngFor="let ad of add.ad_data ">
                                <a>
                                    <div class="row">
                                        <div class="col-lg-2 col-md-3 col-sm-3 col-5">
                                            <div class="img-pp">
 
                                                <ng-container *ngIf="ad.accessoires_image.length > 0; else imageCarAd">
                                                    <a routerLink="/accessoriesProductDetail/{{ad._id}}">
                                                        <img class="mw-100" *ngIf="ad.category == 'Pièces et accessoires' " src="{{base_url_node_only}}{{ad.accessoires_image[0].path}}">
                                                        <span class="c-pic">{{ad.accessoires_image.length}}</span>
                                                    </a>
                                                </ng-container>
                                                <ng-template #imageCarAd>
                                                    <a routerLink="/accessoriesProductDetail/{{ad._id}}">
                                                    <img class="mw-100" *ngIf="ad.category == 'Pièces et accessoires' " data-src="{{base_url_node_only}}public/uploads/no-image.png" src="{{base_url_node_only}}public/uploads/no-image.png" alt="image" title="">
                                                    </a>
                                                </ng-template>

                                                <ng-container *ngIf="ad.exterior_image.length > 0; else imageCarAd2">
                                                    <a routerLink="/productDetail/{{ad._id}}">
                                                    <img class="mw-100" *ngIf="ad.category == 'Porsche Voitures'" src="{{base_url_node_only}}{{ad.exterior_image[0].path}}">
                                                    <span class="c-pic">{{ad.exterior_image.length}}</span>
                                                    </a>
                                                </ng-container>
                                                <ng-template #imageCarAd2>
                                                    <a routerLink="/productDetail/{{ad._id}}">
                                                    <img class="mw-100" *ngIf="ad.category == 'Porsche Voitures'" data-src="{{base_url_node_only}}public/uploads/no-image.png" src="{{base_url_node_only}}public/uploads/no-image.png" alt="image" title="">
                                                    </a>
                                                </ng-template>




                                            </div>
                                        </div>
                                        <div class="col-lg-10 col-md-9 col-sm-9 col-7">
                                            <div class="ptb-10">
                                                <div class="pb-3 flex-pf">
                                                    <div>
                                                        <a  *ngIf="ad.category == 'Porsche Voitures'" routerLink="/productDetail/{{ad._id}}">
                                                            <h5 class="s-h5">
                                                                {{ad.ad_name}}
                                                            </h5>
                                                            <h6>{{ad.price}} €</h6>
                                                        </a>

                                                        <a *ngIf="ad.category == 'Pièces et accessoires' " routerLink="/accessoriesProductDetail/{{ad._id}}">
                                                            <h5 class="s-h5">
                                                                {{ad.ad_name}}
                                                            </h5>
                                                            <h6>{{ad.price}} €</h6>
                                                        </a>
                                                    </div>
                                                    <div>
                                                        <a (click)="AccessAdFav(ad._id,user_id,'accessories')" class="hrt-an" tabindex="0">
                                                            <span><i class="fa-solid fa-heart"></i>
                                                        </span>
                                                        </a>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-10">
                                                        <a  *ngIf="ad.category == 'Porsche Voitures'" routerLink="/productDetail/{{ad._id}}">
                                                            
                                                            <ng-container *ngIf="ad.cat_rec">
                                                                <ng-container *ngIf="ad.cat_rec.length > 0; ">
                                                                    <p class="mb-0">
                                                                        {{ad.cat_rec[0].first_heading}}
                                                                    </p>
                                                                </ng-container>
                                                                
                                                            </ng-container>
                                                         
                                                            <p class="mb-0">{{ad.created_at| date:'dd.MM.yyyy'}}</p>
                                                        </a>

                                                        <a *ngIf="ad.category == 'Pièces et accessoires' " routerLink="/accessoriesProductDetail/{{ad._id}}">
                                                            <ng-container *ngIf="ad.cat_rec">
                                                                <ng-container *ngIf="ad.cat_rec.length > 0; ">
                                                                    <p class="mb-0">
                                                                        {{ad.cat_rec[0].first_heading}}
                                                                    </p>
                                                                </ng-container>
                                                                
                                                            </ng-container>
                                                         
                                                            <p class="mb-0">{{ad.created_at| date:'dd.MM.yyyy'}}</p>
                                                        </a>
                                                        


                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-2 lik-e">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                        </li>
                         

                    </ul>

                </div>
                <div id="menu1" class="container tab-pane fade text-center ">
                    
                        <div class="row">
                            <ng-container *ngIf="favSellerList">
                                <ng-container *ngIf="favSellerList.length == 0">
                                    <div class="dont-save">
                                        <div>
                                            <h5>Vous n'avez pas encore de vendeur favoris</h5>
                                            <div class="mt-3 mb-3"> </div>
                                        </div>
                                        <div>
                                            <img class="mw-100" src="../../../assets/images/logo.png" height="200">
                                        </div>
                                    </div>
                                </ng-container>
                            </ng-container>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-12">
                                <!-- <p>Si l’annonce n’est plus active sur le site, elle disparaîtra automatiquement</p> -->
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-12 sm-alin">
                                <a data-bs-toggle="modal" data-bs-target="#myModalv" style="cursor: pointer;">
                                     
                                </a>
                                <!-- <button type="button" class=" btn-primary" >
                                    Open modal
                                </button> -->
                            </div>


                            <ul class="popup-ul">
                                <li *ngFor="let seller of favSellerList">
                                    <div class="nam-plat">
                                        <!-- <span>k</span>
                                         -->
                                        
                                         
                                        <img _ngcontent-yhn-c79="" width="120" class="mob-img-width" src="{{base_url_node_only}}public/uploads/userProfile/{{seller.sellers[0].userImage}}">
                                    </div>
                                    <div class="flot-left">
                                        <!-- <p> {{seller.seller_id}}</p> -->
                                        <p><small class="calital_latter"> {{seller.sellers[0].firstName}} {{seller.sellers[0].lastName}}</small></p>
                                    </div>
                                    <!-- <button class="btn float-right btnnam" (click)="followSeller(seller)">Ne pas suivre</button> -->

                                    <div class="clearfix"></div><br>
                                    <ul class="sellr-list">
                                        <li *ngFor="let ad of seller.ad_data">
                
                                            <div  >
                                                <a>
                                                    <div class="row">
                                                        <div class="col-lg-2 col-md-3 col-sm-3 col-5">
                                                            <div class="img-pp">
                 
                                                                
                                                                <ng-container *ngIf="ad.accessoires_image.length > 0; else imageCarAd">
                                                                    <a routerLink="/accessoriesProductDetail/{{ad._id}}">
                                                                        <img class="mw-100" *ngIf="ad.category == 'Pièces et accessoires' " src="{{base_url_node_only}}{{ad.accessoires_image[0].path}}">
                                                                        <span class="c-pic">{{ad.accessoires_image.length}}</span>
                                                                    </a>
                                                                </ng-container>
                                                                <ng-template #imageCarAd>
                                                                    <a routerLink="/accessoriesProductDetail/{{ad._id}}">
                                                                    <img class="mw-100" *ngIf="ad.category == 'Pièces et accessoires' " data-src="{{base_url_node_only}}public/uploads/no-image.png" src="{{base_url_node_only}}public/uploads/no-image.png" alt="image" title="">
                                                                    </a>
                                                                </ng-template>
                
                                                                <ng-container *ngIf="ad.exterior_image.length > 0; else imageCarAd2">
                                                                    <a routerLink="/productDetail/{{ad._id}}">
                                                                    <img class="mw-100" *ngIf="ad.category == 'Porsche Voitures'" src="{{base_url_node_only}}{{ad.exterior_image[0].path}}">
                                                                    <span class="c-pic">{{ad.exterior_image.length}}</span>
                                                                    </a>
                                                                </ng-container>
                                                                <ng-template #imageCarAd2>
                                                                    <a routerLink="/productDetail/{{ad._id}}">
                                                                    <img class="mw-100" *ngIf="ad.category == 'Porsche Voitures'" data-src="{{base_url_node_only}}public/uploads/no-image.png" src="{{base_url_node_only}}public/uploads/no-image.png" alt="image" title="">
                                                                    </a>
                                                                </ng-template>
                
                
                
                
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-10 col-md-9 col-sm-9 col-7">
                                                            <div class="ptb-10">
                                                                <div class="pb-3 flex-pf">
                                                                    <div>

                                                                        <a  *ngIf="ad.category == 'Porsche Voitures'" routerLink="/productDetail/{{ad._id}}">
                                                                            <h5 class="s-h5">{{ad.ad_name}}</h5>
                                                                            <h6>{{ad.price}} €</h6>
                                                                        </a>
                                                                        
                                                                        <a *ngIf="ad.category == 'Pièces et accessoires' " routerLink="/accessoriesProductDetail/{{ad._id}}">
                                                                            <h5 class="s-h5">
                                                                                {{ad.ad_name}}
                                                                            </h5>
                                                                            <h6>{{ad.price}} €</h6>
                                                                        </a>

                                                                    </div>
                                                                    <div>
                                                                        <a (click)="AccessAdFav(ad._id,user_id,'accessories')" class="hrt-an" tabindex="0">
                                                                            <span><i class="fa-solid fa-heart"></i>
                                                                        </span>
                                                                        </a>
                                                                    </div>
                                                                </div>
                
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-10">
        
        
        <a  *ngIf="ad.category == 'Porsche Voitures'" routerLink="/productDetail/{{ad._id}}">
            <ng-container *ngIf="ad.cat_rec">
                <ng-container *ngIf="ad.cat_rec.length > 0; ">
                    <p class="mb-0">
                        {{ad.cat_rec[0].first_heading}}
                    </p>
                </ng-container>
                
            </ng-container>
            
            <p class="mb-0">{{ad.created_at| date:'dd.MM.yyyy'}}</p>
        </a>

        <a *ngIf="ad.category == 'Pièces et accessoires' " routerLink="/accessoriesProductDetail/{{ad._id}}">
            <ng-container *ngIf="ad.cat_rec">
                <ng-container *ngIf="ad.cat_rec.length > 0; ">
                    <p class="mb-0">
                        {{ad.cat_rec[0].first_heading}}
                    </p>
                </ng-container>
                
            </ng-container>
            
            <p class="mb-0">{{ad.created_at| date:'dd.MM.yyyy'}}</p>
        </a>



    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-2 lik-e">

    </div>
</div>



                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                
                                        </li>
                                         
                
                                    </ul>


                                </li>
                               
            
                            </ul>
                            <div class="comeBack_up" *ngIf="apiResponse2">
                                <div *ngIf="apiResponse2.error; else loggedOut">
                                    <div class="alert alert-success"><strong>{{ apiResponse2.errorMessage }}</strong></div>
                                </div>
                                <ng-template #loggedOut>
                                    <div *ngIf="apiResponse2.errorMessage">
                                        <div class="alert alert-success"><strong>{{ apiResponse2.errorMessage }}</strong></div>
                                    </div>
                                </ng-template>
            
                            </div>



                        </div>
                     
                    
                </div>

            </div>


        </div>
    </div>
</div>
<div class="modal" id="myModalv">
    <div class="modal-dialog  modal-sm">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Mes Vendeurs Suivis</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                
            </div>
            <!-- Modal footer -->

        </div>
    </div>
</div>

<app-footer></app-footer>