<app-mobile-header></app-mobile-header>
<app-header></app-header>
<div id="page-content" class="">
  <!--Container-->
  <div class="container pt-30">
     <!--Main Content-->
     <div class="row width-s">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
           <div class="p-0">
              <a class="fs-22" routerLink="/userProfile/user_id"><i class="fa-solid fa-arrow-left"></i></a>
              <h3 class="m-t-20">Modifier mon mot de passe</h3>
           </div>
        </div>
        
      <form [formGroup]="form" (ngSubmit)="submit()" class="customer-form">	  
        <div class="row">

          
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 main-col mob-p-0">
            <div class="mb-3 position-r">
               <input type="{{inputType}}" class="form-control bg-white mot-de-in" id="" placeholder="Ancien mot de passe*" name="old_password" formControlName="old_password">
               <span class="mot-eye"  (click)="eyeClick()"><i class="fa-solid fa-eye"></i></span>
            </div>
            <div *ngIf="f['old_password'].touched && f['old_password'].invalid" class="validation_error">
              <div class="error" *ngIf="f['old_password'].errors && f['old_password'].errors['required']">Mot de passe obligatoire.</div>
              <div class="error" *ngIf="f['old_password'].errors && f['old_password'].errors['minlength']">Mot de passe trop court.</div>
              <div class="error" *ngIf="f['old_password'].errors && f['old_password'].errors['maxlength']">Mot de passe trop long.</div>
            </div>
         </div>

           <div class="col-12 col-sm-12 col-md-12 col-lg-12 main-col mob-p-0">
              <input type="hidden" name="user_id" formControlName="user_id" [(ngModel)]="user_id">
              <div class="mb-3 position-r">
                 <input type="{{inputType2}}" class="form-control bg-white mot-de-in" id="new_password" placeholder="Nouveau  mot de passe*" name="new_password" formControlName="new_password" >
                 <span class="mot-eye" (click)="eyeClick2()"><i class="fa-solid fa-eye"></i></span>
              </div>
              <div *ngIf="f['new_password'].touched && f['new_password'].invalid" class="validation_error">
                <div class="error" *ngIf="f['new_password'].errors && f['new_password'].errors['required']">Mot de passe obligatoire.</div>
                <div class="error" *ngIf="f['new_password'].errors && f['new_password'].errors['minlength']">Mot de passe trop court.</div>
                <div class="error" *ngIf="f['new_password'].errors && f['new_password'].errors['maxlength']">Mot de passe trop long.</div>
              </div>

            </div>

            <div class="col-12 col-sm-12 col-md-12 col-lg-12 main-col mob-p-0">
              <div class="mb-3 position-r">
                 <input type="{{inputType3}}" class="form-control bg-white mot-de-in" id="" placeholder="Confirmer le nouveau  mot de passe*" name="confirmPassword" formControlName="confirmPassword">
                 <span class="mot-eye" (click)="eyeClick3()"><i class="fa-solid fa-eye"></i></span>
              </div>
              
              <div *ngIf="f['confirmPassword'].touched && f['confirmPassword'].invalid" class="validation_error">
                <div class="error" *ngIf="f['confirmPassword'].errors && f['confirmPassword'].errors['required']">Confirmer le mot de passe obligatoire.</div>
                <div class="error" *ngIf="f['confirmPassword'].errors && f['confirmPassword'].errors['matching']">
                  Le mot de passe ne correspond pas</div>
            </div>
            
           </div>



           
           

            <div class="col-12 col-sm-12 col-md-12 col-lg-12 main-col mob-p-0">
              <p class="d-flex-center">
                <button type="submit" class="btn rounded me-auto w-100" >Se connecter</button>
              </p>
              <div class="clearfix"></div>
              <br>

              <div class="comeBack_up" *ngIf="apiResponse">
                <div *ngIf="apiResponse.error; else loggedOut">
                  <div class="alert alert-danger"><strong>{{ apiResponse.errorMessage }}</strong></div>
                </div>
                <ng-template #loggedOut>
                  <div  *ngIf="apiResponse.errorMessage;" class="alert alert-success"><strong>{{ apiResponse.errorMessage }}</strong></div>
                </ng-template>
              </div>
            </div>
        </div>
      </form>

     </div>
     <!--End Main Content-->
     <!--End Container-->
  </div>
</div>
<app-footer></app-footer>