<app-header></app-header>
<div id="page-content" class="p-t-30 mob-pt-0">
  <!--Container-->
  <div class="container pt-30">
    <!--Main Content-->
    <div class="">
      <div class="row">
        <!--<div class="col-md-12">
          <h2>Déposer une annonce</h2>
          </div>-->
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 login-f">
          <div class="p-2 otp-div1 text-center " style="padding: 25px!important;"> 
            <h1>Vérifions ensemble votre e-mail</h1>
            <p>Saisissez le code à 6 chiffres reçu à l'adresse e-mail : </p>
            <p><strong>{{user_email}}</strong></p>								 
              <form [formGroup]="form" (ngSubmit)="submit()" class="customer-form">
                <input type="hidden" name="user_id" formControlName="user_id" [(ngModel)]="user_id">
                <div id="otp" class="inputs d-flex flex-row justify-content-center mt-2"> 
                  <ng-otp-input  (onInputChange)="onOtpChange($event)"  [config]="{length:6,allowNumbersOnly:true}"   ></ng-otp-input>
                </div> 
                <div class="mt-4">
                  <button type="submit" class="btn rounded me-auto w-100" >Valider</button>
                </div>
                <div class="mt-4"> 
                  <p>Je n'ai rien reçu <a href="javascript:void(0)" (click)="resendOtp()" class="ankr-red">Me renvoyer le code</a></p>
                </div> 

                <div class="clearfix"></div>
                  <br>
                  <div class="comeBack_up" *ngIf="apiResponse">
                    <div *ngIf="apiResponse.error; else loggedOut">
                    <div class="alert alert-danger"><strong>{{ apiResponse.errorMessage }}</strong></div>
                    </div>
                    <ng-template #loggedOut>
                        <div *ngIf="apiResponse.errorMessage">
                          <div class="alert alert-success"><strong>{{ apiResponse.errorMessage }}</strong></div>
                        </div>
                        </ng-template>
                  
                  </div>


                <div class="clearfix"></div><br>

              </form>

          </div>
        </div>
      </div>
    </div>
    <!--End Main Content-->
</div>
<!--End Container-->
</div>
<app-footer></app-footer>
<!--End Body Container-->