<app-mobile-header></app-mobile-header>

<!--Page Wrapper-->
<div class="page-wrapper">

  <app-header></app-header>
  <div id="page-content" class="page-adjust">
    <!--Container-->
    <div class="container max-992">
      <!--Main Content-->
      <div class="">
          <div class="row">
            <!--<div class="col-md-12">
                <h2>Déposer une annonce</h2>
                </div>-->
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 mb-4 mb-md-0 login-f ">
              <form [formGroup]="form" (ngSubmit)="submit()" class="customer-form">
                  <div class="row">
                      <h1 class="">Modifier mon  mot  de passe</h1>

                      <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <div class="col-md-12">
                              
                              <label for="" class="">Nouveau mot de passe<span class="required"> *</span> </label>

                              <input type="hidden" class="form-control" placeholder="" id="" name="user_id" formControlName="user_id" [(ngModel)]="user_id"  />


                              <div class="input-group mb-3">
                                  <input type="{{inputType}}" class="form-control" placeholder="" id="" name="password" formControlName="password"  />
                                  <span class="input-group-text eye-i" (click)="eyeClick()"><i class="fa-solid fa-eye"></i></span>
                              </div>

                              <div *ngIf="f['password'].touched && f['password'].invalid" class="validation_error">
                                <div class="error" *ngIf="f['password'].errors && f['password'].errors['required']">Le mot de passe est obligatoire.</div>
                                <div class="error" *ngIf="f['password'].errors && f['password'].errors['minlength']">Mot de passe trop court.</div>
                                <div class="error" *ngIf="f['password'].errors && f['password'].errors['maxlength']">La longueur maximum du mot de passe est de fifty .</div>

                                <div class="error" *ngIf="f['password'].errors && f['password'].errors['pattern']">Veuillez entrer une adresse e-mail valide.</div>

                              </div>
                              

                              <div class="mini-mum-div">
                                  <ul class="mini-mum">
                                    <li><i class="fa-solid fa-check"></i> 8 caractères minimum</li>
                                    <li><i class="fa-solid fa-check"></i> 1 chiffre minimum </li>
                                    <li><i class="fa-solid fa-check"></i> 1 lettre minuscule minimum</li>
                                    <li><i class="fa-solid fa-check"></i> 1 lettre majuscle minimum</li>
                                    <li><i class="fa-solid fa-check"></i> 50 caractères miximum</li>
                                  </ul>
                              </div>

                            </div>
                        </div>
                        <div><button class="btn btn-primary">Continuer</button></div>

                          <div class="clearfix"></div>
                          <br>
                          <div class="comeBack_up" *ngIf="apiResponse">
                            <div *ngIf="apiResponse.error; else loggedOut">
                            <div class="alert alert-danger"><strong>{{ apiResponse.errorMessage }}</strong></div>
                            </div>
                            <ng-template #loggedOut>
                                <div *ngIf="apiResponse.errorMessage">
                                  <div class="alert alert-success"><strong>{{ apiResponse.errorMessage }}</strong></div>
                                </div>
                                </ng-template>
                          
                          </div>


                          <div class="clearfix"></div><br>


                      </div>
                  </div>
                </form>
            </div>
            <!-- <div class="col-12 col-sm-12 col-md-6 col-lg-6 mb-4 mb-md-0 text-center d-none d-lg-block a-s-c">
                <img class="for-got" src="assets/images/content/change-pass.png">
            </div> -->
          </div>
      </div>
      <!--End Main Content-->
    </div>
    <!--End Container-->
  </div>

</div>
