.myLink {
    cursor: pointer;
}

table {
    counter-reset: tableCount;
}

.counterCell:before {
    content: counter(tableCount);
    counter-increment: tableCount;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
body {
    font-family: 'Open Sans', sans-serif;
}

.search {
    top: 6px;
    left: 10px;
}

.form-cntrl {
    border: 1px solid #c0c0c0 !important;
}

.form-cntrl:focus {
    border: 1px solid #c0c0c0 !important;
    box-shadow: none;
}

.green {
    color: green;
}

.bg-success {
    background: #4CAF50 !important;
    color: #fff;
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 600;
}

.clr-dangr {
    font-size: 12px;
    font-weight: 600;
    color: #f00;
}

.btn-eye,
.btn-eye:hover,
.btn-eye:focus {
    background: transparent;
    border-radius: 5px;
    border: 1px solid #f00;
    box-shadow: none;
    color: #f00;
    padding: 5px;
    height: 32px;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    margin-right: 5px;
}

.right {
    display: flex;
    justify-content: center;
}

tbody,
td,
tfoot,
th,
thead,
tr {
    text-align: left !important;
    vertical-align: middle;
}

.nav-searchbar-wrapper~#nav-gwbar.nav-gwbar-single-row.nav-genz {
    height: 45px;
}

#nav-gwbar.nav-gwbar-scroll {
    display: flex;
    /* overflow-x: scroll; */
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
}

#nav-gwbar.nav-genz {
    height: 40px;
    padding-top: 6px;
}

#nav-gwbar.nav-gwbar-single-row {
    height: 40px;
}

#nav-gwbar {
    display: block;
    height: 42px;
    width: 100%;
    /*background: #08131C;*/
    overflow: hidden;
}

.nav-searchbar-wrapper~#nav-gwbar.nav-gwbar-single-row.nav-genz.nav-gwbar-scroll .nav-a {
    margin: 0 0 20px 15px;
    padding-right: 3px;
}

.nav-searchbar-wrapper~#nav-gwbar.nav-gwbar-single-row.nav-genz .nav-a {
    margin: 0 10px 20px 15px;
}

.nav-searchbar-wrapper~#nav-gwbar.nav-gwbar-single-row .nav-a {
    margin: 5px 10px 10px 14px;
}

#nav-gwbar.nav-genz .nav-a {
    line-height: 15px;
    font-size: 15px;
    /* font-weight: 600; */
    margin: 0 10px 15px 15px;
    font-family: Open Sans, sans-serif, Arial !important;
}

.nav-searchbar-wrapper~#nav-gwbar .nav-a {
    margin: 20px 10px 0 14px;
}

#nav-gwbar.nav-gwbar-single-row .nav-a {
    margin-top: 6px;
    text-transform: initial;
}

#nav-gwbar .nav-a {
    white-space: nowrap;
}

#nav-gwbar .nav-a {
    position: relative;
    color: #000;
    float: left;
    margin: 24px 10px 0 14px;
    font-size: 13px;
    /* font-weight: 700; */
    font-family: Open Sans, sans-serif, Arial !important;
    text-decoration: none;
    white-space: nowrap;
}

#navbar * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#nav-gwbar {
    width: 100%;
    /*border: 1px dotted black;*/
    overflow-x: scroll;
    /* Add the ability to scroll */
}


/* Hide scrollbar for Chrome, Safari and Opera */

#nav-gwbar::-webkit-scrollbar {
    display: none;
}


/* Hide scrollbar for IE, Edge and Firefox */

#nav-gwbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

#nav-gwbar a.active {
    color: #ff0000 !important;
    border-bottom: 3px solid red;
    margin: 8px !important;
}

.hide {
    display: none;
}

div#list1 {
    border: 1px solid #ddd;
    height: 150px;
    overflow: auto;
    overflow-x: hidden;
    width: 200px;
}

a.list-group-item {
    display: block;
    width: 100%;
    border-bottom: 1px solid #ddd;
    padding: 10px;
    text-decoration: none;
}

button {
    margin: 4px;
}

.btn-fbd {
    float: left;
    margin-right: 5px;
    background: transparent;
    border: 1px solid #999;
    border-radius: 5px;
    color: #000;
}

.d-togl,
.d-togl:focus,
.d-togl:hover {
    background: transparent !important;
    color: #666 !important;
    border-color: #999 !important;
}

.d-down {
    float: left;
    margin-right: 5px;
}

.text-right {
    text-align: right;
}

.btn-red {
    background: #f00 !important;
    color: #fff !important;
    font-weight: 600;
    font-size: 14px;
}

.ex-port {
    text-align: right;
}

.auc {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    box-shadow: none !important;
}

@media(max-width:992px) {
    .tbl-main {
        width: 700px;
    }
}

@media(max-width:767px) {
    .d-togl,
    .btn-fbd {
        font-size: 11px;
    }
    .btn-red {
        font-size: 13px;
    }
    .frm {
        padding: 15px;
    }
}

@media(max-width:576px) {
    .ex-port {
        text-align: left;
        margin-top: 1rem;
    }
}

.m-a {
    margin: auto;
}

.frm {
    box-shadow: 0 2px 5px;
    padding: 25px;
    border-radius: 15px;
}

a,
li {
    cursor: pointer;
}

.center {
    text-align: center;
    font-family: monospace;
}

.pagination {
    display: inline-block;
    width: auto;
}

.pagination a {
    color: #000000;
    float: right;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .5s;
    border: 1px solid #DDD;
    margin: 0 4px;
    font-size: 20px;
}

.pagination a.active {
    background-color: #0096FF;
    color: #FFFFFF;
    border: 1px solid #0096FF;
}

.pagination a:hover:not(.active) {
    background-color: #DDD;
}

.btn-primary {
    background-color: #FF0000 !important;
    border-color: #FF0000 !important;
    border-radius: 4px !important;
    opacity: 1;
}

input[type='radio']:checked:after {
    top: -3px;
}

input[type="checkbox"],
input[type="radio"] {
    top: 6px;
    height: fit-content;
}


/* Custom radio button */

.container-cp {
    display: block;
    position: relative;
    padding-left: 32px;
    margin-bottom: 12px;
    cursor: pointer;
    /* font-size: 22px; */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Hide the browser's default checkbox */

.container-cp input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


/* Create a custom checkbox */

.checkmark-cp {
    position: absolute;
    top: 5px;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid #f00;
}


/* On mouse-over, add a grey background color */

.container-cp:hover input~.checkmark-cp {
    background-color: #ffcdcd;
}


/* When the checkbox is checked, add a blue background */

.container-cp input:checked~.checkmark-cp {
    background-color: #f00;
    border-radius: 50%;
}


/* End custom radio button */

.pl-0 {
    padding-left: 0;
}