<app-mobile-header></app-mobile-header>

<!--Page Wrapper-->
<div class="page-wrapper">

    <app-header></app-header>

    <!--Body Container-->
    <div id="page-content" class="">
        <!--Container-->
        <div class="breadcrumbs-wrapper text-uppercase bread-crum d-none d-sm-block d-md-block d-lg-block d-xl-block">
            <div class="container p-0">
                <div class="breadcrumbs">
                    <div id="nav-gwbar" class="nav-gwbar-single-row nav-genz nav-gwbar-white nav-gwbar-scroll">
                        <a routerLink="/adProfessionalUser" class="nav-a active">Annonces</a>
                        <a routerLink="/accessoriesPurchaseList" class="nav-a ">Transactions</a>
                        <ng-container *ngIf="user_type == 'pro_user' ">
                            <a routerLink="/subscriptionRenewal" class="nav-a">Abonnement automobiles</a> 
                            <a routerLink="/subscriptionAccessoriesRenewal" class="nav-a">Abonnement pièces&accessoires</a> 
                        </ng-container>
                        <a routerLink="/review" class="nav-a ">Avis</a>

                        <!-- <a href="#" class="nav-a">Acheter des crédits</a> -->
                        <!-- <a href="#" class="nav-a">Paramètres</a> ng generate component site/adNormalUserAcesAdReactivate
 -->
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt-m20 p-0">
            <!--Main Content-->
            <div class="row">
                <div>
                    <h1 class="m-t-20"><i class="fa-solid fa-arrow-left d-sm-none d-md-none d-lg-none d-xxl-none"></i> Mes Transactions
                    </h1>
                </div>
                <h5 class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Toutes mes transactions</h5>

                <div id="exTab1" class="container">
                    <ul class="nav nav-pills">
                        <li class="active">
                            <a href="#1a" data-toggle="tab">Achats</a>
                        </li>
                        <li><a href="#2a" data-toggle="tab">Ventes</a>
                        </li>
                        <li><a href="#3a" data-toggle="tab">Paiements</a>
                        </li>

                    </ul>

                    <div class="tab-content clearfix">
                        <div class="tab-pane active" id="1a">
                            <div class="container pt-25 plr-0 d-block d-sm-none d-md-none d-lg-none">
                                <ul class="nav li-inline nav-pills mt-50">
                                    <li class="active"><a data-toggle="pill" href="#home">Paquets</a></li>
                                    <li><a data-toggle="pill" href="#menu1">Produits </a></li>
                                </ul>
                                <div class="tab-content">
                                    <div id="home" class="tab-pane fade in active">
                                        <div class="d-block d-sm-none d-md-none d-lg-none d-xl-none pt-25">
                                            <div class="">
                                                <div class="mob-paquets" style="overflow-x:auto;">
                                                    <div class="row">
                                                        <div class="col-11">
                                                            <table class="table tbl-paquet">
                                                                <tbody>
                                                                    <tr>
                                                                        <td scope="row" class=""><span>Date / Heure </span></td>
                                                                        <td scope="row" class=""><span>: 02.02.2022 15h34</span></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td scope="row" class=""><span>N° de transaction </span></td>
                                                                        <td scope="row" class=""><span>: Dt3456</span></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td scope="row" class=""><span>Action </span></td>
                                                                        <td scope="row" class=""><span>: Logo urgent</span></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td scope="row" class=""><span>Type de paiement </span></td>
                                                                        <td scope="row" class="border-bottom"><span>: PayPal</span></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td scope="row" class=""><span>Type de paiement </span></td>
                                                                        <td scope="row" class=""><span>: PayPal</span></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td scope="row" class=""><span>Prix </span></td>
                                                                        <td scope="row" class=""><span>: Prix </span></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                        <div class="col-1 p-0">
                                                            <a class="first-a" download><i class="fa-solid fa-file"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="menu1" class="tab-pane fade">
                                        <div class="d-block d-sm-none d-md-none d-lg-none d-xl-none pt-25">
                                            <div class="">
                                                <div class="mob-paquets" style="overflow-x:auto;">
                                                    <div class="row">
                                                        <div class="col-11">
                                                            <table class="table tbl-paquet">
                                                                <tbody>
                                                                    <tr>
                                                                        <td scope="row" class=""><span>Date / Heure </span></td>
                                                                        <td scope="row" class=""><span>: 02.02.2022 15h34</span></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td scope="row" class=""><span>N° de transaction </span></td>
                                                                        <td scope="row" class=""><span>: Dt3456</span></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td scope="row" class=""><span>Statut </span></td>
                                                                        <td scope="row" class=""><span>: En processus</span></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td scope="row" class=""><span>Type de paiement </span></td>
                                                                        <td scope="row" class="border-bottom"><span>: PayPal</span></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td scope="row" class=""><span>Prix </span></td>
                                                                        <td scope="row" class=""><span>: 56€</span></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                        <div class="col-1 p-0">
                                                            <a class="first-a" download><i class="fa-solid fa-file"></i></a>
                                                            <a href="view.html" class="second-a"><i class="fa-solid fa-eye"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!---->
                            <div class="container p-0 d-none d-sm-block d-md-block d-lg-block mt-50">
                                <ul class="nav nav-pills d-block li-inline">
                                    <li class="active"><a data-toggle="pill" (click)="showPaquests()">Produits </a></li>
                                    <li class="myLink"><a data-toggle="pill" (click)="showProduits()"> Paquets</a></li>
                                </ul>
                                <div class="tab-content d-block pt-25">
                                    <div id="Paquets" class="tab-pane active" [hidden]="Paquets">
                                        <div class="" style="overflow-x:auto;">
                                            <table class="table align-middle tbl-transaction my-tbl-t">
                                                <thead class="bg-light my-tbl-h">
                                                    <tr>
                                                        <th scope="col" class="border-bottom-0">Numéro de commande</th>
                                                        <th scope="col" class="border-bottom-0">Nom de l'accessoire</th>
                                                        <th scope="col" class="border-bottom-0">Date du paiement</th>
                                                        <th scope="col" class="border-bottom-0 text-center">Type de paiement</th>
                                                        <th scope="col" class="border-bottom-0 text-center">ID du paiement</th>
                                                        <th scope="col" class="border-bottom-0 text-center">Prix <i class="fa-solid fa-euro"></i> </th>

                                                        <th scope="col" class="border-bottom-0 text-center">Taxe </th>

                                                        <th scope="col" class="border-bottom-0 text-center">Expédition <i class="fa-solid fa-euro"></i> </th>

                                                        <th scope="col" class="border-bottom-0 text-center">Prix final <i class="fa-solid fa-euro"></i> </th>

                                                        <th scope="col" class="border-bottom-0 text-center">Relevé d'opération</th>
                                                        <th scope="col" class="border-bottom-0 text-center">Evaluation</th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    <ng-container *ngFor="let objAccessPurchase of allPurchaseItem">
                                                        <tr>
                                                            <td scope="row" class="border-bottom">
                                                                <span>{{objAccessPurchase.order_id}}</span>
                                                            </td>
                                                            <td scope="row" class="border-bottom">
                                                                <span>{{objAccessPurchase.ad_name}}</span>
                                                            </td>
                                                            <td scope="row" class="border-bottom">
                                                                <span>{{objAccessPurchase.payment_success_date | date:
                                                   'dd/MM/yyyy HH:mm'}}</span>
                                                            </td>
                                                            <td scope="row" class="border-bottom">
                                                                <span>{{objAccessPurchase.payment_type}}</span>
                                                            </td>
                                                            <td scope="row" class="border-bottom">
                                                                <span>{{objAccessPurchase.payment_intent}}</span>
                                                            </td>

                                                            <td scope="row" class="border-bottom"><span>{{objAccessPurchase.price}}<i
                                                      class="fa-solid fa-euro"></i></span></td>

                                                            <td scope="row" class="border-bottom">
                                                                <span>{{objAccessPurchase.tax}}</span>
                                                            </td>

                                                            <td scope="row" class="border-bottom">

                                                                <span *ngIf="objAccessPurchase.shipping_charge">{{objAccessPurchase.shipping_charge}}<i
                                                      class="fa-solid fa-euro"></i></span>
                                                            </td>
                                                            <td scope="row" class="border-bottom">
                                                                <span>{{objAccessPurchase.final_price}}<i
                                                      class="fa-solid fa-euro"></i></span>
                                                            </td>

                                                            <td scope="row" class="border-bottom"><a class="clr-red">Facture</a></td>
                                                            <td><a routerLink="/ratingAd/{{objAccessPurchase._id}}"><i class="fa-solid fa-ranking-star text-danfer" style="font-size: 22px;"></i></a></td>
                                                        </tr>
                                                    </ng-container>

                                                    <!-- <tr *ngFor="let transaction of paymentTransactions.record">
                                            <td></td>
                                            <td>{{transaction.ad_type}}</td>
                                            <td>{{transaction.created_at | date:'M/d/yy'}}</td>
                                            <td>{{transaction.paymentType}}</td>
                                            <td>{{transaction.payment_intent}}</td>
                                            <td>{{transaction.price}}</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            
                                         </tr> -->
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div id="Produits12" class="tab-pane active fade" [hidden]="Produits">
                                        <div class=" p-t-50">
                                            <div class="" style="overflow-x:auto;">
                                                <table class="table my-tbl-t1 align-middle tbl-transaction1">
                                                    <thead class="bg-light">
                                                        <tr>
                                                            <th scope="col" class="border-bottom-0">ID re</th>
                                                            <th scope="col" class="border-bottom-0">Type d'annonce</th>
                                                            <th scope="col" class="border-bottom-0">Date</th>
                                                            <th scope="col" class="border-bottom-0">Statut </th>
                                                            <th scope="col" class="border-bottom-0">Type de paiement</th>
                                                            <th scope="col" class="border-bottom-0 ">Prix final</th>
                                                            <th scope="col" class="border-bottom-0 ">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>

                                                        <tr *ngFor="let transaction of paymentTransactions; let i=index">
                                                            <td scope="row" class="border-bottom"><span> {{transaction.order_id}} 
                                              </span></td>

                                                            <td>
                                                                <ng-container *ngIf="transaction.ad_type == 'car';else elseAdTypeC ">
                                                                    Voiture
                                                                </ng-container>
                                                                <ng-template #elseAdTypeC>Accessoires</ng-template>
                                                            </td>

                                                            <td scope="row" class="border-bottom"><span>{{transaction.created_at |
                                                   date:'dd/MM/yyyy'}}</span></td>
                                                            <td scope="row" class="border-bottom">
                                                                <span *ngIf="transaction.payment_status == 1" style="color:green">Completed</span>
                                                                <span *ngIf="transaction.payment_status == 0" style="color:orange">Processing</span>
                                                            </td>
                                                            <td>{{transaction.paymentType}}</td>
                                                            <td scope="row" class="border-bottom">{{transaction.price}}<span><i
                                                      class="fa-solid fa-euro"></i> </span></td>

                                                            <td scope="row" class="border-bottom"><span><a
                                                      routerLink="/productDetail/{{transaction.ad_id}}"
                                                      target="_blank"><button type="button"
                                                         class="btn btn-pors">Voir</button></a></span></td>
                                                        </tr>
                                                        <tr *ngIf="paymentTransactions.length == 0">
                                                            <div class="row">
                                                                <h4>Aucun enregistrement n'a été trouvé</h4>
                                                            </div>
                                                        </tr>

                                                        <!--<tr>
                                                <td scope="row" class="border-bottom"><span><button type="button" class="btn">Suivant</button></span></td>
                                                </tr>-->
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="2a">
                            <div class="d-block d-sm-none d-md-none d-lg-none d-xl-none pt-25">
                                <div class="">
                                    <div class="row">
                                        <form action="" class="p-0">
                                            <div class="row">
                                                <div class="col-2 mb-3 p-0">
                                                    <a class="calandr"><i class="fa-solid fa-calendar-days"></i></a>
                                                </div>
                                                <div class="col-6 mb-3">
                                                    <input type="input" class="form-control" id="" placeholder="Utilisateur" name="">
                                                </div>
                                                <div class="col-4 mb-3 p-0">
                                                    <select class="p-0">
                                          <option>Status</option>
                                          <option>Status</option>
                                          <option>Status</option>
                                       </select>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="mob-paquets" style="overflow-x:auto;">
                                        <div class="row">
                                            <div class="col-11">
                                                <table class="table tbl-paquet">
                                                    <tbody>
                                                        <tr>
                                                            <td scope="row" class=""><span>Date / Heure </span></td>
                                                            <td scope="row" class=""><span>: 02.02.2022 15h34</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td scope="row" class=""><span>Transaction </span></td>
                                                            <td scope="row" class=""><span>: Dt3456 / Sam Jacky</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td scope="row" class=""><span>Statut </span></td>
                                                            <td scope="row" class=""><span>: En processus</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td scope="row" class=""><span>Type de paiement </span></td>
                                                            <td scope="row" class="border-bottom"><span>: PayPal</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td scope="row" class=""><span>Total de la commande </span></td>
                                                            <td scope="row" class=""><span>: 56€</span></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="col-1 p-0">
                                                <a class="first-a" download><i class="fa-solid fa-file"></i></a>
                                                <a href="right-arrow-click.html" class="second-a1"><i
                                          class="fa-solid fa-angle-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row d-none d-sm-block d-md-block d-lg-block ">

                            </div>
                            <div class="row mob-none">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 main-col mob-p-0 tbl-transaction">
                                    <div class="" style="overflow-x:auto;">
                                        <div class="container mt-5 px-2">
                                            <div class="mb-3">
                                                <div class="breadcrumbs-wrapper text-uppercase bread-crum">
                                                    <div class="container p-0">
                                                        <div class="breadcrumbs">
                                                            <div id="nav-gwbar" class="nav-gwbar-single-row nav-genz nav-gwbar-white nav-gwbar-scroll">
                                                                <!-- <a class="nav-a active"  href="#all">Tous ({{webGetOwnSalesCountrecord.record}})</a>
                                                <a class="nav-a" data-toggle="tab"  href="#complete">Terminé ({{webGetOwnSalesCompleteCountrecord.record}})</a>
                                                <a class="nav-a">Processing ({{webGetOwnSalesProcessCountrecord.record}})</a>
                                               
                                                <a class="nav-a">Annulé ({{webGetOwnSalesCancelCountrecord.record}})</a> -->
                                                                <ul class="nav nav-pills">
                                                                    <li class="active">
                                                                        <a href="#all" data-toggle="tab">Tous
                                                         ({{webGetOwnSalesCountrecord}})</a>
                                                                    </li>
                                                                    <li><a href="#complete" data-toggle="tab">Terminé
                                                         ({{webGetOwnSalesCompleteCountrecord}})</a>
                                                                    </li>
                                                                    <li><a href="#process" data-toggle="tab">En cours
                                                         ({{webGetOwnSalesProcessCountrecord}})</a>
                                                                    </li>
                                                                    <li><a href="#cancel" data-toggle="tab">Annulé
                                                         ({{webGetOwnSalesCancelCountrecord}})</a>
                                                                    </li>

                                                                </ul>

                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <!-- <div class="col-lg-6 col-md-7 col-sm-7 col-12">
                                       <button class="btn btn-fbd">Filtrer par date</button>
                                       <button type="button" class="btn btn-primary dropdown-toggle d-togl"
                                             data-bs-toggle="dropdown">
                                             Filtrer par client
                                          </button>
                                       <button class="btn btn-red">Filtre</button>
                                    </div> -->
                                                <div class="col-lg-6 col-md-5 col-sm-5 col-12 ex-port">
                                                    <!-- <button class="btn btn-red">Exporter </button> -->
                                                    <!-- <button class="btn btn-red">Filtres d'exportation</button> -->
                                                </div>
                                            </div>
                                            <div class="mb-2 d-flex justify-content-between align-items-center">
                                                <div class="position-relative">
                                                    <div class="btn-group">


                                                    </div>
                                                </div>

                                            </div>


                                            <form [formGroup]="form2" (ngSubmit)="submit()">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="col-md-3">
                                                            <input class="form-control auc" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" placeholder="Date de début" formControlName="from_date">
                                                            <owl-date-time #dt1 pickerType="calendar"></owl-date-time>
                                                        </div>

                                                        <div class="col-md-3">
                                                            <input class="form-control auc" [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2" placeholder="A ce jour" formControlName="to_date">
                                                            <owl-date-time #dt2 pickerType="calendar"></owl-date-time>
                                                        </div>

                                                        <div class="col-md-3">
                                                            <input type="number" class="form-control auc" placeholder="Numéro d'ordre" formControlName="search_text">
                                                        </div>


                                                        <button type="submit" class="btn btn-red" style="margin: 10px;
                                                top: -15px;">Filtre</button>
                                                        <button type="button" class="btn btn-red" style="margin: 10px;
                                                top: -15px;" (click)="resetForm()">Réinitialiser</button>
                                                    </div>
                                                </div>
                                            </form>


<div class="tab-content clearfix">
    <div class="tab-pane active" id="all">
        <div class="table-responsive mt-3">
            <table class="table table-responsive tbl-main">
                <thead>
                    <tr class="bg-light">
                        <!-- <th scope="col"><input class="" type="checkbox"></th> -->
                        <th scope="col">Numéro d'ordre</th>
                        <th scope="col">Prix</th>
                        <th scope="col">Quantité</th>
                        <th scope="col">Taxe % </th>
                        <th scope="col">Frais d'expédition</th>
                        <th scope="col">Prix final</th>
                        <th scope="col">Statut</th>
                        <th scope="col">Client</th>
                        <th scope="col">Numéro de mobile</th>
                        <th scope="col">Date</th>
                        <th scope="col"><span>Action</span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let sale of sales">
                        <!-- <th scope=""><input class="" type="checkbox"></th> -->
                        <td><span class="clr-dangr">  {{sale._id}}</span></td>
                        <td>{{sale.price}} <i class="fa-solid fa-euro"></i></td>
                        <td>{{sale.quantity}} </td>
                        <td><span class="ms-1">{{sale.tax}} </span>
                        </td>

                        <td><span class="ms-1">{{sale.shipping_charge}} <i class="fa-solid fa-euro"></i></span>


                            <td><span class="ms-1">{{sale.final_price}} <i class="fa-solid fa-euro"></i></span>
                            </td>
                            <td>
                               <ng-container *ngIf="sale.shipping_status == 0 || sale.shipping_status == 1; else elseShippingStatus ">
                                <select (change)="sendDetailProcess($event, sale._id)" [(ngModel)]="sale.shipping_status">
                                    <option value="0">Sélectionner</option>
                                    <option value="3">Terminé</option>
                                    <option value="2">Annuler</option>
                                    <option value="1">En cours</option>
                                </select>
                            </ng-container>
                                <ng-template #elseShippingStatus>
                                    <p *ngIf="sale.shipping_status == 2">Annuler</p>
                                    <p *ngIf="sale.shipping_status == 3">Terminé</p>
                                </ng-template>
                            </td>
                            <td>{{sale.firstName}} {{sale.lastName}}</td>
                            <td>{{sale.mobileNumber}}</td>
                            <td><span class="fw-bolder">{{sale.payment_success_date |
                date:'dd/MM/yyyy'}}</span> </td>
                            <td class="right">
                                <a routerLink="/viewOrder/{{sale._id}}" target="_blank"><button
                class="btn btn-eye"><i
                    class="fa-solid fa-eye"></i></button></a>

                            </td>
                    </tr>






                    <!-- {{webGetOwnSalesCountrecord.record/10}} -->



                    <!-- <tr>
                <th scope="row"><input class="" type="checkbox"></th>
                <td><span class="clr-dangr">Order 2664</span></td>
                <td>0</td>
                <td><span class="ms-1">0</span></td>
                <td><span class="bg-success">Completed</span></td>
                <td>Guest</td>
                <td ><span class="fw-bolder">May 15</span> </td>
                <td class="right">
                <button class="btn btn-eye"><i class="fa-solid fa-eye"></i></button>
                <button class="btn btn-eye"><i class="fa-regular fa-file-lines"></i></button>
                <button class="btn btn-eye"><i class="fa-regular fa-file-lines"></i></button>  
                </td>
            </tr> -->
                </tbody>
            </table>
            <div class="comeBack_up" *ngIf="errorShow">
                <div *ngIf="errorShow.error; else loggedOut">
                    <div class="alert alert-danger"><strong>{{ errorShow.errorMessage
            }}</strong></div>
                </div>
                <ng-template #loggedOut>
                    <div class="alert alert-success"><strong>{{ errorShow.errorMessage
            }}</strong></div>
                </ng-template>
            </div>
            <div>
                <!-- <ul class="pagination">
    <li   *ngFor="let item of 5; let i = index"  
    [class.active]="selectedIndex === i"
        (click)="getallColor(item)">
        <a >{{item+1}}</a>
    </li>
</ul> -->

                <!-- <ul *ngFor="let item of allsales; let i = index" class="pagination">
    <li (click)="getallSales(item)">{{ i + 1 }}</li>
    </ul> -->

                <div style="text-align: end;">
                    <div class="center" class="pagination">
                        <div class="pagination" *ngFor="let item of allsales; let i = index">

                            <a (click)="getallSales(item)" class="active">{{ i + 1 }}</a>

                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
    <div class="tab-pane" id="complete">
        <div class="table-responsive mt-3">
            <table class="table table-responsive tbl-main">
                <thead>
                    <tr class="bg-light">
                        <th scope="col">Numéro d'ordre</th>
                        <th scope="col">Prix</th>
                        <th scope="col">Quantité</th>
                        <th scope="col">Taxe % </th>
                        <th scope="col">Frais d'expédition</th>
                        <th scope="col">Prix final</th>
                        <th scope="col">Statut</th>
                        <th scope="col">Client</th>
                        <th scope="col">Numéro de mobile</th>
                        <th scope="col">Date</th>
                        <th scope="col"><span>Action</span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let sale of webGetOwnSalesCompleteRes">

                        <td><span class="clr-dangr">  {{sale._id}}</span></td>
                        <td>{{sale.price}} <i class="fa-solid fa-euro"></i></td>
                        <td>{{sale.quantity}} </td>
                        <td><span class="ms-1">{{sale.tax}} </span>
                        </td>

                        <td><span class="ms-1">{{sale.shipping_charge}} <i class="fa-solid fa-euro"></i></span>


                            <td><span class="ms-1">{{sale.final_price}} <i class="fa-solid fa-euro"></i></span>
                            </td>
                            <td>
                                <select (change)="sendDetailProcess($event, sale._id)">
                <option value="">sélectionner</option>
                <option value="1">Terminé</option>
                <option value="2">Annuler</option>
                <option value="3">En cours</option>
            </select>
                            </td>
                            <td>{{sale.firstName}} {{sale.lastName}}</td>
                            <td>{{sale.mobileNumber}}</td>
                            <td><span class="fw-bolder">{{sale.payment_success_date |
                date:'dd/MM/yyyy'}}</span> </td>
                            <td class="right">
                                <a routerLink="/viewOrder/{{sale._id}}" target="_blank"><button
                class="btn btn-eye"><i
                    class="fa-solid fa-eye"></i></button></a>

                            </td>

                    </tr>
                    <!-- <ul *ngFor="let item of completedNumbers; let i = index" class="pagination">
        <li (click)="getcompletedSales(item)">{{ i + 1 }}</li>
    </ul> -->
                    <tr *ngIf="!webGetOwnSalesCompleteRes">
                        No Complete records
                    </tr>


                </tbody>
            </table>
            <div style="text-align: end;">
                <div class="pagination">
                    <div class="pagination" *ngFor="let item of completedNumbers; let i = index">

                        <a (click)="getcompletedSales(item)" class="active">{{ i + 1 }}</a>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="tab-pane" id="process">
        <div class="table-responsive mt-3">
            <table class="table table-responsive tbl-main">
                <thead>
                    <tr class="bg-light">
                        <th scope="col">Numéro d'ordre</th>
                        <th scope="col">Prix</th>
                        <th scope="col">Quantité</th>
                        <th scope="col">Taxe % </th>
                        <th scope="col">Frais d'expédition</th>
                        <th scope="col">Prix final</th>
                        <th scope="col">Statut</th>
                        <th scope="col">Client</th>
                        <th scope="col">Numéro de mobile</th>
                        <th scope="col">Date</th>
                        <th scope="col"><span>Action</span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let sale of webGetOwnSalesProcessRes">

                        <td><span class="clr-dangr">  {{sale._id}}</span></td>
                        <td>{{sale.price}} <i class="fa-solid fa-euro"></i></td>
                        <td>{{sale.quantity}} </td>
                        <td><span class="ms-1">{{sale.tax}} </span>
                        </td>

                        <td><span class="ms-1">{{sale.shipping_charge}} <i class="fa-solid fa-euro"></i></span>


                            <td><span class="ms-1">{{sale.final_price}} <i class="fa-solid fa-euro"></i></span>
                            </td>
                            <td>
                                <select (change)="sendDetailProcess($event, sale._id)">
                <option value="">sélectionner</option>
                <option value="1">Terminé</option>
                <option value="2">Annuler</option>
                <option value="3">En cours</option>
            </select>
                            </td>
                            <td>{{sale.firstName}} {{sale.lastName}}</td>
                            <td>{{sale.mobileNumber}}</td>
                            <td><span class="fw-bolder">{{sale.payment_success_date |
                date:'dd/MM/yyyy'}}</span> </td>
                            <td class="right">
                                <a routerLink="/viewOrder/{{sale._id}}" target="_blank"><button
                class="btn btn-eye"><i
                    class="fa-solid fa-eye"></i></button></a>

                            </td>
                    </tr>
                    <!-- <ul *ngFor="let item of processingNumbers; let i = index" class="pagination">
        <li (click)="getprocessSales(item)">{{ i + 1 }}</li>
    </ul> -->

                    <tr *ngIf="!webGetOwnSalesProcessRes">
                        No process records
                    </tr>

                </tbody>
            </table>
            <div style="text-align: end;">
                <div class="center" class="pagination">
                    <div class="pagination" *ngFor="let item of processingNumbers; let i = index">

                        <a (click)="getprocessSales(item)" class="active">{{ i + 1 }}</a>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="tab-pane" id="cancel">
        <div class="table-responsive mt-3">
            <table class="table table-responsive tbl-main">
                <thead>
                    <tr class="bg-light">
                        <th scope="col">Numéro d'ordre</th>
                        <th scope="col">Prix</th>
                        <th scope="col">Quantité</th>
                        <th scope="col">Taxe % </th>
                        <th scope="col">Frais d'expédition</th>
                        <th scope="col">Prix final</th>
                        <th scope="col">Statut</th>
                        <th scope="col">Client</th>
                        <th scope="col">Numéro de mobile</th>
                        <th scope="col">Date</th>
                        <th scope="col"><span>Action</span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let sale of webGetOwnSalesCancelRes">
                        <td><span class="clr-dangr">  {{sale._id}}</span></td>
                        <td>{{sale.price}} <i class="fa-solid fa-euro"></i></td>
                        <td>{{sale.quantity}} </td>
                        <td><span class="ms-1">{{sale.tax}} </span>
                        </td>

                        <td><span class="ms-1">{{sale.shipping_charge}} <i class="fa-solid fa-euro"></i></span>


                            <td><span class="ms-1">{{sale.final_price}} <i class="fa-solid fa-euro"></i></span>
                            </td>
                            <td>
                                <select (change)="sendDetailProcess($event, sale._id)">
                <option value="">sélectionner</option>
                <option value="1">Terminé</option>
                <option value="2">Annuler</option>
                <option value="3">En cours</option>
            </select>
                            </td>
                            <td>{{sale.firstName}} {{sale.lastName}}</td>
                            <td>{{sale.mobileNumber}}</td>
                            <td><span class="fw-bolder">{{sale.payment_success_date |
                date:'dd/MM/yyyy'}}</span> </td>
                            <td class="right">
                                <a routerLink="/viewOrder/{{sale._id}}" target="_blank"><button
                class="btn btn-eye"><i
                    class="fa-solid fa-eye"></i></button></a>

                            </td>
                    </tr>
                    <!-- <ul *ngFor="let item of cancelNumbers; let i = index" class="pagination">
        <li (click)="getcancelSales(item)">{{ i + 1 }}</li>
    </ul> -->


                    <tr *ngIf="!webGetOwnSalesCancelRes">
                        No cancel records
                    </tr>





                </tbody>
            </table>
            <div style="text-align: end;">
                <div class="center" class="pagination">
                    <div class="pagination" *ngFor="let item of cancelNumbers; let i = index">

                        <a (click)="getcancelSales(item)" class="active">{{ i + 1 }}</a>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="3a">
                            <div class="">
                                <ul class="nav nav-pills pills-li li-inline mt-50">
                                    <li class="active"><a data-toggle="pill" href="#home1">Calendrier des paiements </a></li>
                                    <li><a data-toggle="pill" href="#menu11">Résumé des paiements</a></li>
                                </ul>
                                <div class="tab-content d-block">
                                    <div id="home1" class="tab-pane fade in active">
                                        <div class="pt-25">
                                            <div class="">
                                                <div class="row">
                                                    <div class="col-12 col-sm-12 col-md-6 col-lg-5 pt-25">
                                                        <div class="mob-paquets p-20" style="overflow-x:auto;">
                                                            <div class="mb-2">
                                                                <div class="row ">
                                                                    <div class="col-12 d-flex">
                                                                        <input type="radio" id="html2" name="fav_language" value="HTML">
                                                                        <label for="html2" class="d-content"><span class="pl-15">Une fois par
                                                             mois : Les paiements seront traités le 1er du mois.</span></label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div>
                                                                <div class="row ">
                                                                    <div class="col-12 d-flex">
                                                                        <input type="radio" id="html" name="fav_language" value="HTML">
                                                                        <label for="html" class="d-content"><span class="pl-15">Deux fois par
                                                             mois : Les paiements seront traités le 1er et le 15 du mois.</span></label>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <hr>
                                                            <h5>Option de Paiement</h5>
                                                            <ul class="retrait">
                                                                <li (click)="showPaypal()"><a>PayPal<span><i
                                                            class="fa-solid fa-angle-right"></i></span></a></li>
                                                                <li (click)="showOther()"><a>Virement bancaire <span><i
                                                            class="fa-solid fa-angle-right"></i></span></a></li>
                                                            </ul>
                                                        </div>
                                                    </div>

                                                    <div class="col-12 col-sm-12 col-md-6 col-lg-5 pt-25">

                                                        <div class="container " [hidden]="paypal">
                                                            <div class="row">
                                                                <div class="col-sm-12 col-lg-12 col-md-12 col-12 m-a">
                                                                    <div class="frm">
                                                                        <form [formGroup]="payPalForm" (ngSubmit)="updatePaypal()">
                                                                            <div class="mb-3 mt-3">
                                                                                <label for="banque" class="form-label"><strong>Paypal
                                                                  email</strong></label>
                                                                                <input type="email" class="form-control" id="" placeholder="" name="" formControlName="paypal_email">
                                                                            </div>




                                                                            <button type="submit" class="btn btn-primary" [disabled]="payPalForm.invalid">Envoyer</button>
                                                                            <div class="comeBack_up" *ngIf="paypalApires">
                                                                                <div *ngIf="paypalApires.error; else loggedOut">
                                                                                    <div class="alert alert-danger"><strong>{{
                                                                     paypalApires.errorMessage }}</strong></div>
                                                                                </div>
                                                                                <ng-template #loggedOut>
                                                                                    <div class="alert alert-success"><strong>{{
                                                                     paypalApires.errorMessage }}</strong></div>
                                                                                </ng-template>
                                                                            </div>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>


<div class="" [hidden]="other">
    <div class="row">
        <div class="col-sm-12 col-lg-12 col-md-12 col-12 m-a">
            <div class="frm">
                <form [formGroup]="form" (ngSubmit)="Banksubmit()">
                    <div>
                        <h3 class="mb-1">Information du titulaire du compte : </h3>
                        <div class="mb-2 mt-2">
                            <label for="banque" class="form-label">
                                <strong>Nom du titulaire du compte </strong>
                                <span class="required"> *</span>
                            </label>
                            <input type="text" class="form-control" id="" placeholder="" name="" formControlName="account_holder_name">

                            <div *ngIf="formThirdStepFun['account_holder_name'].touched && formThirdStepFun['account_holder_name'].invalid" >
                                <div *ngIf="formThirdStepFun['account_holder_name'].errors && formThirdStepFun['account_holder_name'].errors['required']"  class="clr-sky">Veuillez indiquer le nom du titulaire du compte
                                </div>
                            </div>


                        </div>

                        <div class="mb-2 mt-1">
                            <label for="banque" class="form-label"><strong>Adresse</strong>
                                <span class="required"> *</span>
                            </label>
                            <input type="text" class="form-control" id="" placeholder="" name="" formControlName="address" ngx-google-places-autocomplete (onAddressChange)="handleAddressChange($event)">

                            <div *ngIf="formThirdStepFun['address'].touched && formThirdStepFun['address'].invalid" >
                                <div *ngIf="formThirdStepFun['address'].errors && formThirdStepFun['address'].errors['required']"  class="clr-sky">Veuillez  indiquer l'adresse
                                </div>
                            </div>

                        </div>

                        <div class="mb-2 mt-1">
                            <label for="banque" class="form-label"><strong>Code Postal</strong>
                                <span class="required"> *</span></label>
                            <input type="text" class="form-control" id="" placeholder="" name="" formControlName="zip_code" [(ngModel)]="google_zip_code">

                            <div *ngIf="formThirdStepFun['zip_code'].touched && formThirdStepFun['zip_code'].invalid" >
                                <div *ngIf="formThirdStepFun['zip_code'].errors && formThirdStepFun['zip_code'].errors['required']"  class="clr-sky">Veuillez  indiquer le code postal
                                </div>
                            </div>

                        </div>

                        <div class="mb-2 mt-1">
                            <label for="banque" class="form-label"><strong>Ville</strong>
                                <span class="required"> *</span></label>
                            <input type="text" class="form-control" id="" placeholder="" name="" formControlName="city" [(ngModel)]="google_city" >

                            <div *ngIf="formThirdStepFun['city'].touched && formThirdStepFun['city'].invalid" >
                                <div *ngIf="formThirdStepFun['city'].errors && formThirdStepFun['city'].errors['required']"  class="clr-sky">Veuillez  indiquer le ville
                                </div>
                            </div>


                        </div>

                        <div class="mb-2 mt-1">
                            <label for="banque" class="form-label">
                                <strong>Pays</strong>
                                <span class="required"> *</span></label>
                            <input type="text" class="form-control" id="" placeholder="" name="" formControlName="country" [(ngModel)]="google_country">

                            <div *ngIf="formThirdStepFun['country'].touched && formThirdStepFun['country'].invalid" >
                                <div *ngIf="formThirdStepFun['country'].errors && formThirdStepFun['country'].errors['required']"  class="clr-sky">Veuillez  indiquer le pays
                                </div>
                            </div>

                        </div>

                         
                    </div>

                    <div>
                        <h3 class="mt-4 mb-2">Iformation bancaire:</h3>
                        <div class="mb-2 mt-1">
                            <label for="banque" class="form-label">
                                <strong>Nom de la banque</strong>
                                <span class="required"> *</span>
                            </label>
                            <input type="text" class="form-control" id="" placeholder="" name="" formControlName="bank_name">
                            <div *ngIf="formThirdStepFun['bank_name'].touched && formThirdStepFun['bank_name'].invalid" >
                                <div *ngIf="formThirdStepFun['bank_name'].errors && formThirdStepFun['bank_name'].errors['required']"  class="clr-sky">Veuillez  indiquer le nom de la banque
                                </div>
                            </div>
                        </div>

                        <div class="mb-2 mt-1">
                            <label for="banque" class="form-label">
                                <strong>IBAN</strong>
                                <span class="required"> *</span>
                            </label>
                            <input type="text" class="form-control" id="" placeholder="" name="" formControlName="iban">
                            <div *ngIf="formThirdStepFun['iban'].touched && formThirdStepFun['iban'].invalid" >
                                <div *ngIf="formThirdStepFun['iban'].errors && formThirdStepFun['iban'].errors['required']"  class="clr-sky">Veuillez  indiquer l'IBAN
                                </div>
                            </div>

                        </div>

                        <div class="mb-2 mt-1">
                            <label for="banque" class="form-label">
                                <strong>BIC</strong>
                                <span class="required"> *</span>
                            </label>
                            <input type="text" class="form-control" id="" placeholder="" name="" formControlName="bic">
                            <div *ngIf="formThirdStepFun['bic'].touched && formThirdStepFun['bic'].invalid" >
                                <div *ngIf="formThirdStepFun['bic'].errors && formThirdStepFun['bic'].errors['required']"  class="clr-sky">Veuillez  indiquer le BIC
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-check mb-3 mt-4 pl-0">
                        <label for="cl1" class="container-cp"> J'accepte les prélèvements automatiques du site porschists.com et j'autorise porschists.com à prélever mon compte bancaire
                            <input type="checkbox" class="radio-shipping" id="cl1" name="shipping_type_1" formControlName="shipping_type_1" value="1"> 
                            <span class="checkmark-cp"></span> 
                        </label>
                        <div *ngIf="formThirdStepFun['shipping_type_1'].touched && formThirdStepFun['shipping_type_1'].invalid" >
                            <div *ngIf="formThirdStepFun['shipping_type_1'].errors && formThirdStepFun['shipping_type_1'].errors['required']"  class="clr-sky">
                                Veuillez accepté les prélèvements automatiques.
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" >Envoyer</button>
                    <div class="comeBack_up" *ngIf="bankApiRes">
                        <div *ngIf="bankApiRes.error; else loggedOut">
                            <div class="alert alert-danger"><strong>{{
                bankApiRes.errorMessage }}</strong></div>
                        </div>
                        <ng-template #loggedOut>
                            <div class="alert alert-success"><strong>{{
                bankApiRes.errorMessage }}</strong></div>
                        </ng-template>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>




                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="menu11" class="tab-pane fade">
                                        <div class="pt-25">
                                            <div class="row">
                                                <div class="col-12 col-sm-12 col-md-5 col-lg-5">
                                                    <!-- <div class="calnde-d"><a class="calandr"><i
                                                class="fa-solid fa-calendar-days"></i></a></div> -->
                                                    <div class="mob-paquets" style="overflow-x:auto;">
                                                        <div class="row">
                                                            <div class="col-12 p-0">
                                                                <div class="col-12" *ngIf="singleTransaction">
                                                                    <ul class="des">
                                                                        <li *ngFor="let transaction of singleTransaction">
                                                                            <a (click)="openMyTransaction(transaction._id)">{{transaction.created_at | date:'dd/MM/yyyy'}}
                                                            <span>{{transaction.amount}}<i class="fa-solid fa-euro"></i><a ><i
                                                                     class="fa-solid fa-angle-right"></i></a></span>
                                                                            </a>

                                                                        </li>

                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-12 col-sm-12 col-md-7 col-lg-7" [hidden]="mytransactiontable">
                                                    <table class="table table-responsive tbl-main" *ngIf="allTrasactions">
                                                        <thead>
                                                            <tr class="bg-light">
                                                                <th scope="col">Numéro de commande</th>
                                                                <th scope="col">Nom de l'accessoire</th>
                                                                <th scope="col">Date du paiement</th>
                                                                <th scope="col">Prix </th>
                                                                <th scope="col">Taxe</th>
                                                                <th scope="col">Expédition </th>
                                                                <th scope="col">Prix final</th>

                                                            </tr>

                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let sale of allTrasactions">

                                                                <td><span class="clr-dangr">  {{sale.order_id}}</span></td>
                                                                <td>{{sale.ad_name}} <i class="fa-solid fa-euro"></i></td>
                                                                <td>{{sale.created_at |date:'dd/MM/yyyy'}} </td>
                                                                <td>{{sale.price}}</td>
                                                                <td><span class="ms-1">{{sale.tax}} </span>
                                                                </td>

                                                                <td><span class="ms-1">{{sale.shipping_charge}} <i class="fa-solid fa-euro"></i></span>


                                                                    <td><span class="ms-1">{{sale.final_price}} <i class="fa-solid fa-euro"></i></span>
                                                                    </td>




                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!--End Main Content-->
            <!--End Container-->
        </div>
    </div>

    <!--End page-content-->
    <div class="clearfix"></div>
</div>
<app-footer></app-footer>