<app-mobile-header></app-mobile-header>
<app-header></app-header>



<!--Page Wrapper-->
<div class="page-wrapper">

    <!--Page Wrapper-->
    <div id="page-content">
        <!--Container-->
        <div class="container">
            <!--Main Content-->
            <div class="login-register pt-2 pt-lg-5">
                <div class="row justify-content-center">
                    <div class="col-12 col-sm-12 col-md-8 col-lg-8 mb-4 mb-md-0">
                        <div class="inner inr-shado mt-100 mob-mt-10 mob-p-20">
                            <h1 class=" mb-50">
                                Rejoignez notre communauté</h1>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-12 mb-2">
                                    <div class="form-check">
                                        <label class="form-check-label" for="fci1">
                                            <input type="radio" name="user_type" id="fci1" class="form-check-input fci" (click)="showNormal($event)" checked value="normal_user">Porschiste particulier
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-12 mb-3">
                                    <div class="form-check">
                                        <label class="form-check-label" for="fci2">
                      <input type="radio" name="user_type" id="fci2" class="form-check-input fci" (click)="showPro($event)" value="pro_user">Porschiste professionnel
                    </label>
                                    </div>
                                </div>
                            </div>
                            <form [formGroup]="form" (ngSubmit)="submit()" class="customer-form" [hidden]="normal">
                                <!-- <h1 class="text-uppercase mb-50">Créez un compte</h1> -->
                                <div class="row">
                                    <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="form-check">
                                        <label class="form-check-label" for="radio1">
                                            <input type="radio" class="form-check-input" name="user_type" formControlName="user_type"
                                            value="normal_user" [checked]="true">Utilisateur particulier
                                        </label>
                                        </div>
                                    </div>

                                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="form-check">
                                        <label class="form-check-label" for="radio2">
                                            <input type="radio" class="form-check-input" name="user_type" formControlName="user_type"
                                            value="pro_user" >Utilisateur professionnel
                                        </label>
                                        </div>
                                    </div>

                                    <div *ngIf="f['user_type'].touched && f['user_type'].invalid" class="validation_error">
                                        <div class="error" *ngIf="f['user_type'].errors && f['user_type'].errors['required']">Le type
                                        d'utilisateur est obligatoire.</div>
                                    </div> -->

                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="form-group">
                                            <label for="CustomerEmail">Nom d'utilisateur <span class="required">*</span></label>
                                            <input type="text" name="userName" placeholder="" id="CustomerEmail" formControlName="userName" />

                                        </div>
                                        <div *ngIf="f['userName'].touched && f['userName'].invalid" class="validation_error">
                                            <div class="error" *ngIf="f['userName'].errors && f['userName'].errors['required']">Nom d'utilisateur obligatoire.</div>
                                        </div>
                                    </div>

                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="form-group">
                                            <label for="CustomerEmail">Prénom<span class="required">*</span></label>
                                            <input type="text" name="firstName" placeholder="" id="CustomerEmail" formControlName="firstName" />

                                        </div>
                                        <div *ngIf="f['firstName'].touched && f['firstName'].invalid" class="validation_error">
                                            <div class="error" *ngIf="f['firstName'].errors && f['firstName'].errors['required']">Prénom obligatoire.</div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="form-group">
                                            <label for="CustomerEmail">Nom <span class="required">*</span></label>
                                            <input type="text" name="lastName" placeholder="" id="CustomerEmail" formControlName="lastName" />

                                        </div>
                                        <div *ngIf="f['lastName'].touched && f['lastName'].invalid" class="validation_error">
                                            <div class="error" *ngIf="f['lastName'].errors && f['lastName'].errors['required']">Nom obligatoire.
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="form-group">
                                            <label for="CustomerEmail">Adresse <span class="required">*</span></label>
                                            <input type="text" class="form-control" placeholder="" name="address" formControlName="address" ngx-google-places-autocomplete (onAddressChange)="handleAddressChange($event)">
                                        </div>
                                        <div *ngIf="f['address'].touched && f['address'].invalid" class="validation_error">
                                            <div class="error" *ngIf="f['address'].errors && f['address'].errors['required']">Adresse obligatoire.
                                            </div>
                                        </div>
                                    </div>
                                    <input type="hidden" name="latitude" formControlName="latitude" [(ngModel)]="userLatitude">
                                    <input type="hidden" name="longitude" formControlName="longitude" [(ngModel)]="userLongitude">

                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="form-group">
                                            <label for="CustomerEmail">Code postal <span class="required">*</span></label>
                                            <input type="number" [(ngModel)]="google_zip_code" name="zip_code" placeholder="" id="zip_code" formControlName="zip_code" />

                                        </div>
                                        <div *ngIf="f['zip_code'].touched && f['zip_code'].invalid" class="validation_error">
                                            <div class="error" *ngIf="f['zip_code'].errors && f['zip_code'].errors['required']">Code postal obligatoire.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="form-group">
                                            <label for="CustomerEmail">Ville <span class="required">*</span></label>
                                            <input type="text" name="city" placeholder="" id="city" formControlName="city" [(ngModel)]="google_city" />

                                        </div>
                                        <div *ngIf="f['city'].touched && f['city'].invalid" class="validation_error">
                                            <div class="error" *ngIf="f['city'].errors && f['city'].errors['required']">Ville obligatoire.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="form-group">
                                            <label for="CustomerEmail">Pays <span class="required">*</span></label>
                                            <input type="text" name="country" placeholder="" id="country" formControlName="country" [(ngModel)]="google_country" />

                                        </div>
                                        <div *ngIf="f['country'].touched && f['country'].invalid" class="validation_error">
                                            <div class="error" *ngIf="f['country'].errors && f['country'].errors['required']">Pays obligatoire.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="form-group">
                                            <label for="CustomerEmail">Téléphone <span class="required">*</span></label>
                                            <input type="number" name="mobileNumber" placeholder="" id="" formControlName="mobileNumber" />
                                        </div>
                                        <div *ngIf="f['mobileNumber'].touched && f['mobileNumber'].invalid" class="validation_error">
                                            <div class="error" *ngIf="f['mobileNumber'].errors && f['mobileNumber'].errors['required']">Téléphone obligatoire.</div>
                                        </div>
                                    </div>

                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="form-group">
                                            <label for="CustomerEmail">WhatsApp  </label>
                                            <input type="number" name="whatsapp" placeholder="" id="" formControlName="whatsapp" />
                                        </div>
                                    </div>

                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="form-group">
                                            <label for="CustomerEmail">E-mail <span class="required">*</span></label>
                                            <input type="email" name="email" placeholder="" id="CustomerEmail" formControlName="email" />

                                        </div>
                                        <div *ngIf="f['email'].touched && f['email'].invalid" class="validation_error">
                                            <div class="error" *ngIf="f['email'].errors && f['email'].errors['required']">E-mail obligatoire.
                                            </div>
                                            <div class="error" *ngIf="f['email'].errors && f['email'].errors['pattern']">Veuillez entrer une adresse e-mail valide.</div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="form-group">
                                            <label for="CustomerEmail">Mot de passe<span class="required">*</span></label>
                                            <input type="password" name="password" placeholder="" id="" formControlName="password" />
                                            <div style="text-align: end;">
                                                <span>(minimum 8 caractères)</span>
                                            </div>
                                        </div>
                                        <div *ngIf="f['password'].touched && f['password'].invalid" class="validation_error">
                                            <div class="error" *ngIf="f['password'].errors && f['password'].errors['required']">Mot de passe obligatoire.</div>
                                            <div class="error" *ngIf="f['password'].errors && f['password'].errors['minlength']">La longueur minimale du mot de passe est de huit.</div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="form-group">
                                            <label for="CustomerEmail">Confirmer le mot de passe<span class="required">*</span></label>
                                            <input type="password" name="confirmPassword" placeholder="" id="" formControlName="confirmPassword" />
                                            <div style="text-align: end;">
                                                <span> </span>
                                            </div>
                                        </div>
                                        <div *ngIf="f['confirmPassword'].touched && f['confirmPassword'].invalid" class="validation_error">
                                            <div class="error" *ngIf="f['confirmPassword'].errors && f['confirmPassword'].errors['required']">Confirmer le mot de passe obligatoire.</div>
                                            <div class="error" *ngIf="f['confirmPassword'].errors && f['confirmPassword'].errors['matching']">
                                                Le mot de passe de confirmation ne correspond pas</div>
                                        </div>



                                    </div>



                                </div>

                                <div class="row">
                                    <div class="text-left col-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="d-flex-center">
                                            <label class="container-po d-flex">
                                            <input type="checkbox" formControlName="termsCondition"> &nbsp;
                                            <a href="/termsCondition" target="_blank" class="fs-s">Conditions générales d'utilisations <span class="required">*</span></a>
                                            <span class="checkmark-po"></span>
                                          </label>

                                            <div *ngIf="f['termsCondition'].touched && f['termsCondition'].invalid" class="validation_error">
                                                <div class="error" *ngIf="f['termsCondition'].errors && f['termsCondition'].errors['required']">Conditions générales d'utilisations obligatoire.</div>
                                            </div>

                                        </div>

                                        
                                        <div class="d-flex-center">
                                            <label class="container-po d-flex">
                                            <input type="checkbox" formControlName="privacyPolicy"> &nbsp;
                                            <a href="/privacyPolicy" target="_blank" class="fs-s">Politique de confidentialité <span class="required">*</span></a>
                                            <span class="checkmark-po"></span>
                                          </label>

                                            <div *ngIf="f['privacyPolicy'].touched && f['privacyPolicy'].invalid" class="validation_error">
                                                <div class="error" *ngIf="f['privacyPolicy'].errors && f['privacyPolicy'].errors['required']">Politique de confidentialité obligatoire.</div>
                                            </div>

                                        </div>

                                        <p class="d-flex-center">
                                            <button type="submit" class="btn rounded me-auto w-100">C'est partie !</button>
                                        </p>
                                        <div class="clearfix"></div>
                                        <br>
                                        <div class="comeBack_up" *ngIf="apiResponse">
                                            <div *ngIf="apiResponse.error; else loggedOut">
                                                <div class="alert alert-danger"><strong>{{ apiResponse.errorMessage }}</strong></div>
                                            </div>
                                            <ng-template #loggedOut>
                                                <div class="alert alert-success"><strong>{{ apiResponse.errorMessage }}</strong></div>
                                            </ng-template>
                                        </div>

                                    </div>
                                </div>


                                <div class="row mt-50">
                                    <div class="text-left col-12 col-sm-12 col-md-12 col-lg-12">
                                        <!-- <h6>Vous avez déjà un compte ?<a routerLink="/login" class="clr-red"> Me Connecter</a></h6> -->
                                    </div>
                                </div>
                            </form>










                            <form [formGroup]="proForm" [hidden]="pro">

                                <div class="row">

                                    
                                        <h2> Société </h2>
                                     

                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="form-group">
                                            <label>Raison sociale <span class="required">*</span></label>
                                            <input type="text" formControlName="enterprise">
                                        </div>
                                        <div *ngIf="g['enterprise'].touched && g['enterprise'].invalid" class="validation_error">
                                            <div class="error" *ngIf="g['enterprise'].errors && g['enterprise'].errors['required']">Raison sociale obligatoire.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 ">
                                        <div class="form-group">
                                            <label>Info complémentaire  </label>
                                            <input type="text" formControlName="additional_information">
                                        </div>

                                    </div>


                                    <!-- <div [hidden]="siren">
                                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 ">
                                            <div class="form-group">
                                                <label for="SIREN ">SIREN <span class="required">*</span></label>
                                                <input type="text" formControlName="siret">
                                            </div>
                                            <div class="error">{{siretError}}</div>

                                        </div>


                                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 ">
                                            <div class="form-group">
                                                <label for="KBIS">KBIS <span class="required">*</span></label>
                                                <input type="file" formControlName="userDocument" (change)="onFileChange($event)">
                                            </div>

                                            <div class="error">{{userDocumentError}}</div>

                                        </div>
                                    </div> -->

                                    <!-- <div [hidden]="notsiren">
                                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 ">
                                            <div class="form-group">
                                                <label for="">Numéro d'enregistrement <span class="required">*</span></label>
                                                <input type="text" formControlName="registration_number">
                                            </div>
                                            <div class="error">{{registration_numberError}}</div>



                                        </div>
                                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 ">
                                            <div class="form-group">
                                                <label for="">Certificat d'enregistrement <span class="required">*</span></label>
                                                <input type="file" formControlName="registration_certificate" (change)="onFileChange_rs($event)">
                                            </div>

                                            <div class="error">{{registration_certificateError}}</div>

                                        </div>
                                    </div> -->

                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 ">
                                        <div class="form-group">
                                            <label for="SIREN ">Numéro de siren <span class="required">*</span></label>
                                            <input type="text" formControlName="siret">
                                        </div>
                                         
                                        <div *ngIf="g['siret'].touched && g['siret'].invalid" class="validation_error">
                                            <div class="error" *ngIf="g['siret'].errors && g['siret'].errors['required']">Numéro de siren obligatoire.
                                            </div>

                                        </div>
                                    </div>

                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 ">
                                        <div class="form-group">
                                            <label for="CustomerEmail">Adresse <span class="required">*</span></label>
                                            <input type="text" formControlName="address" ngx-google-places-autocomplete (onAddressChange)="handleAddressChange2($event)" placeholder="">
                                        </div>

                                        <div *ngIf="g['address'].touched && g['address'].invalid" class="validation_error">
                                            <div class="error" *ngIf="g['address'].errors && g['address'].errors['required']">Adresse obligatoire.
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 ">
                                        <div class="form-group">
                                            <label for="CustomerEmail">Code postal <span class="required">*</span></label>
                                            <input type="number" [(ngModel)]="google_zip_code" name="zip_code" placeholder="" id="zip_code" formControlName="zip_code" />
                                        </div>

                                        <div *ngIf="g['zip_code'].touched && g['zip_code'].invalid" class="validation_error">
                                            <div class="error" *ngIf="g['zip_code'].errors && g['zip_code'].errors['required']">Code postal obligatoire.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 ">
                                        <div class="form-group">
                                            <label for="CustomerEmail">Ville <span class="required">*</span></label>
                                            <input type="text" name="city" placeholder="" id="city" formControlName="city" [(ngModel)]="google_city" />

                                        </div>
                                        <div *ngIf="g['city'].touched && g['city'].invalid" class="validation_error">
                                            <div class="error" *ngIf="g['city'].errors && g['city'].errors['required']">Ville obligatoire.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 ">
                                        <div class="form-group">
                                            <label for="CustomerEmail">Pays <span class="required">*</span></label>
                                            <input type="text" name="country" placeholder="" id="country" formControlName="country" [(ngModel)]="google_country" />

                                        </div>
                                        <div *ngIf="g['country'].touched && g['country'].invalid" class="validation_error">
                                            <div class="error" *ngIf="g['country'].errors && g['country'].errors['required']">Pays obligatoire.
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 ">
                                        <div class="form-group">
                                            <label for="CustomerEmail">Activité principale  <span class="required">*</span></label>
                                            <input type="text" name="activity_description" placeholder="" id="" formControlName="activity_description" />

                                        </div>

                                        <div *ngIf="g['activity_description'].touched && g['activity_description'].invalid" class="validation_error">
                                            <div class="error" *ngIf="g['activity_description'].errors && g['activity_description'].errors['required']">Activité principale obligatoire.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 ">
                                        <div class="form-group">
                                            <label for="CustomerEmail">
                                                    Activité principale
                                                    
                                                </label>
                                            <ul class="rli pt-3">
                                                <li> <input type="radio" formControlName="main_activity" value="car" class="main_activity_class"> &nbsp;Vendeur de voiture</li>
                                                <li><input type="radio" formControlName="main_activity" value="accessoires" class="main_activity_class">&nbsp;&nbsp;Vendeur de pièce et accessoire &nbsp;</li>

                                                <li> <input type="radio" formControlName="main_activity" value="Centre Porsche" class="main_activity_class">&nbsp;&nbsp;Centre Porsche &nbsp;</li>

                                                <li> <input type="radio" formControlName="main_activity" value="other" class="main_activity_class">&nbsp;&nbsp;Autre &nbsp;</li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 ">
                                        <div class="form-group">
                                            <label for="CustomerEmail">Site internet (URL) </label>
                                            <input type="text" name="website_url" placeholder="" id="" formControlName="website_url" />

                                        </div>
                                    </div>

                                    
                                    <h3> Personne de contact </h3>

                                    <div class="row">
                                        <label for="CustomerEmail">Civilité</label>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-12 mb-2">
                                            <div class="form-check">

                                                <label class="form-check-label" for="fci2">
    
                                                    <input type="radio" name="gender"   id="fci2" class="form-check-input fci"
                                                     (click)="genderClick('M')">M.
                                                </label>

                                                <label class="form-check-label" for="fci1">
                                                    <input type="radio" name="gender"  id="fci1" class="form-check-input fci" (click)="genderClick('F')">Mme.
                                                </label>

                                            </div>
                                            <!-- <div class="form-check"></div> -->
                                        </div>
                                    </div>

                                    <!-- <div class="col-12 col-sm-12 col-md-12 col-lg-12 ">
                                        <div class="form-group">
                                            <label>Nom d'utilisateur<span class="required">*</span></label>
                                            <input type="text" formControlName="userName">
                                        </div>
                                        <div *ngIf="g['userName'].touched && g['userName'].invalid" class="validation_error">
                                            <div class="error" *ngIf="g['userName'].errors && g['userName'].errors['required']">Nom d'utilisateur obligatoire.</div>
                                        </div>
                                    </div> -->

                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 ">
                                        <div class="form-group">
                                            <label>Prénom <span class="required">*</span></label>
                                            <input type="text" formControlName="firstName">
                                        </div>
                                        <div *ngIf="g['firstName'].touched && g['firstName'].invalid" class="validation_error">
                                            <div class="error" *ngIf="g['firstName'].errors && g['firstName'].errors['required']">Prénom obligatoire.</div>
                                        </div>
                                    </div>

                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 ">
                                        <div class="form-group">
                                            <label>Nom<span class="required">*</span></label>
                                            <input type="text" formControlName="lastName">
                                        </div>
                                        <div *ngIf="g['lastName'].touched && g['lastName'].invalid" class="validation_error">
                                            <div class="error" *ngIf="g['lastName'].errors && g['lastName'].errors['required']">Nom obligatoire.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 ">
                                        <div class="form-group">
                                            <label>Fonction <span class="required">*</span>
                                            </label> <p>  Exemple CEO, directeur commercial, vendeur...</p>
                                              
                                            <input type="text" formControlName="ceo">
                                        </div>
                                        <div *ngIf="g['ceo'].touched && g['ceo'].invalid" class="validation_error">
                                            <div class="error" *ngIf="g['ceo'].errors && g['ceo'].errors['required']">Fonction obligatoire.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 ">
                                        <div class="form-group">
                                            <label for="CustomerEmail">Adresse e-mail <span class="required">*</span></label>
                                            <input type="email" formControlName="email">
                                        </div>
                                        <div *ngIf="g['email'].touched && g['email'].invalid" class="validation_error">
                                            <div class="error" *ngIf="g['email'].errors && g['email'].errors['required']">Adresse e-mail obligatoire.
                                            </div>
                                            <div class="error" *ngIf="g['email'].errors && g['email'].errors['pattern']">Veuillez entrer une adresse e-mail valide.</div>

                                        </div>
                                    </div>


                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 ">
                                        <div class="form-group">
                                            <label for="CustomerPassword">Indicatif <span class="required">*</span></label>
                                            <input type="text" formControlName="area_code">
                                        </div>
                                        <div *ngIf="g['area_code'].touched && g['area_code'].invalid" class="validation_error">
                                            <div class="error" *ngIf="g['area_code'].errors && g['area_code'].errors['required']">Indicatif obligatoire.</div>
                                        </div>
                                    </div>


                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 ">
                                        <div class="form-group">
                                            <label for="CustomerPassword">Téléphone <span class="required">*</span></label>
                                            <input type="number" formControlName="mobileNumber">
                                        </div>
                                        <div *ngIf="g['mobileNumber'].touched && g['mobileNumber'].invalid" class="validation_error">
                                            <div class="error" *ngIf="g['mobileNumber'].errors && g['mobileNumber'].errors['required']">Téléphone obligatoire.</div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 ">
                                        <div class="form-group">
                                            <label for="CustomerPassword">Portable <span class="required"> </span></label>
                                            <input type="number" formControlName="portable">
                                        </div>
                                        
                                    </div>


                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 ">
                                        <div class="form-group">
                                            <label for="CustomerPassword">WhatsApp <span class="required"> </span></label>
                                            <input type="number" formControlName="whatsapp">
                                        </div>
                                        
                                    </div>


                                    <div class="text-left col-12 col-sm-12 col-md-12 col-lg-12">




                                        <div class="d-flex-center">
                                            <label class="container-po d-flex">
                                            <input type="checkbox" formControlName="termsCondition"> &nbsp;
                                            <a href="/termsCondition" target="_blank" class="fs-s">Conditions générales d'utilisations <span class="required">*</span></a>
                                            <span class="checkmark-po"></span>
                                          </label>

                                            <div *ngIf="g['termsCondition'].touched && g['termsCondition'].invalid" class="validation_error">
                                                <div class="error" *ngIf="g['termsCondition'].errors && g['termsCondition'].errors['required']">Conditions générales d'utilisations obligatoire.</div>
                                            </div>

                                        </div>

                                        
                                        <div class="d-flex-center">
                                            <label class="container-po d-flex">
                                            <input type="checkbox" formControlName="privacyPolicy"> &nbsp;
                                            <a href="/privacyPolicy" target="_blank" class="fs-s">Politique de confidentialité <span class="required">*</span></a>
                                            <span class="checkmark-po"></span>
                                          </label>

                                            <div *ngIf="g['privacyPolicy'].touched && g['privacyPolicy'].invalid" class="validation_error">
                                                <div class="error" *ngIf="g['privacyPolicy'].errors && g['privacyPolicy'].errors['required']">Politique de confidentialité obligatoire.</div>
                                            </div>

                                        </div>

                                         




                                        <p class="d-flex-center">
                                            <button (click)="proSubmit()" class="btn rounded me-auto w-100">
                                                C'est partie ! </button>
                                        </p>
                                        <div class="clearfix"></div>
                                        <br>
                                        <div class="comeBack_up" *ngIf="apiResponse">
                                            <div *ngIf="apiResponse.error; else loggedOut">
                                                <div class="alert alert-danger"><strong>{{ apiResponse.errorMessage }}</strong></div>
                                            </div>
                                            <ng-template #loggedOut>
                                                <div class="alert alert-success"><strong>{{ apiResponse.errorMessage }}</strong></div>
                                            </ng-template>
                                        </div>
                                        <!-- <h6 class="mt-1">Envie de nous rejoindre ? <a href="#" class="clr-red">Créer un compte</a></h6> -->
                                    </div>



                                </div>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
            <!--End Main Content-->
        </div>
        <!--End Container-->
    </div>
    <!--End Body Container-->
</div>

<!--Page Wrapper-->


<app-footer></app-footer>
<!--End Page Wrapper-->