.clr-red {
    color: #f00 !important;
}

.fs-s {
    font-size: small !important;
}

.rli li {
    margin-bottom: 9px;
    list-style-type: none;
    font-size: 14px;
    font-weight: 500;
}


/* custom checkbox */

.container-po {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Hide the browser's default checkbox */

.container-po input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


/* Create a custom checkbox */

.checkmark-po {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #fff;
    border: 2px solid #f00;
    border-radius: 3px;
}


/* On mouse-over, add a grey background color */

.container-po:hover input~.checkmark {
    background-color: #ccc;
}


/* When the checkbox is checked, add a blue background */

.container-po input:checked~.checkmark-po {
    background-color: #f00;
}


/* Create the checkmark/indicator (hidden when not checked) */

.checkmark-po:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the checkmark when checked */

.container-po input:checked~.checkmark-po:after {
    display: block;
}


/* Style the checkmark/indicator */

.container-po .checkmark-po:after {
    left: 8px;
    top: 4px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}