<app-mobile-header></app-mobile-header>

<!--Page Wrapper-->
<div class="page-wrapper">

  <app-header-for-ad></app-header-for-ad>

   <div id="page-content" class="bg-back page-adjust">
               <!--Container-->
      <div class="container  max-992">
         <!--Main Content-->
         <div class="pt-2 pt-lg-5">
            <div class="row post-ad-div">
               <div class="col-12 col-sm-12 col-md-12 col-lg-12 mb-4 mb-md-0 mob-p0">
                  <div class="in-ner">

                    <form [formGroup]="formSevenStep" id="msform" class="customer-form">
                      
                        <input type="hidden" name="ad_id" formControlName="ad_id" [(ngModel)]="ad_id">
                         <div class="row">
                           <div class="row p-t-30 mob-p0">
                              <div class="grid-products grid--view-items shop-grid-5 prd-grid mob-p0">
                                 <div class="row">
                                   
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 item text-left b-0 mob-p0">
                                       <div class="new-div shado-div">
                                          <!--Start Product Image-->
                                          <div class="product-image">
                                             <div class="top-sec">
                                                <ng-container *ngFor="let objImg of allAddPriceImage">
                                                   <div class="seprat">
                                                      <ng-container *ngIf="objImg.exterior_image.length > 0; else elseImg">
                                                         <img class="scrol-img" src="{{base_url_node_only}}{{objImg.exterior_image[0].path}}" width="120" height="150">
                                                      </ng-container>
                                                      <ng-template #elseImg>
                                                         <img class="scrol-img" src="assets/images/products/car-888.jpg">
                                                      </ng-template>
                                                      

                                                      <div>
                                                         <h5>{{objImg.ad_name}} </h5>
                                                         <p><span class="price">{{objImg.price}} <i class="fa-solid fa-euro-sign"></i></span></p>
                                                      </div>
                                                   </div>
                                                </ng-container>
                                             </div>
                                             <div class="text-center p-t-10">
                                                <h3 class="text-center">Apparaissez dans les premiers résultats	</h3>
                                                <p class="bottom-h">Republiez automatiquement votre annonce, en haut de la liste des résultats et boostez vos ventes</p>
                                                <a href="javascripr:void(0)" class="an-ker1">Aperçu</a>
                                             </div>
                                             <div>
                                                <ul class="jour">
                                                   <ng-container *ngFor="let objUserPlanNormal of allUserParticularPlanTopSearch let i=index">
                                                      <li>
                                                         <div class="form-check p-l-0">
                                                            <input type="radio" class="input-chk-box mr-15" id="" name="normalUserTopSearch" formControlName="normalUserTopSearch" value="{{objUserPlanNormal._id}}" (click)="onItemChangeThird(objUserPlanNormal.price)">
                                                            <label class="form-check-label lbl-float lbl-w" for="check4">
                                                               
                                                               <ng-container *ngIf="objUserPlanNormal.plan_day_type == 1; else elsefdokpl">
                                                                  Chaque jour pendant {{objUserPlanNormal.day_number}} jours   
                                                                   {{objUserPlanNormal.price}} <i class="fa-solid fa-euro-sign"></i>
                                                               </ng-container>

                                                               <ng-template #elsefdokpl>

                                                                  Chaque semaine pendant {{objUserPlanNormal.day_number}} jours   
                                                                   {{objUserPlanNormal.price}} <i class="fa-solid fa-euro-sign"></i>
                                                               </ng-template>

                                                            </label>
                                                            
                                                         </div>
                                                      </li>
                                                   </ng-container>
                                                   <!-- <select class="" name="which_week" formControlName="which_week" style="width: 95%; margin-left: 10px;">
                                                      <option value="">Quelle semaine en tête de liste</option>
                                                      <option  [value]="1">1</option>
                                                      <option  [value]="2">2</option>
                                                      <option  [value]="3">3</option>
                                                      <option  [value]="4">4</option>
                                                      <option  [value]="5">5</option>
                                                   </select> -->
                                                   
                                                </ul>
                                             </div>
                                          </div>
                                          <!--End Product Image-->
                                       </div>
                                    </div>
                                    
                                    
                                    <!--End Product Details-->
                                    <div>
                                       <h6>Sélectionner votre mode de paiement</h6>
                                    </div>
                                    
                                    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 item text-left b-0 mob-p0">
                                       <div class="form-check p-l-0">
                                          <input type="radio" class="input-chk-box mr-15" id="" name="paymentType" formControlName="paymentType" value="Stripe" >
                                          <label class="form-check-label lbl-float lbl-w" for="check4">Carte bancaire</label>
                                       </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 item text-left b-0 mob-p0">
                                       <div class="form-check p-l-0">
                                          <input type="radio" class="input-chk-box mr-15" id="" name="paymentType" formControlName="paymentType" value="Paypal" >
                                          <label class="form-check-label lbl-float lbl-w" for="check4">Paypal</label>
                                       </div>
                                    </div>
                                 </div>
                                 </div>
                                 <p>En cliquant sur valider et payer, je reconnais avoir lu et accepté les <a href="/termsCondition" class="an-ker" target="_blank">Conditions générales de vente </a> et renonce à mon droit de  rétractation. En validant ma commande, j'accepte  le commencement immédiat de la prestation </p>
                              
                                 <div class="row  bottom-d">

                                    
                                    <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                                       <!-- Impôts (%)<span class="an-ker1"> &nbsp; {{tax_percent}} </span> -->
                                       <br>
                                       <span class="an-ker1">{{final_plan_price}} &nbsp;<i class="fa-solid fa-euro"></i> TTC</span><br><span class="an-ker12">Total</span>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 text-right align-self-c">
                                       <button type="submit" class="btn btn-my btn-publier" (click)="next()">Continuer</button>
                                       
                                    </div>


                                 </div>
                                 <div class="clearfix"></div>
                                 <br>
                                 <ng-container *ngIf="errorValueSelcetion">
                                    <div class="alert alert-danger">
                                       <strong>{{ errorValueSelcetion }}</strong>
                                    </div>
                                     
                                 </ng-container>
                                 <div class="comeBack_up" *ngIf="apiResponseLast">
                                    <div *ngIf="apiResponseLast.error; else loggedOut">
                                    <div class="alert alert-danger"><strong>{{ apiResponseLast.errorMessage }}</strong></div>
                                    </div>
                                    <ng-template #loggedOut>
                                       <div *ngIf="apiResponseLast.errorMessage">
                                          <div class="alert alert-success"><strong>{{ apiResponseLast.errorMessage }}</strong></div>
                                       </div>
                                    </ng-template>
                                 
                                 </div>
                                 <div class="clearfix"></div><br>
                           </div>
                         </div>
                         
                     </form>






                  </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>