.heading-shipping {
  /* margin-left: 18px; */
  margin-bottom: 15px;
}

.flx-bx {
  display: flex;
  gap: 6px;
  align-items: center;
  /* max-width: 100px; */
  /* margin-top: .5rem; */
  flex-wrap: wrap;
}

.flx-bx>div:nth-child(1) {
  width: 50%;
}

.flx-bx>div:nth-child(2) {
  width: 30%;
}

.flx-bx>div:nth-child(3) {
  width: 10%;
}
/*
.flx-bx input[type="text"] {
   height: 30px;  
   width: 100px; 
}
*/
.labl-sp {
  padding-left: .6rem;
}

.th-ird {
  width: -webkit-fill-available !important;
}

.flx-step5 {
  display: flex;
  gap: 1%;
}
/*
.flx-step5 .ch1 {
   
}

.flx-step5 .ch2 {
   width: 15%; 
   
}

.flx-step5 .ch3 {
   width: 15%; 
   
}

.flx-step5 .ch4 {
   width: 15%; 
  
}

.flx-step5 .ch5 {
   width: 15%; 
}
*/
@media(max-width:992px) {
  .flx-step5 {
      flex-wrap: wrap;
      gap: 1%;
  }
  .flx-step5 .ch1,
  .flx-step5 .ch2 .ch5 {
      width: 49%;
      margin-bottom: .5rem;
  }
  .flx-step5 .ch3,
  .flx-step5 .ch4 {
      width: 100%;
      margin-bottom: .7rem;
  }
}

@media(min-width:992px) {
  .container-cp {
      height: 54px;
  }
  .flx-step5>div {
      width: 20%;
  }
}

@media(max-width:767px) {
  .res-pons {
      margin-bottom: 1rem;
  }
  .heading-shipping {
      margin-bottom: .5rem;
  }
}
/*
@media(max-width:400px) {
  .th-ird {
       width: 150px !important; 
  }
}*/
/* Custom radio button */

.container-cp {
  display: block;
  position: relative;
  padding-left: 32px;
  margin-bottom: 12px;
  cursor: pointer;
  /* font-size: 22px; */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Hide the browser's default checkbox */

.container-cp input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
/* Create a custom checkbox */

.checkmark-cp {
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid #f00;
}
/* On mouse-over, add a grey background color */

.container-cp:hover input~.checkmark-cp {
  background-color: #ffcdcd;
}
/* When the checkbox is checked, add a blue background */

.container-cp input:checked~.checkmark-cp {
  background-color: #f00;
  border-radius: 50%;
}
/* End custom radio button */

.d-te p {
  font-size: 10px !important;
}

@media(max-width: 767px) {
  .in-ner {
      padding: 10px !important;
  }
}

@media(min-width: 992px) {
  .pmt-6r {
      margin-top: 4.7rem;
  }
}

.loader-img {
  text-align: center;
}

