<app-header></app-header>
      <div class="container">
         <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-12 m-a" *ngFor="let rec of apiRes.record">
               <button class="accordion">{{rec.question}}</button>
               <div class="panel">
                  <p>{{rec.answer}}</p>
               </div>
            
              
            </div>
            <div *ngIf="apiRes.record.length == 0 ">
               <h1>No data found</h1>
            </div>
         </div>
      </div>
<app-footer></app-footer>
