.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    box-shadow: 0 2px 5px #ccc;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between
  }
  
  .active, .accordion:hover {
    background-color: #ccc;
    color: #f00;
    font-size: 18px;
  }
  
  .accordion:after {
    content: '\002B';
    color: #f00;
    font-size: 22px;
    font-weight: bold;
    float: right;
    margin-left: 5px;
        background: #fff;
      height: 30px;
      width: 30px;
      text-align: center;
      line-height: 1.2;
      border-radius: 50%;
      box-shadow: 0 2px 5px #ccc;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .panel {
    padding: 0 18px;
    background-color: #f5f5dc;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  .panel p
  {
      padding: 20px;
  }
  .m-a 
  {
      margin: auto;
  }