<app-mobile-header></app-mobile-header>

<!--Page Wrapper-->
<div class="page-wrapper">

  <app-header-for-ad></app-header-for-ad>

   <div id="page-content" class="bg-back page-adjust">
               <!--Container-->
      <div class="container  max-992">
         <!--Main Content-->
         <div class="pt-2 pt-lg-5">
            <div class="row post-ad-div">
               <div class="col-12 col-sm-12 col-md-12 col-lg-12 mb-4 mb-md-0 mob-p0">
                  <div class="in-ner">

                    <form [formGroup]="formSevenStep" id="msform" class="customer-form">
                      
                        <input type="hidden" name="ad_id" formControlName="ad_id" [(ngModel)]="ad_id">
                         <div class="row">
                           <div class="row p-t-30 mob-p0">
                              <div class="grid-products grid--view-items shop-grid-5 prd-grid mob-p0">
                                 <div class="row">
                                   
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 item text-left b-0 mob-p0">
                                       <div class="new-div shado-div">
                                          <!--Start Product Image-->
                                          
                                          <div class="product-image">
                                            <div class="top-sec">
                                               <ng-container *ngFor="let objImg of allAddPriceImage">
                                                  <div class="seprat">
                                                     <ng-container *ngIf="objImg.exterior_image.length > 0; else elseImg">
                                                        <img class="scrol-img" src="{{base_url_node_only}}{{objImg.exterior_image[0].path}}" width="120" height="150">
                                                     </ng-container>
                                                     <ng-template #elseImg>
                                                        <img class="scrol-img" src="assets/images/products/car-888.jpg">
                                                     </ng-template>
                                                     

                                                     <div>
                                                        <h5>{{objImg.ad_name}} </h5>
                                                        <p><span class="price">{{objImg.price}} <i class="fa-solid fa-euro-sign"></i></span></p>
                                                     </div>
                                                  </div>
                                               </ng-container>
                                            </div>
                                            <div class="text-center p-t-10">
                                               <h3 class="text-center">Coût  de la publicité</h3>
                                               <a href="javascript:void(0)"  class="an-ker1">Aperçu</a>
                                            </div>
                                            <div>
                                               <ul class="jour">

                                                  <ng-container *ngFor="let objUserPlanNormal of allUserParticularPlan let i=index">
                                                  <li>
                                                     <div class="form-check p-l-0">
                                                        <input type="radio" class="input-chk-box mr-15" id="" name="normalUserAd" formControlName="normalUserAd" value="{{objUserPlanNormal._id}}" (click)="onItemChange(objUserPlanNormal.price)">
                                                        <label class="form-check-label lbl-float lbl-w" for="check4">Période  gratuite de {{objUserPlanNormal.day_number}} mois</label>
                                                        <span class="r-price-spn">{{objUserPlanNormal.price}} <i class="fa-solid fa-euro-sign"></i></span>
                                                     </div>
                                                  </li>
                                                  </ng-container>

                                                  <div *ngIf="formSevenStepFun['normalUserAd'].touched && formSevenStepFun['normalUserAd'].invalid" >
                                                     <div *ngIf="formSevenStepFun['normalUserAd'].errors && formSevenStepFun['normalUserAd'].errors['required']"  class="clr-sky">Veuillez  donner  un coût  de la publicité.
                                                     </div>
                                                  </div>

                                               </ul>
                                            </div>
                                         </div>
                                          
                                          <!--End Product Image-->
                                       </div>
                                    </div>
                                    
                                    
                                    <!--End Product Details-->
                                    <div>
                                       <h6>Sélectionner le mode de paiement</h6>
                                    </div>

                                    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 item text-left b-0 mob-p0">
                                       <div class="form-check p-l-0">
                                          <input type="radio" class="input-chk-box mr-15" id="" name="paymentType" formControlName="paymentType" value="Stripe" >
                                          <label class="form-check-label lbl-float lbl-w" for="check4">Carte bancaire</label>
                                       </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 item text-left b-0 mob-p0">
                                       <div class="form-check p-l-0">
                                          <input type="radio" class="input-chk-box mr-15" id="" name="paymentType" formControlName="paymentType" value="Paypal" >
                                          <label class="form-check-label lbl-float lbl-w" for="check4">Paypal</label>
                                       </div>
                                    </div>
                                 </div>
                                 </div>
                                 <p>En cliquant sur valider et payer, je reconnais avoir lu et accepté les <a target="_blank" routerLink="/termsCondition" class="an-ker">Conditions générales de vente </a> et renonce a mon droitde  rétractation. En validant ma commande, j'accepte  le commencement immédiat de la prestation </p>
                              
                                 <div class="row  bottom-d">

                                    
                                    <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                                       Impôts (%)<span class="an-ker1"> &nbsp; {{tax_percent}} </span>
                                       <br>
                                       <span class="an-ker1">{{final_plan_price}} &nbsp;<i class="fa-solid fa-euro"></i></span><br><span class="an-ker12">Détail du palement</span>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-6 col-lg-6 text-right align-self-c">
                                       <button type="submit" class="btn btn-my btn-publier" (click)="next()">Publier une annonce sans booster</button>
                                       
                                    </div>


                                 </div>
                                 <div class="clearfix"></div>
                                 <br>
                                 <ng-container *ngIf="errorValueSelcetion">
                                    <div class="alert alert-danger">
                                       <strong>{{ errorValueSelcetion }}</strong>
                                    </div>
                                     
                                 </ng-container>
                                 <div class="comeBack_up" *ngIf="apiResponseLast">
                                    <div *ngIf="apiResponseLast.error; else loggedOut">
                                    <div class="alert alert-danger"><strong>{{ apiResponseLast.errorMessage }}</strong></div>
                                    </div>
                                    <ng-template #loggedOut>
                                       <div *ngIf="apiResponseLast.errorMessage">
                                          <div class="alert alert-success"><strong>{{ apiResponseLast.errorMessage }}</strong></div>
                                       </div>
                                    </ng-template>
                                 
                                 </div>
                                 <div class="clearfix"></div><br>
                           </div>
                         </div>
                         
                     </form>






                  </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>