<app-mobile-header></app-mobile-header>

<!--Page Wrapper-->
<div class="page-wrapper">

  <app-header></app-header>

  <!--Body Container-->
  <div id="page-content" class="p-t-30">
    <!--Container-->
    <div class="container pt-30 max-992">
       <!--Main Content-->
       <div class="">
          <div class="row">
             <!--<div class="col-md-12">
                <h2>Déposer une annonce</h2>
                </div>-->
             <div class="col-12 col-sm-12 col-md-12 col-lg-12 ">
                <div class="p-2 payment-c">
                   <div class="pay-t">
                      <h5 class="mont">Montant des accessoires : <span class="price-red">{{total_product_price}}<i class="fa-solid fa-euro"></i></span></h5>
                      <div class="pay-2">
                         <!-- <div class="m-b-25">
                            <p>Montant de la livraison: {{total_shipping_price}} <i class="fa-solid fa-euro"></i></p>
                            <p>Montant total : {{final_price}}<i class="fa-solid fa-euro"></i></p>
                         </div> -->
                         <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                           <h5><strong>Récapitulatif de la commande</strong></h5>
                           <ul class="pay">
                              <li><p>Articles <span class="price-red">{{total_product_price}}<i class="fa-solid fa-euro"></i></span></p></li>
                              <li *ngIf="self_pickup == 2"><p>Livraison <span class="price-red" > {{total_shipping_price}}<i class="fa-solid fa-euro"></i></span></p></li>


                              <li *ngIf="self_pickup == 2"><p>Sous-total <span class="price-red">{{subtotal}}<i class="fa-solid fa-euro"></i></span></p></li>
                              

                              <li *ngIf="item_owner_user_type == 'pro_user' "><p>TVA ({{taxPercent}}%) <span class="price-red">{{tax}}<i class="fa-solid fa-euro"></i></span></p></li>

                               
                              

                              <!-- <li *ngIf="self_pickup == 2"><h5><strong>Montant total TTC<span class="price-red">{{final_price}}<i class="fa-solid fa-euro"></i></span></strong></h5></li> -->

                              <li  ><h5><strong>Montant total TTC<span class="price-red">{{final_price}}<i class="fa-solid fa-euro"></i></span></strong></h5></li>

                           </ul>
                        </div>

                         <div class="m-b-25">
                          <p>Type de paiement: {{payment_type}}  </p>
                          
                       </div>


                       <div class="row">
                        <div class="col-6 col-lg-3 col-md-3 col-sm-6">
                           <div class="form-check">
                              <input type="radio" class="form-check-input" id="radio1" name="optradio" value="Stripe" (change)="paymentmethod($event)" >
                              Carte bancaire
                              <label class="form-check-label" for="radio1"></label>
                           </div>
                        </div>
                        <div class="col-6 col-lg-3 col-md-3 col-sm-6">
                           <div class="form-check">
                              <input type="radio" class="form-check-input" id="radio2" name="optradio" value="Paypal" (change)="paymentmethod($event)">PayPal
                              <label class="form-check-label" for="radio2"></label>
                           </div>
                        </div>
                     </div>
                      </div>
                   </div>
                   
                   <div class="clearfix"></div><br>
                   <div class="alert alert-danger" [hidden]="paymentErr"><strong>Veuillez sélectionner votre type de paiement </strong></div>
                   <div class="row p-t-30 p-lr-0">
                      <p class="p-0 m-b-30"><i class="fa-solid fa-lock-keyhole"></i> Paiement sécurisé <img src="assets/images/content/master.png" alt="master"><img src="assets/images/content/vissa.png" alt="visa"></p>
                      <!-- <form [formGroup]="form" (ngSubmit)="submit()" class="customer-form">
                        <div class="row">
                          <input type="checkbox" name="checkbox_terms" formControlName="checkbox_terms" class="input-chk-box mr-15" id="check21" name="option1" value="something"> J'enregistre cette carte pour de futurs achats
                          <p>En cliquant sur payer, j'accepte les <a href="#" class="ankr-tag">Conditions Generales d'Utilisation.</a></p>

                          <div class="clearfix"></div>
                          <br>
                          <div *ngIf="f['checkbox_terms'].touched && f['checkbox_terms'].invalid" class="validation_error">
                           <div class="error" *ngIf="f['checkbox_terms'].errors && f['checkbox_terms'].errors['required']">Veuillez cocher la case.</div>
                         </div>


                        </div>
                        <div class="row p-t-30">
                        
                          <input type="hidden" name="user_id" formControlName="user_id" [(ngModel)]="user_id">
                        
                        
                          <p><button type="submit" class="step">Payer {{final_price}} <i class="fa-solid fa-euro"></i></button></p>
                        
                        
                        

                         

                         <p class="p-t-30">Votre banque peut vous demander d'autoriser le paiement pour completer votre achat.</p>
                         <p class="p-t-30">Vous  etes sur un serveur de paiement  sécurisé par les  normes ssl(https) et pcidss de nos partenaires bancaires. Vos données sont encryptées pour plus de sécurité.</p>
                        </div>
                    </form> -->

                    <!-- <button (click)="checkoutProcess()" class="step" *ngIf="self_pickup == 2">Payer {{final_price}} <i class="fa-solid fa-euro"></i></button> -->
                    <button (click)="checkoutProcess()"   [ngClass]="price_red == 'step' ? 'step' : 'step_2'">
                     
                     Payez 
                     </button>
                    
                   </div>
                </div>
             </div>
          </div>
       </div>
       <!--End Main Content-->
    </div>
    <div class=""></div>
    <!--End Container-->
  </div>
  <!--End Body Container-->



</div>
<app-footer></app-footer>