button.step {
    background: #e9ecef;
    padding: 15px;
    color: #999;
    border-radius: 5px;
    height: auto;
}

button.step_2 {
    background: #FF0000;
    padding: 15px;
    color: #222222;
    border-radius: 5px;
    height: auto;
}


.pay li {
    list-style-type: none;
    padding: px;
}

.pay li p span,
.pay li h5 span {
    float: right;
}

.pay li p {
    font-size: 16px;
}