.container-k {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: small;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Hide the browser's default radio button */

.container-k input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
/* Create a custom radio button */

.checkmark-k {
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid #f00
}
/* On mouse-over, add a grey background color */

/* .container-k:hover input~.checkmark-k {
  background-color: #f00 !important;
  border: 2px solid #f00;
} */
/* When the radio button is checked, add a blue background */

.container-k input:checked~.checkmark-k {
  background-color: #f00;
  border-color: #f00;
}
/* Create the indicator (the dot/circle - hidden when not checked) */

.checkmark-k:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the indicator (dot/circle) when checked */

.container-k input:checked~.checkmark-k:after {
  display: block;
}
/* Style the indicator (dot/circle) */

.container-k .checkmark-k:after {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #f00;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* ------- */

.report-a li {
  display: inline-block;
  padding-right: 20px;
}

.report-a {
  padding-left: 0;
}

.note {
  background: aliceblue;
  padding: 12px;
  font-size: small;
  border-radius: 4px;
}
/* 
.dis span {
  float: right;
  color: #a7b3c0;
  font-size: small;
}

.dis label {
  display: block;
  color: #a7b3c0;
} */

.btn-dis {
  color: #cad1d9;
  cursor: not-allowed;
  pointer-events: none;
  background-color: #f4f6f7;
  border: 1px solid transparent;
  width: 25%;
}

.cards
{
    margin-top: 30px;
    box-shadow: 0 -1px 8px #ccc;
    padding: 23px;
    border-radius: 5px;
    background: #fff;
    margin-bottom: 30px;
}
 