<app-mobile-header></app-mobile-header>

<!--Page Wrapper-->
<div class="page-wrapper">

  <app-header></app-header>

  <!--Body Container-->
  <div id="page-content " class="mob-pt-0 max-mtt">
    <!--Breadcrumbs-->
    <!--<div class="breadcrumbs-wrapper text-uppercase">
      <div class="container">
          <div class="breadcrumbs"><a href="index.html" title="Back to the home page">Home</a><span>|</span><span class="fw-bold">Product Layout Style2</span></div>
      </div>
      </div>-->
    <!--End Breadcrumbs-->
    
    <!--Main Content-->
    <div class="container">
      
      <!--Product Content-->
      
        
        <div class="clearfix"></div> 

        <div class="row">
          <div class="col-lg-8 col-md-8 col-sm-12 col-12">
              <div class="cards">
                  <div class=" ">
                      <h4 class="mb-3">Signaler une annonce</h4>
                      <form [formGroup]="form" (ngSubmit)="submit()" class="customer-form">
                        <input type="hidden" formControlName="ad_id" [(ngModel)]="ad_id">
                        <input type="hidden" formControlName="user_id" [(ngModel)]="user_id">
                          <ul class="report-a">
                              <li>
                                  <label class="container-k">Pas Porsche
                                          <input type="radio" name="reason" formControlName="reason"  value="Pas porsche">
                                          <span class="checkmark-k"></span>
                                        </label>
                              </li>
                              <li>
                                <label class="container-k">Fraude
                                        <input type="radio" checked="checked" name="reason" formControlName="reason" value="Fraude">
                                        <span class="checkmark-k"></span>
                                      </label>
                              </li>
                              <li> <label class="container-k">Mauvaise catégorie
                                  <input type="radio" name="reason" formControlName="reason"  value="Mauvaise catégorie">
                                  <span class="checkmark-k"></span>
                                </label></li>

                               
                              <li> <label class="container-k">Professionnel
                                <input type="radio"name="reason" formControlName="reason"  value="Professionnel">
                                <span class="checkmark-k"></span>
                              </label></li>

                              <li> <label class="container-k">Autre
                                  <input type="radio"name="reason" formControlName="reason"  value="Autre">
                                  <span class="checkmark-k"></span>
                                </label></li>
                          </ul>

                          


                          <!-- <div class="note">
                              <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                  consequat.
                              </p>
                          </div> -->
                          <div class="mt-3 mb-3 dis">
                              <div class="row">
                                  <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                       
                                      <label for="" class="">
                                        <strong>Nom</strong>
                                        <span class="required"></span>
                                        <span  class="required">
                                            * 
                                        </span>
                                      </label>

                                      <input type="text" name="nom" id="nom" placeholder="xyz" value="{{firstName}} {{lastName}}" class="form-control" disabled>
                                  </div>
                                  <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                      
                                      <label for="" class="">
                                        <strong>Email</strong>
                                        <span class="required"></span>
                                        <span  class="required">
                                            * 
                                        </span>
                                      </label>
                                      <input type="text" name="Email" id="Email" placeholder="xyz@gmail.com" value="{{user_email}}" class="form-control" disabled>
                                  </div>
                              </div>
                          </div>
                          <div class="mt-3 mb-3 dis">
                              <div class="row">
                                  <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                      

                                      <label for="" class="">
                                        <strong>Message</strong>
                                        <span class="required"></span>
                                        <span  class="required">
                                            * 
                                        </span>
                                      </label>

                                      <textarea name="message" id="message" rows="5" class="form-control" formControlName="message"></textarea>

                                      <div *ngIf="f['message'].touched && f['message'].invalid" class="validation_error">
                                        <div class="error" *ngIf="f['message'].errors && f['message'].errors['required']">Veuillez écrire un message.</div>
                                        
                                    </div>


                                  </div>
                              </div>
                          </div>
                          <div class="mt-3 mb-3">
                              <button type="submit" class="btn btn-my1">Envoyer</button>
                          </div>
                          <!-- <div class="note">
                              <p class="mb-0"> 
                              </p>
                          </div> -->

                          <div class="clearfix"></div>
                      <br>
                      <div class="comeBack_up" *ngIf="apiResponse2">
                        <div *ngIf="apiResponse2.error == true; else loggedOut">
                          <div class="alert alert-danger"><strong>{{ apiResponse2.errorMessage }}</strong></div>
                        </div>
                        <ng-template #loggedOut>
                          <div class="alert alert-success"><strong>{{ apiResponse2.errorMessage }}</strong></div>
                        </ng-template>
                      </div>

                      </form>

                  </div>
              </div>
          </div>
      </div>

        <div class="clearfix"></div>
         


        
      <!--Product Content-->
     
    </div>
    <!--End Container-->
  </div>
  <!--End Body Container-->


  <app-footer></app-footer>



</div>