<app-mobile-header></app-mobile-header>

<!--Page Wrapper-->
<div class="page-wrapper">

  <app-header-for-ad></app-header-for-ad>

   <div id="page-content" class="bg-back page-adjust">
               <!--Container-->
      <div class="container  max-992">
         <!--Main Content-->
         <div class="pt-2 pt-lg-5">
            <div class="row post-ad-div">
               <div class="col-12 col-sm-12 col-md-12 col-lg-12 mb-4 mb-md-0 mob-p0">
                  <div class="">

                     <form [formGroup]="abc"    id=""class="customer-form">
                      <input type="hidden" class="form-check-input" name="ad_id"  formControlName="ad_id" [(ngModel)]="ad_id">
                           <!-- progressbar -->
                           <!-- fieldsets -->
                        <fieldset  *ngIf="step == 1" >
                          
                           <div class="row p-b-20">
                              <div class="col-12 col-sm-6 col-md-6 col-lg-6 mob-p0">
                                 <label for="" class=""><strong>Modèle</strong><span class="required"> * </span></label>
                                 
                                 <select class="" name="model_id" formControlName="model_id" (ngModelChange)="onChangeModel($event)">
                                    <option value="">Veuillez sélectionner</option>
                                    <option *ngFor="let player of allModelList" [value]="player._id">
                                       {{player.model_name}}
                                 </option>
                                 </select>
                                 <div *ngIf="abcc['model_id'].touched && abcc['model_id'].invalid" >
                                    <div *ngIf="abcc['model_id'].errors && abcc['model_id'].errors['required']"  class="clr-sky">Veuillez  donner  un modèle.
                                    </div>
                                 </div>
                              </div>
                              
                              <div class="col-12 col-sm-6 col-md-6 col-lg-6 mob-p0">
                                <label for="" class=""><strong>Sous-modèle</strong><span class="required"> *</span></label>
                                <select class="" name="subModelId" formControlName="subModelId" >
                                   <option value="">Veuillez sélectionner</option>
                                   <option *ngFor="let player of allSubModelList" [value]="player._id">
                                      {{player.model_name}}
                                </option>
                                </select>
                                <div *ngIf="abcc['subModelId'].touched && abcc['subModelId'].invalid" >
                                   <div *ngIf="abcc['subModelId'].errors && abcc['subModelId'].errors['required']"  class="clr-sky">Veuillez  donner  un modèle.
                                   </div>
                                </div>
                              </div>
                            </div>
  
                            <div class="row p-b-20">
                                          
  
                             <div class="col-12 col-sm-6 col-md-6 col-lg-6 mob-p0">
                                <label for="" class=""><strong>Date de première mise en circulation</strong><span class="required"> *</span></label>
                                <div class="row">
                                   <div class="col-6 col-sm-6 col-md-6 col-lg-6 mob-p0">
                                      <select class="" name="registration_month" formControlName="registration_month">
                                         <option value="">Veuillez sélectionner</option>
                                         <option value="1">
                                            Janvier</option>
                                            
                                         <option value="2">
                                            Février</option>
                                            
                                         <option value="3">
                                            Mars</option>
                                            
                                         <option value="4">
                                            Avril</option>
                                            
                                         <option value="5">
                                            Mai</option>
                                            
                                         <option value="6">
                                            Juin</option>
                                            
                                         <option value="7">
                                            Juillet</option>
                                            
                                         <option value="8">
                                            Août</option>
                                            
                                         <option value="9">
                                            Septembre</option>
                                            
                                         <option value="10">
                                            Octobre</option>
                                         
                                         <option value="11">
                                               Novembre</option>
                                         
                                         <option value="12">
                                                  Décembre</option>
  
                                      </select>
  
                                      <div *ngIf="abcc['registration_month'].touched && abcc['registration_month'].invalid" >
                                         <div *ngIf="abcc['registration_month'].errors && abcc['registration_month'].errors['required']"  class="clr-sky">Veuillez  donner  un date de première.
                                         </div>
                                      </div>
                                   </div>
                                   
  
                                   <div class="col-6 col-sm-6 col-md-6 col-lg-6 mob-p0">
                                      <select class="" name="registration_year" formControlName="registration_year">
                                         <option value="">Veuillez sélectionner</option>
                                         <option *ngFor="let player of allYear" [value]="player.year">
                                            {{player.year}}
                                      </option>
                                      </select>
  
                                      <div *ngIf="abcc['registration_year'].touched && abcc['registration_year'].invalid" >
                                         <div *ngIf="abcc['registration_year'].errors && abcc['registration_year'].errors['required']"  class="clr-sky">Veuillez  donner  un date de première.
                                         </div>
                                      </div>
                                   </div>
                                </div>
                                
                                
  
                             </div>
  
                             <div class="col-12 col-sm-6 col-md-6 col-lg-6 mob-p0">
                                <label for="" class=""><strong>Type de pièce</strong><span class="required"> *</span></label>
                                <select class="" name="type_de_piece" formControlName="type_de_piece" >
                                  <option value="">Veuillez sélectionner</option>
                                  <option *ngFor="let player of allChasisType" [value]="player._id">
                                      {{player.attribute_name}}
                                </option>
                                </select>
  
                                <div *ngIf="abcc['type_de_piece'].touched && abcc['type_de_piece'].invalid" >
                                  <div *ngIf="abcc['type_de_piece'].errors && abcc['type_de_piece'].errors['required']"  class="clr-sky">Veuillez  donner  un type de pièce.
                                  </div>
                                </div>
                              </div>
                          </div>
  
                            <div class="row p-b-20">
                              <!-- <div class="col-12 col-sm-6 col-md-6 col-lg-6 mob-p0">
                                <label for="sous-modèle" class=""><strong>Date de première mise en circulation</strong><span class="required"> *</span></label>
                                <select class="" name="registration_year" formControlName="registration_year">
                                  <option value="">Veuillez sélectionner</option>
                                  <option *ngFor="let player of allYear" [value]="player.year">
                                      {{player.year}}
                                </option>
                                </select>
  
                                <div *ngIf="abcc['registration_year'].touched && abcc['registration_year'].invalid" >
                                  <div *ngIf="abcc['registration_year'].errors && abcc['registration_year'].errors['required']"  class="clr-sky">Veuillez  donner  un date de première.
                                  </div>
                                </div>
                              </div> -->
                              
                            </div>
                            <div  class="row p-b-20">
                              <div class="col-12 col-sm-6 col-md-6 col-lg-6 mob-p0">
                                <label for="" class="">État<span class="required"> *</span></label>
                                <div class="row">
                                  <div class="col-6 col-sm-6 col-md-6 col-lg-6 mob-p0">
                                    <div class="form-check">
                                      <input type="radio" class="form-check-input" id="radio3" name="state" value="Neuf" formControlName="state">Neuf
                                      <label class="form-check-label" for="tiptronic"></label>
                                    </div>
                                  </div>
                                  <div class="col-6 col-sm-6 col-md-6 col-lg-6 mob-p0">
                                    <div class="form-check">
                                      <input type="radio" class="form-check-input" id="radio4" name="state" formControlName="state" value="Occasion">Occasion
                                      <label class="form-check-label" for="PDK"></label>
                                    </div>
                                  </div>
                                </div>
  
                                <div *ngIf="abcc['state'].touched && abcc['state'].invalid" >
                                  <div *ngIf="abcc['state'].errors && abcc['state'].errors['required']"  class="clr-sky">Veuillez  donner  un État.
                                  </div>
                                </div>
  
                              </div>
                              <div class="col-12 col-sm-12 col-md-6 col-lg-6 mob-p0">
                                <label for="" class="">Pièce d'origine OEM<span class="required"> *</span></label>
                                <div class="row">
                                  <div class="col-6 col-sm-6 col-md-6 col-lg-6 mob-p0">
                                    <div class="form-check">
                                      <input type="radio" class="form-check-input" id="radio3" name="OEM" formControlName="OEM" value="yes">Oui
                                      <label class="form-check-label" for="tiptronic"></label>
                                    </div>
                                  </div>
                                  <div class="col-6 col-sm-6 col-md-6 col-lg-6 mob-p0">
                                    <div class="form-check">
                                      <input type="radio" class="form-check-input" id="radio4" name="OEM" formControlName="OEM" value="no">Non
                                      <label class="form-check-label" for="PDK"></label>
                                    </div>
                                  </div>
                                </div>
  
                                <div *ngIf="abcc['OEM'].touched && abcc['OEM'].invalid" >
                                  <div *ngIf="abcc['OEM'].errors && abcc['OEM'].errors['required']"  class="clr-sky">Veuillez  donner  un pièce d'origine OEM.
                                  </div>
                                </div>
  
                              </div>
                            </div>
                            <div class="row p-t-30">
                              <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-right">
                                 <button class="btn btn-my1" (click)="next()">Continuer</button>
                              </div>
                           </div>

                        </fieldset>
                     </form>

                     <form [formGroup]="formThirdStep" id="msform" class="customer-form">
                    <fieldset *ngIf="step == 2" >
                      <div class="row">
                        <div class="row p-t-30 mob-p0">
                          <h3 class="h4 mob-p0">Parlez-nous de votre Bien ! </h3>
                          <!-- <div class="form-group mob-p0">
                              <div class="col-md-6 mob-p0">
                                <label for="" class=""><strong>Titre de  l'annonce</strong> <span class="required"></span><span class="float-right"><small>champ requis</small></span></label>
                                <input type="text" class="form-control" placeholder="" name="title" formControlName="title" [(ngModel)]="titleOfAd">
                                
                              </div>
                          </div>

                          <div *ngIf="formThirdStepFun['title'].touched && formThirdStepFun['title'].invalid" >
                              <div *ngIf="formThirdStepFun['title'].errors && formThirdStepFun['title'].errors['required']"  class="clr-sky">Veuillez  donner  un titre a' votre annonce.
                              </div>
                          </div> -->


                        </div>
                        <div class="row p-t-30 mob-p0">
                          <div class="form-group mob-p0">
                           <label for="comment"><strong>Description de votre Porsche</strong> <span class="required"> *</span></label>
                              <textarea class="form-control" rows="8" id="description" name="description" formControlName="description" #box2 (keyup)="0" maxlength="500" ></textarea>
                              <span class="float-right"><small>{{box2.value.length}} /500 caractères</small></span>
                          </div>

                          <div *ngIf="formThirdStepFun['description'].touched && formThirdStepFun['description'].invalid" >
                              <div *ngIf="formThirdStepFun['description'].errors && formThirdStepFun['description'].errors['required']"  class="clr-sky">Veuillez  donner  un description de votre Porsche.
                              </div>
                          </div>


                        </div>
                        

                        <div class="row p-t-30">
                          <div class="col-6 col-sm-6 col-md- col-lg-6 mob-p0">
                              <button class="btn btn-my" (click)="previous()" >Retour</button>
                          </div>
                          <div class="col-6 col-sm-6 col-md-6 col-lg-6 text-right mob-p0">
                              <button class="btn btn-my1" (click)="next()">Continuer</button>
                          </div>
                        </div>
                      </div>
                    </fieldset>
                     </form>
                    
                     <form [formGroup]="formBeforeFourthStep" id="msform" class="customer-form">
                      <fieldset *ngIf="step == 3">

                         <div class="row">

                            <div class="row p-t-30 mob-p0">
                               <h3 class="h4 mob-p0">Prix ! </h3>
                               <div class="form-group mob-p0">
                                  <div class="col-md-6 mob-p0">
                                    <label for="" class=""><strong>Prix</strong> <span class="required"></span><span class="required"><small> *</small></span></label>
                                     <input type="text" class="form-control" placeholder="" name="price" formControlName="price" >
                                  </div>
                               </div>
                               <div *ngIf="formBeforeFourthStepFun['price'].touched && formBeforeFourthStepFun['price'].invalid" >
                                  <div *ngIf="formBeforeFourthStepFun['price'].errors && formBeforeFourthStepFun['price'].errors['required']"  class="clr-sky">Veuillez  donner  un prix de vos expériences.
                                  </div>
                               </div>
                            </div>
                            <!-- priceForPors -->
                            <div class="row p-t-30 mob-p0">
                               <div *ngIf="priceForPors == 'yes' ">
                                  <div class="form-group mob-p0">
                                     <div class="col-md-6 mob-p0">
                                        <label for="" class=""><strong>Prix du professionnel</strong> <span class="required"></span></label>
                                        <input type="number" class="form-control" placeholder="" name="pro_price" formControlName="pro_price" >
                                     </div>
                                  </div>
                               </div>
                            </div>
                            <div class="row p-t-30">
                               <div class="col-6 col-sm-6 col-md- col-lg-6 mob-p0">
                                  <button class="btn btn-my" (click)="previous()" >Retour</button>
                               </div>
                               <div class="col-6 col-sm-6 col-md-6 col-lg-6 text-right mob-p0">
                                  <button class="btn btn-my1" (click)="next()">Continuer</button>
                               </div>
                            </div>

                         </div>
                         
                      </fieldset>
                     </form>

                     <form [formGroup]="formFourthStep" id="msform" class="customer-form">
                      <fieldset *ngIf="step == 4">
                         <div class="row">
                          
                             <div class="row p-t-30 mob-p0">
                               <h3 class="h4 mob-p0">Télécharger vos photos</h3>

                               <div class="col-12 col-sm-12 col-md-12 col-lg-12 mb-4 mb-md-0 p-0 mob-p0">
                                  <div class="upload__box">
                                     <div class="upload__btn-box">
                                        <label class="upload__btn float-left">
                                           
                                           <p><i class="fa-solid fa-camera fa-cam"></i></p>
                                           <p>Télécharger vos photos</p>
                                           
                                           <input formControlName="file" id="file" type="file" class="" multiple=""
                                           (change)="onFileChangeNew($event)" style="display:none;">
                                        </label>
                                     </div>
                                     <div class="upload__img-wrap" >
                                        <div  data-number="0" data-file="01-24-510x270.jpg" class="img-bg" >
                                           <!--<div class="upload__img-close"></div>-->
                                        </div>
                                     </div>
                                  </div>
                               </div>

                               <div class="row">
                                  <div class="col-md-2 img-preview" *ngFor='let url of images let i=index'>
                                     <img [src]="url" width="200px">
                                     <button type="button" class="btn btn-danger btn-sm imgRemoveBtn" (click)="removeImage(url,i)" >X</button>
                                  </div>
                               </div>
                               
                               
                            </div>



                            <div class="row p-t-30">
                               <div class="col-6 col-sm-6 col-md- col-lg-6 mob-p0">
                                  <button class="btn btn-my" (click)="previous()" >Retour</button>
                               </div>
                               <div class="col-6 col-sm-6 col-md-6 col-lg-6 text-right mob-p0">
                                  <button class="btn btn-my1" (click)="next()">Continuer</button>
                               </div>
                            </div>

                         </div>
                      </fieldset>
                     </form>

                     <form [formGroup]="formBeforeFifthStep" id="msform" class="customer-form">
                        <fieldset *ngIf="step == 5">
                           <div class="row">

                               <div class="row p-b-20 p-0">
                                   <div class="col-12 col-sm-12 col-md-12 col-lg-12 p-0">
                                       <h2>Frais de livraison <span class="required"> *</span> </h2>
                                       <div class="flx-step5">
                                           <div class="ch1 res-pons">
                                               <!-- <p>Vous avancez les frais de livraison</p> -->

                                               <label for="cl1" class="container-cp">Livraison standard
                                           <input type="checkbox" class="radio-shipping" id="cl1" name="shipping_type_1" formControlName="shipping_type_1" value="1"> 
                                           <span class="checkmark-cp"></span> 
                                       </label>
                                               <div class="input-group mb-3 m-b-0" style="margin-bottom: 0 !important;">
                                                   <input type="hidden" class="" name="shipping_type_1_text" formControlName="shipping_type_1_text" value="Livraison standard">
                                                   <div class="flx-bx">
                                                       <div class="">
                                                           <input type="text" class="form-control" placeholder="0" name="shipping_price_1" formControlName="shipping_price_1">
                                                       </div>
                                                       <div>
                                                           <span class=""><i class="fa-solid fa-euro"></i></span>
                                                       </div>
                                                   </div>



                                               </div>

                                               <!-- <div *ngIf="formBeforeFifthStepFun['shipping_price_1'].touched && formBeforeFifthStepFun['shipping_price_1'].invalid">
                                  <div *ngIf="formBeforeFifthStepFun['shipping_price_1'].errors && formBeforeFifthStepFun['shipping_price_1'].errors['required']" class="clr-sky">Veuillez indiquer le montant des frais de livraison.
                                  </div>
                              </div> -->
                                           </div>

                                           <div class="ch2 res-pons">
                                               <!-- <p>Vous avancez les frais de livraison</p> -->
                                               <label for="cl2" class="container-cp">Livraison express
                                           <input type="checkbox" class="radio-shipping" id="cl2" name="shipping_type_2" formControlName="shipping_type_2" value="1">
                                       <span class="checkmark-cp"></span>   
                                       </label>
                                               <div class="input-group mb-3 m-b-0" style="margin-bottom: 0 !important;">

                                                   <div class="flx-bx">


                                                       <input type="hidden" class="" name="shipping_type_2_text" formControlName="shipping_type_2_text" value="Livraison express">



                                                       <div class=" " style="width: 50%;">

                                                           <input type="text" class="form-control" placeholder="0" name="shipping_price_2" formControlName="shipping_price_2">

                                                       </div>
                                                       <div>
                                                           <span class=""><i class="fa-solid fa-euro"></i></span>
                                                       </div>
                                                   </div>
                                               </div>
                                               <!-- <div *ngIf="formBeforeFifthStepFun['shipping_price_2'].touched && formBeforeFifthStepFun['shipping_price_2'].invalid">
                                  <div *ngIf="formBeforeFifthStepFun['shipping_price_2'].errors && formBeforeFifthStepFun['shipping_price_2'].errors['required']" class="clr-sky">Veuillez indiquer le montant des frais de livraison.
                                  </div>
                              </div> -->
                                           </div>

                                           <div class="ch3 res-pons">
                                               <!-- <p>Vous avancez les frais de livraison</p> -->
                                               <label for="cl3" class="container-cp">Choisir votre mode de livraison
                                           <input type="checkbox" class="radio-shipping" id="cl3" name="shipping_type_4" formControlName="shipping_type_4" value="1">
                                           <span class="checkmark-cp"> </span>
                                       </label>

                                               <div class="flx-bx">

                                                   <div class="">
                                                       <input type="text" class="form-control th-ird" placeholder="DHL, UPS, FedEx, USPS" name="shipping_type_4_text" formControlName="shipping_type_4_text">
                                                   </div>


                                                   <div class="">
                                                       <input type="text" class="form-control" placeholder="0" name="shipping_price_4" formControlName="shipping_price_4">
                                                   </div>
                                                   <div><span class=""><i class="fa-solid fa-euro shipping_price_4"></i></span></div>
                                               </div>

                                               <!-- <div *ngIf="formBeforeFifthStepFun['shipping_price_4'].touched && formBeforeFifthStepFun['shipping_price_4'].invalid">
                                  <div *ngIf="formBeforeFifthStepFun['shipping_price_4'].errors && formBeforeFifthStepFun['shipping_price_4'].errors['required']" class="clr-sky">Veuillez indiquer le montant des frais de livraison.
                                  </div>
                              </div> -->
                                           </div>
                                           <div class="ch4 res-pons">
                                               <!-- <p>Vous avancez les frais de livraison</p> -->
                                               <label for="cl4" class="container-cp">Livraison gratuite
                                           <input type="checkbox" class="radio-shipping-3" id="cl4" name="shipping_type_3" formControlName="shipping_type_3" value="1">
                                           <span class="checkmark-cp"></span>
                                 </label>
                                               <div class="flx-bx ">


                                                   <input type="hidden" class="" name="shipping_type_3_text" formControlName="shipping_type_3_text" value="Livraison gratuite">

                                               </div>
                                           </div>
                                       </div>

                                   </div>
                               </div>



                               <!-- <div class="row p-b-20 mob-p0">
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 mob-p0">

                      <div class="form-group ">

                      </div>



                  </div>
              </div> -->


                               <div class="" style="    display: flex;
                       justify-content: space-between;
                       padding-top: 2rem !important;
                       padding: 0;">
                                   <div class="col-6 col-sm-6 col-md- col-lg-6 mob-p0">
                                       <button class="btn btn-my" (click)="previous()">Retour</button>
                                   </div>
                                   <div class="col-6 col-sm-6 col-md-6 col-lg-6 text-right mob-p0">
                                       <button class="btn btn-my1" (click)="next()">Continuer</button>
                                   </div>






                               </div>

                               <div class="clearfix"></div>
                               <br>
                               <div class="comeBack_up" *ngIf="apiResponseStepFive">
                                   <div *ngIf="apiResponseStepFive.error; else loggedOut">
                                       <div class="alert alert-danger"><strong>{{ apiResponseStepFive.errorMessage }}</strong></div>
                                   </div>
                                   <ng-template #loggedOut>
                                       <div *ngIf="apiResponseStepFive.errorMessage">
                                           <div class="alert alert-success"><strong>{{ apiResponseStepFive.errorMessage }}</strong></div>
                                       </div>
                                   </ng-template>

                               </div>


                               <div class="clearfix"></div><br>
                           </div>
                       </fieldset>
                     </form>

                     <form [formGroup]="formFifthStep" id="msform" class="customer-form">
                        <fieldset *ngIf="step == 6">
                           <div class="row">
                              
                              <div class="row p-t-30 mob-p0">
                                 <!-- <h3 class="h4 mob-p0">Adresse ! </h3> -->
                                 <div class="form-group mob-p0">
                                    <div class="col-md-6 mob-p0">
                                       <label for="" class=""><strong>Adresse</strong> <span class=""></span><span class="required"><small> *</small></span></label>
                                       <input type="text" class="form-control" placeholder="" name="address" formControlName="address" ngx-google-places-autocomplete (onAddressChange)="handleAddressChange($event)">
                                    </div>
                                 </div>
                                 <div *ngIf="formFifthStepFun['address'].touched && formFifthStepFun['address'].invalid" >
                                    <div *ngIf="formFifthStepFun['address'].errors && formFifthStepFun['address'].errors['required']"  class="clr-sky">Veuillez  donner  un adresse.
                                    </div>
                                 </div>
                              </div>

                              <div class="row p-t-30">
                                 <div>
                                    <div class="my-google-map">
                                      <google-map [options]="mapOptions" height="500px"
                                      width="100%">
                                         <map-marker [position]="marker.position"></map-marker>
                                      </google-map>
                                   </div>
                                  </div>
                              </div>
                              

                              <div class="row p-t-30">
                                 <div class="col-6 col-sm-6 col-md- col-lg-6 mob-p0">
                                    <button class="btn btn-my" (click)="previous()" >Retour</button>
                                 </div>
                                 <div class="col-6 col-sm-6 col-md-6 col-lg-6 text-right mob-p0">
                                    <button class="btn btn-my1" (click)="next()">Continuer</button>
                                 </div>
                              </div>

                           </div>
                        </fieldset>
                     </form>

                     <form [formGroup]="formSixStep" id="msform" class="customer-form">
                        <fieldset *ngIf="step == 7">
                           <div class="row">
                              
                              <div class="row p-t-30 mob-p0">
                                 <div class="col-12 col-sm-12 col-md-12 col-lg-12 mob-p0">
                                    <h5 class="mob-p0">Vos coordonnées</h5>
                                    <div class="row p-t-30 mob-p0">
                                       <div class="col-12 col-sm-12 col-md-12 col-lg-12 mob-p0">
                                           <label for="" class="">
                                              <strong>Raison sociale</strong>
                                              <span class="required"> *</span>
                                           </label>
                                           <input type="text" class="form-control bg-white" id="" placeholder="" name="enterprise" formControlName="enterprise" [(ngModel)]="enterprise">
                                           <div *ngIf="formSixStepFun['enterprise'].touched && formSixStepFun['enterprise'].invalid" >
                                              <div *ngIf="formSixStepFun['enterprise'].errors && formSixStepFun['enterprise'].errors['required']"  class="clr-sky">Veuillez  donner  un nom.
                                              </div>
                                           </div>
                                        </div>
                                   </div>
                                   
                                    <div class="row p-t-30 mob-p0">
                                       <div class="col-12 col-sm-6 col-md-6 col-lg-6 mob-p0">
                                          <label for="nom" class=""><strong>Nom </strong><span class="required"> *</span></label>
                                          <input type="text" class="form-control bg-white" id="" placeholder="" name="lastName" formControlName="lastName" readonly [(ngModel)]="lastName">

                                          <!-- <div *ngIf="formSixStepFun['lastName'].touched && formSixStepFun['lastName'].invalid" >
                                             <div *ngIf="formSixStepFun['lastName'].errors && formSixStepFun['lastName'].errors['required']"  class="clr-sky">Veuillez  donner  un nom.
                                             </div>
                                          </div> -->

                                       </div>
                                       <div class="col-12 col-sm-6 col-md-6 col-lg-6 mob-p0">
                                          <label for="prénom" class=""><strong>Prénom </strong><span class="required"> *</span></label>
                                          <input type="text" class="form-control bg-white" id="" placeholder="" name="firstName" formControlName="firstName" readonly [(ngModel)]="firstName">

                                          <!-- <div *ngIf="formSixStepFun['firstName'].touched && formSixStepFun['firstName'].invalid" >
                                             <div *ngIf="formSixStepFun['firstName'].errors && formSixStepFun['firstName'].errors['required']"  class="clr-sky">Veuillez  donner  un prénom.
                                             </div>
                                          </div> -->

                                       </div>
                                    </div>
                                    <div class="row p-t-30 mob-p0">
                                       <div class="col-12 col-sm-6 col-md-6 col-lg-6 mob-p0">
                                          <label for="email" class=""><strong>Email </strong><span class="required"> *</span></label>
                                          <input type="email" class="form-control bg-white" id="email" placeholder="" name="email" formControlName="email" [(ngModel)]="user_email" readonly>											   
                                       </div>
                                       <div class="col-12 col-sm-6 col-md-6 col-lg-6 mob-p0">
                                          <label for="téléphone" class=""><strong>Téléphone </strong><span class="required"> *</span></label>
                                          <input type="number" class="form-control bg-white" id="" placeholder="" name="mobileNumber" formControlName="mobileNumber" [(ngModel)]="user_mobileNumber">

                                          <div *ngIf="formSixStepFun['mobileNumber'].touched && formSixStepFun['mobileNumber'].invalid" >
                                             <div *ngIf="formSixStepFun['mobileNumber'].errors && formSixStepFun['mobileNumber'].errors['required']"  class="clr-sky">Veuillez  donner  un téléphone.
                                             </div>
                                          </div>

                                       </div>
                                    </div>
                                 </div>
                                 <div class="p-t-30 mob-p0">
                                    <label class="switch switchh">
                                    <input type="checkbox" name="hideNumber" formControlName="hideNumber" vlaue="1">
                                    <span class="slider round"></span>
                                    </label>
                                    <span class="masqur">Masquer le numéro</span>
                                 </div>
                                 <p class="mob-p0">En validant la diffusion de mon annonce, j'accepte les conditions générales d'utilisation, les règles de diffusion du site porschists.com
                                    et j'autorise porschists.com à diffuser mon annonce</p>
                                 <div class="row p-t-30">
                                    <div class="col-6 col-sm-6 col-md- col-lg-6 mob-p0">
                                       <button class="btn btn-my" (click)="previous()" >Retour</button>
                                    </div>
                                    <div class="col-6 col-sm-6 col-md-6 col-lg-6 text-right mob-p0">
                                       <button class="btn btn-my1" (click)="next()">Continuer</button>
                                    </div>
                                 </div>




                                 <div class="clearfix"></div>
                                 <br>
                                 <div class="comeBack_up" *ngIf="apiResponse_new">
                                    <div *ngIf="apiResponse_new.error; else loggedOut">
                                    <div class="alert alert-danger"><strong>{{ apiResponse_new.errorMessage }}</strong></div>
                                    </div>
                                    <ng-template #loggedOut>
                                       <div *ngIf="apiResponse_new.errorMessage">
                                          <div class="alert alert-success"><strong>{{ apiResponse_new.errorMessage }}</strong></div>
                                       </div>
                                       </ng-template>
                                 
                                 </div>


                                 <div class="clearfix"></div><br>



                              </div>
                              
                              
                           </div>
                        </fieldset>
                     </form>
                     
                     
                     <form [formGroup]="formSevenStep" id="msform" class="customer-form">
                        <fieldset *ngIf="step == 8">
                          <input type="hidden" name="ad_id" formControlName="ad_id" [(ngModel)]="ad_id">
                          <input type="hidden" name="user_id" formControlName="user_id" [(ngModel)]="user_id">
                          
                           <div class="row">
                             <div class="row p-t-30 mob-p0">
                                <div class="grid-products grid--view-items shop-grid-5 prd-grid mob-p0">
                                   <div class="row">
                                      <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 item text-left b-0 mob-p0">
                                         <div class="new-div shado-div">
                                            <!--Start Product Image-->
                                            <div class="">
                                                <div class="top-sec">
                                                   <ng-container *ngFor="let objImg of allAddPriceImage">
                                                      <div class="seprat">
                                                         <ng-container *ngIf="objImg.accessoires_image.length > 0; else elseImg">
                                                            <img class="scrol-img" src="{{base_url_node_only}}{{objImg.accessoires_image[0].path}}" width="120" height="150">
                                                         </ng-container>
                                                         <ng-template #elseImg>
                                                            <img class="scrol-img" src="assets/images/products/car-888.jpg">
                                                         </ng-template>
                                                         

                                                         <div>
                                                            <h1 class="mb-1">{{objImg.ad_name}} </h1>
                                                            <p><span class="price">{{objImg.price}} <i class="fa-solid fa-euro-sign"></i></span></p>
                                                         </div>
                                                      </div>
                                                   </ng-container>
                                                   

                                                </div>
                                               <div class="text-center p-t-10">
                                                  <h3 class="text-center">Abonnement mensuel standard, par nombre d'annonce </h3>
                                                  <!-- <a href="javascript:void(0)"  class="an-ker1">Aperçu</a> -->
                                               </div>
                                               <div>
                                                <div class="top-sec">
                                                   <ul class="jour">
                                                      <ng-container *ngFor="let objUserPlanNormal of allUserParticularPlan let i=index">
                                                      <li>
                                                         <div class="form-check p-l-0">
                                                            <input type="radio" class="input-chk-box mr-15" id="" name="proUserAd" formControlName="proUserAd" value="{{objUserPlanNormal._id}}" (click)="onItemChange(objUserPlanNormal.price)">
                                                            <label class="form-check-label lbl-float lbl-w" for="check4"> 
                                                                
                                                               
                                                               Vente de 0/{{objUserPlanNormal.maximum_upload}} annonces de P&A

                                                            </label>
                                                            <span class="r-price-spn">{{objUserPlanNormal.price}} <i class="fa-solid fa-euro-sign"></i> (HT) / mensuel</span>
                                                         </div>
                                                      </li>
                                                      </ng-container>
                                                    </ul>
                                                </div>
                                                   
                                               </div>
                                            </div>
                                            <!--End Product Image-->
                                         </div>
                                      </div>
                                       <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 item text-left b-0 mob-p0">
                                          <div class="new-div shado-div">
                                             <!--Start Product Image-->
                                             <div class="">
                                                <div class="top-sec">
                                                   <ng-container *ngFor="let objImg of allAddPriceImage">
                                                      <div class="seprat">
                                                         <ng-container *ngIf="objImg.accessoires_image.length > 0; else elseImg">
                                                            <img class="scrol-img" src="{{base_url_node_only}}{{objImg.accessoires_image[0].path}}" width="120" height="150">
                                                         </ng-container>
                                                         <ng-template #elseImg>
                                                            <img class="scrol-img" src="assets/images/products/car-888.jpg">
                                                         </ng-template>
                                                         

                                                         <div>
                                                            <h5>{{objImg.ad_name}} </h5>
                                                            <p><span class="price">{{objImg.price}} <i class="fa-solid fa-euro-sign"></i></span></p>
                                                         </div>
                                                      </div>
                                                   </ng-container>
                                                   

                                                </div>
                                                <div class="text-center p-t-10">
                                                   <h3 class="text-center">Abonnement mensuel premium, par nombre d'annonce (vous placez vos annonces en tête de liste des résultats de recherche)
                                                   </h3>
                                                   <!-- <a href="javascript:void(0)"  class="an-ker1">Aperçu</a> -->
                                                </div>
                                                <div>
                                                <div class="top-sec">
                                                   <ul class="jour">
                                                      <ng-container *ngFor="let objUserPlanNormal of allUserParticularPlanTopSearch let i=index">
                                                      <li>
                                                         <div class="form-check p-l-0">
                                                            <input type="radio" class="input-chk-box mr-15" id="" name="proUserAd" formControlName="proUserAd" value="{{objUserPlanNormal._id}}" (click)="onItemChangeSec(objUserPlanNormal.top_price)">
                                                            <label class="form-check-label lbl-float lbl-w" for="check4">
                                                               
                                                               
                                                               
                                                               Vente de 0/{{objUserPlanNormal.maximum_upload}} annonces de P&A

                                                            </label>
                                                            <span class="r-price-spn">{{objUserPlanNormal.top_price}} <i class="fa-solid fa-euro-sign"></i> (HT) / mensuel</span>
                                                         </div>
                                                      </li>
                                                      </ng-container>
                                                   </ul>
                                                </div>
                                                   
                                                </div>
                                             </div>
                                             <!--End Product Image-->
                                          </div>
                                       </div>
                                      <!-- <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 item text-left b-0 mob-p0">
                                         <div class="new-div shado-div">
                                             
                                         </div>
                                      </div> -->
                                      
                                      <!--End Product Details-->
                                      <div>
                                       <h6>
                                          Sélectionner votre mode de paiement</h6>
                                    </div>
                                      <div class="col-6 col-sm-6 col-md-6 col-lg-4 col-xl-4 item text-left b-0 mob-p0">
                                         <div class="form-check p-l-0">
                                            <input type="radio" class="input-chk-box mr-15 mt-11" id="" name="paymentType" formControlName="paymentType" value="Stripe" >
                                            <label class="form-check-label lbl-float lbl-w" for="check4">Carte bancaire</label>
                                         </div>
                                      </div>
                                      <div class="col-6 col-sm-6 col-md-6 col-lg-4 col-xl-4 item text-left b-0 mob-p0">
                                         <div class="form-check p-l-0">
                                            <input type="radio" class="input-chk-box mr-15 mt-11" id="" name="paymentType" formControlName="paymentType" value="Paypal" >
                                            <label class="form-check-label lbl-float lbl-w" for="check4">Paypal</label>
                                         </div>
                                      </div>
                                   </div>
                                   </div>
                                   
                                   <div class="row">
                                   <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                   <p>En cliquant sur valider et payer, je reconnais avoir lu et accepté les <a href="/termsCondition" class="an-ker" target="_blank">Conditions générales de vente </a> et renonce à mon droit de  rétractation. En validant ma commande, j'accepte  le commencement immédiat de la prestation. </p>
                                
                                   <div class="row  bottom-d">
  
                                      <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                                         <span class="an-ker1">{{final_plan_price}}<i class="fa-solid fa-euro"></i></span><br><span class="an-ker12">Détail du paiement</span>
                                      </div>
                                      <div class="col-12 col-sm-6 col-md-6 col-lg-6 text-right align-self-c">
                                         <button type="submit" class="btn btn-my btn-publier" (click)="next()">Continuer</button>
                                         
                                      </div>
                                      </div>
                                      </div>
  
  
                                   </div>
                                   <div class="clearfix"></div>
                                   <br>
                                   <div class="comeBack_up" *ngIf="apiResponseLast">
                                      <div *ngIf="apiResponseLast.error; else loggedOut">
                                      <div class="alert alert-danger"><strong>{{ apiResponseLast.errorMessage }}</strong></div>
                                      </div>
                                      <ng-template #loggedOut>
                                         <div *ngIf="apiResponseLast.errorMessage">
                                            <div class="alert alert-success"><strong>{{ apiResponseLast.errorMessage }}</strong></div>
                                         </div>
                                      </ng-template>
                                   
                                   </div>
                                   <div class="clearfix"></div><br>
                             </div>
                           </div>
                        </fieldset>
                     </form>


                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>