<app-header></app-header>
<div id="page-content" class="">
  <!--Container-->
  <div class="container pt-30">
     <!--Main Content-->
     <div class="row">
        <div class="p-0">
           <h3 class="m-t-20"><a routerLink="/viewUserProfile/{{user_id}}"><i class="fa-solid fa-arrow-left"></i> Données personnelles</a></h3>
        </div>
        
        <div class="row width-m">
          <form [formGroup]="form" (ngSubmit)="submit()" class="customer-form">	
            <div class="row p-0">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 main-col mob-p-0 m-a">
                <div class="mb-3">
                  <div class="row">
                    
                    <div class="col-5 p-0">
                      <h4 class="mb-0">Raison sociale</h4>
                      <input type="text" class="form-control in-styl" id="" placeholder="Raison sociale" name="enterprise" [(ngModel)]="enterprise" formControlName="enterprise">

                      <div *ngIf="f['enterprise'].touched && f['enterprise'].invalid" class="validation_error">
                        <div class="error" *ngIf="f['enterprise'].errors && f['enterprise'].errors['required']">Le nom est obligatoire.</div>
                      </div>
                    </div>
                    
                    <div class="col-5 p-0">
                      <h4 class="mb-0">Info complémentaire </h4>
                      <input type="text" class="form-control in-styl" id="" placeholder="Info complémentaire " name="additional_information" [(ngModel)]="additional_information" formControlName="additional_information">

                      <div *ngIf="f['additional_information'].touched && f['additional_information'].invalid" class="validation_error">
                        <div class="error" *ngIf="f['additional_information'].errors && f['additional_information'].errors['required']">Le nom est obligatoire.</div>
                      </div>
                    </div>

                    <div class="col-5 p-0">
                      <h4 class="mb-0">Numéro de siren </h4>
                      <input type="text" class="form-control in-styl" id="" placeholder="Numéro de siren" name="siret" [(ngModel)]="siret" formControlName="siret">

                      <div *ngIf="f['siret'].touched && f['siret'].invalid" class="validation_error">
                        <div class="error" *ngIf="f['siret'].errors && f['siret'].errors['required']">Numéro de siren obligatoire. </div>
                      </div>
                    </div>


                    
                    <div class="col-5 p-0">
                      <h4 class="mb-0">Adresse</h4>
                    <input class="form-control in-styl" id="" placeholder="Numéro et nom  de voie" [(ngModel)]="address" 
                    input type="text" name="address" formControlName="address" ngx-google-places-autocomplete (onAddressChange)="handleAddressChange($event)"
                    >
                    <div *ngIf="f['address'].touched && f['address'].invalid" class="validation_error">
                      <div class="error" *ngIf="f['address'].errors && f['address'].errors['required']">Le address est obligatoire.</div>
                    </div>
                  </div>
                
                
                  <div class="col-5 p-0">
                      <h4 class="mb-0">Code postal</h4>
                      <input type="number" [(ngModel)]="zip_code" name="zip_code" placeholder="" id="zip_code" formControlName="zip_code" class="form-control in-styl"  />

                    </div>
                    <div *ngIf="f['zip_code'].touched && f['zip_code'].invalid" class="validation_error">
                      <div class="error" *ngIf="f['zip_code'].errors && f['zip_code'].errors['required']">Le code postal est
                        obligatoire.</div> 
                    </div>

                  
                  
                    <div class="col-5 p-0">
                        <h4 class="mb-0">Ville</h4>
                        <input type="text" name="city" placeholder="" id="city" formControlName="city" [(ngModel)]="city" class="form-control in-styl"  />
                      </div>
                      <div *ngIf="f['city'].touched && f['city'].invalid" class="validation_error">
                        <div class="error" *ngIf="f['city'].errors && f['city'].errors['required']">Le ville est
                          obligatoire.</div> 
                      </div>
                   
                  
                    <div class="col-5 p-0">
                        <h4 class="mb-0">Pays</h4>
                        <input type="text" name="country" placeholder="" id="country" formControlName="country" [(ngModel)]="country" class="form-control in-styl"  />
                    </div>
                    <div *ngIf="f['country'].touched && f['country'].invalid" class="validation_error">
                        <div class="error" *ngIf="f['country'].errors && f['country'].errors['required']">Le pays est
                          obligatoire.</div> 
                    </div>

                    <div class="col-5 p-0">
                      <h4 class="mb-0">Activité principale</h4>
                      <input type="text" name="activity_description" placeholder="" id="activity_description" formControlName="activity_description" [(ngModel)]="activity_description" class="form-control in-styl"  />
                    </div>
                    <div class="col-12 p-0">
                      <h4 class="mb-0">Activité principale</h4>
                      <ul class="rli pt-3">
                          <li> <input type="radio" formControlName="main_activity" value="car" class="main_activity_class" [(ngModel)]="main_activity"> &nbsp;Vendeur de voiture</li>
                          <li><input type="radio" formControlName="main_activity" value="accessoires" class="main_activity_class"  [(ngModel)]="main_activity">&nbsp;&nbsp;Vendeur de pièce et accessoire &nbsp;</li>

                          <li> <input type="radio" formControlName="main_activity" value="Centre Porsche" class="main_activity_class"  [(ngModel)]="main_activity">&nbsp;&nbsp;Centre Porsche &nbsp;</li>

                          <li> <input type="radio" formControlName="main_activity" value="other" class="main_activity_class"  [(ngModel)]="main_activity">&nbsp;&nbsp;Autre &nbsp;</li>
                      </ul>
                    </div>

                    <div class="col-5 p-0">
                      <h4 class="mb-0">Site internet (URL)</h4>
                      <input type="text" name="website_url" placeholder="" id="website_url" formControlName="website_url" [(ngModel)]="website_url" class="form-control in-styl"  />
                    </div> 
                    </div>
                    <div class="row">
                      <h3> Personne de contact </h3>
                    
                    <div class="col-12 p-0">
                      <h4 class="mb-0">Civilité</h4>
                      <label class="form-check-label" for="fci2">
    
                          <input type="radio" name="gender"   id="fci2" class="form-check-input fci" [(ngModel)]="gender"
                          (click)="genderClick('M')">M.
                      </label>

                      <label class="form-check-label" for="fci1">
                          <input type="radio" name="gender"  id="fci1" class="form-check-input fci" (click)="genderClick('F')" [(ngModel)]="gender">Mme.
                      </label>
                    </div> 

                    
                    <div class="col-5 p-0">
                        <h4 class="mb-0">Prénom</h4>
                      <input type="text" class="form-control in-styl" id="" placeholder="Prénom" name="firstName" formControlName="firstName" [(ngModel)]="firstName" >
    
                      <div *ngIf="f['firstName'].touched && f['firstName'].invalid" class="validation_error">
                        <div class="error" *ngIf="f['firstName'].errors && f['firstName'].errors['required']">Le prénom est obligatoire.</div>
                      </div>
    
                    </div>
                    <div class="col-5 p-0">
                        <h4 class="mb-0">Nom</h4>
                      <input type="text" class="form-control in-styl" id="" placeholder="Nom" name="lastName" [(ngModel)]="lastName" formControlName="lastName">
  
                      <div *ngIf="f['lastName'].touched && f['lastName'].invalid" class="validation_error">
                        <div class="error" *ngIf="f['lastName'].errors && f['lastName'].errors['required']">Le nom est obligatoire.</div>
                      </div>
  
                    </div>
                   
                    <div class="col-5 p-0">
                      <h4 class="mb-0">Fonction </h4>
                      <p > Exemple CEO, directeur commercial, vendeur...</p>
                    <input type="text" class="form-control in-styl" id="" placeholder="Fonction" name="ceo" [(ngModel)]="ceo" formControlName="ceo">

                    <div *ngIf="f['ceo'].touched && f['ceo'].invalid" class="validation_error">
                      <div class="error" *ngIf="f['ceo'].errors && f['ceo'].errors['required']">Fonction obligatoire.</div>
                    </div>

                  </div>

                  <div class="col-5 p-0">
                    <h4 class="mb-0">Adresse e-mail</h4>
                  <input type="email" class="form-control in-styl" id="" placeholder="Adresse e-mail" name="email" formControlName="email" [(ngModel)]="user_email" >

                  <div *ngIf="f['email'].touched && f['email'].invalid" class="validation_error">
                    <div class="error" *ngIf="f['email'].errors && f['email'].errors['required']">Le email est obligatoire.</div>
                    <div class="error" *ngIf="f['email'].errors && f['email'].errors['pattern']">Veuillez entrer une adresse e-mail valide.</div>
                  </div>

                </div>

                <div class="col-5 p-0">
                  <h4 class="mb-0">Indicatif </h4> 
                <input type="text" class="form-control in-styl" id="" placeholder="Indicatif" name="area_code" [(ngModel)]="area_code" formControlName="area_code">

                <div *ngIf="f['area_code'].touched && f['area_code'].invalid" class="validation_error">
                  <div class="error" *ngIf="f['area_code'].errors && f['area_code'].errors['required']">Indicatif obligatoire.</div>
                </div>

              </div>
                    <div class="col-5 p-0">
                      <h4 class="mb-0">Téléphone  </h4>
                    <input type="number" class="form-control in-styl" id="" placeholder="Téléphone" name="mobileNumber" formControlName="mobileNumber" [(ngModel)]="user_mobileNumber" >
  
                    <div *ngIf="f['mobileNumber'].touched && f['mobileNumber'].invalid" class="validation_error">
                      <div class="error" *ngIf="f['mobileNumber'].errors && f['mobileNumber'].errors['required']">Le numéro de portable est obligatoire.</div>
                    </div>
  
                  </div>
                  <div class="col-5 p-0">
                      <h4 class="mb-0">Portable </h4>
                    <input type="number" class="form-control in-styl" id="" placeholder="Portable" name="portable" formControlName="portable" [(ngModel)]="portable" >
                  </div>
                  <div class="col-5 p-0">
                      <h4 class="mb-0">WhatsApp</h4>
                    <input type="number" class="form-control in-styl" id="" placeholder="WhatsApp" name="whatsapp" formControlName="whatsapp" [(ngModel)]="whatsapp" >
                  </div>
                  
                  <!-- <div class="row pt-20">
                   
                    <div class="col-2 p-0">  <h4>Date de naissance</h4></div>
                    <div class="col-10 p-0">
                      <input type="text" class="form-control in-styl" id="" placeholder="" name="date_of_birth" formControlName="date_of_birth" [(ngModel)]="date_of_birth" >
    
                      <div *ngIf="f['date_of_birth'].touched && f['date_of_birth'].invalid" class="validation_error">
                        <div class="error" *ngIf="f['date_of_birth'].errors && f['date_of_birth'].errors['required']">Le date de naissance est obligatoire.</div>
                      </div>
    
                    </div>
                  </div> -->
  
  
                  
                    <div class="col-12 mb-3">
                        <h4 class="mb-0">Image</h4>
                      <div class="icon-parent">
                        <img src="{{userImage}}" height="150" width="150" class="added-img">
                        <i class="fa fa-pencil edit-icon" ></i>
                      </div>
                     
                    </div>
                    
                    <div class="col-12 mb-3">
                      
                      <input
                        formControlName="images"
                        id="images"
                        type="file"
                        (change)="onFileChange($event)"
                        accept="image/png, image/jpeg, image/jpg, image/gif">
                      <div *ngIf="f['images'].touched && f['images'].invalid" class="validation_error">
                          <div *ngIf="f['images'].errors && f['images'].errors['required']">Le fichier est requis.</div>
                      </div>
    
                    </div>
                    
                   
                    
                    <div class="col-12 mb-3">
                      <h4 class="mb-0">Logo</h4>
                    <div class="icon-parent">
                      <img src="{{base_url_node_only}}public/uploads/userProfile/{{old_companyImage}}" height="150" width="150" class="added-img">
                      <i class="fa fa-pencil edit-icon" ></i>
                    </div>
                   
                  </div>
                  
                  <div class="col-12 mb-3">
                    
                    <input
                      formControlName="companyImage"
                      id="companyImage"
                      type="file"
                      (change)="onFileChange2($event)"
                      accept="image/png, image/jpeg, image/jpg, image/gif">
                    <div *ngIf="f['companyImage'].touched && f['companyImage'].invalid" class="validation_error">
                        <div *ngIf="f['companyImage'].errors && f['companyImage'].errors['required']">Le fichier est requis.</div>
                    </div>
  
                  </div>


                      

                   
                  </div>
                  <div class="clearfix"></div><br>
                  <div class="row">
                    <div class="text-left col-12 col-sm-12 col-md-12 col-lg-12">
                       <p class="d-flex-center">
                          <button type="submit" class="btn rounded me-auto w-100" >Valider</button>
                       </p>
                       <div class="clearfix"></div>
                       <br>
                       <div class="comeBack_up" *ngIf="apiResponse">
                         <div *ngIf="apiResponse.error; else loggedOut">
                           <div class="alert alert-danger"><strong>{{ apiResponse.errorMessage }}</strong></div>
                         </div>
                         <ng-template #loggedOut>
                           <div  *ngIf="apiResponse.errorMessage;" class="alert alert-success"><strong>{{ apiResponse.errorMessage }}</strong></div>
                         </ng-template>
                       </div>
  
                    </div>
                 </div>
                </div>
              </div>
            </div>
          </form>
          
        </div>
        


     </div>
     <!--End Main Content-->
     <!--End Container-->
  </div>
</div>
<app-footer></app-footer>