<app-mobile-header></app-mobile-header>

<!--Page Wrapper-->
<div class="page-wrapper">

  <app-header-for-ad></app-header-for-ad>

   <div id="page-content" class="bg-back page-adjust">
               <!--Container-->
      <div class="container  max-992">
         <!--Main Content-->
         <div class="pt-2 pt-lg-5">
            <div class="row post-ad-div">
               <div class="col-12 col-sm-12 col-md-12 col-lg-12 mb-4 mb-md-0 mob-p0">
                  <div class="">

                      

                     <form [formGroup]="formFourthStep" id="msform" class="customer-form">
                      <fieldset *ngIf="step == 1" >
                         <div class="row">
                           <input type="hidden" name="ad_id" formControlName="ad_id" [(ngModel)]="ad_id">
                             <div class="row p-t-30 mob-p0">
                              <h3 class="h4 mob-p0">Télécharger vos photos</h3>

                               <div class="col-12 col-sm-12 col-md-12 col-lg-12 mb-4 mb-md-0 p-0 mob-p0">
                                  <div class="upload__box">
                                     <div class="upload__btn-box">
                                        <label class="upload__btn float-left">
                                           
                                           <p><i class="fa-solid fa-camera fa-cam"></i></p>
                                           <p>Télécharger vos photos</p>
                                           
                                           <input formControlName="file" id="file" type="file" class="" multiple=""
                                           (change)="onFileChangeNew($event)" style="display:none;">
                                        </label>
                                     </div>
                                     <div class="upload__img-wrap" >
                                        <div  data-number="0" data-file="01-24-510x270.jpg" class="img-bg" >
                                           <!--<div class="upload__img-close"></div>-->
                                        </div>
                                     </div>
                                  </div>
                               </div>

                              <div *ngIf="formFourthStepFun['file'].touched && formFourthStepFun['file'].invalid" >
                                <div *ngIf="formFourthStepFun['file'].errors && formFourthStepFun['file'].errors['required']"  class="clr-sky">Photo obligatoire.
                                </div>
                              </div>


                              <div class="clearfix"></div><br>
                               <div class="col-12 col-sm-12 col-md-12 col-lg-12 mb-4 mb-md-0 p-0 mob-p0">
                                 <div class="row ">
                                    <div class="col-md-12">
                                        <!-- <p>Vous avancez les frais de livraison</p> -->
                                        
                                        <div class="input-group mb-3 m-b-0" style="margin-bottom: 0 !important;">
                                          <input type="radio" class=" " placeholder="0" name="additional_photo_check" formControlName="additional_photo_check" (change)="addiotional_photo_7()" [value]="1"> 
                                          &nbsp;&nbsp;&nbsp;
                                          <div for="" class="additional_photo_label">Augmenter vos chances de vente avec le pack 7 photos supplémentaires pour 9,11 € TTC</div>
                                        </div>
      
                                        <div *ngIf="formFourthStepFun['additional_photo_check'].touched && formFourthStepFun['additional_photo_check'].invalid" >
                                          <div *ngIf="formFourthStepFun['additional_photo_check'].errors && formFourthStepFun['additional_photo_check'].errors['required']"  class="clr-sky">Veuillez sélectionner le pack de photos.
                                          </div>
                                        </div>


                                    </div>
                                 </div>
                              </div>


                               <div class="row">
                                  <div class="col-md-2 img-preview" *ngFor='let url of images let i=index'>
                                     <img [src]="url" width="200px">
                                     <button type="button" class="btn btn-danger btn-sm imgRemoveBtn" (click)="removeImage(url,i)" >X</button>
                                  </div>
                               </div>
                               
                               
                            </div>

                            <div class="row p-t-30">
                              <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 item text-left b-0 mob-p0">
                              </div>
                             <!--End Product Details-->
                             <div>
                                <h6>Sélectionner le mode de paiement</h6>
                             </div>
                             <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 item text-left b-0 mob-p0">
                                <div class="form-check p-l-0">
                                   <input type="radio" class="input-chk-box mr-15" id="" name="paymentType" formControlName="paymentType" value="Stripe" >
                                   <label class="form-check-label lbl-float lbl-w" for="check4">Carte bancaire</label>
                                </div>
                             </div>
                             <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 item text-left b-0 mob-p0">
                                <div class="form-check p-l-0">
                                   <input type="radio" class="input-chk-box mr-15" id="" name="paymentType" formControlName="paymentType" value="Paypal" >
                                   <label class="form-check-label lbl-float lbl-w" for="check4">Paypal</label>
                                </div>
                             </div>

                             <div *ngIf="formFourthStepFun['paymentType'].touched && formFourthStepFun['paymentType'].invalid" >
                                <div *ngIf="formFourthStepFun['paymentType'].errors && formFourthStepFun['paymentType'].errors['required']"  class="clr-sky">Veuillez sélectionner votre mode de paiement.
                                </div>
                             </div>
                            </div>

                            <div class="row p-t-30">
                               <div class="col-6 col-sm-6 col-md- col-lg-6 mob-p0">
                                  <!-- <button class="btn btn-my" (click)="previous()" >Retour</button> -->
                               </div>
                               <div class="col-6 col-sm-6 col-md-6 col-lg-6 text-right mob-p0">
                                  <button class="btn btn-my1" (click)="next()">Continuer</button>
                               </div>

                               <div class="clearfix"></div>
                                 <br>
                                 <div *ngIf="fileError" class="alert alert-danger">{{fileError}}</div>
                                 <div class="comeBack_up" *ngIf="apiResponse2">
                                    <div *ngIf="apiResponse2.error; else loggedOut">
                                    <div class="alert alert-danger"><strong>{{ apiResponse2.errorMessage }}</strong></div>
                                    </div>
                                    <ng-template #loggedOut>
                                       <div *ngIf="apiResponse2.errorMessage">
                                          <div class="alert alert-success"><strong>{{ apiResponse2.errorMessage }}</strong></div>
                                       </div>
                                       </ng-template>
                                 
                                 </div>

                            </div>

                         </div>
                        </fieldset>
                     </form>



                     <form [formGroup]="formSevenStep" id="msform" class="customer-form">
                        <fieldset *ngIf="step == 2">
                           <input type="hidden" name="ad_id" formControlName="ad_id" [(ngModel)]="ad_id">
                           <div class="row">
                              <div class="row p-t-30 mob-p0">
                                 <div class="grid-products grid--view-items shop-grid-5 prd-grid mob-p0">
                                    <div class="row">
                                       <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 item text-left b-0 mob-p0">
                                          <div class="new-div shado-div">
                                             <!--Start Product Image-->
                                             <div class="product-image">
                                                
                                                <div class="top-sec">
                                                   <ng-container *ngFor="let objImg of allAddPriceImage">
                                                      <div class="seprat">
                                                         <ng-container *ngIf="objImg.accessoires_image.length > 0; else elseImg">
                                                            <img class="scrol-img" src="{{base_url_node_only}}{{objImg.accessoires_image[0].path}}" width="120" height="150">
                                                         </ng-container>
                                                         <ng-template #elseImg>
                                                            <img class="scrol-img" src="assets/images/products/car-888.jpg">
                                                         </ng-template>
                                                         

                                                         <div>
                                                            <h5>{{objImg.ad_name}} </h5>
                                                            <p><span class="price">{{objImg.price}} <i class="fa-solid fa-euro-sign"></i></span></p>
                                                         </div>
                                                      </div>
                                                   </ng-container>
                                                </div>

                                                <div class="text-center p-t-10">
                                                   <h3 class="text-center">Coût  de la publicité</h3>
                                                   <a href="javascript:void(0)"  class="an-ker1">Aperçu</a>
                                                </div>
                                                <div>
                                                   <ul class="jour">

                                                      <ng-container *ngFor="let objUserPlanNormal of allUserParticularPlan let i=index">
                                                      <li>
                                                         <div class="form-check p-l-0">

                                                            <ng-container *ngIf="totalImage > objUserPlanNormal.photo_number; else totalImageElse">
                                                               <input [disabled]="true" type="radio" class="input-chk-box mr-15" id="" name="normalUserAd" formControlName="normalUserAd" value="{{objUserPlanNormal._id}}" (click)="onItemChange(objUserPlanNormal.price)" >
                                                            </ng-container>
                                                            <ng-template #totalImageElse>
                                                               <input type="radio" class="input-chk-box mr-15" id="" name="normalUserAd" formControlName="normalUserAd" value="{{objUserPlanNormal._id}}" (click)="onItemChange(objUserPlanNormal.price)" >
                                                            </ng-template>

                                                            <label class="form-check-label lbl-float lbl-w" for="check4">{{objUserPlanNormal.photo_number}} Photo</label>
                                                            <span class="r-price-spn">{{objUserPlanNormal.price}} <i class="fa-solid fa-euro-sign"></i></span>
                                                         </div>
                                                      </li>
                                                      </ng-container>


                                                   </ul>

                                                    
                                                   

                                                 
                                                </div>

                                                

                                             </div>
                                             
                                             <div *ngIf="formSevenStepFun['normalUserAd'].touched && formSevenStepFun['normalUserAd'].invalid" >
                                              <div *ngIf="formSevenStepFun['normalUserAd'].errors && formSevenStepFun['normalUserAd'].errors['required']"  class="clr-sky">Veuillez  donner  un coût  de la publicité.
                                              </div>
                                           </div>
                                             <!--End Product Image-->
                                          </div>
                                       </div>
                                       <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 item text-left b-0 mob-p0">
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 item text-left b-0 mob-p0">
                                        </div>
                                       <!--End Product Details-->
                                       <div>
                                          <h6>Sélectionner le mode de paiement</h6>
                                       </div>
                                       <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 item text-left b-0 mob-p0">
                                          <div class="form-check p-l-0">
                                             <input type="radio" class="input-chk-box mr-15" id="" name="paymentType" formControlName="paymentType" value="Stripe" >
                                             <label class="form-check-label lbl-float lbl-w" for="check4">Carte bancaire</label>
                                          </div>
                                       </div>
                                       <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 item text-left b-0 mob-p0">
                                          <div class="form-check p-l-0">
                                             <input type="radio" class="input-chk-box mr-15" id="" name="paymentType" formControlName="paymentType" value="Paypal" >
                                             <label class="form-check-label lbl-float lbl-w" for="check4">Paypal</label>
                                          </div>
                                       </div>

                                       <div *ngIf="formSevenStepFun['paymentType'].touched && formSevenStepFun['paymentType'].invalid" >
                                          <div *ngIf="formSevenStepFun['paymentType'].errors && formSevenStepFun['paymentType'].errors['required']"  class="clr-sky">Veuillez  donner  un coût  de la publicité.
                                          </div>
                                       </div>


                                    </div>
                                    </div>
                                    <div class="clearfix"></div><br>
                                    <p>En cliquant sur valider et payer, je reconnais avoir lu et accepté les <a href="/termsCondition" class="an-ker" target="_blank">Conditions générales de vente </a> et renonce a mon droitde  rétractation. En validant ma commande, j'accepte  le commencement immédiat de la prestation </p>
                                 
                                    <div class="row  bottom-d">

                                       <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                                          <span class="an-ker1">{{final_plan_price}}<i class="fa-solid fa-euro"></i></span><br><span class="an-ker12">Détail du palement</span>
                                       </div>
                                       <div class="col-12 col-sm-6 col-md-6 col-lg-6 text-right align-self-c">
                                          <button type="submit" class="btn btn-my btn-publier" (click)="next()">Publier une annonce sans booster</button>
                                          
                                       </div>


                                    </div>
                                    <div class="clearfix"></div>
                                    <br>
                                    <div class="comeBack_up" *ngIf="apiResponseLast">
                                       <div *ngIf="apiResponseLast.error; else loggedOut">
                                       <div class="alert alert-danger"><strong>{{ apiResponseLast.errorMessage }}</strong></div>
                                       </div>
                                       <ng-template #loggedOut>
                                          <div *ngIf="apiResponseLast.errorMessage">
                                             <div class="alert alert-success"><strong>{{ apiResponseLast.errorMessage }}</strong></div>
                                          </div>
                                       </ng-template>
                                    
                                    </div>
                                    <div class="clearfix"></div><br>
                              </div>
                           </div>
                        </fieldset>
                     </form>
                      


                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>