<app-header></app-header>
<div id="page-content" class="page-bg page-adjust">
    <!--Container-->
    <div class="container-fluid max-992 p-t-30 p-b-30">
        <!--Main Content-->
        <div class="">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-7 col-lg-8 mb-4 mb-md-0">
                    <div class="inner in-ner nr">
                        <form method="post" action="#" class="customer-form">
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                    <h1 class="m-t-30">Adresse de livraison</h1>
                                    <h2>Informations Personnelles</h2>
                                    <div class="row ">
                                        <div class="form-group p-0">
                                            <label for="" class="">Prénom  <span class="required"> * </span></label>
                                            <div class="input-group mb-3">
                                                <input type="text" class="form-control" placeholder="" value="{{firstName}}" readonly>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row ">
                                        <div class="form-group p-0">
                                            <label for="" class="">Nom <span class="required"> * </span></label>
                                            <div class="input-group mb-3">
                                                <input type="text" class="form-control" placeholder="" value="{{lastName}}" readonly>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row ">
                                        <div class="form-group p-0">
                                            <label for="" class="">Téléphone <span class="required"> * </span></label>
                                            <div class="input-group mb-3">
                                                <input type="text" class="form-control" placeholder="" value="{{mobileNumber}}" readonly>
                                            </div>
                                        </div>
                                    </div>

                                    <form [formGroup]="formAddress" (ngSubmit)="submitAddress()" class="customer-form">
                                        <input type="hidden" name="user_id" formControlName="user_id" [(ngModel)]="user_id">
                                        <input type="hidden" name="latitude" formControlName="latitude" [(ngModel)]="userLatitude">
                                        <input type="hidden" name="longitude" formControlName="longitude" [(ngModel)]="userLongitude">
                                        <div class="row">
                                            <div class="form-group p-0">
                                                <label for="" class="">Ajouter une nouvelle adresse de livraison<span class="required"> * </span></label>

                                                <!-- <label for="" class="">Address de livraison <span class="champ-r">Champ
                                          requis</span></label> -->
                                                <div class="input-group mb-3">
                                                    <input type="text" class="form-control" placeholder="Address de livraison" input type="text" name="address" formControlName="address" ngx-google-places-autocomplete (onAddressChange)="handleAddressChange($event)">
                                                </div>

                                                <div *ngIf="formAddressFun['address'].touched && formAddressFun['address'].invalid" class="validation_error">
                                                    <div class="error" *ngIf="formAddressFun['address'].errors && formAddressFun['address'].errors['required']">
                                                        Le address est obligatoire.</div>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="clearfix"></div><br>
                                        <div class="row">
                                            <div class="text-left col-12 col-sm-12 col-md-12 col-lg-12 p-0">
                                                <p class="d-flex-center">
                                                    <button type="submit" class="btn rounded me-auto w-100">Soumettre</button>
                                                </p>
                                                <div class="clearfix"></div>
                                                <br>
                                                <div class="comeBack_up" *ngIf="apiResponseAddress">
                                                    <div *ngIf="apiResponseAddress.error; else loggedOut">
                                                        <div class="alert alert-danger"><strong>{{ apiResponseAddress.errorMessage
                                                }}</strong></div>
                                                    </div>
                                                    <ng-template #loggedOut>
                                                        <div *ngIf="apiResponseAddress.errorMessage;" class="alert alert-success">
                                                            <strong>{{ apiResponseAddress.errorMessage }}</strong></div>
                                                    </ng-template>
                                                </div>

                                            </div>
                                        </div>


                                    </form>
                                    <div class="row" *ngIf="radioButtonval != 1 ">
                                        <div class="form-group p-0">
                                            <label for="" class="">Sélectionner votre adresse de livraison<span class="required">*</span></label>
                                            <div class="" *ngFor="let add of allDeliveryAddress" style="display: flex;">
                                                <input type="radio" class="form-check-input" id="{{add._id}}" name="optradio" value="{{add._id}}" (change)="getAddress(add._id)">
                                                <label class="form-check-label" for="{{add._id}}">{{add.address}}</label>
                                            </div>
                                            <div class="alert alert-danger" [hidden]="deliveryErr"><strong>Sélectionner
                                       l'adresse</strong></div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-5 col-lg-4 mb-4 mb-md-0">
                    <div class="in-ner1 nr">
                        <div class="row p-t-10" *ngFor="let pro of cartData">
                            <div class="col-3 col-sm-3 col-md-3 col-lg-3 p-0">
                                <img *ngIf="pro.ad_id[0].accessoires_image =='' " alt="terrarium" style="border: 1px solid #f1f1f1;" src="{{base_url_node_only}}public/uploads/no-image.png">
                                <img *ngIf="pro.ad_id[0].accessoires_image !='' " alt="terrarium" style="border: 1px solid #f1f1f1;" src="{{base_url_node_only}}{{pro.ad_id[0].accessoires_image[0].path}}">

                            </div>
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 p-0">
                                <h6>{{pro.ad_id[0].ad_name}}</h6>
                            </div>
                            <div class="col-3 col-sm-3 col-md-3 col-lg-3 text-right">
                                <p class="price-red">{{pro.total_product_price}}<i class="fa-solid fa-euro"></i></p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <!-- <h5>Mode de remise</h5>
                            <div class="col-12 p-0">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-6 mb-2">
                                        <div class="form-check">
                                            <label for="radioch4">
                                                <input type="radio" class="form-check-input" id="radioch4" name="optradio" (change)="getDeliveryPriceFun($event)" value="431" > <span>Livraison standard</span> 
                                                 
                                             </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-6 mb-2">
                                        <div class="form-check">
                                            <label for="radioch3">
                                             <input type="radio" class="form-check-input" id="radioch3" name="optradio"> <span>Autre mode de livraison</span>
                                          </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-6 mb-2">
                                        <div class="form-check">
                                            <label for="radioch2">
                                             <input type="radio" class="form-check-input" id="radioch2" name="optradio"> <span>Livraison express</span>
                                          </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-6 mb-2">
                                        <div class="form-check">
                                            <label for="radioch1">
                                             <input type="radio" class="form-check-input" id="radioch1" name="optradio"> <span>Livraison gratuite</span>
                                          </label>
                                        </div>
                                    </div>

                                </div>
                            </div> -->
                            <!-- <div class="row m-b-15 p-0">
                                <div class="col-2 col-lg-2 col-sm-2 col-md-2">
                                    <div class="form-check">
                                        <input type="radio" class="form-check-input" id="radio1" name="optradio" value="1" (change)="getValue($event)" checked>
                                    </div>
                                </div>
                                <div class="col-8 col-lg-8 col-sm-8 col-md-8 p-0">
                                    <h6 class="m-b-0">Remise en main propre</h6>
                                    <p><small>Payez en ligne et recuperez votre article en main propre lors de votre rendez-vous
                                 avec le vendeur.</small></p>
                                </div>
                                <div class="col-2 col-lg-2 col-sm-2 col-md-2">
                                </div>
                            </div> -->
                            <!-- <div class="row p-0">
                                <div class="col-2 col-lg-2 col-sm-2 col-md-2">
                                    <div class="form-check">
                                        <input type="radio" class="form-check-input" id="radio1" name="optradio" value="2" (change)="getValue($event)">
                                    </div>
                                </div>
                                <div class="col-7 col-lg-7 col-sm-7 col-md-6 p-0">
                                    <h6 class="m-b-0">Mondial Relay</h6>
                                    <p><small>en point Mondial Relay soud 3-5 jours </small></p>
                                </div>
                                <div class="col-3 col-lg-3 col-sm-3 col-md-4 text-right">
                                    <p class="price-red" [hidden]="shippingoff">{{extraPrizes.total_shipping_price}}<i class="fa-solid fa-euro"></i></p>

                                </div>
                            </div> -->
                            <hr class="mt-3">
                            <div class="row p-0">
                                <div class="col-6 col-lg-6 col-sm-6 col-md-6">
                                    <h3>Sous-total </h3>
                                </div>
                                <div class="col-6 col-lg-6 col-sm-6 col-md-6 text-right">

                                    <p class="price-red" *ngIf="shippingoff == false">{{extraPrizes.sub_total}} <i class="fa-solid fa-euro"></i></p>
                                    <p class="price-red" *ngIf="shippingoff == true">{{extraPrizes.total_product_price}} <i class="fa-solid fa-euro"></i></p>
                                </div>
                            </div>

                             
                            <div class="row p-0" *ngIf="item_owner_user_type == 'pro_user' ">
                                <div class="col-6 col-lg-6 col-sm-6 col-md-6">
                                    <h3>TVA ({{extraPrizes.tax_percentage}}%)</h3>
                                </div>
                                <div class="col-6 col-lg-6 col-sm-6 col-md-6 text-right">
                                    <p class="price-red">{{extraPrizes.tax_price}} <i class="fa-solid fa-euro"></i></p>
                                </div>
                            </div>
                            
                            <div class="row p-0">
                                <div class="col-6 col-lg-6 col-sm-6 col-md-6">
                                    <h3>Livraison  </h3>
                                </div>
                                <div class="col-6 col-lg-6 col-sm-6 col-md-6 text-right">
                                    <p class="price-red">{{extraPrizes.total_shipping_price}} <i class="fa-solid fa-euro"></i></p>
                                </div>
                            </div>

                            <div class="row p-0">
                                <div class="col-6 col-lg-6 col-sm-6 col-md-6">
                                    <h3>Total</h3>
                                </div>
                                <div class="col-6 col-lg-6 col-sm-6 col-md-6 text-right">
                                    <p class="price-red" *ngIf="shippingoff == false">{{extraPrizes.final_price}} <i class="fa-solid fa-euro"></i></p>
                                    <p class="price-red" *ngIf="shippingoff == true">{{extraPrizes.final_price}} <i class="fa-solid fa-euro"></i></p>
                                </div>
                            </div>

                            <!-- <div>
                        <button class="btn btn-success" (click)="checkout()">Test</button>
                     </div> -->
                        </div>
                        <div class="alert alert-danger" [hidden]="shippingErr"><strong>Sélectionner le mode de remise</strong>
                        </div>

                    </div>
                    <div class="mt-3">
                        <button class="btn btn-fil" (click)="sendPayment()">
                            Validez votre adresse</button>
                    </div>
                    <div class="clearfix"></div>
                    <br>
                    <div class="comeBack_up" *ngIf="apiResponse2">
                        <div *ngIf="apiResponse2.error; else loggedOut">
                            <div class="alert alert-danger"><strong>{{ apiResponse2.errorMessage }}</strong></div>
                        </div>
                        <ng-template #loggedOut>
                            <div *ngIf="apiResponse2.errorMessage">
                                <div class="alert alert-success"><strong>{{ apiResponse2.errorMessage }}</strong></div>
                            </div>
                        </ng-template>

                    </div>
                </div>



            </div>
        </div>
        <!-- <div class="row p-t-30">
            <div class="col-12 col-lg-12 col-sm-12 col-md-12">
                <p><span class="step"><a>Étape 1/2:payer</a></span></p>
            </div>
        </div> -->
        <!--End Main Content-->
    </div>
    <!--End Container-->
</div>
<app-footer></app-footer>