.btn-fil {
    width: 100% !important;
    margin-top: 12px !important;
    background: #f00 !important;
    color: #fff !important;
    font-size: 16px !important;
    border-radius: 7px;
}

.form-check label span {
    display: inline-block;
    margin-left: 5px;
    font-size: 12px;
}