<app-mobile-header></app-mobile-header>

<!--Page Wrapper-->
<div class="page-wrapper">

  <app-header></app-header>

  <!--Body Container-->
  <div id="page-content" class="">
    <!--Container-->
    <div class="container pt-30">
       <!--Main Content-->
       <div class="row">
          <div class="p-0">
             <h3 class="m-t-20"><i class="fa-solid fa-angle-left"></i> </h3>
          </div>
            <div class="row p-0">
              <h4 class="d-none">Ordres</h4>
              <div class="col-12 col-sm-12 col-md-8 col-lg-8 main-col mob-p-0">
                  <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="" style="">
                          <table class="table align-middle tbl-img">
                              <thead class="bg-light">
                                <tr class="th-trasfm">
                                    <th colspan="3" class="text-start">Article</th>
                                    <th class="">Quantité</th>
                                    <th class="">Total</th>
                                    <th class="">Action</th>
                                </tr>
                              </thead>
                              <tbody>
                                <ng-container *ngFor="let objCartAd of allCartAccessAd">
                                  <tr>
                                    <td scope="row" class="border-bottom mob-plr-0 mob-td-img">
                                      <span>
                                        <a href="#">
                                          <ng-container *ngIf="objCartAd.ad_id[0].accessoires_image.length > 0; else imgAccessImg">
                                            <img class="" src="{{base_url_node_only}}{{objCartAd.ad_id[0].accessoires_image[0].path}}" alt="Sunset" width="120" height="80">
                                          </ng-container>
                                          <ng-template #imgAccessImg>
                                            <img class="" src="{{base_url_node_only}}public/uploads/no-image.png" alt="Sunset" width="120" height="80">
                                          </ng-template>
                                          

                                        </a>
                                      </span>
                                    </td>
                                    <td colspan="2" scope="row" class="border-bottom">
                                      <span><a href="#">{{objCartAd.ad_id[0].ad_name}}</a></span>
                                    </td>
                                    <td scope="row" class="border-bottom">
                                      <span>{{objCartAd.quantity}}</span>
                                    </td>
                                    <td scope="row" class="border-bottom p-mob-pric">
                                      <span><i class="fa-solid fa-euro"></i>{{objCartAd.ad_id[0].price}} </span>
                                    </td>

                                    <td scope="row" class="border-bottom p-mob-pric">
                                      <span> <a href="javascript:void(0)" (click)="deleteCartItem(objCartAd._id)">Retirer l'article</a>  </span>
                                    </td>
                                  </tr>
                                </ng-container>
                              </tbody>
                              <tfoot>
                                <tr>
                                    <td class="p-mob-pric" colspan="4" style="border:1px solid #ddd; border-collapse:collapse; font-size:13px; font-weight:normal; letter-spacing:0.5px; line-height:1.5; text-align:right; padding:8px 10px; margin:0 0 0;">Sous-total :</td>
                                    <td class="p-mob-pric" style="border:1px solid #ddd; border-collapse:collapse; font-size:13px; font-weight:500; letter-spacing:0.5px; line-height:1.5; text-align:center;  margin:0 0 0;"><i class="fa-solid fa-euro-sign"></i>{{total_product_price}}</td>
                                </tr>

                                <tr>
                                  <td class="p-mob-pric" colspan="4" style="border:1px solid #ddd; border-collapse:collapse; font-size:13px; font-weight:normal; letter-spacing:0.5px; line-height:1.5; text-align:right; padding:8px 10px; margin:0 0 0;">Prix d'expédition :</td>
                                  <td class="p-mob-pric" style="border:1px solid #ddd; border-collapse:collapse; font-size:13px; font-weight:500; letter-spacing:0.5px; line-height:1.5; text-align:center;  margin:0 0 0;"><i class="fa-solid fa-euro-sign"></i>{{total_shipping_price}}</td>
                                </tr>
                                <!-- <tr>
                                    <td class="p-mob-pric" colspan="4" style="border:1px solid #ddd; border-collapse:collapse; font-size:13px; font-weight:normal; letter-spacing:0.5px; line-height:1.5; text-align:right; padding:8px 10px; margin:0 0 0;">Paiement Mathod:</td>
                                    <td class="p-mob-pric" style="border:1px solid #ddd; border-collapse:collapse; font-size:13px; font-weight:500; letter-spacing:0.5px; line-height:1.5; text-align:center; padding:8px 10px; margin:0 0 0;">Paypal</td>
                                </tr> -->
                                <tr>
                                    <td class="p-mob-pric" colspan="4" style="border:1px solid #ddd; border-collapse:collapse; font-size:13px; font-weight:normal; letter-spacing:0.5px; line-height:1.5; text-align:right; padding:8px 10px; margin:0 0 0;">Total:</td>
                                    <td class="p-mob-pric" style="border:1px solid #ddd; border-collapse:collapse; font-size:13px; font-weight:500; letter-spacing:0.5px; line-height:1.5; text-align:center;  margin:0 0 0;"><i class="fa-solid fa-euro-sign"></i>{{final_price}}</td>
                                </tr>
                              </tfoot>
                          </table>
                        </div>
                    </div>
                  </div>
                  <div class="row mob-c-end">
                    <div class="col-12 p-0">
                        <!-- <table class="table table-bordered my-tbl">
                          <tbody>
                              <tr>
                                <th>Adresse de livraison</th>
                              </tr>
                              <tr>
                                <td>13, Paris, France</td>
                              </tr>
                          </tbody>
                        </table> -->
                        <div class="panel panel-default">
                          <div class="panel-body">
                            <div class="p-h">
                              <a routerLink="/addShippingAddress" ><h3 class="m-b-0 mob-fs-14">Ajouter l'adresse de livraison</h3></a>
                            </div>

                            <form [formGroup]="form" (ngSubmit)="submit()" class="customer-form">
                              <input type="hidden" name="user_id" formControlName="user_id" [(ngModel)]="user_id">
                              <div class="row pt-20">
                                <h6>Type de paiement</h6>
                                <div class="col-10">
                                  <input type="radio" class="" id="" formControlName="payment_type"  name="payment_type" value="Stripe" >&nbsp;&nbsp; Stripe
                                  &nbsp;&nbsp;<input type="radio" class="" id="" formControlName="payment_type" name="payment_type" value="Paypal" >&nbsp;&nbsp; Paypal

                                  <div *ngIf="f['payment_type'].touched && f['payment_type'].invalid" class="validation_error">
                                    <div class="error" *ngIf="f['payment_type'].errors && f['payment_type'].errors['required']">Veuillez sélectionner le type de paiement.</div>
                                  </div>

                                </div>
                              </div>
                              
                              <div class="row pt-20">
                                <h6>Adresse de livraison</h6>
                                <div class="col-10">
                                  <ng-container *ngFor="let addressObj of allDeliveryAddress">
                                    <input type="radio" class="" id="" formControlName="address_id"  name="address_id" value="{{addressObj._id}}" > &nbsp;&nbsp; {{addressObj.address}}
                                    <div class="clearfix"></div><br>
                                  </ng-container>
                                   
                                  

                                  <div *ngIf="f['address_id'].touched && f['address_id'].invalid" class="validation_error">
                                    <div class="error" *ngIf="f['address_id'].errors && f['address_id'].errors['required']">Veuillez sélectionner l'adresse de livraison.</div>
                                  </div>


                                </div>
                              </div>
                              <div class="clearfix"></div>
                                <br>
                              <div class="row">
                                <div class="text-left col-12 col-sm-12 col-md-12 col-lg-12">
                                   <p class="d-flex-center">
                                      <button type="submit" class="btn rounded me-auto w-100" >Checkout</button>
                                   </p>
                                   <div class="clearfix"></div>
                                   <br>
                                </div>
                              </div>


              
                              <div class="clearfix"></div>
                                <br>
                                <div class="comeBack_up" *ngIf="apiResponse">
                                  <div *ngIf="apiResponse.error; else loggedOut">
                                  <div class="alert alert-danger"><strong>{{ apiResponse.errorMessage }}</strong></div>
                                  </div>
                                  <ng-template #loggedOut>
                                      <div *ngIf="apiResponse.errorMessage">
                                        <div class="alert alert-success"><strong>{{ apiResponse.errorMessage }}</strong></div>
                                      </div>
                                      </ng-template>
                                
                                </div>
              
              
                              <div class="clearfix"></div><br>
              
                            </form>


                          </div>
                        </div>



                    </div>
                  </div>
              </div>


              <div class="col-12 col-sm-12 col-md-4 col-lg-4 cart__footer mob-p-0">
                   
                  <div class="">
                    <div class="panel-body">

                      <form [formGroup]="formAddress" (ngSubmit)="submitAddress()" class="customer-form">	
                        <input type="hidden" name="user_id" formControlName="user_id" [(ngModel)]="user_id">
                        <input type="hidden" name="latitude" formControlName="latitude" [(ngModel)]="userLatitude">
                        <input type="hidden" name="longitude" formControlName="longitude" [(ngModel)]="userLongitude">
                        <div class="row pt-20">
                          <h4>Adresse</h4>
                          <div class="col-2 p-0"><span class="an an-map-marker-alt fs-22"></span></div>
                          <div class="col-10 p-0">
                            <input class="form-control in-styl" id="" placeholder="Adresse" 
                            input type="text" name="address" formControlName="address" ngx-google-places-autocomplete (onAddressChange)="handleAddressChange($event)"
                            >
                            <div *ngIf="formAddressFun['address'].touched && formAddressFun['address'].invalid" class="validation_error">
                              <div class="error" *ngIf="formAddressFun['address'].errors && formAddressFun['address'].errors['required']">Le address est obligatoire.</div>
                            </div>
                            
                          </div>
                        </div>

                        <div class="clearfix"></div><br>
                        <div class="row">
                          <div class="text-left col-12 col-sm-12 col-md-12 col-lg-12">
                            <p class="d-flex-center">
                              <button type="submit" class="btn rounded me-auto w-100" >Se connecter</button>
                            </p>
                            <div class="clearfix"></div>
                            <br>
                            <div class="comeBack_up" *ngIf="apiResponseAddress">
                              <div *ngIf="apiResponseAddress.error; else loggedOut">
                                <div class="alert alert-danger"><strong>{{ apiResponseAddress.errorMessage }}</strong></div>
                              </div>
                              <ng-template #loggedOut>
                                <div  *ngIf="apiResponseAddress.errorMessage;" class="alert alert-success"><strong>{{ apiResponseAddress.errorMessage }}</strong></div>
                              </ng-template>
                            </div>

                          </div>
                      </div>


                      </form>



                    </div>
                  </div>
              </div>


            </div>
        </div>
        <!--End Main Content-->
        <!--End Container-->
      </div>
  </div>
  <!--End page-content-->
  <div class="clearfix"></div>


  <!--End Body Container-->

</div>