<app-mobile-header></app-mobile-header>

<!--Page Wrapper-->
<div class="page-wrapper">

    <app-header></app-header>


    <!--Page Wrapper-->
    <div id="page-content" class="">
        <!--Container-->
        <div class="container max-992">
            <!--Main Content-->
            <div class="login-register pt-2 pt-lg-5 log-mx992">
                <div class="row justify-content-center">
                    <div class="col-12 col-sm-12 col-md-8 col-lg-8 mb-4 mb-md-0">
                        <div class="inner inr-shado">
                            <form [formGroup]="form" (ngSubmit)="submit()" class="customer-form">
                                <h3 class="h4 text-uppercase">Bonjour !</h3>
                                <!-- <p>Connectez-vous à votre communauté.</p> -->
                                <div class="row">
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 p-0">
                                        <div class="form-group">
                                            <label for="CustomerEmail">E-mail <span class="required">*</span></label>
                                            <input type="email" name="email" formControlName="email" placeholder="E-mail" id="CustomerEmail" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" />
                                        </div>

                                        <div *ngIf="f['email'].touched && f['email'].invalid" class="validation_error">
                                            <div class="error" *ngIf="f['email'].errors && f['email'].errors['required']">E-mail obligatoire.</div>
                                            <div class="error" *ngIf="f['email'].errors && f['email'].errors['pattern']">L'email n'est pas valide.</div>
                                        </div>

                                    </div>
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 p-0">
                                        <div class="form-group">
                                            <label for="CustomerPassword">Mot de Passe <span class="required">*</span></label>
                                            <input type="password" formControlName="password" name="password" placeholder="Mot de Passe" id="password" />
                                        </div>

                                        <div *ngIf="f['password'].touched && f['password'].invalid" class="validation_error">
                                            <div class="error" *ngIf="f['password'].errors && f['password'].errors['required']">Mot de passe obligatoire.</div>
                                            <div class="error" *ngIf="f['password'].errors && f['password'].errors['minlength']">Mot de passe doit comporter 6 caractères.</div>
                                        </div>

                                    </div>
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 p-0">
                                        <a routerLink="/forgotPassword">Mot de passe oublié</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="text-left col-12 col-sm-12 col-md-12 col-lg-12 p-0">
                                        <p class="d-flex-center">
                                            <button type="submit" class="btn rounded me-auto w-100">Se connecter</button>
                                        </p>
                                        <div class="clearfix"></div>
                                        <br>
                                        <div class="comeBack_up" *ngIf="apiResponse">
                                            <div *ngIf="apiResponse.error; else loggedOut">
                                                <div class="alert alert-danger"><strong>{{ apiResponse.errorMessage }}</strong></div>
                                            </div>
                                            <ng-template #loggedOut>
                                                <div class="alert alert-success"><strong>{{ apiResponse.errorMessage }}</strong></div>
                                            </ng-template>
                                        </div>



                                    </div>

                                    <div class="clearfix"></div>
                                    <div class="col-md-12 p-0">
                                        <h6>
                                            Vous souhaitez rejoindre notre communauté ? <a routerLink="/registration" class="clr-red">Créer un compte</a>
                                        </h6>
                                    </div>



                                    <!-- <div class="col-md-7">
                              <p>
                                 <a routerLink="/resendVerificationCode">Vérification de l'e-mail</a>
                              </p>
                           </div> -->



                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Main Content-->
        </div>
        <!--End Container-->
    </div>
    <!--End Body Container-->
</div>
<!--Footer-->
<app-footer></app-footer>