<app-mobile-header></app-mobile-header>

<!--Page Wrapper-->
<div class="page-wrapper">

    <app-header></app-header>


    <!--- start filter section--->
    <div id="page-content" class="page-adjust1">


        <section class="section product-slider tab-slider-product">
            <div class="container d-none d-sm-none d-md-none d-lg-block d-xl-block d-xxl-block">
                <form [formGroup]="form" (ngSubmit)="submit()" class="customer-form">
                    <div class="filter_area">
                        <div class="tabs-listing">
                            <div class="tabs">

                                <ul class="tab-list tabs clearfix tabs-style3">
                                    <ng-container *ngFor="let mainCatObj of allCategoryList">
                                        <ng-container *ngIf="mainCatObj.category == categoryTypeForm; else elseCatMainElse">
                                            <li class="active" rel="tab1">
                                                <label for="tab-1">{{mainCatObj.first_heading}}</label>
                                                <input checked="checked" id="tab-1" type="radio" (click)="categoryRadioBtn(mainCatObj.category)" name="categoryType" value="mainCatObj.category" />
                                            </li>
                                        </ng-container>
                                        <ng-template #elseCatMainElse>
                                            <li rel="tab2" class="tab_last"><label for="tab-2"> {{mainCatObj.first_heading}}</label>
                                                <input id="tab-2" name="categoryType" type="radio" (click)="categoryRadioBtn(mainCatObj.category)" value="mainCatObj.category" />

                                            </li>
                                        </ng-template>
                                    </ng-container>






                                </ul>

                            </div>
                            <div class="tab_container">

                                <div class="row">
                                    <div class="col-md-3 space-5 mob-mb-10">

                                        <div class="control">
                                            <div class="searchField">
                                                <div class="input-box d-flex">
                                                    <span class="sr-icon"><i class="fa-solid fa-magnifying-glass"></i></span>
                                                    <input type="text" class="input-text rounded-0 border-0 bg-in srch-blok input-styl dropbtn" placeholder="Que recherchez-vous ?" name="ad_name" formControlName="ad_name">

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-3 space-5 mob-mb-10">

                                        <div class="control">
                                            <div class="searchField">
                                                <div class="input-box d-flex">
                                                    <span class="sr-icon"><i class="fa-solid fa-location-dot"></i></span>

                                                    <input name="address" formControlName="address" ngx-google-places-autocomplete (onAddressChange)="handleAddressChange($event)" class="input-text rounded-0 border-0 bg-in srch-blok input-styl dropbtn" placeholder="Saisissez une autre localisation">
                                                </div>
                                            </div>
                                        </div>



                                        <ul id="myDropdown1" class="srch12 dropdown-content">
                                            <li> <a href="#"><i class="fa-solid fa-location-crosshairs "></i> Autour de moi</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa-solid fa-flag"></i> Toute la France</a>
                                            </li>
                                            <li>
                                                <button class="effacr">Effacer</button><button class="validr">Valider les localisations </button>
                                            </li>

                                        </ul>
                                    </div>
                                    <div class="col-md-3 space-5 mob-mb-10">
                                        <div class="control">
                                            <div class="searchField">
                                                <div class="input-box d-flex">
                                                     
                                                    <select class="input-text rounded-0 border-0 bg-in srch-blok input-styl dropbtn" name="nearByKm">
                                                        <option value="">Rayon (Km)</option>
                                                        <option value="20">20 km</option> 
                                                        <option value="50">50 km</option>
                                                        <option value="100">100 km</option>
                                                        <option value="200">200 km</option>
                                                        <option value="300">300 km</option>
                                                        <option value="400">400 km</option>
                                                        <option value="500">500 km</option>

                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 space-5 mob-mb-10">
                                        <div class="dropdown w-100">
                                            <button class="dropdown-toggle drop-button" data-bs-toggle="dropdown">
                                                Prix 
                                                </button>
                                            <ul class="dropdown-menu">
                                                <li class="m-b-0">
                                                    <div class="row">
                                                        <h3 class="">Prix</h3>
                                                        <div class="col m-b-10">
                                                            <label class="lbl">Minimum</label>
                                                            
                                                            <ng-container *ngIf="categoryTypeForm == 'Porsche Voitures'; else elseMinPrc">
                                                                <select class="form-control" name="minPrice" formControlName="minPrice">
                                                                    <option value="10000">10 000 €</option>
                                                                    <option value="20000">20 000 €</option>
                                                                    <option value="30000">30 000 €</option>
                                                                    <option value="40000">40 000 €</option>
                                                                    <option value="50000">50 000 €</option>
                                                                    <option value="60000">60 000 €</option>
                                                                    <option value="70000">70 000 €</option>
                                                                    <option value="80000">80 000 €</option>
                                                                    <option value="90000">90 000 €</option>
                                                                    <option value="100000">100 000 €</option>
                                                                    <option value="125000">125 000 €</option>
                                                                    <option value="150000">150 000 €</option>
                                                                    <option value="175000">175 000 €</option>
                                                                    <option value="200000">200 000 €</option>
                                                                </select>
                                                            </ng-container>
                                                            <ng-template #elseMinPrc>
                                                                <input type="number" class="form-control" placeholder="Minimum" name="minPrice" formControlName="minPrice">
                                                            </ng-template>
                                                            <!--  -->
                                                            
                                                        </div>
                                                        <div class="col">
                                                            <label class="lbl">Maximum</label>
                                                            <ng-container *ngIf="categoryTypeForm == 'Porsche Voitures'; else elseMinPrc2">
                                                                <select class="form-control" name="maxPrice" formControlName="maxPrice">
                                                                    <option value="10000">10 000 €</option>
                                                                    <option value="20000">20 000 €</option>
                                                                    <option value="30000">30 000 €</option>
                                                                    <option value="40000">40 000 €</option>
                                                                    <option value="50000">50 000 €</option>
                                                                    <option value="60000">60 000 €</option>
                                                                    <option value="70000">70 000 €</option>
                                                                    <option value="80000">80 000 €</option>
                                                                    <option value="90000">90 000 €</option>
                                                                    <option value="100000">100 000 €</option>
                                                                    <option value="125000">125 000 €</option>
                                                                    <option value="150000">150 000 €</option>
                                                                    <option value="175000">175 000 €</option>
                                                                    <option value="200000">200 000 €</option>
                                                                </select>
                                                            </ng-container>
                                                            <ng-template #elseMinPrc2>
                                                                
                                                                <input type="number" class="form-control" placeholder="Maximum" name="maxPrice" formControlName="maxPrice"> 
                                                            </ng-template>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>

                                    </div>

                                </div>

                                <div id="tab1" class="tab_content grid-products" *ngIf="tab1Div == true" style="display: block;">
                                    <div class="filter-section-area">
                                        <div class="search_filter_area">

                                            <div class="div-ad-filtr">
                                                <button id="show" class="ad-filtr" *ngIf="showDivButton == true" (click)="showSlide()">
                                                    <!--Afficher plus de filtres-->
                                                    Filtres avancés
                                                    <i class="fa-solid fa-arrow-down ad-filtr-i"></i>
                                                </button>
                                                <!--<i class="fa-solid fa-arrow-down ad-filtr-i" ></i></button>-->
                                            </div>
                                        </div>

 

                                        <div class="dad" *ngIf="showDiv == true">
                                            <div class="row">



<div class="col-12">
    <!-- <ul class="flx-top">
        <ng-container *ngFor="let valOfObject of filterArray">
            <li>
                <div class="mb-3 flx-srch">
                    <div><span>{{valOfObject.paramValue}}</span></div>
                    <button class="btn btn-danger" type="button" (click)="removeValFilter(valOfObject.paramName)"><i class="fa-solid fa-xmark"></i></button>
                </div>
            </li>
        </ng-container>
    </ul> -->
</div>



<ul class="filtr-cat pt-13">
    <li>
        <div class="dropdown">

             


            <button class="dropdown-toggle" data-bs-toggle="dropdown">
                {{model_heading}}
                <ng-container *ngIf="radio_model_heading == true">
                    <button class="btn btn-danger" type="button" (click)="removeModel('carModelArray')"><i class="fa-solid fa-xmark"></i></button>
                </ng-container>
                

                
            </button>
            <ul class="dropdown-menu">
                <li class="m-b-0">
                    <div class="row">
                        <h3 class="">{{model_heading}}</h3>

                        


                        <ul class="type-de-chass garanti-ul">
                            <ng-container *ngFor="let modelObj of allModelList">
                                <li>
                                    <div class="form-check p-l-0">
                                       
                                       <input type="radio" class="input-chk-box mr-15"    name="carModel"  [value]="modelObj._id" (change)="onCheckboxChange($event,modelObj.model_name)" >

                                       <label class="form-check-label lbl-float lbl-l-h" for="check8">{{modelObj.model_name}} </label>

                                    </div>
                                 </li>
                            </ng-container>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </li>




<li>
<div class="dropdown">
<button class="dropdown-toggle" data-bs-toggle="dropdown">
{{model_variant_heading}}
                <ng-container *ngIf="radio_model_variant == true">
                    <button class="btn btn-danger" type="button" (click)="removeGeneration('model_variant')"><i class="fa-solid fa-xmark"></i></button>
                </ng-container>
</button>
<ul class="dropdown-menu">
<li class="m-b-0">
    <!-- <div class="row">
        <h3 class="">Génération</h3>
        <div class="col m-b-10 position-r">
            <label class="lbl"></label>
            <input type="text" class="form-control" placeholder="Type" name="model_variant" formControlName="model_variant">
            <span class="km"></span>
        </div>
    </div> -->


    <div class="row">
        <h3 class="">{{model_variant_heading}}</h3>
        <ul class="type-de-chass garanti-ul">
            <ng-container *ngFor="let modelObj of allSubModelListCar">
                <li>
                    <div class="form-check p-l-0">

                        <input type="radio" class="input-chk-box mr-15" id="" name="model_variant" [value]="modelObj._id" formControlName="model_variant" (change)="onGenerationChange(modelObj._id,modelObj.model_name)">

                        <label class="form-check-label lbl-float lbl-l-h" for="check8">{{modelObj.model_name}}</label>

                    </div>
                </li>
            </ng-container>
        </ul>
    </div>


</li>
</ul>
</div>
</li>


<li>
<div class="dropdown">
    <button class="dropdown-toggle" data-bs-toggle="dropdown">
        {{carVersion_heading}}
                <ng-container *ngIf="radio_carVersion == true">
                    <button class="btn btn-danger" type="button" (click)="removecarVersion('carVersion')"><i class="fa-solid fa-xmark"></i></button>
                </ng-container>
    </button>
    <ul class="dropdown-menu">
        <li class="m-b-0">
            <div class="row">
                <h3 class="">{{carVersion_heading}}</h3>
                <ul class="type-de-chass garanti-ul">
                    <ng-container *ngFor="let modelObj of allVersions">
                        <li>
                            <div class="form-check p-l-0">
                               
                               <input type="radio" class="input-chk-box mr-15"    name="carVersion" formControlName="carVersion"  [value]="modelObj.title"   (change)="onVersionChange($event,modelObj.title)">

                               <label class="form-check-label lbl-float lbl-l-h" for="check8">{{modelObj.title}} </label>

                            </div>
                         </li>
                    </ng-container>
                </ul>
            </div>
        </li>
    </ul>
</div>
</li>



<li>
<div class="dropdown">
    <button class="dropdown-toggle" data-bs-toggle="dropdown">


{{chahis_heading}}
                <ng-container *ngIf="radio_chahis == true">
                    <button class="btn btn-danger" type="button" (click)="removeChahis('chahisArray')"><i class="fa-solid fa-xmark"></i></button>
                </ng-container>


</button>
    <ul class="dropdown-menu">
        <li class="m-b-0">
        <div class="row">
            <h3 class="">{{chahis_heading}}</h3>
            <ul class="type-de-chass garanti-ul">
                <ng-container *ngFor="let chahisObj of allChasisType">
                    <li>
                    <div class="form-check p-l-0">
                        <input type="radio" class="input-chk-box mr-15" id="" name="carModel"  [value]="chahisObj._id" (change)="onchahisChange($event,chahisObj.attribute_name)">
                        <label class="form-check-label lbl-float lbl-l-h" for="check8">{{chahisObj.attribute_name}}</label>
                    </div>
                    </li>
                </ng-container>
            </ul>
        </div>
        </li>
    </ul>
</div>
</li>



<li>
<div class="dropdown">
    <button class="dropdown-toggle" data-bs-toggle="dropdown">

{{type_of_gearbox_heading}}
                <ng-container *ngIf="radio_type_of_gearbox == true">
                    <button class="btn btn-danger" type="button" (click)="removeType_of_gearbox('type_of_gearbox')"><i class="fa-solid fa-xmark"></i></button>
                </ng-container>
</button>
    <ul class="dropdown-menu">
        <li class="m-b-0">
            <div class="row">
                <h3 class="">Boîte de vitesse</h3>
                <ul class="type-de-chass garanti-ul">
                    <ng-container *ngFor="let chahisObj of allBoiteDeVitesse">
                        <li>
                            <div class="form-check p-l-0">
                                <input type="radio" class="input-chk-box mr-15" id="" name="type_of_gearbox" [value]="chahisObj._id" formControlName="type_of_gearbox"  (change)="onTypeGearBoxChange($event,chahisObj.attribute_name)">
                                <label class="form-check-label lbl-float lbl-l-h" for="check8">{{chahisObj.attribute_name}}</label>
                            </div>
                        </li>
                    </ng-container>
                </ul>
            </div>
        </li>
    </ul>
</div>
</li>
<li>
<div class="dropdown">
    <button class="dropdown-toggle" data-bs-toggle="dropdown">

{{onYearChange_heading}}
<ng-container *ngIf="radio_onYearChange == true">
    <button class="btn btn-danger" type="button" (click)="remove_yearArray('yearArray')"><i class="fa-solid fa-xmark"></i></button>
</ng-container>


{{onYearChange_2_heading}}
<ng-container *ngIf="radio_onYearChange_2 == true">
    <button class="btn btn-danger" type="button" (click)="remove_yearArray_2('yearArray_2')"><i class="fa-solid fa-xmark"></i></button>
</ng-container>


</button>
    <ul class="dropdown-menu">
        <li class="flx-year">
            <div class="m-b-0">
                <div class="row">
                    <h3 class="">De</h3>
                    <ul class="type-de-chass garanti-ul">
                        <ng-container *ngFor="let yearObj of allYear">
                            <li>
                                <div class="form-check p-l-0">

                                    <input type="radio" class="input-chk-box mr-15" id="" name="yearArray" formControlName="yearArray" [value]="yearObj.year" (change)="onYearChange($event,yearObj.year)">

                                    <label class="form-check-label lbl-float lbl-l-h" for="check8">{{yearObj.year}}</label>

                                </div>
                            </li>
                        </ng-container>
                    </ul>
                </div>
            </div>



            <div class="m-b-0">
                <div class="row">
                    <h3 class="">À</h3>
                    <ul class="type-de-chass garanti-ul">
                        <ng-container *ngFor="let yearObj of allYear">
                            <li>
                                <div class="form-check p-l-0">

                                    <input type="radio" formControlName="yearArray_2" class="input-chk-box mr-15" id="" name="yearArray_2" [value]="yearObj.year" (change)="onYearChange_2($event,yearObj.year)">

                                    <label class="form-check-label lbl-float lbl-l-h" for="check8">{{yearObj.year}}</label>

                                </div>
                            </li>
                        </ng-container>
                    </ul>
                </div>
            </div>
        </li>
    </ul>
</div>
</li>


<li>
<div class="dropdown">
<button class="dropdown-toggle" data-bs-toggle="dropdown">
    

    
{{minKilometer_heading}}
<ng-container *ngIf="radio_minKilometer == true">
    <button class="btn btn-danger" type="button" (click)="remove_minKilometer('minKilometer')"><i class="fa-solid fa-xmark"></i></button>
</ng-container>


{{maxKilometer_heading}}
<ng-container *ngIf="radio_maxKilometer == true">
    <button class="btn btn-danger" type="button" (click)="remove_maxKilometer('maxKilometer')"><i class="fa-solid fa-xmark"></i></button>
</ng-container>

    </button>
    <ul class="dropdown-menu">
    <li class="m-b-0">
        <div class="row">
            <h3 class="">kilométrage</h3>
            <div class="col m-b-10 position-r">
                <label class="lbl">Minimum</label>
                <!-- <input type="number" class="form-control" placeholder="" name="minKilometer" formControlName="minKilometer">
                <span class="km">km</span> -->
                <select class="form-control" name="minKilometer" formControlName="minKilometer" (change)="changeMinKilo($event)">
                    <option value="">Veuillez sélectionner</option>
                    <option value="10000">10 000 Km</option>
                    <option value="20000">20 000 Km</option>
                    <option value="30000">30 000 Km</option>
                    <option value="40000">40 000 Km</option>
                    <option value="50000">50 000 Km</option>
                    <option value="60000">60 000 Km</option>
                    <option value="70000">70 000 Km</option>
                    <option value="80000">80 000 Km</option>
                    <option value="90000">90 000 Km</option>
                    <option value="100000">100 000 Km</option>
                    <option value="125000">125 000 Km</option>
                    <option value="150000">150 000 Km</option>
                    <option value="175000">175 000 Km</option>
                    <option value="200000">200 000 Km</option>
                </select>

            </div>
            <div class="col position-r">
                <label class="lbl">Maximum</label>
                <!-- <input type="number" class="form-control" placeholder="" name="maxKilometer" formControlName="maxKilometer">
                <span class="km">km</span> -->

                <select class="form-control" name="maxKilometer" formControlName="maxKilometer" (change)="changeMaxKilo($event)">
                    <option value="">Veuillez sélectionner</option>
                    <option value="10000">10 000 Km</option>
                    <option value="20000">20 000 Km</option>
                    <option value="30000">30 000 Km</option>
                    <option value="40000">40 000 Km</option>
                    <option value="50000">50 000 Km</option>
                    <option value="60000">60 000 Km</option>
                    <option value="70000">70 000 Km</option>
                    <option value="80000">80 000 Km</option>
                    <option value="90000">90 000 Km</option>
                    <option value="100000">100 000 Km</option>
                    <option value="125000">125 000 Km</option>
                    <option value="150000">150 000 Km</option>
                    <option value="175000">175 000 Km</option>
                    <option value="200000">200 000 Km</option>
                </select>


            </div>
            <!-- <div class="p-t-10 two-btn-div"><a href="#">Effacer</a><a href="#" class="float-right">Valider</a></div> -->
        </div>
    </li>
</ul>
</div>
</li>



<li>
    <div class="dropdown">
        <button class="dropdown-toggle" data-bs-toggle="dropdown">
{{fuel_heading}}
                <ng-container *ngIf="radio_fuel == true">
                    <button class="btn btn-danger" type="button" (click)="remove_fuel('fuel')"><i class="fa-solid fa-xmark"></i></button>
                </ng-container>
</button>
        <ul class="dropdown-menu">
            <li class="m-b-0">
                <div class="row">
                    <h3 class="">{{fuel_heading}}</h3>
                    <ul class="type-de-chass garanti-ul">
                        <ng-container *ngFor="let chahisObj of allCarburant">
                            <li>
                                <div class="form-check p-l-0">
                                    <input type="radio" class="input-chk-box mr-15" id="" name="fuel" [value]="chahisObj._id" formControlName="fuel" (change)="onFuelChange($event,chahisObj.attribute_name)">
                                    <label class="form-check-label lbl-float lbl-l-h" for="check8">{{chahisObj.attribute_name}}</label>
                                </div>
                            </li>
                        </ng-container>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</li>

<!-- <li>
<div class="dropdown">
    <button class="dropdown-toggle" data-bs-toggle="dropdown">
        Etat du véhicule
    </button>
    <ul class="dropdown-menu">
        <li class="m-b-0">
            <div class="row">
                <h3 class="">Etat du véhicule</h3>
                <ul class="type-de-chass garanti-ul">
                    <ng-container *ngFor="let chahisObj of allEtatDuVehicle">
                        <li>
                            <div class="form-check p-l-0">
                                <input type="radio" class="input-chk-box mr-15" id="" name="vehicle_condition" [value]="chahisObj._id" formControlName="vehicle_condition">
                                <label class="form-check-label lbl-float lbl-l-h" for="check8">{{chahisObj.attribute_name}}</label>
                            </div>
                        </li>
                    </ng-container>
                </ul>
            </div>
        </li>
    </ul>
</div>
</li> -->

<li>
    <div class="dropdown">
        <button class="dropdown-toggle" data-bs-toggle="dropdown">
            


            {{color_exterior_heading}}
                <ng-container *ngIf="radio_color_exterior == true">
                    <button class="btn btn-danger" type="button" (click)="remove_Color_exterior('colorId')"><i class="fa-solid fa-xmark"></i></button>
                </ng-container>



        </button>
        <ul class="dropdown-menu">
            <li class="m-b-0">
                <div class="row">
                    <h3 class="">{{color_exterior_heading}}</h3>
                    <ul class="type-de-chass garanti-ul">
                        <ng-container *ngFor="let chahisObj of allColor">
                            <li>
                                                            

                                <div class="form-check p-l-0 position-r">
                                   <input type="radio" class="input-chk-box mr-15" id="check8" name="colorId" formControlName="colorId" [value]="chahisObj._id" (change)="onColorChange($event,chahisObj.color_name)">
                                   <label class="form-check-label lbl-float lbl-l-h" for="check8">{{chahisObj.color_name}} <!--<span><span class="clr" style="background-color: #ff0000;width:20px; display: inline-block;height: 20px;position: absolute;top: 3px;right:0;border: 2px solid #bdbaba;"></span></span>--></label>
                                </div>

                             </li>

                        </ng-container>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</li>


<li>
    <div class="dropdown">
    <button class="dropdown-toggle" data-bs-toggle="dropdown">
        

        {{color_interior_heading}}
        <ng-container *ngIf="radio_color_interior == true">
            <button class="btn btn-danger" type="button" (click)="remove_Color_interior('colorInteriorId')"><i class="fa-solid fa-xmark"></i></button>
        </ng-container>
    </button>
    <ul class="dropdown-menu">
        <li class="m-b-0">
            <div class="row">
                <h3 class="">{{color_interior_heading}}</h3>
                <ul class="type-de-chass garanti-ul">
                    <ng-container *ngFor="let chahisObj of allColorInterior">
                        <li>
                                                        

                            <div class="form-check p-l-0 position-r">
                               <input type="radio" class="input-chk-box mr-15" id="check8" name="colorInteriorId" formControlName="colorInteriorId" [value]="chahisObj._id"  (change)="onColorInteriorChange($event,chahisObj.color_name)"  >
                               <label class="form-check-label lbl-float lbl-l-h" for="check8">{{chahisObj.color_name}} <!--<span><span class="clr" style="background-color: #ff0000;width:20px; display: inline-block;height: 20px;position: absolute;top: 3px;right:0;border: 2px solid #bdbaba;"></span></span>--></label>
                            </div>

                         </li>

                    </ng-container>
                </ul>


            </div>
        </li>
    </ul>
    </div>
    </li>



<li>
    <div class="dropdown">
        <button class="dropdown-toggle" data-bs-toggle="dropdown">
            
            {{pors_warranty_heading}}
            <ng-container *ngIf="radio_pors_warranty == true">
                <button class="btn btn-danger" type="button" (click)="remove_porsWarranty('pors_warranty')"><i class="fa-solid fa-xmark"></i></button>
            </ng-container>



        </button>
        <ul class="dropdown-menu">
            <li class="m-b-0">
                <div class="row ">
                    <h3 class=""> {{pors_warranty_heading}} </h3>
                    <div class="row">
                        <div class="col-6 p-0">
                            <div class="form-check">
                                <input type="radio" class="form-check-input" id="radio1" name="pors_warranty" formControlName="pors_warranty" value="yes"  (change)="porsWarranty('Oui')" >Oui
                                <label class="form-check-label" for="radio1"></label>
                            </div>
                        </div>
                        <div class="col-6 p-0">
                            <div class="form-check">
                                <input type="radio" class="form-check-input" id="radio1" name="pors_warranty" formControlName="pors_warranty" value="no"  (change)="porsWarranty('Non')">Non
                                <label class="form-check-label" for="radio1"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</li>


<li>
<div class="dropdown">
    <button class="dropdown-toggle" data-bs-toggle="dropdown">
          
        {{warranty_heading}}
            <ng-container *ngIf="radio_warranty == true">
                <button class="btn btn-danger" type="button" (click)="remove_warranty('warranty')"><i class="fa-solid fa-xmark"></i></button>
            </ng-container>
    </button>
    <ul class="dropdown-menu">
        <li class="m-b-0">
            <div class="row ">
                <h3 class=""> {{warranty_heading}}   </h3>
                <div class="row">
                    <div class="col-6 p-0">
                        <div class="form-check">
                            <input type="radio" class="form-check-input" id="radio1" name="warranty" formControlName="warranty" value="yes"  (change)="warrantyChange('Oui')" >Oui
                            <label class="form-check-label" for="radio1"></label>
                        </div>
                    </div>
                    <div class="col-6 p-0">
                        <div class="form-check">
                            <input type="radio" class="form-check-input" id="radio1" name="warranty" formControlName="warranty" value="no"  (change)="warrantyChange('Non')">Non
                            <label class="form-check-label" for="radio1"></label>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
</li>


<li>
    <div class="dropdown">
        <button class="dropdown-toggle" data-bs-toggle="dropdown">
            
            {{maintenance_booklet_heading}}
            <ng-container *ngIf="radio_maintenance_booklet == true">
                <button class="btn btn-danger" type="button" (click)="remove_maintenance_booklet('maintenance_booklet')"><i class="fa-solid fa-xmark"></i></button>
            </ng-container>
        </button>
        <ul class="dropdown-menu">
            <li class="m-b-0">
                <div class="row ">
                    <h3 class="">{{maintenance_booklet_heading}}</h3>
                    <div class="row">
                        <div class="col-6 p-0">
                            <div class="form-check">
                                <input type="radio" class="form-check-input" id="radio1" name="maintenance_booklet" formControlName="maintenance_booklet" value="yes"  (change)="maintenanceBookletChange('Oui')" >Oui
                                <label class="form-check-label" for="radio1"></label>
                            </div>
                        </div>
                        <div class="col-6 p-0">
                            <div class="form-check">
                                <input type="radio" class="form-check-input" id="radio1" name="maintenance_booklet" formControlName="maintenance_booklet" value="no"  (change)="maintenanceBookletChange('Non')">Non
                                <label class="form-check-label" for="radio1"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</li>

<li>
    <div class="dropdown">
        <button class="dropdown-toggle" data-bs-toggle="dropdown">
            

            {{maintenance_invoice_heading}}
            <ng-container *ngIf="radio_maintenance_invoice == true">
                <button class="btn btn-danger" type="button" (click)="remove_maintenance_invoice('maintenance_invoice')"><i class="fa-solid fa-xmark"></i></button>
            </ng-container>

        </button>
        <ul class="dropdown-menu">
            <li class="m-b-0">
                <div class="row ">
                    <h3 class="">{{maintenance_invoice_heading}}</h3>
                    <div class="row">
                        <div class="col-6 ">
                            <div class="form-check">
                                <input type="radio" class="form-check-input" id="radio1" name="maintenance_invoice" formControlName="maintenance_invoice" value="yes"  (change)="maintenanceInvoiceChange('Oui')">Oui
                                <label class="form-check-label" for="radio1"></label>
                            </div>
                        </div>
                        <div class="col-6 ">
                            <div class="form-check">
                                <input type="radio" class="form-check-input" id="radio1" name="maintenance_invoice" formControlName="maintenance_invoice" value="no"  (change)="maintenanceInvoiceChange('Non')" >Non
                                <label class="form-check-label" for="radio1"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</li>

<!-- <li>
    <div class="dropdown">
        <button class="dropdown-toggle" data-bs-toggle="dropdown">
            Accidentée
        </button>
        <ul class="dropdown-menu">
            <li class="m-b-0">
                <div class="row ">
                    <h3 class="">Accidentée</h3>
                    <div class="row">
                        <div class="col-6 p-0">
                            <div class="form-check">
                                <input type="radio" class="form-check-input" id="radio1" name="accidented" formControlName="accidented" value="yes" checked="">Oui
                                <label class="form-check-label" for="radio1"></label>
                            </div>
                        </div>
                        <div class="col-6 p-0">
                            <div class="form-check">
                                <input type="radio" class="form-check-input" id="radio1" name="accidented" formControlName="accidented" value="no" checked="">Non
                                <label class="form-check-label" for="radio1"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</li> -->


<li>
    <div class="dropdown">
        <button class="dropdown-toggle" data-bs-toggle="dropdown">
            {{report_piwi_heading}}
            <ng-container *ngIf="radio_report_piwi == true">
                <button class="btn btn-danger" type="button" (click)="remove_report_piwi('report_piwi')"><i class="fa-solid fa-xmark"></i></button>
            </ng-container>

</button>
        <ul class="dropdown-menu">
            <li class="m-b-0">
                <div class="row ">
                    <h3 class="">{{report_piwi_heading}}
                    </h3>
                    <div class="row">
                        <div class="col-6 p-0">
                            <div class="form-check">
                                <input type="radio" class="form-check-input" id="radio1" name="report_piwi" formControlName="report_piwi" value="yes"  (change)="reportPiwiChange('Oui')"  >Oui
                                <label class="form-check-label" for="radio1"></label>
                            </div>
                        </div>
                        <div class="col-6 p-0">
                            <div class="form-check">
                                <input type="radio" class="form-check-input" id="radio1" name="report_piwi" formControlName="report_piwi" value="no"  (change)="reportPiwiChange('Non')"  >Non
                                <label class="form-check-label" for="radio1"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</li>

<li>
    <div class="dropdown">
        <button class="dropdown-toggle" data-bs-toggle="dropdown">
                 
                {{matching_number_heading}}
            <ng-container *ngIf="radio_matching_number == true">
                <button class="btn btn-danger" type="button" (click)="remove_matching_number('matching_number')"><i class="fa-solid fa-xmark"></i></button>
            </ng-container>
        </button>
        <ul class="dropdown-menu">
            <li class="m-b-0">
                <div class="row ">
                    <h3 class="">{{matching_number_heading}}</h3>
                    <div class="row">
                        <div class="col-6 p-0">
                            <div class="form-check">
                                <input type="radio" class="form-check-input" id="radio1" name="matching_number" formControlName="matching_number" value="yes" (change)="matchingNumberChange('Oui')"  >Oui
                                <label class="form-check-label" for="radio1"></label>
                            </div>
                        </div>
                        <div class="col-6 p-0">
                            <div class="form-check">
                                <input type="radio" class="form-check-input" id="radio1" name="matching_number" formControlName="matching_number" value="no" (change)="matchingNumberChange('Non')" >Non
                                <label class="form-check-label" for="radio1"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</li>

<li>
    <div class="dropdown">
        <button class="dropdown-toggle" data-bs-toggle="dropdown">
            
            {{matching_color_paint_heading}}
            <ng-container *ngIf="radio_matching_color_paint == true">
                <button class="btn btn-danger" type="button" (click)="remove_matching_color_paint('matching_color_paint')"><i class="fa-solid fa-xmark"></i></button>
            </ng-container>
        </button>
        <ul class="dropdown-menu">
            <li class="m-b-0">
                <div class="row ">
                    <h3 class="">{{matching_color_paint_heading}}</h3>
                    <div class="row">
                        <div class="col-6 p-0">
                            <div class="form-check">
                                <input type="radio" class="form-check-input" id="radio1" name="matching_color_paint" formControlName="matching_color_paint" value="yes" (change)="matching_color_paint_change('Oui')">Oui
                                <label class="form-check-label" for="radio1"></label>
                            </div>
                        </div>
                        <div class="col-6 p-0">
                            <div class="form-check">
                                <input type="radio" class="form-check-input" id="radio1" name="matching_color_paint" formControlName="matching_color_paint" value="no" (change)="matching_color_paint_change('Non')">Non
                                <label class="form-check-label" for="radio1"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</li>
<li>
    <div class="dropdown">
        <button class="dropdown-toggle" data-bs-toggle="dropdown">
 
{{original_paint_heading}}
<ng-container *ngIf="radio_original_paint == true">
    <button class="btn btn-danger" type="button" (click)="remove_original_paint('original_paint')"><i class="fa-solid fa-xmark"></i></button>
</ng-container>
</button>
        <ul class="dropdown-menu">
            <li class="m-b-0">
                <div class="row ">
                    <h3 class="">{{original_paint_heading}}</h3>
                    <div class="row">
                        <div class="col-6 p-0">
                            <div class="form-check">
                                <input type="radio" class="form-check-input" id="radio1" name="original_paint" formControlName="original_paint" value="yes" (change)="original_paint_change('Oui')">Oui
                                <label class="form-check-label" for="radio1"></label>
                            </div>
                        </div>
                        <div class="col-6 p-0">
                            <div class="form-check">
                                <input type="radio" class="form-check-input" id="radio1" name="original_paint" formControlName="original_paint" value="no" (change)="original_paint_change('Non')">Non
                                <label class="form-check-label" for="radio1"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</li>
<!-- <li>
    <div class="dropdown">
        <button class="dropdown-toggle" data-bs-toggle="dropdown">
            Matching color intérieur
        </button>
        <ul class="dropdown-menu">
            <li class="m-b-0">
                <div class="row ">
                    <h3 class="">Matching color intérieur</h3>
                    <div class="row">
                        <div class="col-6 p-0">
                            <div class="form-check">
                                <input type="radio" class="form-check-input" id="radio1" name="matching_color_interior" formControlName="matching_color_interior" value="yes" checked="">Oui
                                <label class="form-check-label" for="radio1"></label>
                            </div>
                        </div>
                        <div class="col-6 p-0">
                            <div class="form-check">
                                <input type="radio" class="form-check-input" id="radio1" name="matching_color_interior" formControlName="matching_color_interior" value="no" checked="">Non
                                <label class="form-check-label" for="radio1"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</li> -->

<!-- <li>
    <div class="dropdown">
        <button class="dropdown-toggle" data-bs-toggle="dropdown">
            TVA déductible
        </button>
        <ul class="dropdown-menu">
            <li class="m-b-0">
                <div class="row ">
                    <h3 class="">TVA déductible</h3>
                    <div class="row">
                        <div class="col-6 p-0">
                            <div class="form-check">
                                <input type="radio" class="form-check-input" id="radio1" name="deductible_VAT" formControlName="deductible_VAT" value="yes" checked="">Oui
                                <label class="form-check-label" for="radio1"></label>
                            </div>
                        </div>
                        <div class="col-6 p-0">
                            <div class="form-check">
                                <input type="radio" class="form-check-input" id="radio1" name="deductible_VAT" formControlName="deductible_VAT" value="no" checked="">Non
                                <label class="form-check-label" for="radio1"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</li> -->

<!-- <li>
<div class="dropdown">
<button class="dropdown-toggle" data-bs-toggle="dropdown">
Prix 
</button>
<ul class="dropdown-menu">
<li class="m-b-0">
<div class="row">
    <h3 class="">Prix</h3>
    <div class="col m-b-10">
        <label class="lbl">Minimum</label>
        <input type="number" class="form-control" placeholder="€" name="minPrice" formControlName="minPrice">
    </div>
    <div class="col">
        <label class="lbl">Maximum</label>
        <input type="number" class="form-control" placeholder="€" name="maxPrice" formControlName="maxPrice">
    </div>
</div>
</li>
</ul>
</div>
</li> -->


<li>
    <div class="dropdown">
        <button class="dropdown-toggle" data-bs-toggle="dropdown">
             

            {{zip_code_heading}}
    <ng-container *ngIf="radio_zip_code == true">
        <button class="btn btn-danger" type="button" (click)="remove_zip_code('zip_code')"><i class="fa-solid fa-xmark"></i></button>
    </ng-container>


        </button>
        <ul class="dropdown-menu">
            <li class="m-b-0">
                <div class="row">
                    <h3 class="">{{zip_code_heading}}</h3>
                    <div class="col m-b-10 position-r">
                        <label class="lbl"></label>
                        <input type="number" class="form-control" placeholder="Code postal" name="zip_code" formControlName="zip_code" (keyup)="zipCodeFunction($event)">
                        <span class="km"></span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</li>

<li>
    <div class="dropdown">
        <button class="dropdown-toggle" data-bs-toggle="dropdown">
            {{city_heading}}
            <ng-container *ngIf="radio_city == true">
                <button class="btn btn-danger" type="button" (click)="remove_city('city')"><i class="fa-solid fa-xmark"></i></button>
            </ng-container>
        </button>
        <ul class="dropdown-menu">
            <li class="m-b-0">
                <div class="row">
                    <h3 class="">{{city_heading}}</h3>
                    <div class="col m-b-10 position-r">
                        <label class="lbl"></label>
                        <input type="text" class="form-control" placeholder="Ville" name="city" formControlName="city" (keyup)="cityFunction($event)">
                        <span class="km"></span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</li>

<li>
    <div class="dropdown">
        <button class="dropdown-toggle" data-bs-toggle="dropdown">
            {{country_heading}}
            <ng-container *ngIf="radio_country == true">
                <button class="btn btn-danger" type="button" (click)="remove_country('country')"><i class="fa-solid fa-xmark"></i></button>
            </ng-container>
        </button>
        <ul class="dropdown-menu">
            <li class="m-b-0">
                <div class="row">
                    <h3 class="">{{country_heading}}</h3>
                    <div class="col m-b-10 position-r">
                        <label class="lbl"></label>
                        <input type="text" class="form-control" placeholder="Pays" name="country" formControlName="country" (keyup)="countryFunction($event)">
                        <span class="km"></span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</li>
<li>
    <div class="dropdown">
    <button class="dropdown-toggle" data-bs-toggle="dropdown">
        {{onlineSince_heading}}
<ng-container *ngIf="radio_onlineSince == true">
    <button class="btn btn-danger" type="button" (click)="remove_onlineSince('onlineSince')"><i class="fa-solid fa-xmark"></i></button>
</ng-container>


    </button>
    <ul class="dropdown-menu">
        <li class="m-b-0">
           <div class="row">
              <!-- <h3 class="">Année</h3> -->
              <select class="form-control" name="onlineSince" formControlName="onlineSince"  (change)="changeOnlineSince($event)">
                <option value="">Annonce en ligne depuis</option>
                <option value="1">1 jour</option>
                <option value="3">3 jours</option>
                <option value="7">7 jours</option>
                <option value="10">10 jours</option>
                <option value="15">15 jours</option>
              </select>

           </div>
        </li>
     </ul>
    </div>
</li>

<li>
    <div class="dropdown">
    <button class="dropdown-toggle" data-bs-toggle="dropdown">
        
        {{vendeurType_heading}}
<ng-container *ngIf="radio_vendeurType == true">
    <button class="btn btn-danger" type="button" (click)="remove_Vendeur('vendeurType')"><i class="fa-solid fa-xmark"></i></button>
</ng-container>
    </button>
     <ul class="dropdown-menu">
        <li class="m-b-0">
            <div class="row ">
                <h3 class="">{{vendeurType_heading}}</h3>
                <div class="row">
                    <div class="col-6 p-0">
                        <div class="form-check">
                            <input type="radio" class="form-check-input" id="radio1" name="vendeurType" formControlName="vendeurType" value="normal_user"  (change)="vendeurType_change('Particulier')">Particulier
                            <label class="form-check-label" for="radio1"></label>
                        </div>
                    </div>
                    <div class="col-6 p-0">
                        <div class="form-check">
                            <input type="radio" class="form-check-input" id="radio1" name="vendeurType" formControlName="vendeurType" value="pro_user"  (change)="vendeurType_change('Professionnel')">Professionnel
                            <label class="form-check-label" for="radio1"></label>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>


    </div>
</li>

</ul>

                                            </div>
                                            <div class="div-ad-filtr ">
                                                <button id="hide" (click)="hideSlide()" class="ad-filtr arow-up"><i class="fa-solid fa-angle-up ad-filtr-i2"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="tab2" class="grid-products tab_content" *ngIf="tab2Div == true" style="display: block;     margin-top: 15px;">
                                    <div class="filter-section-area">
                                        <div class="row m-b-40">

<div class="col-12">
    <!-- <ul class="flx-top">
        <ng-container *ngFor="let valOfObject of filterArrayAccess">
            <li>
                <div class="mb-3 flx-srch">
                    <div><span>{{valOfObject.paramValue}}</span></div>
                    <button class="btn btn-danger" type="button" (click)="removeValFilterAccess(valOfObject.paramName)"><i class="fa-solid fa-xmark"></i></button>
                </div>
            </li>
        </ng-container>
    </ul> -->
</div>



<ul class="filtr-cat">

    <li>
        <div class="dropdown">
            <button class="dropdown-toggle" data-bs-toggle="dropdown">
                {{accessModel_heading}}
                <ng-container *ngIf="radio_accessModel == true">
                    <button class="btn btn-danger" type="button" (click)="remove_accessModel('accessModel')"><i class="fa-solid fa-xmark"></i></button>
                </ng-container>
            </button>
            <ul class="dropdown-menu">
                <li class="m-b-0">
                    <div class="row">
                        <h3 class="">{{accessModel_heading}}</h3>
                        <ul class="type-de-chass garanti-ul">
                            <ng-container *ngFor="let modelObj of allAccessModelList">
                                <li>
                                    <div class="form-check p-l-0">
    
                                        <input type="radio" class="input-chk-box mr-15" id="" name="accessModel" formControlName="accessModel" [value]="modelObj._id" (click)="accessModelFun(modelObj._id,modelObj.model_name)">
    
                                        <label class="form-check-label lbl-float lbl-l-h" for="check8">{{modelObj.model_name}}</label>
    
                                    </div>
                                </li>
                            </ng-container>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </li>
    
    <li>
        <div class="dropdown">
            <button class="dropdown-toggle" data-bs-toggle="dropdown">
                
    
                {{subModel_heading}}
                <ng-container *ngIf="radio_subModel == true">
                    <button class="btn btn-danger" type="button" (click)="remove_subModel('subModel')"><i class="fa-solid fa-xmark"></i></button>
                </ng-container>
    
            </button>
            <ul class="dropdown-menu">
                <li class="m-b-0">
                    <div class="row">
                        <h3 class="">{{subModel_heading}}</h3>
                        <ul class="type-de-chass garanti-ul">
                            <ng-container *ngFor="let modelObj of allSubModelList">
                                <li>
                                    <div class="form-check p-l-0">
    
                                        <input type="radio" class="input-chk-box mr-15" id="" name="subModel" [value]="modelObj._id" formControlName="subModel" (change)="onGenerationChangeAccess($event,modelObj.model_name)">
    
                                        <label class="form-check-label lbl-float lbl-l-h" for="check8">{{modelObj.model_name}}</label>
    
                                    </div>
                                </li>
                            </ng-container>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </li>
    
    <li>
        <div class="dropdown">
            <button class="dropdown-toggle" data-bs-toggle="dropdown">
                
                {{accessRegYear_heading}}
                <ng-container *ngIf="radio_accessRegYear == true">
                    <button class="btn btn-danger" type="button" (click)="remove_accessRegYear('accessRegYear')"><i class="fa-solid fa-xmark"></i></button>
                </ng-container>
            
            
                {{accessRegYear_2_heading}}
                <ng-container *ngIf="radio_accessRegYear_2 == true">
                    <button class="btn btn-danger" type="button" (click)="remove_accessRegYear_2('accessRegYear_2')"><i class="fa-solid fa-xmark"></i></button>
                </ng-container>
    
            </button>
            <ul class="dropdown-menu">
                <li class="flx-year">
                    <div class="m-b-0 w-50">
                        <div class="row">
                            <h3 class="">De</h3>
                            <ul class="type-de-chass garanti-ul">
                                <ng-container *ngFor="let yearObj of allYear">
                                    <li>
                                        <div class="form-check p-l-0">
    
                                            <input type="radio" class="input-chk-box mr-15" id="" name="accessRegYear" formControlName="accessRegYear" [value]="yearObj.year"  (change)="onYearChangeAccess($event,yearObj.year)">
    
                                            <label class="form-check-label lbl-float lbl-l-h" for="check8">{{yearObj.year}}</label>
    
                                        </div>
                                    </li>
                                </ng-container>
                            </ul>
                        </div>
                    </div>
    
    
                    <div class="m-b-0 w-50">
                        <div class="row">
                            <h3 class="">À</h3>
                            <ul class="type-de-chass garanti-ul">
                                <ng-container *ngFor="let yearObj of allYear">
                                    <li>
                                        <div class="form-check p-l-0">
    
                                            <input type="radio" formControlName="accessRegYear_2" class="input-chk-box mr-15" id="" name="accessRegYear_2" [value]="yearObj.year"  (change)="onYearChangeAccess_2($event,yearObj.year)">
    
                                            <label class="form-check-label lbl-float lbl-l-h" for="check8">{{yearObj.year}}</label>
    
                                        </div>
                                    </li>
                                </ng-container>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </li>
    <li>
        <div class="dropdown">
            <button class="dropdown-toggle" data-bs-toggle="dropdown">
                
    
                
                {{type_de_piece_heading}}
                <ng-container *ngIf="radio_type_de_piece == true">
                    <button class="btn btn-danger" type="button" (click)="remove_type_de_piece('type_de_piece')"><i class="fa-solid fa-xmark"></i></button>
                </ng-container>
    
            </button>
            <ul class="dropdown-menu" style="width: 300px !important;">
                <li class="m-b-0">
                    <div class="row">
                        <h3 class="">{{type_de_piece_heading}}</h3>
                        <ul class="type-de-chass garanti-ul">
                            <ng-container *ngFor="let chahisObj of allTypeDePiece">
                                <li>
                                    <div class="form-check p-l-0">
                                        <input type="radio" class="input-chk-box mr-15" id="" name="type_de_piece" [value]="chahisObj._id" formControlName="type_de_piece" (change)="typeDePieceChange($event,chahisObj.attribute_name)">
                                        <label class="form-check-label lbl-float lbl-l-h" for="check8">{{chahisObj.attribute_name}}</label>
                                    </div>
                                </li>
                            </ng-container>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </li>
    
    <li>
        <div class="dropdown">
            <button class="dropdown-toggle" data-bs-toggle="dropdown">
                {{state_heading}}
                <ng-container *ngIf="radio_state == true">
                    <button class="btn btn-danger" type="button" (click)="remove_state('state')"><i class="fa-solid fa-xmark"></i></button>
                </ng-container>
            </button>
            <ul class="dropdown-menu">
                <li class="m-b-0">
                    <div class="row ">
                        <h3 class="">{{state_heading}}</h3>
                        <div class="row">
                            <div class="col-6 p-0">
                                <div class="form-check">
                                    <label class="form-check-label" for="radiop51">
                                    <input type="radio" class="form-check-input" id="radiop51" name="state" formControlName="state" value="Neuf" (change)="state_change('Neuf')" >Neuf
                                    </label>
                                </div>
                            </div>
                            <div class="col-6 p-0">
                                <div class="form-check">
                                    <label class="form-check-label" for="radiop52">
                                    <input type="radio" class="form-check-input" id="radiop52" name="state" formControlName="state" value="Occasion" (change)="state_change('Occasion')">Occasion
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </li>
    
    <li>
        <div class="dropdown">
            <button class="dropdown-toggle" data-bs-toggle="dropdown">
            
            
            {{OEM_heading}}
            <ng-container *ngIf="radio_OEM == true">
                <button class="btn btn-danger" type="button" (click)="remove_OEM('OEM')"><i class="fa-solid fa-xmark"></i></button>
            </ng-container>
    
            </button>
            <ul class="dropdown-menu">
                <li class="m-b-0">
                    <div class="row ">
                        <h3 class="">{{OEM_heading}}</h3>
                        <div class="row">
                            <div class="col-6 p-0">
                                <div class="form-check">
                                    <label class="form-check-label" for="radiop61">Oui
                                    <input type="radio" class="form-check-input" id="radiop61" name="OEM" formControlName="OEM" value="yes" (change)="oem_change('Oui')">
                                    </label>
                                </div>
                            </div>
                            <div class="col-6 p-0">
                                <div class="form-check">
                                    <label class="form-check-label" for="radiop62">
                                    <input type="radio" class="form-check-input" id="radiop62" name="OEM" formControlName="OEM" value="no" (change)="oem_change('Non')">Non
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </li>
    <!-- <li>
    <div class="dropdown">
    <button class="dropdown-toggle" data-bs-toggle="dropdown">
    Prix
    </button>
    <ul class="dropdown-menu">
    <li class="m-b-0">
    <div class="row">
        <h3 class="">Prix</h3>
        <div class="col m-b-10">
            <label class="lbl">Minimum</label>
            <input type="number" class="form-control" placeholder="€" name="minAccessPrice" formControlName="minAccessPrice">
        </div>
        <div class="col">
            <label class="lbl">Maximum</label>
            <input type="number" class="form-control" placeholder="€" name="maxAccessPrice" formControlName="maxAccessPrice">
        </div>
    </div>
    </li>
    </ul>
    </div>
    </li> -->
    
    
                                                </ul>


                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center bt-top rounded">
                        <button class="btn search_submit rechrchr btn-181" type="submit">Rechercher ({{allCarAd.length}}
                     résultats)</button>
                    </div>
                </form>
            </div>
        </section>

        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="text-center">
                        <a href="/notifications" target="_blank"  style="color: #f00;font-weight: 500;font-size: 16px;" class="mb-5">Mes recherches</a>
                    </div>
                </div>
            </div>
        </div>

        <!--- End filter section--->

        <ng-container *ngIf="allCarAd.length != 0 else elseNoRecord ">
            <div class="container-fluid max-992">
                <div class="row">

                    <ng-container *ngIf="categoryTypeForm == 'Porsche Voitures'; else elseCatElseSort ">
                        <div class="col-12 col-sm-6 col-md-3 col-lg-2 mb-4 mb-md-0 btn-aling " style="padding-bottom: 20px;">
                            <select class="trier" (change)="sorting_data($event)">
                     <!-- <option value="date_asc">Date d'affectation</option>
                     <option value="date_desc">Date d'envoi</option> -->
                     <option value="">Trier</option>
                     <option value="date_desc">Plus récentes</option>
                     <option value="date_asc">Plus anciennes</option>
                     <option value="price_asc">Prix croissant</option>
                     <option value="price_desc">Prix décroissant </option>
                     <option value="registration_year_asc">Année croissante</option>
                     <option value="registration_year_desc">Année décroissante</option>
                     <!-- <option value="kilometer_asc">Kilométrage croissant</option>
                     <option value="kilometer_desc">Kilométrage décroissant</option> -->
                  </select>
                        </div>
                    </ng-container>
                    <ng-template #elseCatElseSort>
                        <div class="col-12 col-sm-6 col-md-3 col-lg-2 mb-4 mb-md-0 btn-aling " style="padding-bottom: 20px;">
                            <select class="trier" (change)="sorting_data($event)">
                     <option value="">Trier</option>
                     <!-- <option>Date de publication</option> -->
                     <option value="date_desc">Plus récentes</option>
                     <option value="date_asc">Plus anciennes</option>
                     <option value="price_asc">Prix croissant</option>
                     <option value="price_desc">Prix décroissant </option>
                     <option value="registration_year_asc">Année croissante</option>
                     <option value="registration_year_desc">Année décroissante</option>
                  </select>
                        </div>
                    </ng-template>

                    <div></div>

                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 main-col p-0">
                        <div class="grid-products grid--view-items shop-grid-5 prd-grid">
                            <div class="row">
                                <ng-container *ngFor="let carAdObj of allCarAd">
                                    <ng-container *ngIf="carAdObj.category == 'Porsche Voitures'; else categoryTypeElse ">
                                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 item text-left b-0">
                                            <div class="cat-dd">
                                                <!--Start Product Image-->
                                                <div class="product-image">
                                                    <button *ngIf="carAdObj.top_urgent == '1'" class="top-urgent">Urgent</button>
                                                    <a routerLink="/productDetail/{{carAdObj._id}}" class="product-img">
                                                        <!-- image -->
                                                        <ng-container *ngIf="carAdObj.exterior_image.length > 0; else imageCarAd">
                                                            <img class="primary blur-up lazyload mw-100" data-src="{{base_url_node_only}}{{carAdObj.exterior_image[0].path}}" src="{{base_url_node_only}}{{carAdObj.exterior_image[0].path}}" alt="image" title="">
                                                            <!-- End image -->
                                                            <!-- Hover image -->
                                                            <img class="hover blur-up lazyload mw-100" data-src="{{base_url_node_only}}{{carAdObj.exterior_image[0].path}}" src="{{base_url_node_only}}{{carAdObj.exterior_image[0].path}}" alt="image" title="">
                                                            <!-- End hover image -->
                                                        </ng-container>
                                                        <ng-template #imageCarAd>
                                                            <img class="primary blur-up lazyload mw-100" data-src="{{base_url_node_only}}public/uploads/no-image.png" src="{{base_url_node_only}}public/uploads/no-image.png" alt="image" title="">
                                                            <!-- End image -->
                                                            <!-- Hover image -->
                                                            <img class="hover blur-up lazyload mw-100" data-src="{{base_url_node_only}}public/uploads/no-image.png" src="{{base_url_node_only}}public/uploads/no-image.png" alt="image" title="">
                                                            <!-- End hover image -->
                                                        </ng-template>

                                                    </a>
                                                    <!-- end product image -->
                                                    <!--Product Button-->
                                                    <div class="button-set style2">
                                                        <ul class="camera-no">
                                                            <li>
                                                                <!--Cart Button-->


                                                                <a class="btn-icon wishlist add-to-wishlist" routerLink="/productDetail/{{carAdObj._id}}">
                                                                    <i class="fa-solid fa-camera"><span class="ml-3">
                                                      {{carAdObj.exterior_image.length}}</span></i>
                                                                    <!-- <p style="color:black">{{carAdObj.top_urgent}}</p> -->

                                                                </a>
                                                                <!--end Cart Button-->
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <!--End Product Button-->
                                                </div>

                                                <!--End Product Image-->

                                                <!--Start Product Details-->
                                                <div class="product-details text-left pro-detal">
                                                    <!-- product name -->
                                                    <div class="product-name">
                                                        <a routerLink="/productDetail/{{carAdObj._id}}" tabindex="0">
                                                            <strong>
                                             <h5 class="mb-0">{{carAdObj.ad_name}}</h5>
                                          </strong>
                                                        </a>
                                                    </div>
                                                    <!-- End product name -->
                                                    <!-- product price -->
                                                    <div class="product-price">
                                                        <span class="">
                                          <h5 class="mb-0">{{carAdObj.price}} <i class="fa-solid fa-euro-sign"></i></h5>
                                       </span>
                                                    </div>


                                                    <!-- <div class="paymnt mtb-5">
                                 <span class="secure-pay">Secure payment</span>
                               </div> -->
                                                    <!-- End product price -->
                                                    <!--Product Review-->
                                                    <div class="product-review">

                                                        <div>
                                                            <ul class="pp-info">
                                                                <li><a routerLink="/productDetail/{{carAdObj._id}}">Kilométrage {{ carAdObj.mileage_kilometer}}</a>
                                                                </li>

                                                               
                                                            </ul>
                                                        </div>

                                                     


                                                       


                                                        <div class="position-relative hrt-effect">


                                                            <div>
                                                                <ul class="pp-info">

                                                                    <li><a routerLink="/productDetail/{{carAdObj._id}}">Année  {{ carAdObj.registration_year}}</a></li>

                                                                    
                                                                    <li><a routerLink="/productDetail/{{carAdObj._id}}">{{
                                                       carAdObj.address[0].toUpperCase() + carAdObj.address.slice(1) }}</a>
                                                                    </li>
    
                                                                    <!-- <li><a routerLink="/productDetail/{{carAdObj._id}}">{{ carAdObj.created_at |
                                                       date: 'dd/MM/yyyy HH:mm' }}</a></li> -->
                                                                </ul>
                                                            </div>

                                                            <ng-container *ngIf="user_id == '' || user_id == null; else favElse">
                                                                <a routerLink="/login" class="hrt-an" tabindex="0">
                                                                    <span><i class="fa-solid fa-heart d-n">
                                                   </i><i class="icon an an-heart-l h-n"></i>
                                                </span>
                                                                </a>
                                                            </ng-container>
                                                            <ng-template #favElse>

                                                                <a (click)="carAdFav(carAdObj._id,user_id,'car')" class="hrt-an" tabindex="0">
                                                                    <ng-container *ngIf="carAdObj.isFav == 1; else carNotFavElse">
                                                                        <span><i class="fa-solid fa-heart"></i>
                                                   </span>
                                                                    </ng-container>
                                                                    <ng-template #carNotFavElse>
                                                                        <span>
                                                      <i class="fa-solid fa-heart d-n"></i>
                                                      <i class="icon an an-heart-l h-n"></i>
                                                   </span>
                                                                    </ng-template>

                                                                </a>

                                                            </ng-template>


                                                        </div>
                                                    </div>
                                                    <!--End Product Review-->
                                                </div>
                                                <!--End Product Details-->
                                            </div>

                                        </div>
                                    </ng-container>
                                    <ng-template #categoryTypeElse>
                                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 item text-left b-0">
                                            <div class="cat-dd">
                                                <!-- start product image -->
                                                <div class="product-image">
                                                    <!-- start product image -->
                                                    <a routerLink="/accessoriesProductDetail/{{carAdObj._id}}" class="product-img">
                                       <ng-container *ngIf="carAdObj.accessoires_image.length > 0; else imageCarAd">
                                          <img class="primary blur-up lazyload mw-100"
                                             data-src="{{base_url_node_only}}{{carAdObj.accessoires_image[0].path}}"
                                             src="{{base_url_node_only}}{{carAdObj.accessoires_image[0].path}}" alt="image"
                                             title="">
                                          <!-- End image -->
                                          <!-- Hover image -->
                                          <img class="hover blur-up lazyload mw-100"
                                             data-src="{{base_url_node_only}}{{carAdObj.accessoires_image[0].path}}"
                                             src="{{base_url_node_only}}{{carAdObj.accessoires_image[0].path}}" alt="image"
                                             title="">
                                          <!-- End hover image -->
                                       </ng-container>
                                       <ng-template #imageCarAd>
                                          <img class="primary blur-up lazyload mw-100"
                                             data-src="{{base_url_node_only}}public/uploads/no-image.png"
                                             src="{{base_url_node_only}}public/uploads/no-image.png" alt="image" title="">
                                          <!-- End image -->
                                          <!-- Hover image -->
                                          <img class="hover blur-up lazyload mw-100"
                                             data-src="{{base_url_node_only}}public/uploads/no-image.png"
                                             src="{{base_url_node_only}}public/uploads/no-image.png" alt="image" title="">
                                          <!-- End hover image -->
                                       </ng-template>
                                    </a>
                                                    <!-- end product image -->
                                                    <!--Product Button-->
                                                    <div class="button-set style2">
                                                        <ul class="camera-no">
                                                            <li>
                                                                <!--Cart Button-->
                                                                <a class="btn-icon wishlist add-to-wishlist" routerLink="/accessoriesProductDetail/{{carAdObj._id}}">
                                                                    <i class="fa-solid fa-camera"><span class="ml-3">
                                                      {{carAdObj.accessoires_image.length}}</span></i>
                                                                </a>
                                                                <!--end Cart Button-->
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <!--End Product Button-->
                                                </div>
                                                <!-- end product image -->

                                                <!--start product details -->
                                                <div class="product-details text-left pro-detal">
                                                    <!-- product name -->
                                                    <div class="product-name">
                                                        <a routerLink="/accessoriesProductDetail/{{carAdObj._id}}">
                                                            <strong>
                                             <h5 class="mb-0">{{carAdObj.ad_name}}</h5>
                                          </strong>
                                                        </a>
                                                    </div>
                                                    <!-- End product name -->
                                                    <!-- product price -->
                                                    <div class="product-price">
                                                        <span class="">
                                          <h5 class="mb-0">{{carAdObj.price}} <i class="fa-solid fa-euro-sign"></i></h5>
                                       </span>
                                                    </div>
                                                    <div class="paymnt mtb-5">
                                                        <span class="secure-pay">Secure payment</span>
                                                    </div>

                                                    <!-- End product price -->
                                                    <!--Product Review-->
                                                    <div class="product-review">

                                                        <div>
                                                            <ul class="pp-info">

                                                                <li><a routerLink="/productDetail/{{carAdObj._id}}">Année  {{ carAdObj.registration_year}}</a></li>
                                                            </ul>
                                                        </div>


                                                        
                                                        <div>
                                                            <ul class="pp-info">
                                                                <li><a routerLink="/accessoriesProductDetail/{{carAdObj._id}}">{{
                                                   carAdObj.address[0].toUpperCase() + carAdObj.address.slice(1) }}</a>
                                                                </li>

                                                                <!-- <li><a routerLink="/accessoriesProductDetail/{{carAdObj._id}}">{{
                                                   carAdObj.created_at | date: 'dd/MM/yyyy HH:mm' }}</a></li> -->
                                                            </ul>
                                                        </div>

                                                        
                                                        <div class="position-relative">



                                                            <ng-container *ngIf="user_id == '' || user_id == null; else favElse">
                                                                <a routerLink="/login" class="hrt-an" tabindex="0">
                                                                    <span><i class="fa-solid fa-heart d-n">
                                                   </i><i class="icon an an-heart-l h-n"></i>
                                                </span>
                                                                </a>
                                                            </ng-container>
                                                            <ng-template #favElse>

                                                                <a (click)="AccessAdFav(carAdObj._id,user_id,'accessories')" class="hrt-an" tabindex="0">

                                                                    <ng-container *ngIf="carAdObj.isFav == 1; else accessNotFavElse">
                                                                        <span><i class="fa-solid fa-heart"></i>
                                                   </span>
                                                                    </ng-container>
                                                                    <ng-template #accessNotFavElse>
                                                                        <span>
                                                      <i class="fa-solid fa-heart d-n"></i>
                                                      <i class="icon an an-heart-l h-n"></i>
                                                   </span>
                                                                    </ng-template>


                                                                </a>

                                                            </ng-template>


                                                        </div>
                                                    </div>
                                                    <!--End Product Review-->
                                                </div>
                                                <!-- End product details -->
                                            </div>
                                        </div>
                                    </ng-template>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>

        <ng-template #elseNoRecord>
            <div class="container tab-pane fade text-center"><br>
                <div class="dont-save">
                    <div>
                        <h3>
                            Réessayez avec moins de critères de recherche ou avec des critères différents.</h3>

                    </div>
                    <div>
                        <!-- <img class="mw-100" src="../../../assets/images/product-is-empty.png" height="300"> -->
                        <img class="mw-100" src="../../../assets/images/logo.png" height="200">
                    </div>
                </div><br>
            </div>
        </ng-template>
    </div>


    <app-footer></app-footer>
</div>