img {
    object-fit: cover !important;
}

.cat-dd {
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: auto;
    margin-bottom: 0;
    padding-bottom: 10px;
    min-height: 340px;
}

.top-urgent {
    position: absolute;
    background: #f00;
    z-index: 9;
    color: #fff;
    top: 10px;
    left: 10px;
    border-radius: 4px;
    padding: 8px;
    font-size: 11px !important;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.drop-button {
    width: 100%;
    border: none;
    background: #f4f6f7;
    color: #d1d1d2;
    font-weight: 500;
    font-size: 15px;
}

ul.filtr-cat {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

ul.dropdown-menu.show {
    width: 300px;
}





.flx-srch {
    display: flex;
    gap: 0.5rem;
    position: relative;
    padding: 0;
    margin-bottom: 0 !important;
    align-items: center;
}

.flx-srch .btn {
    /*position: absolute; */
    right: 6px;
    top: 9px;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    flex: none;
    padding: 0;
    text-align: center;
    align-items: center;
    line-height: 0 !important;
    /* margin-left: -33px; */
    align-self: center;
    background: transparent;
    color: #333;
    border-color: #666;
    border-radius: 50%;
}

.flx-top {
    display: flex;
    gap: .5rem;
    list-style-type: none;
    flex-wrap: wrap;
}

.flx-top li {
    background: aliceblue;
    display: flex;
    align-items: center;
    padding: 7px 10px;
    border-radius: 5px;
}

.form-check {
    font-size: 13px;
}

.filtr-cat li ul.dropdown-menu li {
    display: flex;
}

.grid-products a {
    font-size: 15px;
    -webkit-line-clamp: 1;
    max-height: 129.6px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}