 .dropdown-toggle::after
         {
         display:none;
         }
		 
         
        
         <!--radio dropdown--> 
         .btn-group, .btn-group__multiple, .btn-group__multiple-radio
         {
         width: 100% !important;
         } 
         .btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default
         {
         color: #000;
         background-color: #fff;
         border-color: #ced4da;
         }
         .btn-default:active:hover, .btn-default.active:hover, .open>.dropdown-toggle.btn-default:hover, .btn-default:active:focus, .btn-default.active:focus, .open>.dropdown-toggle.btn-default:focus, .btn-default:active.focus, .btn-default.active.focus, .open>.dropdown-toggle.btn-default.focus {
         color: #000;
         background-color: #fff;
         border-color: #ced4da;
         }
         .caret
         {
         display:none;
         }
         .btn-group__multiple ul li
         {
         padding: 5px 0;
         }
         .dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus
         {
         background:#fff;
         }
         .btn-group__multiple .dropdown-menu label 
         {
         padding-left: 32px;
         font-size: 12px;
         }
         .dropdown-toggle
         {
         background: #fff;
         color: #000;
         border: 1px solid #ced4da;
         height: 37px;
         }
         .btn, .btn-primary
         {
         font-family: revert;
         justify-content: left;
         }
         .btn:hover, .btn-primary:hover, .btn:focus, .btn-primary:focus
         {
         background:#fff;
         color:#000;
         }
         .item
         {
         border:0;
         }
         .dropdown-menu
         {
         height: 190px;
         overflow: auto;
         }
		 
		 .h-der
         {
         padding:12px;}
         .h-der li
         {
         color:#000;
         list-style-type:none; 
         border-bottom: 1px solid #eee;
         padding: 10px 0;
         font-size: 15px;
         }
         .mob-filtr
         {
         height: 471px;
         overflow: auto;
         }
         .angl-r
         {
         float: right;
         padding-top: 7px;
         }
         .collapsible {
         background-color: #fff;
         color: #000 !important;
         cursor: pointer;
         padding: 18px;
         width: 100%;
         border: none;
         text-align: left;
         outline: none;
         font-size: 15px;
         padding: 15px 12px 35px 12px;
         }
         .active, .collapsible:hover {
         background-color: #f9f9f9;
         }
         .collapsible:after {
         content: '\f107';
         font-family:'FontAwesome';
         color: #000;
         font-weight: bold;
         float: right;
         margin-left: 5px;
         font-size: 19px;
         }
         .active:after {
         content: "\f00d";
         }
         .content {
         padding: 0 18px;
         max-height: 0;
         overflow: hidden;
         transition: max-height 0.2s ease-out;
         background-color: #f9f9f9;
         }
         .mob-filtr li
         {
         position: relative;
         }
         .arowl {
         display: block;
         padding-top: 13px;
         }
         .pl-0{
         padding-left:0;}
         .mob-voitur li a span {
         display: block;
         padding-left: 11px;
         }
         .mob-voitur li {
         display: inline-block;
         width: 49%;
         }