.col-2 {
    display: flex;
}

h4 {
    padding-left: 10px;
}

.m-a {
    margin: auto;
}

.added-pro {
    box-shadow: 0 2px 15px;
    border-radius: 15px;
    padding: 20px;
    padding-top: 40px;
}

.added-img {
    object-fit: contain;
}

.edit-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 16px;
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 2px 8px;
    align-items: center;
    justify-content: center;
}

.icon-parent {
    width: fit-content;
    position: relative;
}

.vup {
    max-width: 600px;
    margin: auto;
    box-shadow: 0 5px 35px -5px #eee;
    padding: 25px;
    border-radius: 10px;
}