<app-header></app-header>
<div id="page-content" class="">
    <!--Container-->
    <div class="container pt-30">
        <!--Main Content-->
        <div class="row">
            <div class="p-0">
                <h3 class="m-t-20"><a routerLink="/viewUserProfile/{{user_id}}"><i class="fa-solid fa-arrow-left"></i> Données personnelles</a></h3>
            </div>

            <div class="row width-m">
                <form [formGroup]="form" (ngSubmit)="submit()" class="customer-form vup">
                    <div class="row p-0">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 main-col mob-p-0 m-a">
                            <div class="mb-3">
                                <div class="">

                                    <div>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                                <div class="mb-3">
                                                    <h4 class="mb-0">Nom d'utilisateur</h4>
                                                    <input type="text" class="form-control in-styl" id="" placeholder="Nom" name="userName" [(ngModel)]="userName" formControlName="userName">

                                                    <div *ngIf="f['userName'].touched && f['userName'].invalid" class="validation_error">
                                                        <div class="error" *ngIf="f['userName'].errors && f['userName'].errors['required']">Le nom est obligatoire.</div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                                <div class="mb-3">
                                                    <h4 class="mb-0">Nom</h4>
                                                    <input type="text" class="form-control in-styl" id="" placeholder="Nom" name="lastName" [(ngModel)]="lastName" formControlName="lastName">

                                                    <div *ngIf="f['lastName'].touched && f['lastName'].invalid" class="validation_error">
                                                        <div class="error" *ngIf="f['lastName'].errors && f['lastName'].errors['required']">Le nom est obligatoire.</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                                <div class="mb-3">
                                                    <h4 class="mb-0">Prénom</h4>
                                                    <input type="text" class="form-control in-styl" id="" placeholder="Prénom" name="firstName" formControlName="firstName" [(ngModel)]="firstName">

                                                    <div *ngIf="f['firstName'].touched && f['firstName'].invalid" class="validation_error">
                                                        <div class="error" *ngIf="f['firstName'].errors && f['firstName'].errors['required']">Le prénom est obligatoire.</div>
                                                    </div>

                                                </div>
                                            </div>


                                            <!-- <div class="row pt-20">
                   
                    <div class="col-2 p-0">  <h4>Date de naissance</h4></div>
                    <div class="col-10 p-0">
                      <input type="text" class="form-control in-styl" id="" placeholder="" name="date_of_birth" formControlName="date_of_birth" [(ngModel)]="date_of_birth" >
    
                      <div *ngIf="f['date_of_birth'].touched && f['date_of_birth'].invalid" class="validation_error">
                        <div class="error" *ngIf="f['date_of_birth'].errors && f['date_of_birth'].errors['required']">Le date de naissance est obligatoire.</div>
                      </div>
    
                    </div>
                  </div> -->

                                            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                                <div class="mb-3">
                                                    <h4 class="mb-0">Téléphone </h4>
                                                    <input type="number" class="form-control in-styl" id="" placeholder="Numéro et nom  de voie" name="mobileNumber" formControlName="mobileNumber" [(ngModel)]="user_mobileNumber">

                                                    <div *ngIf="f['mobileNumber'].touched && f['mobileNumber'].invalid" class="validation_error">
                                                        <div class="error" *ngIf="f['mobileNumber'].errors && f['mobileNumber'].errors['required']">Le numéro de portable est obligatoire.</div>
                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <div>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                                <div class="mb-3">
                                                    <h4 class="mb-0">WhatsApp</h4>
                                                    <input type="number" class="form-control in-styl" id="" placeholder="Numéro et nom  de voie" name="whatsapp" formControlName="whatsapp" [(ngModel)]="whatsapp">
                                                </div>
                                            </div>


                                            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                                <div class="mb-3">
                                                    <h4 class="mb-0">E-mail</h4>
                                                    <input type="email" class="form-control in-styl" id="" placeholder="E-mail" name="email" formControlName="email" [(ngModel)]="user_email">

                                                    <div *ngIf="f['email'].touched && f['email'].invalid" class="validation_error">
                                                        <div class="error" *ngIf="f['email'].errors && f['email'].errors['required']">E-mail obligatoire.</div>
                                                        <div class="error" *ngIf="f['email'].errors && f['email'].errors['pattern']">Veuillez entrer une adresse e-mail valide.</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                                <div class="mb-3">
                                                    <h4 class="mb-0">Image</h4>
                                                    <div class="icon-parent">
                                                        <img src="{{userImage}}" height="150" width="150" class="added-img">
                                                        <i class="fa fa-pencil edit-icon"></i>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                                <div class="mb-3">
                                                    <input formControlName="images" id="images" type="file" (change)="onFileChange($event)" accept="image/png, image/jpeg, image/jpg, image/gif">
                                                    <div *ngIf="f['images'].touched && f['images'].invalid" class="validation_error">
                                                        <div *ngIf="f['images'].errors && f['images'].errors['required']">Le fichier est requis.</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                                <div class="mb-3">
                                                    <h4 class="mb-0">Adresse</h4>
                                                    <input class="form-control in-styl" id="" placeholder="Numéro et nom  de voie" [(ngModel)]="address" input type="text" name="address" formControlName="address" ngx-google-places-autocomplete (onAddressChange)="handleAddressChange($event)">
                                                    <div *ngIf="f['address'].touched && f['address'].invalid" class="validation_error">
                                                        <div class="error" *ngIf="f['address'].errors && f['address'].errors['required']">Le address est obligatoire.</div>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                                <div class="mb-3">
                                                    <h4 class="mb-0">Code postal</h4>
                                                    <input type="number" [(ngModel)]="zip_code" name="zip_code" placeholder="" id="zip_code" formControlName="zip_code" class="form-control in-styl" />
                                                    <div *ngIf="f['zip_code'].touched && f['zip_code'].invalid" class="validation_error">
                                                        <div class="error" *ngIf="f['zip_code'].errors && f['zip_code'].errors['required']">Le code postal est obligatoire.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                                <div class="mb-3">
                                                    <h4 class="mb-0">Ville</h4>
                                                    <input type="text" name="city" placeholder="" id="city" formControlName="city" [(ngModel)]="city" class="form-control in-styl" />
                                                </div>
                                            </div>
                                            <div *ngIf="f['city'].touched && f['city'].invalid" class="validation_error">
                                                <div class="error" *ngIf="f['city'].errors && f['city'].errors['required']">Le ville est obligatoire.
                                                </div>
                                            </div>


                                            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                                <div class="mb-3">
                                                    <h4 class="mb-0">Pays</h4>
                                                    <input type="text" name="country" placeholder="" id="country" formControlName="country" [(ngModel)]="country" class="form-control in-styl" />
                                                </div>
                                            </div>
                                            <div *ngIf="f['country'].touched && f['country'].invalid" class="validation_error">
                                                <div class="error" *ngIf="f['country'].errors && f['country'].errors['required']">Le pays est obligatoire.
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="clearfix"></div><br>
                                <div class="row">
                                    <div class="text-left col-12 col-sm-12 col-md-12 col-lg-12">
                                        <p class="d-flex-center">
                                            <button type="submit" class="btn rounded me-auto w-100">Enregistrer</button>
                                        </p>
                                        <div class="clearfix"></div>
                                        <br>
                                        <div class="comeBack_up" *ngIf="apiResponse">
                                            <div *ngIf="apiResponse.error; else loggedOut">
                                                <div class="alert alert-danger"><strong>{{ apiResponse.errorMessage }}</strong></div>
                                            </div>
                                            <ng-template #loggedOut>
                                                <div *ngIf="apiResponse.errorMessage;" class="alert alert-success"><strong>{{ apiResponse.errorMessage }}</strong></div>
                                            </ng-template>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!--End Main Content-->
        <!--End Container-->
    </div>
</div>
<app-footer></app-footer>