.ng-autocomplete {
    position: relative !important;
    width: 380px !important;
}

::ng-deep ng-autocomplete .autocomplete-container .input-container input {
    font-size: 14px;
    box-sizing: border-box;
    border: none;
    box-shadow: none;
    outline: none;
    background-color: #fff;
    color: #000000de;
    width: 100%;
    padding: 0 15px;
    line-height: 40px;
    height: 40px;
    border: none;
    border-bottom: 3px solid red;
    border-radius: 0;
    padding-left: 30px;
}

.top-srch .search-barsec {
    height: auto;
    display: flex;
    margin-left: 10px;
}

::ng-deep ng-autocomplete .autocomplete-container {
    box-shadow: none !important;
    position: relative;
    overflow: visible;
    height: 40px;
}

::ng-deep ng-autocomplete .autocomplete-container .not-found div {
    color: red;
    padding: 0.4em 0;
    font-size: .95em;
    line-height: 1.4;
    border-bottom: 1px solid rgba(230, 230, 230, .7);
}

::ng-deep ng-autocomplete .autocomplete-container .suggestions-container .heading .text {
    color: black;
    font-size: .85em;
}