<app-mobile-header></app-mobile-header>

<!--Page Wrapper-->
<div class="page-wrapper">

  <app-header></app-header>
  <div id="page-content" class="page-adjust">
    <!--Container-->
    <div class="container max-992">
       <!--Main Content-->
       <div class="login-register pt-2 pt-lg-5">
          <div class="row justify-content-center">
             <div class="col-12 col-sm-12 col-md-6 col-lg-6 mb-4 mb-md-0 text-center">
                <img src="assets/images/products/annonces.png">
                <h2>Nous avons reçu le paiement de votre renouvellement d'abonnement</h2>
                <p class="m-b-15">Nous vous remercions de votre confiance. Votre annonce sera active dès les prochaines minutes.</p>
                <!-- <a class="btn btn-my p-10" href="/">Voir mes annonces</a>&nbsp;
                <a class="btn btn-my1 p-10" href="/" > Déposer une nouvelle annonces</a> -->
             </div>
          </div>
       </div>
       <!--End Main Content-->
    </div>
    <!--End Container-->
 </div>

</div>
<app-footer></app-footer>