a.left_bank_link {
    margin-left: 20px;
}

.in-styl {
    padding: 0;
}

.vup {
    max-width: 600px;
    margin: auto;
    box-shadow: 0 5px 35px -5px #eee;
    padding: 25px;
    border-radius: 10px;
}