<app-header></app-header>
<div id="page-content" class="">
    <!--Container-->
    <div class="container pt-30">
        <!--Main Content-->
        <div class="row width-m">
            <div class="">
                <h3 class="m-t-20">
                    <a routerLink="/userProfile/{{user_id}}">
                        <i class="fa-solid fa-arrow-left"></i> Données personnelles</a>

                    <a routerLink="/accessoriesPurchaseList" class="left_bank_link">
                        <i class="fa fa-eye" aria-hidden="true"></i> Modes de paiement
                    </a>

                    <ng-container *ngIf="user_type == 'pro_user'; else elseProLink ">
                        <a routerLink="/editProUserProfile/{{user_id}}" class="">
                            <span class="an an-edit-l fs-22 float-r"></span>
                        </a>
                    </ng-container>

                    <ng-template #elseProLink>
                        <a routerLink="/editUserProfile/{{user_id}}" class="">
                            <span class="an an-edit-l fs-22 float-r"></span>
                        </a>
                    </ng-template>


                </h3>
            </div>
            <div class="row ">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 main-col mob-">
                    <div class="mb-3">
                        <div class="row">
                            <h4>Indentité</h4>


                            <form class="vup">
                                <div class="">

                                    <div>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                                <div class="mb-3">
                                                    <label for="nom" class="form-label">Nom d'utilisateur</label>
                                                    <input type="text" class="form-control in-styl" id="" placeholder="" name="" value="{{ userName }}" disabled>
                                                </div>
                                            </div>

                                            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                                <div class="mb-3">
                                                    <label for="nom" class="form-label">Nom</label>
                                                    <input type="text" class="form-control in-styl" id="" placeholder="" name="" value="{{ lastName }}" disabled>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                                <div class="mb-3">
                                                    <label for="nom" class="form-label">Prénom</label>
                                                    <input type="text" class="form-control in-styl" id="" placeholder="" name="" value="{{ firstName }}" disabled>

                                                </div>
                                            </div>


                                            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                                <div class="mb-3">
                                                    <label for="nom" class="form-label">E-mail</label>
                                                    <input type="text" class="form-control in-styl" id="" placeholder="" name="" value="{{ user_email }}" disabled>

                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                                <div class="mb-3">
                                                    <label for="nom" class="form-label">Téléphone </label>
                                                    <input type="text" class="form-control in-styl" id="" placeholder="" name="" value="{{ user_mobileNumber }}" disabled>
                                                </div>
                                            </div>


                                            
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                                <div class="mb-3">
                                                    <label for="nom" class="form-label">WhatsApp </label>
                                                    <input type="text" class="form-control in-styl" id="" placeholder="" name="" value="{{ user_whatsapp }}" disabled>
                                                </div>
                                            </div>


                                            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                                <div class="">
                                                    <label for="nom" class="form-label">Adresse </label>
                                                    <input type="text" class="form-control in-styl" id="" placeholder="" name="" value="{{ address }}" disabled>
                                                </div>
                                            </div>

                                            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                                <div class="">
                                                    <label for="nom" class="form-label">Code postal </label>
                                                    <input type="text" class="form-control in-styl" id="" placeholder="" name="" value="{{ zip_code }}" disabled>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div>
                                        <div class="row">
                                            

                                            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                                <div class="mb-3">
                                                    <label for="nom" class="form-label">Ville </label>
                                                    <input type="text" class="form-control in-styl" id="" placeholder="" name="" value="{{ city }}" disabled>
                                                </div>
                                            </div>

                                            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                                <div class="mb-3">
                                                    <label for="nom" class="form-label">Pays </label>
                                                    <input type="text" class="form-control in-styl" id="" placeholder="" name="" value="{{ country }}" disabled>
                                                </div>
                                            </div>

                                            
                                        </div>
                                    </div>
                                    <div>
                                        <div class="row">
                                            

                                            <div class="col-12">
                                                <h4>Image</h4>
                                                <div class="col-2 "> </div>
                                                <div class="col-10 ">
                                                    <img class="mob-img-width" src="{{userImage}}" width="120">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <!-- <div class="mb-3">
                           <label for="nom" class="form-label">Genre </label>
                          <input type="text" class="form-control in-styl" id="" placeholder="" name=""value="{{ gender }}" disabled >
                          
                        </div> -->

                            </form>

                        </div>
                        <!-- <div class="row pt-20"> 
                    <div class="">
                        <label for="nom" class="form-label">Date </label>
                       <input type="text" class="form-control in-styl" id="" placeholder="" name="" value="{{ date_of_birth }}" disabled>
                    </div>
                 </div> -->



                    </div>
                </div>
            </div>
        </div>
        <!--End Main Content-->
    </div>
</div>
<app-footer></app-footer>
<!--End page-content-->