<app-mobile-header></app-mobile-header>

<!--Page Wrapper-->
<div class="page-wrapper">
  <app-header></app-header>
  <div id="page-content" class="p-t-30 page-adjust bg-back">
    <!--Container-->
    <div class="container pt-30">
      <!--Main Content-->
      <div class="">
          <div class="row">
            <!--<div class="col-md-12">
                <h2>Déposer une annonce</h2>
                </div>-->
            
              <div class="col-12 col-sm-12 col-md-12 col-lg-6 mb-4 mb-md-0 ">
                <form [formGroup]="form" (ngSubmit)="submit()" class="customer-form change-f">
                  <h1 class="">Mot de  passe oublie</h1>
                  <p class="m-b-15">Entrez l'adresse e-mail associée à votre compte</p>
                  <div class="row">
                      <div class="col-12 col-sm-12 col-md-12 col-lg-12 p-0">
                        <div class="form-group">
                            <div class="col-md-12"> 
                              <label for="" class="">E-mail<span class="required"> *</span> </label>


                              <div class="input-group mb-3">
                                  <input type="email" name="email" formControlName="email" class="form-control" placeholder="E-mail" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                              </div>

                              <div *ngIf="f['email'].touched && f['email'].invalid" class="validation_error">
                                <div class="error" *ngIf="f['email'].errors && f['email'].errors['required']">Le email est obligatoire.</div>
                                <div class="error" *ngIf="f['email'].errors && f['email'].errors['pattern']">Veuillez entrer une adresse e-mail valide.</div>
                              </div>

                            </div>
                        </div>
                        <div class="txt-center-992">
                          <button class="btn btn-primary" type="submit">Continuer</button>
                        </div>

                        <div class="clearfix"></div>
                        <br>

                        <div class="comeBack_up" *ngIf="apiResponse">
                          <div *ngIf="apiResponse.error; else loggedOut">
                            <div class="alert alert-danger"><strong>{{ apiResponse.errorMessage }}</strong></div>
                          </div>
                          <ng-template #loggedOut>
                            <div  *ngIf="apiResponse.errorMessage;" class="alert alert-success"><strong>{{ apiResponse.errorMessage }}</strong></div>
                          </ng-template>
                        </div>


                      </div>
                  </div>
                </form>
              </div>

              <!-- <div class="col-12 col-sm-12 col-md-6 col-lg-5 mb-4 mb-md-0 text-center d-none d-lg-block">
                  <img class="for-got" src="assets/images/content/forgot-pass.png">
              </div> -->
          </div>
      </div>
      <!--End Main Content-->
    </div>
    <!--End Container-->
  </div>
</div>
<app-footer></app-footer>