<!--Footer-->
<div class="clearfix"></div>
<div class="footer footer-12 d-sm-block mt-5" style="position: sticky;top: 100%; overflow: auto;">
    <div class="footer-top clearfix">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-3 footer-about">
                    <div class="inner mb-0 mb-md-0">
                        <!-- <img src="assets/images/logo/logo.png" alt="Optimal" class="mb-3" width="100" /> -->
                        <div class="custom-text mt-1">
                            <h4 class="h4 body-font text-white d-block d-none d-sm-none d-md-block d-lg-block d-xl-block d-xxl-block">NOS APPLICATIONS</h4>

                            <ul class="list-inline social-icons social-icons2">
                                <li class="list-inline-item mb-3 xs-mb-0">
                                    <a>
                                        <img src="assets/images/icons/a.png" width="135">
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a>
                                        <img src="assets/images/icons/g.png" width="135">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-3 col-lg-3 footer-links d-none d-sm-none d-md-block d-lg-block d-xl-block d-xxl-block">
                    <h4 class="h4 body-font text-white">INFORMATION JURIDIQUE</h4>
                    <ul>
                        <li><a routerLink="/termsCondition">Conditions Générales</a></li>
                        
                        <li><a routerLink="/privacyPolicy">Politique de confidentialité</a></li>
                        <li><a routerLink="/aboutUs">À propos de Porschists</a></li>

                        <!-- <li><a routerLink="/termsCondition">Protection des données</a></li> -->
                    </ul>
                </div>
                <div class="col-12 col-sm-12 col-md-3 col-lg-3 footer-links d-none d-sm-none d-md-block d-lg-block d-xl-block d-xxl-block">
                    <h4 class="h4 body-font text-white">À PROPOS DE PORSCHISTS</h4>
                    <ul>

                        <li><a routerLink="/contactUs">Nous contacter</a></li>
                    </ul>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 newsletter-col d-none d-sm-none d-md-block d-lg-block d-xl-block d-xxl-block">
                    <div class="display-table pt-md-3 pt-lg-0">
                        <div class="display-table-cell footer-newsletter">
                            <h4 class="h4 body-font text-white">NOS APS</h4>
                            <form action="#" method="post">
                                <div class="lng_dropdown mr-2">
                                    <select name="countries" class="custome_select">
                           <option value='fn' data-image="assets/images/icons/fn.png" data-title="France">Français</option>
                             <option value='en' data-image="assets/images/icons/eng.png" data-title="English">Anglais</option>
                             
                          
                             
                          </select>
                                </div>
                            </form>
                            <ul class="list-inline social-icons mt-3 social">
                                <li class="list-inline-item"><a class="facbook" data-bs-toggle="tooltip" data-bs-placement="top" title="Facebook"><i class="fa-brands fa-facebook"></i></a></li>
                                
                                <li class="list-inline-item"><a class="twitr" data-bs-toggle="tooltip" data-bs-placement="top" title="Tiktok"><i class="fa-brands fa-tiktok"></i></a></li>


                                <li class="list-inline-item"><a class="twitr" data-bs-toggle="tooltip" data-bs-placement="top" title="Snapchat"><i class="fa-brands fa-snapchat"></i></a></li>
                                <li class="list-inline-item"><a class="insta" data-bs-toggle="tooltip" data-bs-placement="top" title="Instagram"><i class="fa-brands fa-instagram"></i></a></li>

                                <li class="list-inline-item"><a class="insta" data-bs-toggle="tooltip" data-bs-placement="top" title="X">
                                    <i class="fa-brands fa-x-twitter"></i></a></li>
                                


                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer footer-4 mt-0">
        <div class="footer-bottom clearfix">
            <div class="container bt-1">
                <div class="d-flexflex-column justify-content-md-between py-3">
                    <div class="row">
                        <div class="col-6">Porschists 2022</div>
                        <div class="col-6 d-block d-sm-block d-md-none d-lg-none d-xxl-none">
                            <ul class="list-inline social-icons social-icons1 social">
                                
                                <li class="list-inline-item"><a href="#" class="facbook" data-bs-toggle="tooltip" data-bs-placement="top" title="Facebook"><i class="fa-brands fa-facebook-f"></i></a></li>

                                <li class="list-inline-item"><a href="#" class="twitr" data-bs-toggle="tooltip" data-bs-placement="top" title="X"><i class="fa-brands fa-x-twitter"></i></a></li>

                                <li class="list-inline-item"><a href="#" class="insta" data-bs-toggle="tooltip" data-bs-placement="top" title="Instagram"><i class="fa-brands fa-instagram"></i></a></li>

                                <li class="list-inline-item"><a href="#" class="gmal" data-bs-toggle="tooltip" data-bs-placement="top" title="Google plus"><i class="fa-brands fa-google-plus-g"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End Footer-->
    <!--End Body Container-->
</div>
<!--Footer-->