<app-mobile-header></app-mobile-header>
<app-header></app-header>
      <div class="container">
         <div class="row">
            <div class="col-lg-7 col-md-8 col-sm-12 col-12 m-a" >
                
             <h5 class="pt-3 pb-3">Vous avez {{history.length}} recherches sauvegardées</h5>
            <ng-container *ngIf="history.length > 0;else elseImg">
            
               <ul class="my-resrch">
                  <li *ngFor="let rec of history">
                     <a >
                        <div class="row">
                           <div class="col-lg-8 col-md-8 col-sm-8 col-12">
                              <div class="pl-10">
                                 <div class="">
                                    <h5 class="s-h5 mb-0">{{rec.ad_name}} ({{rec.category}}) <span class="plus-50">{{rec.item_count}}+</span></h5>
                                     
                                 </div>
                                 
                                  <p class="mb-0">{{rec.category}}</p>
                                  <div class="dis-div pt-3 pb-3">
                                      <p class="mb-0">{{rec.address}}</p>
                                      <p class="mb-0">{{rec.created_at| date:'MMM d, y, h:mm:ss a'}}</p>
                                  </div>
                                  <p class="mb-0">Être alerté des nouvelles annonces 
                                    
                                    <a class="btn-en" (click)="activeDeactiveEmail(rec._id)"><span class="bi-envelope-open"></span></a>
                                  </p>
                                   
                              </div>
                             
                           </div>
                           <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                              <div class="">
                                <div class="flex-btn">
                                  <div>
                                      
                                  </div>
                                  <div>
                                      <a class="flx-butn" (click)="deleteHis(rec._id)"><span class="bi-trash"></span> Supprimer</a>
                                  </div>
                              </div>
                             </div>
                              
                           </div>
                        </div>
                     </a>
                  </li>
                  <div class="comeBack_up" *ngIf="webHistoryActiveDeactiveEmailRes">
                     <div *ngIf="webHistoryActiveDeactiveEmailRes.error; else loggedOut">
                       <div class="alert alert-danger"><strong>{{ webHistoryActiveDeactiveEmailRes.errorMessage }}</strong></div>
                     </div>
                     <ng-template #loggedOut>
                       <div class="alert alert-success"><strong>{{ webHistoryActiveDeactiveEmailRes.errorMessage }}</strong></div>
                     </ng-template>
                   </div>
               </ul> 
            </ng-container>
            <ng-template #elseImg>
               <div class="container">
                  <div class="row">
                      <div style="text-align:center; height:500px " class='d-flex bd-highlight py-5 ' id='hello-example'>
                          <div class="align-self-center p-3 bd-highlight col-sx-12 container jumbotron jumbo">
                              <div class="col-md-12 mb-4">
                                  <div class="fas-style mx-auto">
                                      <img class="mw-100" src="../../../assets/images/logo.png" width="200">
                                  </div>
                              </div>
                              <h3></h3>
                          </div>
                      </div>
                  </div>
              </div>
            </ng-template>
            </div>
         </div>
      </div>
      <app-footer></app-footer>
