.my-resrch
{
	padding-left: 0;
	list-style-type: none;
    border: 1px solid #ccc;
    border-radius: 7px;
    margin-bottom: 50px;
}
.my-resrch li 
{

    
    padding: 25px;
    border-bottom: 1px solid #ccc;
    
}
.m-a{
    margin: auto;
}
.my-resrch li:last-child{
    border-bottom: none;
} 
.my-resrch li a 
{
	text-decoration: none !important;
	display: contents;
	color: #222;
}
.flx-butn
{
	font-size: 16px !important;
    font-weight: 600;
    color: #000 !important;
}
.btn-en
{
	border: 1px solid #ccc;
    display: inline-block !important;
    padding: 4px 8px;
    border-radius: 4px;
    width: 35px;
    text-align: center;
    margin-left: 10px !important;
}
.dis-div p 
{
	color: #888;
	font-size: 14px;
}
.plus-50
{
	background: #f00;
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    color: #fff;
    border-radius: 50%;
    font-size: 14px;
}
.flx-butn:hover
{
   color: #f00;
}
.pl-10
{
	padding-left: 10px;
}
@media(min-width:767px)
{
	.flex-btn
   {
     display: flex;
     justify-content: space-between !important;
     height: 170px;
     flex-direction: column;
     align-items: end;
    }
    .my-resrch li 
    {
    	height: 220px;
    }
}
@media(max-width:767px)
{
	.flex-btn
   {
     display: flex;
     justify-content: space-between !important; 
     flex-direction: row;
     align-items: end;
     padding-top: 20px;
    }
}
a{
    cursor: pointer;
}


.fas-style {
    font-size: 48px;
    color: orange;
    border-radius: 50%;
    padding: 15px;
    width: 250px;
    width: 250px;
    height: 250px;
    box-shadow: 0 2px 15px #999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.jumbo {
    background-color: #f0f8ff;
    border-radius: 20px;
    padding: 35px!important;
    max-width: 600px;
    margin: auto;
    box-shadow: 0 2px 25px #ccc;
}

