a {
    text-decoration: none;
}

.line {
    height: 1px;
    background-color: #EEEEEE;
    width: 100%;
    /*margin: 35px 0px;*/
}

.card {
    /*width: 650px;
    margin: auto;*/
    position: relative;
}

.card h6 {
    margin-bottom: 0 !important;
}

.user-img {
    width: 100px !important;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
}

.fa-star.active {
    color: #f00;
}

.btn-pink {
    background-color: #f00;
    color: #fff;
    height: 70px;
    padding: 20px 30px;
    margin-top: 15px;
}

.btn-pink:hover {
    background-color: #f00;
    opacity: .9;
}

.image-bg {
    /*width: 100px;*/
    /*background: antiquewhite;*/
    /* padding-top: 15px;
    padding-bottom: 15px; */
    padding: 0;
    display: flex;
    gap: 15px;
}

.seller-d {
    float: left;
    display: flex;
    flex-direction: column;
   
}

.btn-seler {
    float: right;
}

.fit-image {
    object-fit: contain;
    width: 100%;
    float: left;
   
}

.prod-pic {
    height: 200px;
    cursor: pointer;
    object-fit: contain;
}

.prod-bg {
    width: 19.5%;
    height: 225px;
    background-color: #E0E0E0;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fat-img {
    width: 94px;
    height: 100px;
}

.more {
    width: 19.5%;
    height: 225px;
    color: #fff;
    background-color: #000;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rating {
    padding-left: 0;
    float: right;
}

.rating li {
    display: inline-block;
}

.seler-2 li {
    display: inline-block;
}

.seler-2 {
    padding-left: 0;
    margin-bottom: 0;
}

.seler-2 li a {
    padding: 10px;
    display: block;
    text-decoration: none;
}

.text-right {
    text-align: right;
}

.btn-dotdrop {
    float: right;
    border: 1px solid #f00 !important;
    color: #f00 !important;
    width: 45px;
    height: 45px;
    background: #fff;
    border-radius: 5px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropli {
    display: block;
    width: 100%;
    padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
    clear: both;
    font-weight: 400;
    color: var(--bs-dropdown-link-color);
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.seler-data {
    padding-left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.seler-data li {
    display: inline-block;
    list-style-type: none;
    color: #999;
   
}

.crd {
    height: auto;
    padding: 25px;
    border-radius: 10px;
    max-width: 600px !important;
    box-shadow: 0 2px 17px -4px #DDD;
}

.dropdown-menu {
    padding: 0;
    box-shadow: rgba(26, 26, 26, 0.08) 0px -1px 4px 0px, rgba(26, 26, 26, 0.12) 0px 4px 8px 0px;
    padding: 1rem;
    border-radius: 0.8rem;
    z-index: 1500;
    background: white;
}

.dropdown-menu li a.dropdown-item,
.dropdown-menu li.dropli {
    background: transparent;
    padding: 4px 0;
}

.dropdown-menu li a.dropdown-item span {
    color: #000;
}

.ptb-10 {
    padding: 10px 0;
}

.sellr-list {
    padding-left: 0;
    margin-top: 30px;
}

.sellr-list li a {
    color: #000;
}

.sellr-list li {
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 20px;
    position: relative;
    list-style-type: none;
    box-shadow: 0 1px 5px #ccc;
}

.liv-p {
    background: antiquewhite;
    padding: 5px 18px;
    border-radius: 20px;
    font-size: 12px;
    margin-top: 10px;
}

.sellr-list li a img {
    height: 150px;
    width: 100%;
    object-fit: cover;
}

.hrt-like {
    position: absolute;
    right: 10px;
    top: 10px;
}

.s-h5 {
    padding-right: 40px;
    font-size: 20px !important;
}

.img-pp {
    background: #f0f8ff;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100%;
    border-radius: 10px 0 0 10px;
    position: relative;
}

.c-pic {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #fff;
    background: #000;
    z-index: 9;
    padding: 2px 10px;
    border-radius: 13px;
}

@media screen and (max-width: 677px) {
    .card {
        width: 100%;
        margin: auto;
    }
    .btn-pink {
        width: 100%;
        height: 40px;
        padding: 6px 30px;
    }
    .prod-bg {
        width: 33%;
        height: 110px;
        background-color: #E0E0E0;
    }
    .more {
        width: 66%;
    }
    .crd {
        padding: 15px;
    }
}

@media(max-width:575px) {
    .s-h5 {
        margin-right: 40px;
        -webkit-line-clamp: 2;
        max-height: 129.6px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        font-size: 15px;
    }
    .sellr-list li a img {
        height: 100%;
        border-radius: 10px 0 0 10px;
    }
}

@media (max-width:460px) {
    .mob-dro {
        position: absolute;
        right: 13px;
    }
}

.pagination {
    padding: 15px;
}

.slas li {
    list-style: none;
    display: inline-block;
    font-size: 18px;
}

.slas li+li::before {
    content: "/";
    padding: 6px;
    font-weight: 600;
    color: #ccc;
}

[style^=--rating]::after {
    content: "★★★★★";
    font-size: 24px;
    white-space: nowrap;
    background: linear-gradient(90deg, #f00 calc(var(--rating)  20%), #ddd calc(var(--rating)  20%));
    background-clip: text;
    -webkit-background-clip: text;
    color: #ccc;
}

.rat-ing {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    font-size: 17px;
    line-height: normal;
}

.r-s {
    display: flex;
    align-items: center;
}

#profileImage {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #ff0000;
    font-size: 35px;
    color: #fff;
    text-align: center;
    line-height: 150px;
    margin: 20px 0;
    text-transform: uppercase;
  }
  
  a.btn.rounded-0.btn-icon.quick-view-popup.quick-view.d-none.d-sm-none.d-md-none.d-lg-block {
    background: transparent !important;
    height: auto;
    display: block !important;
}

.side-btn1 {
    background-color: #f00 !important;
}

::ng-deep .ng-image-fullscreen-view .lightbox-wrapper .lightbox-div .lightbox-image-main .lightbox-image .custom-image-main img {
    width: 65% !important;
}

@media (max-width: 992px) {
    .max-mtt {
        margin-top: 15px;
    }
}

.product-gallery__featured {
    border-radius: 8px;
    border: solid 1px #F0F3F4;
    background-color: #fff;
}

.product-gallery__carousel {
    margin-top: 9px;
    /* owl-carousel-o img{
      border-radius: 8px;
      border: solid 1px #F0F3F4;
    } */
}

.product-gallery__carousel-item--active {
    border: solid 1px #459AD4 !important;
}


/* owl-carousel-o::ng-deep{
      img{
        border-radius: 8px;
      }
  } */

a.btn.rounded-0.btn-icon.quick-view-popup.quick-view.d-none.d-sm-none.d-md-none.d-lg-block {
    background: transparent !important;
    height: auto;
    display: block !important;
}

.side-btn1 {
    background-color: #f00 !important;
}

.pro-pic {
    width: 70px;
    height: 70px;
}

.prop-flex {
    display: flex;
    gap: 15px;
    /* align-items: center; */
    text-align: left;
}

.prof-d {
    width: -webkit-fill-available;
    display: flex;
    justify-content: space-between;
}

.ti-tal {
    font-size: 20px;
    font-weight: 600;
}

.ti-tal-ad {
    font-size: 17px;
}

.slas li {
    list-style: none;
    display: inline-block;
    font-size: 18px;
}

.slas li+li::before {
    content: "/";
    padding: 6px;
    font-weight: 600;
    color: #000;
}

[style^=--rating]::after {
    content: "★★★★★";
    font-size: 24px;
    white-space: nowrap;
    background: linear-gradient(90deg, #f00 calc(var(--rating) * 20%), #ddd calc(var(--rating) * 20%));
    background-clip: text;
    -webkit-background-clip: text;
    color: #0000;
}

.rat-ing {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    font-size: 17px;
}

.r-s {
    display: flex;
    align-items: center;
}

#custCarousel .carousel-indicators {
    position: static;
    margin-top: 20px;
    margin: 5px 0 0 0;
    display: flex;
    justify-content: flex-start;
}

#custCarousel .carousel-indicators>li {
    width: 100px;
}

#custCarousel .carousel-indicators li img {
    display: block;
    opacity: 0.5;
    height: 70px;
    object-fit: contain;
}

#custCarousel .carousel-indicators li.active img {
    opacity: 1;
}

#custCarousel .carousel-indicators li:hover img {
    opacity: 0.75;
}

.carousel-item img {
    width: 100%;
    min-height: 400px;
    border: 1px solid #ddd;
    object-fit: contain;
}

.min-mt {
    margin-top: 0 !important;
}

.carousel-control-next,
.carousel-control-prev {
    background: rgba(0, 0, 0, 0.5);
    width: 50px;
    height: 50px;
}

.img-galry {
    position: absolute;
    bottom: 7px;
    right: 7px;
    /* font-size: 35px; */
    color: #999;
    /* border: 1px solid #999; */
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    z-index: 222;
}

.img-galry:hover {
    color: #f00;
}

.pro-d-pro {
    align-items: flex-start !important;
    gap: 10px;
}

#custCarousel .carousel-indicators>li {
    border: 1px solid #ddd;
    border-radius: 5px;
}