<app-mobile-header></app-mobile-header>
<app-header></app-header>



<div class="container mx-auto" *ngFor="let user of myuser">
    <div class="crd mt-30" style="width: 50%;"> <!-- style="width: 100%;" -->
        <div class="row justify-content-start px-3">
           
            <div class="image-bg mr-3">
                <!-- <div class="dropdown mob-dro float-right">
                    <button type="button" class=" btn-dotdrop" data-bs-toggle="dropdown">
                        <i class="fa-solid fa-info"></i>
                    </button>
                    <ul class="dropdown-menu">
                        <li class="dropli">
                            <h6>Plus d‘options</h6>
                        </li>
                        <li><a class="dropdown-item" ><span class="bi-flag"></span> Signaler cet utilisateur</a>
                        </li>
                        <li><a class="dropdown-item" ><span class="bi-share"></span> Partager</a></li>
                    </ul>
                </div> -->
                <img class="user-img fit-image" *ngIf="user.userImage != '' ;else noImg"
                    src="{{base_url_node_only}}public/uploads/userProfile/{{user.userImage}}">
                <ng-template #noImg>  
                    <div id="profileImage">{{user.userName}}</div>
                </ng-template>
                <div class="text-left seller-d">
                    <h2 class="mb-3 mt-2">{{user.userName}} </h2>
                    <div>
                        
                        <a routerLink="" *ngIf="userRes.rating_rec">
                           

                            <div class="rat-ing" *ngIf="userRes.rating_rec != ''; else noVal">
                                <div class="r-s">
                                    <span  style="--rating: {{userRes.rating_rec[0].avgRating}} "></span>
                                     ({{userRes.rating_rec[0].totalRating}})

                                </div>
                                <div>
                                    <span><i class="fa-solid fa-angle-right"></i></span>
                                </div>
                            </div>
                            <ng-template #noVal>
                                <div class="rat-ing" >
                                    <div class="r-s">
                                        <span  style="--rating: 0 "></span>
                                         (0)
    
                                    </div>
                                    <div>
                                        <span><i class="fa-solid fa-angle-right"></i></span>
                                    </div>
                                </div>
                            </ng-template>
                        </a>
                        <h5 class="mb-1" *ngIf="ad">Nombre d'annonces : {{ad.length}}</h5>
                         
                        <div *ngIf="user.user_type == 'pro_user' ">
                        <h5 class="mb-1">{{user.registration_certificate}}</h5>
                        <h5 class="mb-1">{{user.registration_number}}</h5>
                        <h5 class="mb-1">{{user.siret}}</h5>
                        </div>
                    </div>
                </div>
                
            </div>


            <div class="">
                <ul class="seler-data">
                    <li>
                        <span class="bi-bookmarks"></span> Membre depuis {{user.created_at | date: 'MMMM d, y'}}
                    </li>
                    <!-- <li>
                        <span class="bi-clock"></span> Répond généralement dans les 3 heures
                    </li> -->
                    <li>
                        <!-- <button class="btn float-right btnnam" (click)="followSeller(user)">Suivre</button> -->

                        <ng-container *ngIf="is_follow == 1; else elsefollowBtn">

                            <button class="btn float-right btnnam" (click)="followSeller(user)">Ne plus
                                suivre</button> 
                        </ng-container>
                        <ng-template #elsefollowBtn>
                            <button class="btn float-right btnnam" (click)="followSeller(user)">Suivre</button>
                        </ng-template>

                        
                    </li>

                    


                </ul>

                <!-- <ul class="rating d-none d-lg-block d-md-block d-sm-none">
                    <li>
                        <span class="fa fa-star active"></span>
                    </li>
                    <li>
                        <span class="fa fa-star active"></span>
                    </li>
                    <li>
                        <span class="fa fa-star active"></span>
                    </li>
                    <li>
                        <span class="fa fa-star active"></span>
                    </li>
                    <li>
                        <span class="fa fa-star active"></span>
                    </li>
                    <li>
                        <a href="">13 avis</a>
                    </li>
                </ul> -->
            </div>

        </div>



    </div>
    <div class="comeBack_up" *ngIf="apiResponse2">
        <div *ngIf="apiResponse2.error; else loggedOut">
            <div class="alert alert-success"><strong>{{ apiResponse2.errorMessage }}</strong></div>
        </div>
        <ng-template #loggedOut>
            <div *ngIf="apiResponse2.errorMessage">
                <div class="alert alert-success"><strong>{{ apiResponse2.errorMessage }}</strong></div>
            </div>
        </ng-template>

    </div>
</div>



<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <ul class="sellr-list">
                <li *ngFor="let myad of ad">
                    <a>
                        <div class="row">


                            <div class="col-lg-2 col-md-3 col-sm-3 col-5">
                                <div class="img-pp">


                                    <ng-container *ngIf="myad.accessoires_image.length> 0; else imageCarAd">
                                        <img class="mw-100" *ngIf="myad.category == 'Pièces et accessoires' "
                                            src="{{base_url_node_only}}{{myad.accessoires_image[0].path}}">
                                        <span class="c-pic">{{myad.accessoires_image.length}}</span>

                                    </ng-container>
                                    <ng-template #imageCarAd>
                                        <img class="mw-100" *ngIf="myad.category == 'Pièces et accessoires' "
                                            data-src="{{base_url_node_only}}public/uploads/no-image.png"
                                            src="{{base_url_node_only}}public/uploads/no-image.png" alt="image"
                                            title="">
                                    </ng-template>

                                    <ng-container *ngIf="myad.exterior_image.length > 0; else imageCarAd2">
                                        <img class="mw-100" *ngIf="myad.category == 'Porsche Voitures'"
                                            src="{{base_url_node_only}}{{myad.exterior_image[0].path}}">
                                        <span class="c-pic">{{myad.exterior_image.length}} </span>

                                    </ng-container>
                                    <ng-template #imageCarAd2>
                                        <img class="mw-100" *ngIf="myad.category == 'Porsche Voitures'"
                                            data-src="{{base_url_node_only}}public/uploads/no-image.png"
                                            src="{{base_url_node_only}}public/uploads/no-image.png" alt="image"
                                            title="">
                                    </ng-template>


                                </div>
                            </div>




                            <div class="col-lg-10 col-md-9 col-sm-9 col-7">
                                <div class="ptb-10">
                                    <ng-container *ngIf="myad.category == 'Pièces et accessoires';else myelseCat ">
                                        <a routerLink="/accessoriesProductDetail/{{myad._id}}">
                                            <h5 class="s-h5">{{myad.ad_name}}
                                                <!-- <span
                                                class="bi-heart hrt-like"></span> -->
                                            </h5>
                                        </a>
                                    </ng-container>
                                    <ng-template #myelseCat>
                                        <a routerLink="/productDetail/{{myad._id}}">
                                            <h5 class="s-h5">{{myad.ad_name}}
                                                <!-- <span
                                                class="bi-heart hrt-like"></span> -->
                                            </h5>
                                        </a>

                                    </ng-template>

                                    <h6>{{myad.price}} €</h6>
                                    <p class="mb-0">
                                        <ng-container *ngIf="myad.cat_record">
                                            <ng-container *ngIf="myad.cat_record.length>0">

                                                {{myad.cat_record[0].first_heading}}
                                            </ng-container>
                                        </ng-container>
                                        

                                    </p>
                                    <p class="mb-0">{{myad.address}}</p>
                                    <p class="mb-0">{{myad.plan_end_date_time | date :'MMMM d, y'}}</p>
                                    <!-- <p class="mt-1">
                                        <span class="liv-p" *ngIf="myad.plan_end_date_time">Livraison possible</span>
                                        <span class="liv-p" *ngIf="!myad.plan_end_date_time">Livraison Pas disponible</span>
                                    </p> -->
                                </div>
                            </div>
                        </div>
                    </a>
                </li>



            </ul>

            <ul class="pagination">
                <li *ngFor="let item of numbers; let i = index" [class.active]="selectedIndex === i"
                    (click)="getallBanner(item)">
                    <a class="" href="javascript:void(0)">{{item+1}}</a>
                </li>
            </ul>

        </div>
    </div>
</div>




<app-footer></app-footer>