/* margin */

.mr-2, .mx-2 {
    margin-right: .5rem!important;
}

.mr-3, .mx-3 {
    margin-right: 1rem!important;
}

.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.my-2 {

    margin-bottom: .5rem!important;

    margin-top: .5rem!important;

}

.my-4 {

   margin-bottom: 2rem!important;

   margin-top: 2rem!important; 

} 



.m-0 {

	margin: 0px !important;

}

.mt-0 {

    margin-top: 0 !important;

}



.mt-5 {

	margin-top: 5px !important;

}



.mt-10 {

	margin-top: 10px !important;

}



.mt-15 {

	margin-top: 15px !important;

}



.mt-20 {

	margin-top: 20px !important;

}



.mt-25 {

	margin-top: 25px !important;

}



.mt-30 {

	margin-top: 30px !important;

}



.mt-35 {

	margin-top: 35px !important;

}



.mt-40 {

	margin-top: 40px !important;

}



.mt-45 {

	margin-top: 45px !important;

}



.mt-50 {

	margin-top: 50px !important;

}



.mt-55 {

	margin-top: 55px !important;

}



.mt-60 {

	margin-top: 60px !important;

}



.mt-65 {

	margin-top: 65px !important;

}



.mt-70 {

	margin-top: 70px !important;

}



.mt-75 {

	margin-top: 75px !important;

}



.mt-80 {

	margin-top: 80px !important;

}

.mb-0 {

	margin-bottom: 0 !important;

}



.mb-5 {

	margin-bottom: 5px !important;

}



.mb-10 {

	margin-bottom: 10px !important;

}



.mb-15 {

	margin-bottom: 15px !important;

}



.mb-20 {

	margin-bottom: 20px !important;

}



.mb-25 {

	margin-bottom: 25px !important;

}



.mb-30 {

	margin-bottom: 30px !important;

}



.mb-35 {

	margin-bottom: 35px !important;

}



.mb-40 {

	margin-bottom: 40px !important;

}



.mb-45 {

	margin-bottom: 45px !important;

}



.mb-50 {

	margin-bottom: 50px !important;

}



.mb-55 {

	margin-bottom: 55px !important;

}



.mb-60 {

	margin-bottom: 60px !important;

}



.mb-65 {

	margin-bottom: 65px !important;

}



.mb-70 {

	margin-bottom: 70px !important;

}



.mb-75 {

	margin-bottom: 75px !important;

}



.mb-80 {

	margin-bottom: 80px !important;

}



.ml-5 {

	margin-left: 5px !important;

}



.ml-10 {

	margin-left: 10px !important;

}



.ml-15 {

	margin-left: 15px !important;

}



.ml-20 {

	margin-left: 20px !important;

}



.ml-25 {

	margin-left: 25px !important;

}



.ml-30 {

	margin-left: 30px !important;

}



.ml-35 {

	margin-left: 35px !important;

}



.ml-40 {

	margin-left: 40px !important;

}



.ml-45 {

	margin-left: 45px !important;

}



.ml-50 {

	margin-left: 50px !important;

}



.ml-55 {

	margin-left: 55px !important;

}



.ml-60 {

	margin-left: 60px !important;

}



.ml-65 {

	margin-left: 65px !important;

}



.ml-70 {

	margin-left: 70px !important;

}



.ml-75 {

	margin-left: 75px !important;

}



.ml-80 {

	margin-left: 80px !important;

}



.mr-5 {

	margin-right: 5px !important;

}



.mr-10 {

	margin-right: 10px !important;

}



.mr-15 {

	margin-right: 15px !important;

}



.mr-20 {

	margin-right: 20px !important;

}



.mr-25 {

	margin-right: 25px !important;

}



.mr-30 {

	margin-right: 30px !important;

}



.mr-35 {

	margin-right: 35px !important;

}



.mr-40 {

	margin-right: 40px !important;

}



.mr-45 {

	margin-right: 45px !important;

}



.mr-50 {

	margin-right: 50px !important;

}



.mr-55 {

	margin-right: 55px !important;

}



.mr-60 {

	margin-right: 60px !important;

}



.mr-65 {

	margin-right: 65px !important;

}



.mr-70 {

	margin-right: 70px !important;

}



.mr-75 {

	margin-right: 75px !important;

}



.mr-80 {

	margin-right: 80px !important;

}



/* padding */
.py-3 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.px-0 {
  padding-left: 0!important;
  padding-right: 0!important;
}
.pb-1, .py-1 {

    padding-bottom: .25rem!important;

}

.pt-1, .py-1 {

    padding-bottom: .25rem!important;

}

.pb-2, .py-2 {

    padding-bottom: .5rem!important;

}

.pt-2, .py-2 {

    padding-top: .5rem!important;

}

.pb-3, .py-3 {

    padding-bottom: 1rem!important;

}

.pt-3, .py-3 {

    padding-top: 1rem!important;

}

.pb-4, .py-4 {

    padding-bottom: 1.5rem!important;

}

.pt-4, .py-4 {

    padding-top: 1.5rem!important;

}

.pb-5, .py-5 {

    padding-bottom: 3rem!important;

}

.pt-5, .py-5 {

    padding-top: 3rem!important;

}

.p-0 {

	padding: 0px !important;

}

.pb-0 {

	padding-bottom: 0 !important;

}

.pt-5 {

	padding-top: 5px !important;

}



.pt-10 {

	padding-top: 10px !important;

}



.pt-15 {

	padding-top: 15px !important;

}



.pt-20 {

	padding-top: 20px !important;

}



.pt-25 {

	padding-top: 25px !important;

}



.pt-30 {

	padding-top: 30px !important;

}



.pt-35 {

	padding-top: 35px !important;

}



.pt-40 {

	padding-top: 40px !important;

}



.pt-45 {

	padding-top: 45px !important;

}



.pt-50 {

	padding-top: 50px !important;

}



.pt-55 {

	padding-top: 55px !important;

}



.pt-60 {

	padding-top: 60px !important;

}



.pt-65 {

	padding-top: 65px !important;

}



.pt-70 {

	padding-top: 70px !important;

}



.pt-75 {

	padding-top: 75px !important;

}



.pt-80 {

	padding-top: 80px !important;

}



.pt-200 {

	padding-top: 200px;

}



.pb-5 {

	padding-bottom: 5px !important;

}



.pb-10 {

	padding-bottom: 10px !important;

}



.pb-15 {

	padding-bottom: 15px !important;

}



.pb-20 {

	padding-bottom: 20px !important;

}



.pb-25 {

	padding-bottom: 25px !important;

}



.pb-30 {

	padding-bottom: 30px !important;

}



.pb-35 {

	padding-bottom: 35px !important;

}



.pb-40 {

	padding-bottom: 40px !important;

}



.pb-45 {

	padding-bottom: 45px !important;

}



.pb-50 {

	padding-bottom: 50px !important;

}



.pb-55 {

	padding-bottom: 55px !important;

}



.pb-60 {

	padding-bottom: 60px !important;

}



.pb-65 {

	padding-bottom: 65px !important;

}



.pb-70 {

	padding-bottom: 70px !important;

}



.pb-75 {

	padding-bottom: 75px !important;

}



.pb-80 {

	padding-bottom: 80px !important;

}



.pl-0 {

    padding-left: 0 !important;

}



.pl-5 {

	padding-left: 5px !important;

}



.pl-10 {

	padding-left: 10px !important;

}



.pl-15 {

	padding-left: 15px !important;

}



.pl-20 {

	padding-left: 20px !important;

}



.pl-25 {

	padding-left: 25px !important;

}



.pl-30 {

	padding-left: 30px !important;

}



.pl-35 {

	padding-left: 35px !important;

}



.pl-40 {

	padding-left: 40px !important;

}



.pl-45 {

	padding-left: 45px !important;

}



.pl-50 {

	padding-left: 50px !important;

}



.pl-55 {

	padding-left: 55px !important;

}



.pl-60 {

	padding-left: 60px !important;

}



.pl-65 {

	padding-left: 65px !important;

}



.pl-70 {

	padding-left: 70px !important;

}



.pl-75 {

	padding-left: 75px !important;

}



.pl-80 {

	padding-left: 80px !important;

}

.pr-0 {

    padding-right: 0 !important;

}



.pr-5 {

	padding-right: 5px !important;

}



.pr-10 {

	padding-right: 10px !important;

}



.pr-15 {

	padding-right: 15px !important;

}



.pr-20 {

	padding-right: 20px !important;

}



.pr-25 {

	padding-right: 25px !important;

}



.pr-30 {

	padding-right: 30px !important;

}



.pr-35 {

	padding-right: 35px !important;

}



.pr-40 {

	padding-right: 40px !important;

}



.pr-45 {

	padding-right: 45px !important;

}



.pr-50 {

	padding-right: 50px !important;

}



.pr-55 {

	padding-right: 55px !important;

}



.pr-60 {

	padding-right: 60px !important;

}



.pr-65 {

	padding-right: 65px !important;

}



.pr-70 {

	padding-right: 70px !important;

}



.pr-75 {

	padding-right: 75px !important;

}



.pr-80 {

	padding-right: 80px !important;

}

.py-0 {

	padding-top: 0 !important;

	padding-bottom: 0 !important;

}

.border-0 {

    border-radius: 0!important;

}

.border-btm-none {

	border-bottom: 0 !important;

}

.d-flex {

    display: -ms-flexbox!important;

    display: flex!important;

}
.justify-content-between {
	justify-content: space-between;
}

.justify-content-center {

    align-items: center;

    justify-content: space-between;

    

}

.align-flex {

	align-items: flex-end;

}
.align-items-center {
	align-items: center;
}
.d-block {

    display: block!important;

}

.h-400 {

	height: 400px;

	overflow-y: auto;

	overflow-x: hidden;

}

.fg{

	flex-grow: 1;

}

.w-100 {

    width: 100%!important;

}

.w-70 {

    width: 77%;

}

.f-13 {

	font-size: 12px;

}

.text-center {

    text-align: center!important;

}

.border-top-0 {

	border-top: 0!important;

}

.float-right {
	float: right!important;
}

.font-w-4 {
	font-weight: 400;
}
.p-20 {
	padding: 20px;
}
.mt-2, .my-2 {
    margin-top: .5rem!important;
}
.mb-2, .my-2 {
    margin-bottom: .5rem!important;
}
.mb-4, .my-4 {
    margin-bottom: 1.5rem!important;
}
.mb-5, .my-5 {
    margin-bottom: 3rem!important;
}
.p-3 {
    padding: 1rem!important;
}
.border-0 {
	border: 0;
	border-bottom: 0;
} 

.border-radius-0  {
	border-radius: 0!important;
}
.fixed-table-container>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 0;
}
.fixed-table-container tbody td {
    border-left: 0;
}
.table>thead>tr>th {
	border-bottom: 0;
	padding: 15px;
}
.table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 0;
}
.fixed-table-container thead th {
	border-left: 0;
}
.fixed-table-container>tbody>tr>td {
	padding: 15px;
}
.pl-3, .px-3 {
    padding-left: 1rem!important;
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #fafeff;
}
.table-striped>tbody>tr:nth-of-type(even) {
    background-color: #ffffff;
}
/* Css added by aish */

/*******/

.no-gutters {
  margin-right: 5px;
  margin-left: 5px;
}
  .col {
    padding-right: 5px;
    padding-left: 5px;
}
.col:nth-child(1){
	padding-left: 15px;
}
.col:nth-child(4){
	padding-right: 15px;
}
.ts-forms .tsbox {
	margin-bottom: 0;
}
.border-0 {
	border: 0!important;
}
.text-right {
    text-align: right!important;
}
.w-100 {
	width: 100%!important;
}
.font-w-5 {
	font-weight: 500;
}
.border-1 {
	border: 1px solid #ddd;
}
.border-radius {
	border-radius: 8px;
}