<app-mobile-header></app-mobile-header>

<!--Page Wrapper-->
<div class="page-wrapper">

    <app-header-for-ad></app-header-for-ad>

    <div id="page-content" class="page-adjust">
        <!--Container-->
        <div class="breadcrumbs-wrapper text-uppercase bread-crum">
            <div class="container p-0">
                <div class="breadcrumbs">
                    <div id="nav-gwbar" class="nav-gwbar-single-row nav-genz nav-gwbar-white nav-gwbar-scroll">
                        <a routerLink="/adProfessionalUser" class="nav-a active">Annonces</a>
                        <a routerLink="/accessoriesPurchaseList" class="nav-a ">Transactions</a>
                        <ng-container *ngIf="user_type == 'pro_user' ">
                            <a routerLink="/subscriptionRenewal" class="nav-a">Abonnement automobiles</a> 
                            <a routerLink="/subscriptionAccessoriesRenewal" class="nav-a">Abonnement pièces&accessoires</a> 
                        </ng-container>
                        <a routerLink="/review" class="nav-a ">Avis</a>

                        <!-- <a href="#" class="nav-a">Acheter des crédits</a> -->
                        <!-- <a href="#" class="nav-a">Paramètres</a> ng generate component site/adNormalUserAcesAdReactivate
 -->
                    </div>
                </div>
            </div>
        </div>
        <div class="breadcrumbs-wrapper bread-crum1">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-8 col-lg-8 top-sr">
                        <input type="text" placeholder="Recherchez dans vos annonces" class="bg-white mob-mb-8" (input)="searchinput=$event.target">
                    </div>
                    <div class="col-12 col-sm-3 col-md-2 col-lg-2">
                        <div class="custom-select cs butn-recgr mob-mb-8">
                            <select class="d-block" (change)="getCatval($event)">
                
                <option value=""> Catégories</option>
                <option *ngFor="let opt of myCategories" value="{{opt.category}}">{{opt.first_heading}}</option>
              </select>
                        </div>
                    </div>
                    <div class="col-12 col-sm-3 col-md-2 col-lg-2 top-sr">
                        <button class="btn btn-my1 butn-recgr mob-mb-8" (click)="filterRecords()">Rechercher</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid pt-3 max-992">
            <!--Main Content-->
            <div class="row">
                <!--<div class="col-md-12">
              <h2>Déposer une annonce</h2>
              </div>-->
                <div class="row p-0">
                    <div class="col-12 col-sm-6 col-md-9 col-lg-9 mb-4 mb-md-0">
                        <!-- <ul class="anoon-tab">
              <li><a>Annonces en ligne ({{activeAdCount}})</a></li>
              <li><a>Annonces expirées ({{inActiveAdCount}})</a></li>
            </ul> -->
                        <ul class="nav nav-pills anoon-tab">
                            <li class="active">
                                <a href="#active" data-toggle="tab">Annonces en ligne ({{activeAdCount}})</a>
                            </li>
                            <li><a href="#inactive" data-toggle="tab">Annonces expirées ({{inActiveAdCount}})</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3 col-lg-3 mb-4 mb-md-0 btn-aling">
                        <select class="trier" (change)="selectSort($event)">
              <!-- <option value="date_asc">Date d'affectation</option> -->
              <option value="">Trier</option>
              <option value="date_desc">Date de mise en ligne</option>
              <option value="price_asc">Prix croissant</option>
              <option value="price_desc">Prix décroissant</option>
            </select>
                    </div>
                    <div class="text-right mtb-10">
                    </div>
                    <div class="">
                        <!-- <div class="col-2 col-sm-2 col-md-2 col-lg-2 p-0">
                    <div class="form-check pl-0">
                        <input type="checkbox" id="scales" name="scales" class="input-chk ">  
                    </div>
                  </div>
                  <div class="col-10 col-sm-10 col-md-10 col-lg-10 text-right p-0">
                    <button class="btn butn1" disabled=""><i class="fa-solid fa-trash-can-arrow-up"></i><span class="d-none d-lg-block"> Supprimer</span></button>
                  </div> -->
                    </div>
                </div>
                <div class="tab-content clearfix">
                    <div class="tab-pane active" id="active">
                        <ng-container *ngFor="let objAd of getAllUserOwnAd let i=index">
                            <div class="row ad-div"  >
                                <ng-container *ngIf="objAd.category == 'Porsche Voitures'; else catImage ">
                                    <div class="col-12 col-lg-2 col-md-2 col-sm-2">
                                        <ng-container *ngIf="objAd.exterior_image.length > 0; else imgElse">
                                            <img src="{{base_url_node_only}}{{objAd.exterior_image[0].path}}">
                                        </ng-container>
                                        <ng-template #imgElse>
                                            <img src="assets/images/No-image.jpg">
                                        </ng-template>
                                    </div>
                                </ng-container>
                                <ng-template #catImage>
                                    <div class="col-12 col-lg-2 col-md-2 col-sm-2">
                                        <ng-container *ngIf="objAd.accessoires_image.length > 0; else imgElse">
                                            <img src="{{base_url_node_only}}{{objAd.accessoires_image[0].path}}">
                                        </ng-container>
                                        <ng-template #imgElse>
                                            <img src="assets/images/No-image.jpg">
                                        </ng-template>
                                    </div>
                                </ng-template>




                                <div class="col-12 col-lg-5 col-md-6 col-sm-6">
                                    <h2>{{objAd.ad_name}}</h2>
                                    <h3>{{objAd.price}} <i class="fa-solid fa-euro"></i></h3>
                                    <p>
                                        <small>
                                            <ng-container *ngIf="objAd.category == 'Porsche Voitures'; else catImage2 ">
                                                {{cat1}}
                                            </ng-container>
                                            <ng-template #catImage2>
                                                {{cat2}}
                                            </ng-template>
                                        </small>
                                        
                                    </p>




                                    <ng-container *ngIf="objAd.activation_status == 1; else elseActiveStatus">
                                        <button class="btn button-44 bnt-44" (click)="activeInactiveAd(objAd._id,0)">Mettre en pause</button>
                                    </ng-container>
                                    <ng-template #elseActiveStatus>
                                        <button class="btn button-44 bnt-44" (click)="activeInactiveAd(objAd._id,1)">Mettre en ligne</button>

                                    </ng-template>
                                    &nbsp;
                                    <ng-container *ngIf="objAd.category == 'Porsche Voitures'; else elseCarAd ">
                                        <a class="btn button-44 bnt-44" routerLink="/editCarAdPost/{{objAd._id}}">Modifier</a>&nbsp;
                                    </ng-container>
                                    <ng-template #elseCarAd>
                                        <a class="btn button-44 bnt-44" routerLink="/editAccessoriesAdPost/{{objAd._id}}">Modifier</a>&nbsp;
                                    </ng-template>

                                    <button class="btn button-44 btn-delete" (click)="deleteAd(objAd._id)"><i class="fa-solid fa-trash"></i></button>&nbsp;
                                    <button class="btn btn-secondary dropdown-toggle dropdown bnt-44 btn-44-drop" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">Détails </button>
                                    <ul class="dropdown-menu drop-m-i" aria-labelledby="dropdownMenuButton1">
                                        <li><a class="dropdown-item" href="javascript:void(0)"><i class="fa-solid fa-eye"></i>{{objAd.view_count}}</a></li>
                                        <li><a class="dropdown-item" href="javascript:void(0)"><i class="fa-solid fa-phone"></i>{{objAd.mobile_count}}</a></li>
                                        <li><a class="dropdown-item" href="javascript:void(0)"><i class="fa-solid fa-envelope"></i>{{objAd.chat_count}}</a></li>
                                    </ul>
                                </div>
                                <div class="col-8 col-lg-2 col-md-3 col-sm-3 text-center">


                                    <ng-container *ngIf="objAd.category == 'Porsche Voitures';else elseDateTimeCate">
                                        <p>
                                            <ng-container *ngIf="objAd.plan_end_date_time != '' &&  objAd.plan_end_date_time != null && objAd.plan_end_date_time != undefined;else elseDatePlan ">
                                                <strong>Date d'expiration de votre annonce</strong>
                                                {{objAd.plan_end_date_time | date: 'dd/MM/yyyy'}}
                                            </ng-container>
                                            <ng-template #elseDatePlan>
                                                <strong>Date d'achat du régime</strong>
                                                {{objAd.plan_purchase_date_time | date: 'dd/MM/yyyy'}}
                                            </ng-template>

                                        </p>

                                        <!-- <ng-container *ngIf="objAd.plan_end_date_time != '' &&  objAd.plan_end_date_time != null && objAd.plan_end_date_time != undefined ">
                                            <p>{{ dayDiffFunction(objAd.plan_end_date_time) }} Jour restants</p>
                                        </ng-container> -->

                                    </ng-container>
                                    <ng-template #elseDateTimeCate>
                                        <p><strong>Date d'expiration de votre annonce</strong>
                                            <ng-container *ngIf="objAd.plan_end_date_time != '' &&  objAd.plan_end_date_time != null && objAd.plan_end_date_time != undefined;else elseDatePlan ">
                                                {{objAd.plan_end_date_time | date: 'dd/MM/yyyy'}}
                                            </ng-container>
                                            <ng-template #elseDatePlan>
                                                {{objAd.plan_end_date_time | date: 'dd/MM/yyyy'}}
                                            </ng-template>

                                        </p>
                                    </ng-template>






                                </div>
                                <div class="col-12 col-lg-3 col-md-1 col-sm-1" style="border-right:0;">
                                    <div class="row">

                                        <ng-container *ngIf="user_type == 'normal_user'; else proUser ">

                                            <div class="col-lg-12 col-md-12 col-sm-12 col-2 text-right p-0" *ngIf="objAd.top_search == 0; else elseTopSrchZero">
                                                <a routerLink="/adNormalUserTopSearch/{{objAd._id}}" class="btn butn1 button-4"><i class="fa-solid fa-arrow-up-short-wide"></i><span
                                                class="d-none d-lg-block"> Remonter en tête de liste</span></a>
                                            </div>
                                            <ng-template #elseTopSrchZero>
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-2 text-right p-0">
                                                    <a href="javascript:void(0)" class="btn butn1 button-4"><i class="fa-solid fa-arrow-up-short-wide"></i><span 
                                                 class="d-none d-lg-block"> Remonter en tête de liste</span></a>
                                                </div>
                                            </ng-template>
                                        </ng-container>
                                        <ng-template #proUser>
                                            <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-2 text-right p-0">
                                                <a href="javascript:void(0)" class="btn butn1 button-4"  ><i class="fa-solid fa-arrow-up-short-wide"></i><span 
                                                class="d-none d-lg-block"> Remonter en tête de liste</span></a>
                                            </div> -->
                                        </ng-template>

                                        <ng-container *ngIf="user_type == 'normal_user'; else proUser ">

                                            <div class="col-lg-12 col-md-12 col-sm-12 col-2 text-right p-0" *ngIf="objAd.show_on_web == 0; else elseAdActiveZero">

                                                <a routerLink="/adNormalUserCarAdReactivate/{{objAd._id}}" class="btn butn1 button-4" *ngIf="objAd.category == 'Porsche Voitures'; else elseAdCatType"><i class="fa-solid fa-clock-rotate-left"></i> <span
                                                    class="d-none d-lg-block">Réactiver votre abonnement</span></a>
                                                <ng-template #elseAdCatType>
                                                    <a href="javascript:void(0)" class="btn butn1 button-4"><i class="fa-solid fa-clock-rotate-left"></i> <span
                                                    class="d-none d-lg-block">Réactiver votre abonnement</span></a>
                                                </ng-template>
                                            </div>

                                            <ng-template #elseAdActiveZero>
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-2 text-right p-0">
                                                    <a class="btn butn1 button-4" href="javascript:void(0)"><i class="fa-solid fa-clock-rotate-left"></i> <span
                                                        class="d-none d-lg-block">Réactiver votre abonnement</span></a>
                                                </div>
                                            </ng-template>
                                        </ng-container>
                                        <ng-template #proUser>
                                            <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-2 text-right p-0">
                                                <button class="btn butn1 button-4" disabled=""><i class="fa-solid fa-clock-rotate-left"></i> <span
                                                    class="d-none d-lg-block">Réactiver votre abonnement</span></button>
                                            </div> -->
                                        </ng-template>


                                        <ng-container *ngIf="user_type == 'normal_user'; else proAccessUser ">
                                            <ng-container *ngIf="objAd.category == 'Pièces et accessoires'; else elseAdAccessCatType">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-2 text-right p-0">
                                                    <a class="btn butn1 button-4" routerLink="/adNormalUserAcesAdReactivate/{{objAd._id}}"><i class="fa-solid fa-camera"></i><span
                                                    class="d-none d-lg-block"> Pack photo Supplémentaire</span></a>
                                                </div>
                                            </ng-container>
                                            <ng-template #elseAdAccessCatType>
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-2 text-right p-0">
                                                    <a class="btn butn1 button-4" routerLink="/adNormalUserAcesAdReactivate/{{objAd._id}}"><i class="fa-solid fa-camera"></i><span
                                                        class="d-none d-lg-block"> Pack photo Supplémentaire</span></a>
                                                </div>
                                            </ng-template>
                                        </ng-container>

                                        <ng-template #proAccessUser>
                                            <!-- <div  class="col-lg-12 col-md-12 col-sm-12 col-2 text-right p-0">
                                            <button class="btn butn1 button-4" disabled=""><i class="fa-solid fa-camera"></i><span
                                                class="d-none d-lg-block"> Pack photo Supplémentaire</span></button>
                                        </div> -->
                                        </ng-template>



                                        <ng-container *ngIf="user_type == 'normal_user'; else proUser ">

                                            <div class="col-lg-12 col-md-12 col-sm-12 col-2 text-right p-0" *ngIf="objAd.top_urgent == 0; else elseTopUrgentZero">
                                                <a routerLink="/adNormalUserTopUrgent/{{objAd._id}}" class="btn butn1 button-4" disabled=""><i class="fa-solid fa-star"></i><span
                                                class="d-none d-lg-block">Logo Urgent</span></a>
                                            </div>
                                            <ng-template #elseTopUrgentZero>
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-2 text-right p-0">
                                                    <a class="btn butn1 button-4" href="javascript:void(0)"><i class="fa-solid fa-star"></i><span
                                                    class="d-none d-lg-block">Logo Urgent</span></a>
                                                </div>
                                            </ng-template>
                                        </ng-container>
                                        <ng-template #proUser>
                                            <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-2 text-right p-0">
                                            <button class="btn butn1 button-4" disabled=""><i class="fa-solid fa-star"></i><span
                                                class="d-none d-lg-block">Logo Urgent</span></button>
                                        </div> -->
                                        </ng-template>


                                    </div>
                                </div>
                            </div>
                        </ng-container>
                        <div class="col-lg-12">
                            <div>
                                <div class="pagination" *ngFor="let item of activeNumber; let i = index">

                                    <a (click)="activePages(item)" [class.active]="selectedIndex === i">{{ i + 1 }}</a>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="inactive">
                        <ng-container *ngFor="let objAd of inActiveRecord let i=index">
                            <div class="row ad-div" style="border:1px solid #f1f1f1;padding:8px; margin-bottom:100px;">
                                <ng-container *ngIf="objAd.category == 'Porsche Voitures'; else catImage ">
                                    <div class="col-12 col-lg-2 col-md-2 col-sm-2">
                                        <ng-container *ngIf="objAd.exterior_image.length > 0; else imgElse">
                                            <img src="{{base_url_node_only}}{{objAd.exterior_image[0].path}}">
                                        </ng-container>
                                        <ng-template #imgElse>
                                            <img src="assets/images/No-image.jpg">
                                        </ng-template>
                                    </div>
                                </ng-container>
                                <ng-template #catImage>
                                    <div class="col-12 col-lg-2 col-md-2 col-sm-2">
                                        <ng-container *ngIf="objAd.accessoires_image.length > 0; else imgElse">
                                            <img src="{{base_url_node_only}}{{objAd.accessoires_image[0].path}}">
                                        </ng-container>
                                        <ng-template #imgElse>
                                            <img src="assets/images/No-image.jpg">
                                        </ng-template>
                                    </div>
                                </ng-template>




                                <div class="col-12 col-lg-5 col-md-6 col-sm-6">
                                    <h2>{{objAd.ad_name}}</h2>
                                    <h3>{{objAd.price}} <i class="fa-solid fa-euro"></i></h3>
                                    <p><small>{{objAd.category}}</small></p>




                                    <ng-container *ngIf="objAd.activation_status == 1; else elseActiveStatus">
                                        <button class="btn button-44 bnt-44" (click)="activeInactiveAd(objAd._id,0)">Mettre en pause</button>
                                    </ng-container>
                                    <ng-template #elseActiveStatus>
                                        <button class="btn button-44 bnt-44" (click)="activeInactiveAd(objAd._id,1)">Mettre en ligne</button>

                                    </ng-template>
                                    &nbsp;
                                    <ng-container *ngIf="objAd.category == 'Porsche Voitures'; else elseCarAd ">
                                        <a class="btn button-44 bnt-44" routerLink="/editCarAdPost/{{objAd._id}}">Modifier</a>&nbsp;
                                    </ng-container>
                                    <ng-template #elseCarAd>
                                        <a class="btn button-44 bnt-44" routerLink="/editAccessoriesAdPost/{{objAd._id}}">Modifier</a>&nbsp;
                                    </ng-template>

                                    <button class="btn button-44 btn-delete" (click)="deleteAd(objAd._id)"><i class="fa-solid fa-trash"></i></button>&nbsp;
                                    <button class="btn btn-secondary dropdown-toggle dropdown bnt-44 btn-44-drop" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">Détails </button>
                                    <ul class="dropdown-menu drop-m-i" aria-labelledby="dropdownMenuButton1">
                                        <li><a class="dropdown-item" href="javascript:void(0)"><i class="fa-solid fa-eye"></i>{{objAd.view_count}}</a></li>
                                        <li><a class="dropdown-item" href="javascript:void(0)"><i class="fa-solid fa-phone"></i>{{objAd.mobile_count}}</a></li>
                                        <li><a class="dropdown-item" href="javascript:void(0)"><i class="fa-solid fa-envelope"></i>{{objAd.chat_count}}</a></li>
                                    </ul>
                                </div>



                                <div class="col-8 col-lg-2 col-md-3 col-sm-3 text-center">



                                    <ng-container *ngIf="objAd.category == 'Porsche Voitures';else elseDateTimeCate">

                                        <p>
                                            <ng-container *ngIf="objAd.plan_purchase_date_time != '' &&  objAd.plan_purchase_date_time != null && objAd.plan_purchase_date_time != undefined;else elseDatePlan ">
                                                <strong>Date d'achat du régime</strong>
                                                {{objAd.plan_purchase_date_time | date: 'dd/MM/yyyy'}}
                                            </ng-container>
                                            <ng-template #elseDatePlan>
                                                <strong>Date d'expiration de votre annonce</strong>
                                                {{objAd.plan_end_date_time | date: 'dd/MM/yyyy'}}
                                            </ng-template>

                                        </p>


                                    </ng-container>
                                    <ng-template #elseDateTimeCate>

                                        <p><strong>Date d'expiration de votre annonce</strong>
                                            <ng-container *ngIf="objAd.plan_end_date_time != '' &&  objAd.plan_end_date_time != null && objAd.plan_end_date_time != undefined;else elseDatePlan ">
                                                {{objAd.plan_end_date_time | date: 'dd/MM/yyyy'}}
                                            </ng-container>
                                            <ng-template #elseDatePlan>
                                                {{objAd.plan_end_date_time | date: 'dd/MM/yyyy'}}
                                            </ng-template>

                                        </p>
                                    </ng-template>



                                </div>
                                <div class="col-12 col-lg-3 col-md-1 col-sm-1" style="border-right:0;">
                                    <div class="row">

                                        <ng-container *ngIf="user_type == 'normal_user'; else proUserfffffff ">

                                            <div class="col-lg-12 col-md-12 col-sm-12 col-2 text-right p-0" *ngIf="objAd.top_search == 0; else elseTopSrchZero">
                                                <a routerLink="/adNormalUserTopSearch/{{objAd._id}}" class="btn butn1 button-4"><i class="fa-solid fa-arrow-up-short-wide"></i><span
                                                    class="d-none d-lg-block"> Remonter en tête de liste</span></a>
                                            </div>
                                            <ng-template #elseTopSrchZero>
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-2 text-right p-0">
                                                    <a href="javascript:void(0)" class="btn butn1 button-4"><i class="fa-solid fa-arrow-up-short-wide"></i><span 
                                                    class="d-none d-lg-block"> Remonter en tête de liste</span></a>
                                                </div>
                                            </ng-template>
                                        </ng-container>
                                        <ng-template #proUserfffffff>



                                            <a *ngIf="objAd.category == 'Porsche Voitures'; else elseAdCatTypesss" href="javascript:void(0)" (click)="activeCarAd(objAd._id)" class="btn butn1 button-4">
                                                <i class="fa-solid fa-clock-rotate-left"></i> <span class="d-none d-lg-block">Activer</span>
                                            </a>
                                            <ng-template #elseAdCatTypesss>
                                                <a href="javascript:void(0)" (click)="activeAccessAd(objAd._id)" class="btn butn1 button-4"><i class="fa-solid fa-clock-rotate-left"></i> <span
                          class="d-none d-lg-block">Activer</span></a>
                                            </ng-template>


                                        </ng-template>

                                        <ng-container *ngIf="user_type == 'normal_user'; else proUser ">

                                             
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-2 text-right p-0" *ngIf="objAd.show_on_web == 0; else elseAdActiveZero">

                                                <a href="javascript:void(0)" class="btn butn1 button-4" (click)="clickNormalAdReactivate(objAd._id)" *ngIf="objAd.category == 'Porsche Voitures'; else elseAdCatType"><i class="fa-solid fa-clock-rotate-left"></i> <span
                                                    class="d-none d-lg-block">Réactiver votre abonnement </span></a>

                                                <ng-template #elseAdCatType>

                                                    <a href="javascript:void(0)" (click)="clickNormalAdReactivate(objAd._id)" class="btn butn1 button-4"><i class="fa-solid fa-clock-rotate-left"></i> <span
                                                    class="d-none d-lg-block">Réactiver votre abonnement </span></a>
                                                    

                                                </ng-template>
                                            </div>

                                            <ng-template #elseAdActiveZero>
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-2 text-right p-0">
                                                    <a class="btn butn1 button-4" href="javascript:void(0)"><i class="fa-solid fa-clock-rotate-left"></i> <span
                                                        class="d-none d-lg-block">Réactiver votre abonnement </span></a>
                                                </div>
                                            </ng-template>
                                        </ng-container>
                                        <ng-template #proUser>
                                            <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-2 text-right p-0">
                                            <button class="btn butn1 button-4" disabled=""><i class="fa-solid fa-clock-rotate-left"></i> <span
                                                class="d-none d-lg-block">Réactiver votre abonnement</span></button>
                                        </div> -->
                                        </ng-template>


                                        <ng-container *ngIf="user_type == 'normal_user'; else proAccessUser ">
                                            <ng-container *ngIf="objAd.category == 'Pièces et accessoires'; else elseAdAccessCatType">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-2 text-right p-0">
                                                    <a class="btn butn1 button-4" routerLink="/adNormalUserAcesAdReactivate/{{objAd._id}}"><i class="fa-solid fa-camera"></i><span
                                                    class="d-none d-lg-block"> Pack photo Supplémentaire</span></a>
                                                </div>
                                            </ng-container>
                                            <ng-template #elseAdAccessCatType>
                                                <!-- <div  class="col-lg-12 col-md-12 col-sm-12 col-2 text-right p-0">
                                                <button class="btn butn1 button-4" disabled=""><i class="fa-solid fa-camera"></i><span
                                                    class="d-none d-lg-block"> Pack photo Supplémentaire</span></button>
                                                </div> -->
                                            </ng-template>
                                        </ng-container>

                                        <ng-template #proAccessUser>
                                            <!-- <div  class="col-lg-12 col-md-12 col-sm-12 col-2 text-right p-0">
                                            <button class="btn butn1 button-4" disabled=""><i class="fa-solid fa-camera"></i><span
                                                class="d-none d-lg-block"> Pack photo Supplémentaire</span></button>
                                        </div> -->
                                        </ng-template>



                                        <ng-container *ngIf="user_type == 'normal_user'; else proUser ">

                                            <div class="col-lg-12 col-md-12 col-sm-12 col-2 text-right p-0" *ngIf="objAd.top_urgent == 0; else elseTopUrgentZero">
                                                <a routerLink="/adNormalUserTopUrgent/{{objAd._id}}" class="btn butn1 button-4" disabled=""><i class="fa-solid fa-star"></i><span
                                                class="d-none d-lg-block">Logo Urgent</span></a>
                                            </div>
                                            <ng-template #elseTopUrgentZero>
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-2 text-right p-0">
                                                    <a class="btn butn1 button-4" href="javascript:void(0)"><i class="fa-solid fa-star"></i><span
                                                class="d-none d-lg-block">Logo Urgent</span></a>
                                                </div>
                                            </ng-template>
                                        </ng-container>
                                        <ng-template #proUser>
                                            <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-2 text-right p-0">
                                            <button class="btn butn1 button-4" disabled=""><i class="fa-solid fa-star"></i><span
                                                class="d-none d-lg-block">Logo Urgent</span></button>
                                        </div> -->
                                        </ng-template>


                                    </div>
                                </div>
                            </div>
                        </ng-container>
                        <div class="col-lg-12">
                            <div class="center">
                                <div class="pagination" *ngFor="let item of inactiveNumber; let i = index">

                                    <a (click)="inactivePages(item)" [class.active]="selectedIndex2 === i">{{ i + 1 }}</a>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>



            </div>
            <!--End Main Content-->
        </div>
        <!--End Container-->
    </div>
</div>