a.active {
    color: #ff0000 !important;
    border-bottom: 3px solid red;
    margin: 8px !important;
}

li {
    cursor: pointer;
}

.center {
    text-align: center;
    font-family: monospace;
}

.pagination {
    display: inline-block;
    width: auto;
}

.pagination a {
    color: #000000;
    float: right;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .5s;
    border: 1px solid #DDD;
    margin: 0 4px;
    font-size: 20px;
}

.pagination a.active {
    background-color: #f00;
    color: #FFFFFF !important;
    border: 1px solid #f00;
}

.pagination a:hover:not(.active) {
    background-color: #DDD;
}

ul.nav.nav-pills.anoon-tab {
    display: flex;
    gap: 8px;
}

.ad-div {
    border: 1px solid #f1f1f1;
    padding: 50px 10px !important;
    margin-bottom: 1rem;
}

.anoon-tab li {
    margin-right: 0 !important;
}

@media(max-width:576px) {
    .tab-pane h2 {
        margin: 15px 0 15px 0;
    }
}

@media(min-width:577px) {
    .top-sr {
        padding: 0;
    }
}