<div id="page-content" class="page-adjust1">
  <section class="section product-slider tab-slider-product">
     <div class="container d-none d-sm-none d-md-none d-lg-block d-xl-block d-xxl-block">
         <form [formGroup]="form" (ngSubmit)="submit()" class="customer-form">
            <div class="filter_area">
               <div class="tabs-listing">
                  <div class="tabs">
                     <ul class="tab-list tabs clearfix tabs-style3">

                         
                        


                         <li class="active" rel="tab1"><label for="tab-1">{{cat1}}</label><input checked="checked" id="tab-1"   type="radio" (click)="categoryRadioBtn(cat1)" name="categoryType" value="categoryRadioBtn(cat1)" /> 
                        </li>
                        
                        <li rel="tab2" class="tab_last"><label for="tab-2"> {{cat2}}</label><input id="tab-2" name="categoryType" type="radio" (click)="categoryRadioBtn(cat2)" value="categoryRadioBtn(cat2)" /> 
                        </li> 
                     </ul>
                  </div>
                  <div class="tab_container">
                     <div id="tab1" class="tab_content grid-products" *ngIf="tab1Div == true" style="display: block;">
                        <div class="filter-section-area">
                           <div class="search_filter_area">
                              <div class="row">
                                 <div class="col-md-4 space-5 mob-mb-10">
                                    
                                       <div class="control">
                                          <div class="searchField">
                                             <div class="input-box d-flex">
                                                <span class="sr-icon"><i class="fa-solid fa-magnifying-glass"></i></span>
                                                <input type="text" class="input-text rounded-0 border-0 bg-in srch-blok input-styl dropbtn" placeholder="Que recherchez-vous ?">
                                             </div>
                                          </div>
                                       </div>
                                    
                                 </div>
                                 <div class="col-md-4 space-5 mob-mb-10">
                                    
                                       <div class="control">
                                          <div class="searchField">
                                             <div class="input-box d-flex">
                                                <span class="sr-icon"><i class="fa-solid fa-location-dot"></i></span>
                                                
                                                <input onclick="myFunction1()" type="text" id="myInput1" onkeyup="filterFunction1()" class="input-text rounded-0 border-0 bg-in srch-blok input-styl dropbtn" placeholder="Saisissez une autre localisation">
                                             </div>
                                          </div>
                                       </div>
                                 
                                    <ul id="myDropdown1" class="srch12 dropdown-content">
                                       <li> <a href="#"><i class="fa-solid fa-location-crosshairs "></i> Autour de moi</a>
                                       </li>
                                       <li>
                                          <a href="#"><i class="fa-solid fa-flag"></i> Toute la France</a>
                                       </li>
                                       <li>
                                          <button class="effacr">Effacer</button><button class="validr">Valider les localisations</button>
                                       </li>
                                    </ul>
                                 </div>
                                 <!-- <div class="col-md-4 space-5 mob-mb-10">
                                    <button onclick="myFunction2()" type="button" id="myInput2" onkeyup="filterFunction2()" class="input-text rounded-0 border-0 bg-in srch-blok input-styl dropbtn" style="border-radius: 97px !important;">PRIX</button>
                                    <form id="myDropdown2" class="address-from mt-3 form-prix dropdown-content" method="post" action="#">
                                       <fieldset>
                                          <h2 class="login-title mb-3">Prix</h2>
                                          <div class="row">
                                             <div class="form-group position-r col-md-6 col-lg-6 col-xl-6">
                                                <label for="" class="">Minimum </label>
                                                <input name="" placeholder="" value="" id="input-firstname1" class="input-styl" type="text">
                                                <i class="fa-solid fa-euro-sign i-position"></i>
                                             </div>
                                             <div class="form-group position-r col-md-6 col-lg-6 col-xl-6">
                                                <label for="" class="">Maximum </label>
                                                <input name="" placeholder="" value="" id="input-lastname1" class="input-styl" type="text"><i class="fa-solid fa-euro-sign i-position"></i>
                                             </div>
                                          </div>
                                          <div class="text-center">
                                             <button type="submit" class="btn rounded mt-1 submit-btn"><span>SUBMIT</span></button>
                                          </div>
                                       </fieldset>
                                       <div class="two-btn-div"><a href="#" class="fw-700">Effacer</a><a href="#" class="f-r fw-700">Valider</a></div>
                                    </form>
                                 </div> -->
                              </div>
                              <div class="div-ad-filtr">
                                 <button id="show" class="ad-filtr" *ngIf="showDivButton == true" (click)="showSlide()">
                                    <!--Afficher plus de filtres-->
                                    Filtres avancés
                                    <i class="fa-solid fa-arrow-down ad-filtr-i"></i>
                                 </button>
                                 <!--<i class="fa-solid fa-arrow-down ad-filtr-i" ></i></button>-->
                              </div>
                           </div>
                           <div class="dad" *ngIf="showDiv == true" >
                              <div class="row">
                                 <ul class="filtr-cat pt-13">
                                    <li>
                                       <div class="dropdown">
                                          <button class="dropdown-toggle" data-bs-toggle="dropdown">
                                             Modèle
                                          </button>
                                          <ul class="dropdown-menu">
                                             <li class="m-b-0">
                                                <div class="row">
                                                   <h3 class="">Modèle</h3>
                                                   <ul class="type-de-chass garanti-ul">
                                                      <ng-container *ngFor="let modelObj of allModelList">
                                                         <li>
                                                            <div class="form-check p-l-0">
                                                               
                                                               <input type="checkbox" class="input-chk-box mr-15" id="" name="carModel"  [value]="modelObj._id" (change)="onCheckboxChange($event)">
      
                                                               <label class="form-check-label lbl-float lbl-l-h" for="check8">{{modelObj.model_name}}</label>
      
                                                            </div>
                                                         </li>
                                                      </ng-container>
                                                   </ul>
                                                </div>
                                             </li>
                                          </ul>
                                       </div>
                                    </li>

                                    <li>
                                       <div class="dropdown">
                                          <button class="dropdown-toggle" data-bs-toggle="dropdown">
                                             Variante du Modèle
                                          </button>
                                          <ul class="dropdown-menu">
                                             <li class="m-b-0">
                                                   <div class="row">
                                                      <h3 class="">Variante du Modèle</h3>
                                                      <div class="col m-b-10 position-r">
                                                         <label class="lbl"></label>
                                                         <input type="text" class="form-control" placeholder="Type" name="model_variant" formControlName="model_variant">
                                                         <span class="km"></span>
                                                      </div>
                                                   </div>
                                             </li>
                                          </ul>
                                       </div>
                                    </li>

                                    <li>
                                       <div class="dropdown">
                                          <button class="dropdown-toggle" data-bs-toggle="dropdown">
                                             Année
                                          </button>
                                          <ul class="dropdown-menu">
                                             <li class="m-b-0">
                                                <div class="row">
                                                   <h3 class="">Année</h3>
                                                   <ul class="type-de-chass garanti-ul">
                                                      <ng-container *ngFor="let yearObj of allYear">
                                                         <li>
                                                            <div class="form-check p-l-0">
                                                               
                                                               <input type="checkbox" class="input-chk-box mr-15" id="" name="carModel"  [value]="yearObj.year" (change)="onYearChange($event)">
      
                                                               <label class="form-check-label lbl-float lbl-l-h" for="check8">{{yearObj.year}}</label>
      
                                                            </div>
                                                         </li>
                                                      </ng-container>
                                                   </ul>
                                                </div>
                                             </li>
                                          </ul>
                                       </div>
                                    </li>

                                    <li>
                                       <div class="dropdown">
                                          <button class="dropdown-toggle" data-bs-toggle="dropdown">
                                             Type de châssis
                                          </button>
                                          <ul class="dropdown-menu">
                                             <li class="m-b-0">
                                                <div class="row">
                                                   <h3 class="">Type de châssis</h3>
                                                   <ul class="type-de-chass garanti-ul">
                                                      <ng-container *ngFor="let chahisObj of allChasisType">
                                                         <li>
                                                            <div class="form-check p-l-0">
                                                               <input type="checkbox" class="input-chk-box mr-15" id="" name="carModel"  [value]="chahisObj._id" (change)="onchahisChange($event)">
                                                               <label class="form-check-label lbl-float lbl-l-h" for="check8">{{chahisObj.attribute_name}}</label>
                                                            </div>
                                                         </li>
                                                      </ng-container>
                                                   </ul>
                                                </div>
                                             </li>
                                          </ul>
                                       </div>
                                    </li>

                                    <li>
                                       <div class="dropdown">
                                          <button class="dropdown-toggle" data-bs-toggle="dropdown">
                                             Carburant
                                          </button>
                                          <ul class="dropdown-menu">
                                             <li class="m-b-0">
                                                <div class="row">
                                                   <h3 class="">Carburant</h3>
                                                   <ul class="type-de-chass garanti-ul">
                                                      <ng-container *ngFor="let chahisObj of allCarburant">
                                                         <li>
                                                            <div class="form-check p-l-0">
                                                               <input type="radio" class="input-chk-box mr-15" id="" name="fuel"  [value]="chahisObj._id" formControlName="fuel">
                                                               <label class="form-check-label lbl-float lbl-l-h" for="check8">{{chahisObj.attribute_name}}</label>
                                                            </div>
                                                         </li>
                                                      </ng-container>
                                                   </ul>
                                                </div>
                                             </li>
                                          </ul>
                                       </div>
                                    </li>

                                    <li>
                                       <div class="dropdown">
                                          <button class="dropdown-toggle" data-bs-toggle="dropdown">
                                             Boîte de vitesse
                                          </button>
                                          <ul class="dropdown-menu">
                                             <li class="m-b-0">
                                                <div class="row">
                                                   <h3 class="">Boîte de vitesse</h3>
                                                   <ul class="type-de-chass garanti-ul">
                                                      <ng-container *ngFor="let chahisObj of allBoiteDeVitesse">
                                                         <li>
                                                            <div class="form-check p-l-0">
                                                               <input type="radio" class="input-chk-box mr-15" id="" name="type_of_gearbox"  [value]="chahisObj._id" formControlName="type_of_gearbox">
                                                               <label class="form-check-label lbl-float lbl-l-h" for="check8">{{chahisObj.attribute_name}}</label>
                                                            </div>
                                                         </li>
                                                      </ng-container>
                                                   </ul>
                                                </div>
                                             </li>
                                          </ul>
                                       </div>
                                    </li>

                                    <li>
                                       <div class="dropdown">
                                          <button class="dropdown-toggle" data-bs-toggle="dropdown">
                                             Etat du véhicule
                                          </button>
                                          <ul class="dropdown-menu">
                                             <li class="m-b-0">
                                                <div class="row">
                                                   <h3 class="">Etat du véhicule</h3>
                                                   <ul class="type-de-chass garanti-ul">
                                                      <ng-container *ngFor="let chahisObj of allEtatDuVehicle">
                                                         <li>
                                                            <div class="form-check p-l-0">
                                                               <input type="radio" class="input-chk-box mr-15" id="" name="vehicle_condition"  [value]="chahisObj._id" formControlName="vehicle_condition">
                                                               <label class="form-check-label lbl-float lbl-l-h" for="check8">{{chahisObj.attribute_name}}</label>
                                                            </div>
                                                         </li>
                                                      </ng-container>
                                                   </ul>
                                                </div>
                                             </li>
                                          </ul>
                                       </div>
                                    </li>

                                    <li>
                                       <div class="dropdown">
                                          <button class="dropdown-toggle" data-bs-toggle="dropdown">
                                             Couleur
                                          </button>
                                          <ul class="dropdown-menu">
                                             <li class="m-b-0">
                                                <div class="row">
                                                   <h3 class="">Couleur</h3>
                                                   <ul class="type-de-chass garanti-ul">
                                                      <ng-container *ngFor="let chahisObj of allColor">
                                                         <li>
                                                            

                                                            <div class="form-check p-l-0 position-r">
                                                               <input type="checkbox" class="input-chk-box mr-15" id="check8" name="colorId" formControlName="colorId" [value]="chahisObj._id" (change)="onColorChange($event)">
                                                               <label class="form-check-label lbl-float lbl-l-h" for="check8">{{chahisObj.color_name}} <!--<span><span class="clr" style="background-color: #ff0000;width:20px; display: inline-block;height: 20px;position: absolute;top: 3px;right:0;border: 2px solid #bdbaba;"></span></span>--></label>
                                                            </div>

                                                         </li>
                                                      </ng-container>
                                                   </ul>
                                                </div>
                                             </li>
                                          </ul>
                                       </div>
                                    </li>

                                    <li>
                                       <div class="dropdown">
                                          <button class="dropdown-toggle" data-bs-toggle="dropdown">
                                          Garantie Approved
                                          </button>
                                          <ul class="dropdown-menu">
                                             <li class="m-b-0">
                                                <div class="row ">
                                                   <h3 class="">Garantie Approved</h3>
                                                   <div class="row">
                                                      <div class="col-6 p-0">
                                                         <div class="form-check">
                                                            <input type="radio" class="form-check-input" id="radio1" name="warranty" formControlName="warranty" value="yes" checked="">Oui
                                                            <label class="form-check-label" for="radio1"></label>
                                                         </div>
                                                      </div>
                                                      <div class="col-6 p-0">
                                                         <div class="form-check">
                                                            <input type="radio" class="form-check-input" id="radio1" name="warranty" formControlName="warranty"  value="no" checked="">Non
                                                            <label class="form-check-label" for="radio1"></label>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>
                                             </li>
                                          </ul>
                                       </div>
                                    </li>

                                    <li>
                                       <div class="dropdown">
                                          <button class="dropdown-toggle" data-bs-toggle="dropdown">
                                             Carnet d’entretien
                                          </button>
                                          <ul class="dropdown-menu">
                                             <li class="m-b-0">
                                                <div class="row ">
                                                   <h3 class="">Carnet d’entretien</h3>
                                                   <div class="row">
                                                      <div class="col-6 p-0">
                                                         <div class="form-check">
                                                            <input type="radio" class="form-check-input" id="radio1" name="maintenance_booklet" formControlName="maintenance_booklet" value="yes" checked="">Oui
                                                            <label class="form-check-label" for="radio1"></label>
                                                         </div>
                                                      </div>
                                                      <div class="col-6 p-0">
                                                         <div class="form-check">
                                                            <input type="radio" class="form-check-input" id="radio1" name="maintenance_booklet" formControlName="maintenance_booklet"  value="no" checked="">Non
                                                            <label class="form-check-label" for="radio1"></label>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>
                                             </li>
                                          </ul>
                                       </div>
                                    </li>

                                    <li>
                                       <div class="dropdown">
                                          <button class="dropdown-toggle" data-bs-toggle="dropdown">
                                             Facture d’entretien
                                          </button>
                                          <ul class="dropdown-menu">
                                             <li class="m-b-0">
                                                <div class="row ">
                                                   <h3 class="">Facture d’entretien</h3>
                                                   <div class="row">
                                                      <div class="col-6 p-0">
                                                         <div class="form-check">
                                                            <input type="radio" class="form-check-input" id="radio1" name="maintenance_invoice" formControlName="maintenance_invoice" value="yes" checked="">Oui
                                                            <label class="form-check-label" for="radio1"></label>
                                                         </div>
                                                      </div>
                                                      <div class="col-6 p-0">
                                                         <div class="form-check">
                                                            <input type="radio" class="form-check-input" id="radio1" name="maintenance_invoice" formControlName="maintenance_invoice"  value="no" checked="">Non
                                                            <label class="form-check-label" for="radio1"></label>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>
                                             </li>
                                          </ul>
                                       </div>
                                    </li>

                                    <li>
                                       <div class="dropdown">
                                          <button class="dropdown-toggle" data-bs-toggle="dropdown">
                                             Accidentée
                                          </button>
                                          <ul class="dropdown-menu">
                                             <li class="m-b-0">
                                                <div class="row ">
                                                   <h3 class="">Accidentée</h3>
                                                   <div class="row">
                                                      <div class="col-6 p-0">
                                                         <div class="form-check">
                                                            <input type="radio" class="form-check-input" id="radio1" name="accidented" formControlName="accidented" value="yes" checked="">Oui
                                                            <label class="form-check-label" for="radio1"></label>
                                                         </div>
                                                      </div>
                                                      <div class="col-6 p-0">
                                                         <div class="form-check">
                                                            <input type="radio" class="form-check-input" id="radio1" name="accidented" formControlName="accidented"  value="no" checked="">Non
                                                            <label class="form-check-label" for="radio1"></label>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>
                                             </li>
                                          </ul>
                                       </div>
                                    </li>

                                    <li>
                                       <div class="dropdown">
                                          <button class="dropdown-toggle" data-bs-toggle="dropdown">
                                             Peinture d’origine
                                          </button>
                                          <ul class="dropdown-menu">
                                             <li class="m-b-0">
                                                <div class="row ">
                                                   <h3 class="">Peinture d’origine</h3>
                                                   <div class="row">
                                                      <div class="col-6 p-0">
                                                         <div class="form-check">
                                                            <input type="radio" class="form-check-input" id="radio1" name="original_paint" formControlName="original_paint" value="yes" checked="">Oui
                                                            <label class="form-check-label" for="radio1"></label>
                                                         </div>
                                                      </div>
                                                      <div class="col-6 p-0">
                                                         <div class="form-check">
                                                            <input type="radio" class="form-check-input" id="radio1" name="original_paint" formControlName="original_paint"  value="no" checked="">Non
                                                            <label class="form-check-label" for="radio1"></label>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>
                                             </li>
                                          </ul>
                                       </div>
                                    </li>

                                    <li>
                                       <div class="dropdown">
                                          <button class="dropdown-toggle" data-bs-toggle="dropdown">
                                             Matching number
                                          </button>
                                          <ul class="dropdown-menu">
                                             <li class="m-b-0">
                                                <div class="row ">
                                                   <h3 class="">Matching number</h3>
                                                   <div class="row">
                                                      <div class="col-6 p-0">
                                                         <div class="form-check">
                                                            <input type="radio" class="form-check-input" id="radio1" name="matching_number" formControlName="matching_number" value="yes" checked="">Oui
                                                            <label class="form-check-label" for="radio1"></label>
                                                         </div>
                                                      </div>
                                                      <div class="col-6 p-0">
                                                         <div class="form-check">
                                                            <input type="radio" class="form-check-input" id="radio1" name="matching_number" formControlName="matching_number"  value="no" checked="">Non
                                                            <label class="form-check-label" for="radio1"></label>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>
                                             </li>
                                          </ul>
                                       </div>
                                    </li>

                                    <li>
                                       <div class="dropdown">
                                          <button class="dropdown-toggle" data-bs-toggle="dropdown">
                                             Matching color peinture
                                          </button>
                                          <ul class="dropdown-menu">
                                             <li class="m-b-0">
                                                <div class="row ">
                                                   <h3 class="">Matching color peinture</h3>
                                                   <div class="row">
                                                      <div class="col-6 p-0">
                                                         <div class="form-check">
                                                            <input type="radio" class="form-check-input" id="radio1" name="matching_color_paint" formControlName="matching_color_paint" value="yes" checked="">Oui
                                                            <label class="form-check-label" for="radio1"></label>
                                                         </div>
                                                      </div>
                                                      <div class="col-6 p-0">
                                                         <div class="form-check">
                                                            <input type="radio" class="form-check-input" id="radio1" name="matching_color_paint" formControlName="matching_color_paint"  value="no" checked="">Non
                                                            <label class="form-check-label" for="radio1"></label>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>
                                             </li>
                                          </ul>
                                       </div>
                                    </li>

                                    <li>
                                       <div class="dropdown">
                                          <button class="dropdown-toggle" data-bs-toggle="dropdown">
                                             Matching color intérieur
                                          </button>
                                          <ul class="dropdown-menu">
                                             <li class="m-b-0">
                                                <div class="row ">
                                                   <h3 class="">Matching color intérieur</h3>
                                                   <div class="row">
                                                      <div class="col-6 p-0">
                                                         <div class="form-check">
                                                            <input type="radio" class="form-check-input" id="radio1" name="matching_color_interior" formControlName="matching_color_interior" value="yes" checked="">Oui
                                                            <label class="form-check-label" for="radio1"></label>
                                                         </div>
                                                      </div>
                                                      <div class="col-6 p-0">
                                                         <div class="form-check">
                                                            <input type="radio" class="form-check-input" id="radio1" name="matching_color_interior" formControlName="matching_color_interior"  value="no" checked="">Non
                                                            <label class="form-check-label" for="radio1"></label>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>
                                             </li>
                                          </ul>
                                       </div>
                                    </li>

                                    <li>
                                       <div class="dropdown">
                                          <button class="dropdown-toggle" data-bs-toggle="dropdown">
                                             TVA déductible
                                          </button>
                                          <ul class="dropdown-menu">
                                             <li class="m-b-0">
                                                <div class="row ">
                                                   <h3 class="">TVA déductible</h3>
                                                   <div class="row">
                                                      <div class="col-6 p-0">
                                                         <div class="form-check">
                                                            <input type="radio" class="form-check-input" id="radio1" name="deductible_VAT" formControlName="deductible_VAT" value="yes" checked="">Oui
                                                            <label class="form-check-label" for="radio1"></label>
                                                         </div>
                                                      </div>
                                                      <div class="col-6 p-0">
                                                         <div class="form-check">
                                                            <input type="radio" class="form-check-input" id="radio1" name="deductible_VAT" formControlName="deductible_VAT"  value="no" checked="">Non
                                                            <label class="form-check-label" for="radio1"></label>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>
                                             </li>
                                          </ul>
                                       </div>
                                    </li>

                                    <li>
                                       <div class="dropdown">
                                          <button class="dropdown-toggle" data-bs-toggle="dropdown">
                                             Prix
                                          </button>
                                          <ul class="dropdown-menu">
                                             <li class="m-b-0">
                                                <div class="row">
                                                   <h3 class="">Prix</h3>
                                                   <div class="col m-b-10">
                                                      <label class="lbl">Minimum</label>
                                                      <input type="number" class="form-control" placeholder="€" name="minPrice" formControlName="minPrice">
                                                   </div>
                                                   <div class="col">
                                                      <label class="lbl">Maximum</label>
                                                      <input type="number" class="form-control" placeholder="€" name="maxPrice" formControlName="maxPrice">
                                                   </div>
                                                </div>
                                             </li>
                                          </ul>
                                       </div>
                                    </li>
                                    <li>
                                       <div class="dropdown">
                                          <button class="dropdown-toggle" data-bs-toggle="dropdown">
                                          Kilomètre
                                          </button>
                                          <ul class="dropdown-menu">
                                             <li class="m-b-0">
                                                   <div class="row">
                                                      <h3 class="">Kilomètre</h3>
                                                      <div class="col m-b-10 position-r">
                                                         <label class="lbl">Minimum</label>
                                                         <input type="number" class="form-control" placeholder="" name="minKilometer" formControlName="minKilometer">
                                                         <span class="km">km</span>
                                                      </div>
                                                      <div class="col position-r">
                                                         <label class="lbl">Maximum</label>
                                                         <input type="number" class="form-control" placeholder="" name="maxKilometer" formControlName="maxKilometer">
                                                         <span class="km">km</span>
                                                      </div>
                                                      <!-- <div class="p-t-10 two-btn-div"><a href="#">Effacer</a><a href="#" class="float-right">Valider</a></div> -->
                                                   </div>
                                             </li>
                                          </ul>
                                       </div>
                                    </li>
                                    
                                 </ul>
                              </div>
                              <div class="div-ad-filtr ">
                                 <button id="hide" (click)="hideSlide()" class="ad-filtr arow-up"><i class="fa-solid fa-angle-up ad-filtr-i2"></i></button>	
                              </div>
                           </div>
                        </div>
                     </div>
                     <div id="tab2" class="grid-products tab_content" *ngIf="tab2Div == true" style="display: block;">
                        <div class="row m-b-40">
                           <ul class="filtr-cat">
                              
                              <li>
                                 <div class="dropdown">
                                    <button class="dropdown-toggle" data-bs-toggle="dropdown">
                                       Modèle
                                    </button>
                                    <ul class="dropdown-menu">
                                       <li class="m-b-0">
                                          <div class="row">
                                             <h3 class="">Modèle</h3>
                                             <ul class="type-de-chass garanti-ul">
                                                <ng-container *ngFor="let modelObj of allAccessModelList">
                                                   <li>
                                                      <div class="form-check p-l-0">
                                                         
                                                         <input type="radio" class="input-chk-box mr-15" id="" name="accessModel" formControlName="accessModel"  [value]="modelObj._id" (click)="accessModelFun(modelObj._id)">

                                                         <label class="form-check-label lbl-float lbl-l-h" for="check8">{{modelObj.model_name}}</label>

                                                      </div>
                                                   </li>
                                                </ng-container>
                                             </ul>
                                          </div>
                                       </li>
                                    </ul>
                                 </div>
                              </li>

                              <li>
                                 <div class="dropdown">
                                    <button class="dropdown-toggle" data-bs-toggle="dropdown">
                                       Sous-modèle
                                    </button>
                                    <ul class="dropdown-menu">
                                       <li class="m-b-0">
                                          <div class="row">
                                             <h3 class="">Sous-modèle</h3>
                                             <ul class="type-de-chass garanti-ul">
                                                <ng-container *ngFor="let modelObj of allSubModelList">
                                                   <li>
                                                      <div class="form-check p-l-0">
                                                         
                                                         <input type="radio" class="input-chk-box mr-15" id="" name="subModel"  [value]="modelObj._id" formControlName="subModel" >

                                                         <label class="form-check-label lbl-float lbl-l-h" for="check8">{{modelObj.model_name}}</label>

                                                      </div>
                                                   </li>
                                                </ng-container>
                                             </ul>
                                          </div>
                                       </li>
                                    </ul>
                                 </div>
                              </li>

                              <li>
                                 <div class="dropdown">
                                    <button class="dropdown-toggle" data-bs-toggle="dropdown">
                                       Année
                                    </button>
                                    <ul class="dropdown-menu">
                                       <li class="m-b-0">
                                          <div class="row">
                                             <h3 class="">Année</h3>
                                             <ul class="type-de-chass garanti-ul">
                                                <ng-container *ngFor="let yearObj of allYear">
                                                   <li>
                                                      <div class="form-check p-l-0">
                                                         
                                                         <input type="checkbox" class="input-chk-box mr-15" id="" name="accessRegYear"  [value]="yearObj.year" (change)="onYearChangeAccess($event)">

                                                         <label class="form-check-label lbl-float lbl-l-h" for="check8">{{yearObj.year}}</label>

                                                      </div>
                                                   </li>
                                                </ng-container>
                                             </ul>
                                          </div>
                                       </li>
                                    </ul>
                                 </div>
                              </li>

                              <li>
                                 <div class="dropdown">
                                    <button class="dropdown-toggle" data-bs-toggle="dropdown">
                                       Type de pièce
                                    </button>
                                    <ul class="dropdown-menu">
                                       <li class="m-b-0">
                                          <div class="row">
                                             <h3 class="">Type de pièce</h3>
                                             <ul class="type-de-chass garanti-ul">
                                                <ng-container *ngFor="let chahisObj of allTypeDePiece">
                                                   <li>
                                                      <div class="form-check p-l-0">
                                                         <input type="radio" class="input-chk-box mr-15" id="" name="type_de_piece"  [value]="chahisObj._id" formControlName="type_de_piece">
                                                         <label class="form-check-label lbl-float lbl-l-h" for="check8">{{chahisObj.attribute_name}}</label>
                                                      </div>
                                                   </li>
                                                </ng-container>
                                             </ul>
                                          </div>
                                       </li>
                                    </ul>
                                 </div>
                              </li>

                              <li>
                                 <div class="dropdown">
                                    <button class="dropdown-toggle" data-bs-toggle="dropdown">
                                       État
                                    </button>
                                    <ul class="dropdown-menu">
                                       <li class="m-b-0">
                                          <div class="row ">
                                             <h3 class="">État</h3>
                                             <div class="row">
                                                <div class="col-6 p-0">
                                                   <div class="form-check">
                                                      <input type="radio" class="form-check-input" id="radio1" name="state" formControlName="state" value="Neuf" checked="">Neuf
                                                      <label class="form-check-label" for="radio1"></label>
                                                   </div>
                                                </div>
                                                <div class="col-6 p-0">
                                                   <div class="form-check">
                                                      <input type="radio" class="form-check-input" id="radio1" name="state" formControlName="state"  value="Occasion" checked="">Occasion
                                                      <label class="form-check-label" for="radio1"></label>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </li>
                                    </ul>
                                 </div>
                              </li>
                              
                              <li>
                                 <div class="dropdown">
                                    <button class="dropdown-toggle" data-bs-toggle="dropdown">
                                       Pièce d'origine OEM
                                    </button>
                                    <ul class="dropdown-menu">
                                       <li class="m-b-0">
                                          <div class="row ">
                                             <h3 class="">Pièce d'origine OEM</h3>
                                             <div class="row">
                                                <div class="col-6 p-0">
                                                   <div class="form-check">
                                                      <input type="radio" class="form-check-input" id="radio1" name="OEM" formControlName="OEM" value="yes" checked="">Oui
                                                      <label class="form-check-label" for="radio1"></label>
                                                   </div>
                                                </div>
                                                <div class="col-6 p-0">
                                                   <div class="form-check">
                                                      <input type="radio" class="form-check-input" id="radio1" name="OEM" formControlName="OEM"  value="no" checked="">Non
                                                      <label class="form-check-label" for="radio1"></label>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </li>
                                    </ul>
                                 </div>
                              </li>
                              <li>
                                 <div class="dropdown">
                                    <button class="dropdown-toggle" data-bs-toggle="dropdown">
                                       Prix
                                    </button>
                                    <ul class="dropdown-menu">
                                       <li class="m-b-0">
                                          <div class="row">
                                             <h3 class="">Prix</h3>
                                             <div class="col m-b-10">
                                                <label class="lbl">Minimum</label>
                                                <input type="number" class="form-control" placeholder="€" name="minAccessPrice" formControlName="minAccessPrice">
                                             </div>
                                             <div class="col">
                                                <label class="lbl">Maximum</label>
                                                <input type="number" class="form-control" placeholder="€" name="maxAccessPrice" formControlName="maxAccessPrice">
                                             </div>
                                          </div>
                                       </li>
                                    </ul>
                                 </div>
                              </li>


                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="text-center bt-top rounded">
            <button class="btn search_submit rechrchr btn-181" type="submit">Rechercher (54 924 446 résultats)</button>
            </div>
         </form>
     </div>
  </section>
</div>