<app-mobile-header></app-mobile-header>

<!--Page Wrapper-->
<div class="page-wrapper">

    <app-header></app-header>


    <!--- start filter section--->
    <div id="page-content" class="page-adjust1">
      <div class="container tab-pane fade text-center"><br>
        <div class="dont-save">
            <div>
                <!-- <h3>
                    </h3> -->

            </div>
            <div>
                <!-- <img class="mw-100" src="../../../assets/images/product-is-empty.png" height="300"> -->
                <img class="mw-100" src="../../../assets/images/logo.png" height="200">

                <h3>Nous avons bien reçu votre inscription.
                </h3>
                <h4>
                  Vous recevrez prochainement un e-mail avec votre identifiant et votre code d'accès.
Porschiste vous ferez bientôt partie de notre communauté !
                </h4>
            </div>
        </div><br>
    </div>
    </div>


    <app-footer></app-footer>
</div>