.pagination {
  display: inline-block;
  width: auto;
}

.pagination a {
  color: #000000;
  float: right;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .5s;
  border: 1px solid #DDD;
  margin: 0 4px;
  font-size: 20px;
}

.pagination a.active {
  background-color: #0096FF;
  color: #FFFFFF;
  border: 1px solid #0096FF;
}

.pagination a:hover:not(.active) {
  background-color: #DDD;
}




.rating {
  display: flex;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}

.rating li {
  width: 20%;
  list-style-type: none;
}

.rating li a span {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 600;
  font-size: 16px;
}

.pro-d span {
  display: flex;
  gap: 3%;
  text-transform: capitalize;
  font-weight: 600;
}

.pro-d span img {
  width: 25%;
  max-width: 100%;
}

.fas-style {
  font-size: 48px;
  color: orange;
  border-radius: 50%;
  padding: 15px;
  width: 250px;
  width: 250px;
  height: 250px;
  box-shadow: 0 2px 15px #999;
  display: flex;
  align-items: center;
  justify-content: center;
}


.jumbo {
  background-color: #f0f8ff;
  border-radius: 20px;
  padding: 35px!important;
  max-width: 600px;
  margin: auto;
  box-shadow: 0 2px 25px #ccc;
}


.ra-ting li {
  list-style-type: none;
  font-size: 15px;
}

.ra-ting {
  display: flex;
  gap: 3px;
}

.ra-ting li i.f-il {
  color: #f00;
}

 
.no-record {
  text-align: center;
  color: #f00;
}