<app-mobile-header></app-mobile-header>

<!--Page Wrapper-->
<div class="page-wrapper">

    <app-header></app-header>


    <div id="page-content" class="">

      <div class="breadcrumbs-wrapper text-uppercase bread-crum d-none d-sm-block d-md-block d-lg-block d-xl-block">
        <div class="container p-0">
            <div class="breadcrumbs">
                <div id="nav-gwbar" class="nav-gwbar-single-row nav-genz nav-gwbar-white nav-gwbar-scroll">
                    <a routerLink="/adProfessionalUser" class="nav-a">Annonces</a>
                    <a routerLink="/accessoriesPurchaseList" class="nav-a active">Transactions</a>
                    <ng-container *ngIf="user_type == 'pro_user' ">
                        <a routerLink="/subscriptionRenewal" class="nav-a">Abonnements véhicules</a>
                        <a routerLink="/subscriptionAccessoriesRenewal" class="nav-a">Abonnements accessoires</a>
                    </ng-container>
                    <a routerLink="/review" class="nav-a ">Avis</a>
                    <!-- <a  class="nav-a">Acheter des crédits</a> -->
                    <!-- <a  class="nav-a">Paramètres</a> -->
                </div>
            </div>
        </div>
    </div>

    
      <div class="container mt-m20 p-0">
        <!--Main Content-->
        <div class="row">

          <div>
            <h1 class="m-t-20"><i class="fa-solid fa-arrow-left d-sm-none d-md-none d-lg-none d-xxl-none"></i>Avis
            </h1>
        </div>


          <div class="col-12 col-sm-12 col-md-12 col-lg-12" >
            <ng-container *ngIf="record.length > 0; else noRecord">
              <table class="table table-responsive tbl-main" >
                  <thead>
                      <tr class="bg-light">
                          <th scope="col">Numéro de commande</th>
                          <th scope="col">Nom de l'accessoire</th>
                          <th scope="col">Nom de l'utilisateur </th>
                          <th scope="col">Evaluation</th>
                          <th scope="col">Examen </th>
                          <th scope="col">Date</th> 

                      </tr>

                  </thead>
                  <tbody>
                      <tr *ngFor="let val of record ">
                        <td *ngIf="val.orders.length > 0">{{val.orders[0].order_id}}</td>
                        <td *ngIf="val.ad_record.length > 0">{{val.ad_record[0].ad_name}}</td>
                        <td *ngIf="val.user_record.length > 0">{{val.user_record[0].firstName}} {{val.user_record[0].lastName}}</td>
                        <td>
                          <div>
                              <ul class="ra-ting">
                                  <li>
                                    <ng-container *ngIf="val.rating >= 1;else withoutFilled1">
                                      <span><i class="fa-solid f-il fa-star"></i></span>
                                    </ng-container>
                                    <ng-template #withoutFilled1>
                                      <span><i class="fa-regular fa-star"></i></span>
                                    </ng-template>
                                  </li>

                                  <li>
                                    <ng-container *ngIf="val.rating >= 2;else withoutFilled2">
                                      <span><i class="fa-solid f-il fa-star"></i></span>
                                    </ng-container>
                                    <ng-template #withoutFilled2>
                                      <span><i class="fa-regular fa-star"></i></span>
                                    </ng-template>
                                  </li>

                                  <li>
                                    <ng-container *ngIf="val.rating >= 3;else withoutFilled3">
                                      <span><i class="fa-solid f-il fa-star"></i></span>
                                    </ng-container>
                                    <ng-template #withoutFilled3>
                                      <span><i class="fa-regular fa-star"></i></span>
                                    </ng-template>
                                  </li>

                                  <li>
                                    <ng-container *ngIf="val.rating >= 4;else withoutFilled4">
                                      <span><i class="fa-solid f-il fa-star"></i></span>
                                    </ng-container>
                                    <ng-template #withoutFilled4>
                                      <span><i class="fa-regular fa-star"></i></span>
                                    </ng-template>
                                  </li>

                                  <li>
                                    <ng-container *ngIf="val.rating >= 5;else withoutFilled5">
                                      <span><i class="fa-solid f-il fa-star"></i></span>
                                    </ng-container>
                                    <ng-template #withoutFilled5>
                                      <span><i class="fa-regular fa-star"></i></span>
                                    </ng-template>
                                  </li>
                                  
                              </ul>
                          </div>
                        </td>
                        <td>{{val.review}}</td>
                        <td>{{val.created_at |date:'dd/MM/yyyy HH:mm'}}</td>
                      </tr>
                  </tbody>
              </table>

              <div class="row">
                <div style="text-align: end;">
                  <div class="center" class="pagination">
                      <div class="pagination" *ngFor="let item of allsales; let i = index">

                          <a (click)="getallSales(item)" class="active">{{ i + 1 }}</a>

                      </div>
                  </div>
                </div>
              </div>


            </ng-container>
            <ng-template #noRecord>
              <p class="no-record"></p>

              <div class="container">
                <div class="row">
                    <div style="text-align:center; height:500px " class='d-flex bd-highlight py-5 ' id='hello-example'>
                        <div class="align-self-center p-3 bd-highlight col-sx-12 container jumbotron jumbo">
                            <div class="col-md-12 mb-4">
                                <div class="fas-style mx-auto">
                                    <img class="mw-100" src="../../../assets/images/logo.png" width="200">
                                </div>
                            </div>
                            <h3>Vous n'avez pas d'avis</h3>
                        </div>
                    </div>
                </div>
            </div>


            </ng-template>
          </div>
        </div>
      </div>

    </div>
</div>
