<app-mobile-header></app-mobile-header>

<!--Page Wrapper-->
<div class="page-wrapper">

    <app-header></app-header>

    <!--Body Container-->
    <div id="page-content " class="mob-pt-0 max-mtt">
        <!--Breadcrumbs-->
        <!--<div class="breadcrumbs-wrapper text-uppercase">
      <div class="container">
          <div class="breadcrumbs"><a href="index.html" title="Back to the home page">Home</a><span>|</span><span class="fw-bold">Product Layout Style2</span></div>
      </div>
      </div>-->
        <!--End Breadcrumbs-->
        <div class="container p-0">
            <div class="row ">
                <div class="breadcrumbs-wrapper text-uppercase bread-crum">
                    <div class="container p-0">
                        <div class="breadcrumbs">
                            <div id="nav-gwbar" class="nav-gwbar-single-row nav-genz nav-gwbar-white nav-gwbar-scroll">

                                <a routerLink="/" class="nav-a nav-a1">Accueil</a> <i class="fa-solid fa-angle-right lh-30"></i>
                                <a routerLink="/productList" class="nav-a nav-a1">Annonce</a> <i class="fa-solid fa-angle-right lh-30"></i>


                                <span class="detal-spn">{{ad_name}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!--Main Content-->
        <div class="container">

            <!--Product Content-->
            <div class="product-single">
                <div class="row">
                    <p></p>
                    <div class="col-lg-8 col-md-6 col-sm-12 col-12">
                        <!-- <div class="product-details-img product-horizontal-style clearfix mb-3 mb-md-0">
                            <ng-image-slider #nav [images]="imageObject" [infinite]="false" [autoSlide]="true" [showArrow]="false" [imageSize]="{width: '50%', height: 800}" slideImage="1"></ng-image-slider>
                        </div> -->
                        <div id="custCarousel" class="carousel slide" data-ride="carousel" align="center">

                            <!-- slides -->
                            <div class="carousel-inner">
                                <!-- <a href="" class="img-galry"><svg class="image-gallery-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M8 3H5a2 2 0 0 0-2 2v3m18 0V5a2 2 0 0 0-2-2h-3m0 18h3a2 2 0 0 0 2-2v-3M3 16v3a2 2 0 0 0 2 2h3"></path></svg></a> -->

                                <ng-container *ngFor="let objProduct of allCarAd">


                                    <ng-container *ngFor="let dsfdsfdf of objProduct.exterior_image let i=index">



                                        <ng-container *ngIf="i == 0; else elsedfsfdsf">
                                            <div class="carousel-item active">
                                                <img src="{{ dsfdsfdf.image }}" alt="Hills">
                                            </div>

                                        </ng-container>
                                        <ng-template #elsedfsfdsf>
                                            <div class="carousel-item ">
                                                <img src="{{ dsfdsfdf.image }}" alt="Hills">
                                            </div>
                                        </ng-template>

                                    </ng-container>
                                </ng-container>
                            </div>

                            <!-- Left right -->
                            <a class="carousel-control-prev" href="#custCarousel" data-slide="prev">
                                <span class="carousel-control-prev-icon"></span>
                            </a>
                            <a class="carousel-control-next" href="#custCarousel" data-slide="next">
                                <span class="carousel-control-next-icon"></span>
                            </a>

                            <!-- Thumbnails -->
                            <ol class="carousel-indicators list-inline">


                                <ng-container *ngFor="let objProduct of allCarAd">


                                    <ng-container *ngFor="let dsfdsfdf of objProduct.exterior_image let i=index">



                                        <ng-container *ngIf="i == 0; else elsedfsfdsf">

                                            <li class="list-inline-item active">
                                                <a id="carousel-selector-0" class="selected" data-slide-to="0" data-target="#custCarousel">
                                                    <img src="{{ dsfdsfdf.image }}" class="img-fluid">
                                                </a>
                                            </li>

                                        </ng-container>
                                        <ng-template #elsedfsfdsf>
                                            <li class="list-inline-item">
                                                <a id="carousel-selector-{{i}}" data-slide-to="1" data-target="#custCarousel">
                                                    <img src="{{ dsfdsfdf.image }}" class="img-fluid">
                                                </a>
                                            </li>
                                        </ng-template>

                                    </ng-container>
                                </ng-container>
                                <!-- <li class="list-inline-item">
                                <a id="carousel-selector-2" data-slide-to="2" data-target="#custCarousel">
                                  <img src="https://i.imgur.com/83fandJ.jpg"  class="img-fluid">
                                </a>
                              </li>
                    
                               <li class="list-inline-item">
                                <a id="carousel-selector-2" data-slide-to="3" data-target="#custCarousel">
                                  <img src="https://i.imgur.com/JiQ9Ppv.jpg"  class="img-fluid">
                                </a>
                              </li> -->
                            </ol>
                        </div>



                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12 col-12 d-none d-sm-none d-md-block d.lg-block">
                        <div class="wrap-product-info-bg wrap-pro p-20">
                            <div class="col-md-12 text-left" *ngFor="let objProduct of allCarAd">

                                <div class="pro-d-pro">
                                    <div class="pro-pic">

                                        <ng-container *ngIf="objProduct.userId.user_type == 'pro_user';else elseUserTypePhoto ">
                                            <a routerLink="/seller/{{objProduct.userId._id}}" *ngIf="objProduct.userId.companyImage; else elseImageObj">
                                                <img src="{{base_url_node_only}}public/uploads/userProfile/{{objProduct.userId.companyImage}}" class="mw-100" style="width: 70px;">
    
                                            </a>
                                            <ng-template #elseImageObj>
                                                <a routerLink="/seller/{{objProduct.userId._id}}">
                                                    <div id="profileImage">
                                                        {{objProduct.userId.firstName[0]}}{{objProduct.userId.lastName[0]}}
                                                    </div>
                                                </a>
                                            </ng-template>
                                        </ng-container>

                                        <ng-template #elseUserTypePhoto>
                                            <a routerLink="/seller/{{objProduct.userId._id}}" *ngIf="objProduct.userId.userImage; else elseImageObj">
                                                <img src="{{base_url_node_only}}public/uploads/userProfile/{{objProduct.userId.userImage}}" class="mw-100" style="width: 70px;">
    
                                            </a>
                                            <ng-template #elseImageObj>
                                                <a routerLink="/seller/{{objProduct.userId._id}}">
                                                    <div id="profileImage">
                                                        {{objProduct.userId.firstName[0]}}{{objProduct.userId.lastName[0]}}
                                                    </div>
                                                </a>
                                            </ng-template>
                                        </ng-template>
                                        

                                    </div>
                                    <div>

                                        
                                        <div>
                                            <p class="ti-tal"><a routerLink="/seller/{{objProduct.userId._id}}">
                                        
                                                <ng-container *ngIf="objProduct.userId.user_type == 'pro_user';else elseUserType ">
                                                    {{objProduct.userId.enterprise}}
                                                </ng-container>
                                                <ng-template #elseUserType>
                                                    {{objProduct.userId.userName}}
                                                </ng-template>
    
    
                                            </a></p>
                                            
                                            <a routerLink="/seller/{{objProduct.userId._id}}" *ngIf="apiResponse.rating_rec">



                                                <div class="rat-ing" *ngIf="apiResponse.rating_rec != ''; else noVal">
                                                    <div class="r-s" *ngIf="apiResponse.rating_rec.length > 0">
                                                        <span style="--rating: {{apiResponse.rating_rec[0].avgRating}} "></span> ({{apiResponse.rating_rec[0].totalRating}})

                                                    </div>
                                                    <div>
                                                        <span><i class="fa-solid fa-angle-right"></i></span>
                                                    </div>
                                                </div>
                                                <ng-template #noVal>
                                                    <div class="rat-ing">
                                                        <div class="r-s">
                                                            <span style="--rating: 0 "></span> (0)

                                                        </div>
                                                        <div>
                                                            <span><i class="fa-solid fa-angle-right"></i></span>
                                                        </div>
                                                    </div>
                                                </ng-template>
                                            </a>

                                            
                                            <p *ngIf="allCarAd">{{allCarAd[0].city}} {{allCarAd[0].country}}</p>
                                        </div>

                                        
                                        <ul class="slas">
                                            <li>{{old_model_name}}</li>
                                            <li>{{old_model_variant}}</li>
                                        </ul>
                                        <span class="ti-tal-ad">{{old_ad_name}}</span>
                                        <p>
                                            <span class="ti-tal-ad">
                                                {{old_price}}
                                                <i class="fa-solid fa-euro-sign"></i>
                                            </span>
                                        </p>


                                    </div>


                                    <hr>
                                </div>
                                <!-- <p><i class="fa-solid fa-clock"></i><small> Répond généralement en 10 minutes</small></p> -->
                                <a routerLink="/adChatInitiate/{{objProduct._id}}" class="btn btn-side side-btn1"><i
                                        class="fa-solid fa-envelope padd-r"></i> Envoyer un message</a>

                                <div *ngIf="user_id !='' && user_id != null;">

                                     
                                    <ng-container *ngIf="objProduct.contact_show == false; else notToShow" >
                                    <a href="javascript:void(0)" *ngIf="showNumberVar == true " (click)="showNumber()" class="btn btn-side side-btn1"><i class="fa-solid fa-phone padd-r"></i> Voir le numéro</a>

                                    <a href="javascript:void(0)" *ngIf="hideNumberVar == true " (click)="hideNumber()" class="btn btn-side side-btn1"><i class="fa-solid fa-phone padd-r"></i>
                                    {{objProduct.userId.mobileNumber}}
                                    
                                    </a>
                                </ng-container>
                                <ng-template #notToShow>
                                    <a href="javascript:void(0)"   class="btn btn-side side-btn1"><i class="fa-solid fa-phone padd-r"></i> Voir le numéro</a>
                                </ng-template>
                                    <ng-container *ngIf="objProduct.userId.whatsapp && objProduct.userId.whatsapp != null  && objProduct.userId.whatsapp != 'null' ">
                                        <a target="_blank" href="https://api.whatsapp.com/send?phone={{objProduct.userId.whatsapp}}&text=" class="btn btn-side side-btn1">
                                             
                                        
                                            Whatsapp
                                        </a>
                                    </ng-container>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row min-mt" *ngFor="let objProduct of allCarAd">
                    <div class="col-lg-8 col-md-6 col-sm-12 col-12">
                        <!-- <h1 class="m-b-8 mt-5">{{objProduct.ad_name}}</h1>
                        <p class="m-b-8"><span *ngIf="objProduct.modelId.length > 0">{{objProduct.modelId[0].model_name}}</span> • <span>{{objProduct.model_variant}}</span> <span> • {{objProduct.registration_year}}</span> <span> • {{objProduct.engine_operation_hour}} km</span>                            • <span *ngIf="objProduct.fuel.length > 0">{{objProduct.fuel[0].attribute_name}}</span></p>
                        <span class="spn-price">700 <i class="fa-solid fa-euro-sign"></i></span> -->

                        <hr>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-8 main-col">




                        <!--Toolbar-->
                        <div class="toolbar mt-0">
                            <!-- <h2>Critères</h2> -->
                        </div>
                        <!--End Toolbar-->
                        <!--Product Grid-->
                        <div class="grid-products grid--view-items prd-grid">
                            <div class="row" *ngFor="let objProduct of allCarAd">

                                <div class="col-12 col-sm-6 col-md-4 col-lg-4 p-0">
                                    <div class="product-details">
                                        <!--Product Name-->
                                        <div class="product-name pb-0">
                                            <span class="float-left img-spn new-span">
                                                <!--<i class="fa-solid fa-gas-pump txt-icon"></i>-->
                                                <img src="assets/images/slideshow/pr1.png" class="txt-icon mw-100">
                                            </span>
                                            <div class="side-txt">
                                                <p class="first-txt"><span>Modèle</span>
                                                </p>
                                                <p class="" *ngIf="objProduct.modelId.length > 0">
                                                    {{objProduct.modelId[0].model_name}}</p>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-sm-6 col-md-4 col-lg-4 p-0">
                                    <!--Start Product Details-->
                                    <div class="product-details">
                                        <!--Product Name-->
                                        <div class="product-name pb-0">
                                            <span class="float-left img-spn new-span">
                                                <!--<i class="fa-solid fa-gas-pump txt-icon"></i>-->
                                                <img src="assets/images/slideshow/pr1.png" class="txt-icon mw-100">
                                            </span>
                                            <div class="side-txt">
                                                <p class="first-txt"><span>Génération</span>
                                                </p>
                                                <ng-container *ngIf="objProduct.subModelId">
                                                    <p class=""  *ngIf="objProduct.subModelId.length > 0" >{{objProduct.subModelId[0].model_name}}
                                                    </p>
                                                </ng-container>
                                                 
                                            </div>
                                        </div>
                                    </div>
                                    <!--End Product Details-->
                                </div>


                                <!-- <div class="col-12 col-sm-6 col-md-4 col-lg-4 p-0">
                                     
                                    <div class="product-details">
                                         
                                        <div class="product-name pb-0">
                                            <span class="float-left img-spn ">
                                                 
                                                <img src="assets/images/slideshow/finish.png" class="txt-icon"
                                                   >
                                            </span>
                                            <div class="side-txt">
                                                <p class="first-txt"><span>Finition</span>
                                                </p>
                                                <p class="">Solide</p>
                                            </div>
                                        </div>
                                    </div>
                                     
                                </div> -->

                                <div class="col-12 col-sm-6 col-md-4 col-lg-4 p-0">
                                    <div class="product-details">
                                        <div class="product-name pb-0">
                                            <span class="float-left img-spn ">
                                                <img src="assets/images/slideshow/finish.png" class="txt-icon"
                                                   >
                                            </span>
                                            <div class="side-txt">
                                                <p class="first-txt"><span>Version</span>
                                                </p>
                                                <p class="">{{objProduct.model_variant}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-12 col-sm-6 col-md-4 col-lg-4 p-0">
                                    <div class="product-details">
                                        <!--Product Name-->
                                        <div class="product-name pb-0">
                                            <span class="float-left img-spn">
                                                <!--<i class="fa-solid fa-gas-pump txt-icon"></i>--><img
                                                    src="assets/images/slideshow/4.png" class="txt-icon">
                                            </span>
                                            <div class="side-txt">
                                                <p class="first-txt">Année</p>
                                                <p class="second-txt">{{objProduct.registration_year}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="col-12 col-sm-6 col-md-4 col-lg-4 p-0">
                  <div class="product-details">
                     
                    <div class="product-name pb-0">
                      <span class="float-left img-spn">
                         
                        <img src="assets/images/slideshow/4.png" class="txt-icon">
                      </span>
                      <div class="side-txt">
                        <p class="first-txt"><span>Mise en circulation</span>
                        </p>
                        <p class="">7/2021</p>
                      </div>
                    </div>
                  </div>
                </div> -->
                                <div class="col-12 col-sm-6 col-md-4 col-lg-4 p-0">
                                    <div class="product-details">
                                        <!--Product Name-->
                                        <div class="product-name pb-0">
                                            <span class="float-left img-spn">
                                                <!--<i class="fa-solid fa-gas-pump txt-icon"></i>-->
                                                <img src="assets/images/slideshow/6.png" class="txt-icon">
                                            </span>
                                            <div class="side-txt">
                                                <p class="first-txt"><span>Kilométrage</span>
                                                </p>
                                                <p class="">{{objProduct.engine_operation_hour}} KM</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4 col-lg-4 p-0">
                                    <div class="product-details">
                                        <!--Product Name-->
                                        <div class="product-name pb-0">
                                            <span class="float-left img-spn">
                                                <!--<i class="fa-solid fa-gas-pump txt-icon"></i>-->
                                                <img src="assets/images/slideshow/Group 599.png" class="txt-icon">
                                            </span>
                                            <div class="side-txt">
                                                <p class="first-txt"><span>Carburant</span>
                                                </p>
                                                <p class="" *ngIf="objProduct.fuel.length > 0">
                                                    {{objProduct.fuel[0].attribute_name}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4 col-lg-4 p-0">
                                    <div class="product-details">
                                        <!--Product Name-->
                                        <div class="product-name pb-0">
                                            <span class="float-left img-spn new-span">
                                                <!--<i class="fa-solid fa-gas-pump txt-icon"></i>-->
                                                <img src="../../../assets/images/icons/911.png" class="txt-icon"
                                                    style="max-width: 100%;">
                                                <!--<i class="fa-solid fa-gas-pump txt-icon"></i>-->
                                            </span>
                                            <div class="side-txt">
                                                <p class="first-txt"><span>Boîte de vitesse</span>
                                                </p>
                                                <p class="" *ngIf="objProduct.type_of_gearbox.length > 0">
                                                    {{objProduct.type_of_gearbox[0].attribute_name}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-sm-6 col-md-4 col-lg-4 p-0">
                                    <div class="product-details">
                                        <!--Product Name-->
                                        <div class="product-name pb-0">
                                            <span class="float-left img-spn new-span">
                                                <!--<i class="fa-solid fa-gas-pump txt-icon"></i>-->
                                                <img src="assets/images/slideshow/pr1.png" class="txt-icon"
                                                    style="max-width: 100%;">
                                            </span>
                                            <div class="side-txt">
                                                <p class="first-txt"><span>Type de châssis</span>
                                                </p>
                                                <ng-container *ngIf="objProduct.type_of_chassis">

                                                    <p class="" *ngIf="objProduct.type_of_chassis.length > 0">
                                                    {{objProduct.type_of_chassis[0].attribute_name}}</p>
                                                </ng-container>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-sm-6 col-md-4 col-lg-4 p-0">
                                    <div class="product-details">
                                        <!--Product Name-->
                                        <div class="product-name pb-0">
                                            <span class="float-left img-spn new-span">
                                                <!--<i class="fa-solid fa-gas-pump txt-icon"></i>--><img
                                                    src="assets/images/slideshow/status.png" class="txt-icon"
                                                    style="max-width: 100%;">
                                            </span>
                                            <div class="side-txt">
                                                <p class="first-txt"><span>État du véhicule</span>
                                                </p>
                                                <ng-container *ngIf="objProduct.vehicle_condition">
                                                    <p class="" *ngIf="objProduct.vehicle_condition.length > 0">
                                                    {{objProduct.vehicle_condition[0].attribute_name}}</p>
                                                </ng-container>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                
                                <div class="col-12 col-sm-6 col-md-4 col-lg-4 p-0">
                                    <div class="product-details">
                                        <!--Product Name-->
                                        <div class="product-name pb-0">
                                            <span class="float-left img-spn new-span">
                                                <!--<i class="fa-solid fa-gas-pump txt-icon"></i>-->
                                                <img src="assets/images/slideshow/pr1.png" class="txt-icon mw-100">
                                            </span>
                                            <div class="side-txt">
                                                <p class="first-txt"><span>Couleur extérieur</span>
                                                </p>
                                                <ng-container *ngIf="objProduct.colorId">
                                                    <p class="" *ngIf="objProduct.colorId.length > 0">
                                                    {{objProduct.colorId[0].color_name}}</p>
                                                </ng-container>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-12 col-sm-6 col-md-4 col-lg-4 p-0">
                                    <div class="product-details">
                                        <!--Product Name-->
                                        <div class="product-name pb-0">
                                            <span class="float-left img-spn new-span">
                                                <!--<i class="fa-solid fa-gas-pump txt-icon"></i>-->
                                                <img src="assets/images/slideshow/pr1.png" class="txt-icon mw-100">
                                            </span>
                                            <div class="side-txt">
                                                <p class="first-txt"><span>Couleur intérieur</span>
                                                </p>
                                                <ng-container *ngIf="objProduct.colorIdInterior">
                                                    <p class="" *ngIf="objProduct.colorIdInterior.length > 0">
                                                        {{objProduct.colorIdInterior[0].color_name}}</p>
                                                </ng-container>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                

                                <div class="col-12 col-sm-6 col-md-4 col-lg-4 p-0">
                                    <div class="product-details">
                                        <!--Product Name-->
                                        <div class="product-name pb-0">
                                            <span class="float-left img-spn">
                                                <!--<i class="fa-solid fa-gas-pump txt-icon"></i>-->
                                                <img src="assets/images/slideshow/10.png" class="txt-icon">
                                            </span>
                                            <div class="side-txt">
                                                <p class="first-txt"><span>Peinture d’origine</span>
                                                </p>
                                                <ng-container *ngIf="objProduct.original_paint == 'yes'; else elseWarenty">
                                                    <p class="">Oui</p>
                                                </ng-container>
                                                <ng-template #elseWarenty>
                                                    <p class="">Non</p>
                                                </ng-template>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-sm-6 col-md-4 col-lg-4 p-0">
                                    <div class="product-details">
                                        <!--Product Name-->
                                        <div class="product-name pb-0">
                                            <span class="float-left img-spn">
                                                <!--<i class="fa-solid fa-gas-pump txt-icon"></i>-->
                                                <img src="assets/images/slideshow/service.png" class="txt-icon">
                                            </span>
                                            <div class="side-txt">
                                                <p class="first-txt"><span>Carnet d’entretien</span>
                                                </p>
                                                <ng-container *ngIf="objProduct.maintenance_booklet == 'yes'; else elseWarenty">
                                                    <p class="">Oui</p>
                                                </ng-container>
                                                <ng-template #elseWarenty>
                                                    <p class="">Non</p>
                                                </ng-template>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-12 col-sm-6 col-md-4 col-lg-4 p-0">
                                    <div class="product-details">
                                        <!--Product Name-->
                                        <div class="product-name pb-0">
                                            <span class="float-left img-spn">
                                                <!--<i class="fa-solid fa-gas-pump txt-icon"></i>-->
                                                <img src="assets/images/slideshow/10.png" class="txt-icon">
                                            </span>
                                            <div class="side-txt">
                                                <p class="first-txt"><span>Facture d’entretien</span>
                                                </p>
                                                <ng-container *ngIf="objProduct.maintenance_invoice == 'yes'; else elseWarenty">
                                                    <p class="">Oui</p>
                                                </ng-container>
                                                <ng-template #elseWarenty>
                                                    <p class="">Non</p>
                                                </ng-template>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                               
                                
                                

                                <!-- <div class="col-12 col-sm-6 col-md-4 col-lg-4 p-0">
                                    <div class="product-details"> 
                                        <div class="product-name pb-0">
                                            <span class="float-left img-spn"> 
                                            <img src="assets/images/slideshow/10.png" class="txt-icon">
                                            </span>
                                            <div class="side-txt">
                                                <p class="first-txt"><span>Accidentée</span>
                                                </p>
                                                <ng-container *ngIf="objProduct.accidented == 'yes'; else elseWarenty">
                                                    <p class="">Oui</p>
                                                </ng-container>
                                                <ng-template #elseWarenty>
                                                    <p class="">Non</p>
                                                </ng-template>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->


                                


                                <div class="col-12 col-sm-6 col-md-4 col-lg-4 p-0">
                                    <div class="product-details">
                                        <!--Product Name-->
                                        <div class="product-name pb-0" *ngIf="objProduct.userId.user_type == 'pro_user'; else normal ">
                                            <span class="float-left img-spn new-span">

                                                <a *ngIf="objProduct.userId.companyImage; else elseImageObj">
                                                    <img src="{{base_url_node_only}}public/uploads/userProfile/{{objProduct.userId.companyImage}}"
                                                        class="mw-100" style="width: 70px;">

                                                </a>
                                                <ng-template #elseImageObj>
                                                    <a>
                                                        <i class="fa fa-user"> </i>
                                                    </a>
                                                </ng-template>

                                            </span>
                                            <div class="side-txt">
                                                <p class="first-txt"><span>Vendeur</span>
                                                </p>
                                                <p class="">
                                                    Professionnel </p>
                                            </div>
                                        </div>
                                        <ng-template #normal>
                                            <span class="float-left img-spn new-span">

                                                <i class="fa fa-user"> </i>
                                            </span>
                                            <div class="side-txt">
                                                <p class="first-txt"><span>Vendeur</span>
                                                </p>
                                                <p class="">
                                                    Particulier </p>
                                            </div>
                                        </ng-template>
                                    </div>
                                </div>


                                <div class="col-12 col-sm-6 col-md-4 col-lg-4 p-0">
                                    <div class="product-details">
                                        <!--Product Name-->
                                        <div class="product-name pb-0">
                                            <span class="float-left img-spn">
                                                <!--<i class="fa-solid fa-gas-pump txt-icon"></i>-->
                                                <img src="assets/images/slideshow/10.png" class="txt-icon">
                                            </span>
                                            <div class="side-txt">
                                                <p class="first-txt"><span>Matching numbers </span>
                                                </p>
                                                <ng-container *ngIf="objProduct.matching_number == 'yes'; else elseWarenty">
                                                    <p class="">Oui</p>
                                                </ng-container>
                                                <ng-template #elseWarenty>
                                                    <p class="">Non</p>
                                                </ng-template>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-sm-6 col-md-4 col-lg-4 p-0">
                                    <div class="product-details">
                                        <!--Product Name-->
                                        <div class="product-name pb-0">
                                            <span class="float-left img-spn">
                                                <!--<i class="fa-solid fa-gas-pump txt-icon"></i>-->
                                                <img src="assets/images/slideshow/10.png" class="txt-icon">
                                            </span>
                                            <div class="side-txt">
                                                <p class="first-txt"><span>Matching colors</span>
                                                </p>
                                                <ng-container *ngIf="objProduct.matching_color_paint == 'yes'; else elseWarenty">
                                                    <p class="">Oui</p>
                                                </ng-container>
                                                <ng-template #elseWarenty>
                                                    <p class="">Non</p>
                                                </ng-template>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- <div class="col-12 col-sm-6 col-md-4 col-lg-4 p-0">
                                    <div class="product-details"> 
                                        <div class="product-name pb-0">
                                            <span class="float-left img-spn"> 
                        <img src="assets/images/slideshow/10.png" class="txt-icon">
                      </span>
                                            <div class="side-txt">
                                                <p class="first-txt"><span>Matching color intérieur</span>
                                                </p>
                                                <ng-container *ngIf="objProduct.matching_color_interior == 'yes'; else elseWarenty">
                                                    <p class="">Oui</p>
                                                </ng-container>
                                                <ng-template #elseWarenty>
                                                    <p class="">Non</p>
                                                </ng-template>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->

                                <!-- <div class="col-12 col-sm-6 col-md-4 col-lg-4 p-0">
                                    <div class="product-details"> 
                                        <div class="product-name pb-0">
                                            <span class="float-left img-spn"> 
                       
                        <img src="assets/images/slideshow/10.png" class="txt-icon">
                      </span>
                                            <div class="side-txt">
                                                <p class="first-txt"><span>TVA déductible</span>
                                                </p>
                                                <ng-container *ngIf="objProduct.deductible_VAT == 'yes'; else elseWarenty">
                                                    <p class="">Oui</p>
                                                </ng-container>
                                                <ng-template #elseWarenty>
                                                    <p class="">Non</p>
                                                </ng-template>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->


                                <div class="col-12 col-sm-6 col-md-4 col-lg-4 p-0">
                                    <div class="product-details">
                                        <!--Product Name-->
                                        <div class="product-name pb-0">
                                            <span class="float-left img-spn new-span"> 
                                                <i class="fa fa-user"></i> 
                                            </span>
                                            <div class="side-txt">
                                                <p class="first-txt"><span>Nombre de propriétaires</span>
                                                </p>
                                                <p class="">{{objProduct.number_of_owners}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-12 col-sm-6 col-md-4 col-lg-4 p-0">
                                    <div class="product-details">
                                        <!--Product Name-->
                                        <div class="product-name pb-0">
                                            <span class="float-left img-spn">
                                                <!--<i class="fa-solid fa-gas-pump txt-icon"></i>-->
                                                <img src="assets/images/slideshow/10.png" class="txt-icon">
                                            </span>
                                            <div class="side-txt">
                                                <p class="first-txt"><span>Garantie Porsche Approved</span>
                                                </p>
                                                <ng-container *ngIf="objProduct.pors_warranty == 'yes'; else elseWarenty">
                                                    <p class="">Oui</p>
                                                </ng-container>
                                                <ng-template #elseWarenty>
                                                    <p class="">Non</p>
                                                </ng-template>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4 col-lg-4 p-0">
                                    <div class="product-details">
                                        <!--Product Name-->
                                        <div class="product-name pb-0">
                                            <span class="float-left img-spn">
                                                <!--<i class="fa-solid fa-gas-pump txt-icon"></i>-->
                                                <img src="assets/images/slideshow/4.png" class="txt-icon">
                                            </span>
                                            <div class="side-txt">
                                                <p class="first-txt"><span>Nombre de mois</span>
                                                </p>
                                                <p class="">{{objProduct.pors_warranty_month}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4 col-lg-4 p-0"></div>
                                <div class="col-12 col-sm-6 col-md-4 col-lg-4 p-0">
                                    <div class="product-details">
                                        <!--Product Name-->
                                        <div class="product-name pb-0">
                                            <span class="float-left img-spn">
                                                <!--<i class="fa-solid fa-gas-pump txt-icon"></i>-->
                                                <img src="assets/images/slideshow/10.png" class="txt-icon">
                                            </span>
                                            <div class="side-txt">
                                                <p class="first-txt"><span>Garantie </span>
                                                </p>
                                                <ng-container *ngIf="objProduct.warranty == 'yes'; else elseWarenty">
                                                    <p class="">Oui</p>
                                                </ng-container>
                                                <ng-template #elseWarenty>
                                                    <p class="">Non</p>
                                                </ng-template>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4 col-lg-4 p-0">
                                    <div class="product-details">
                                        <!--Product Name-->
                                        <div class="product-name pb-0">
                                            <span class="float-left img-spn">
                                                <!--<i class="fa-solid fa-gas-pump txt-icon"></i>-->
                                                <img src="assets/images/slideshow/4.png" class="txt-icon">
                                            </span>
                                            <div class="side-txt">
                                                <p class="first-txt"><span>Nombre de mois</span>
                                                </p>
                                                <p class="">{{objProduct.warranty_month}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="col-12 col-sm-6 col-md-4 col-lg-4 p-0">
                                    <div class="product-details">
                                       
                                <div class="product-name pb-0">
                                    <span class="float-left img-spn"> 
                        <img src="assets/images/slideshow/10.png" class="txt-icon">
                      </span>
                                    <div class="side-txt">
                                        <p class="first-txt"><span>Cylindrée</span>
                                        </p>
                                        <p class="">{{objProduct.cylinder_capacity}}</p>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                            </div>
                        </div>
                        <!--End Product Grid-->
                        <!--Pagination Classic-->

                        
                        <hr class="clear">
                        <!--Collection Description-->
                        <div class="collection-description pt-0">
                            <h2>Description</h2>

                            {{objProduct.description}}

                        </div>

                        
                        <hr class="clear">
                        <!--Collection Description-->
                        <div class="collection-description pt-0">
                            <h2>Options</h2>
                             
                            <ng-container *ngIf="allOptions">
                                <ng-container *ngIf="allOptions.length > 0">
                                    <ng-container *ngFor="let objOptionsAr of allOptions">
                                        {{objOptionsAr}}, 
                                    </ng-container>
                                </ng-container>
                            </ng-container>
                            

                        </div>


                        <hr class="clear">
                        <div class="mt-4">
                            <!-- <h4 class="mt-4">Dates et kilométrages des entretiens</h4> -->


                            


                            <div *ngIf="objProduct.mileage_maintanance_report_date.length > 0 ">

                                <ng-container *ngIf="objProduct.mileage_maintanance_report_date[0] != null && objProduct.mileage_maintanance_report_date[0] !='null' "  >

                                    <div class="row">
                                        <div class="col-md-6">
                                            <h2 class="mb-0">Entretiens</h2>
                                            <p class="first-txt">Dates et kilométrages des entretiens</p>
                                        </div>
                                        <div class="col-md-6">
                                            <h2 class="mb-0">Documents</h2>
                                            <p class="first-txt">Facture ou carnet</p>
                                        </div>
                                    </div>
                                
                                
                                        <div class="row row_for_km_date">
                                            <div class="col-md-4">
                                                 
                                                <div *ngFor="let dd of objProduct.mileage_maintanance_report_date " class="mb-3 same-height-class">
                                                    <ng-container *ngIf="dd != null && dd != 'null' ">
                                                        <div>
                                                            <img src="assets/images/date.png" alt="" width="25">
                                                        </div> 
                                                        <div >
                                                            <p class="first-txt">Date</p>
                                                            <p>{{dd }}</p>
                                                        </div>
                                                    </ng-container>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                 
                                                <div  *ngFor="let mm of objProduct.mileage_maintanance_report_kilometer" class="mb-3 same-height-class">
                                                    <ng-container *ngIf="mm != null && mm != 'null' ">
                                                    <div>
                                                        <img src="assets/images/km.png" alt="" width="25">
                                                    </div>
        
                                                    <div>
                                                        <p class="first-txt">kilométrage</p>
                                                        <p>{{mm}} Km</p>
                                                    </div>
                                                </ng-container>
                                                </div>
        
                                            </div>
                                            
                                            <div class="col-md-4">
                                                
                                                <div  *ngFor="let nn of objProduct.mileage_maintanance_report_image "  class="mb-3 same-height-class">
                                                    <ng-container *ngIf="nn != null && nn != 'null' ">
                                                    
                                                    <div>
                                                        <a href="{{base_url_node_only}}{{nn.path}}" target="_blank">
                                                            <img class="obj icon-km" src="assets/images/file.png" alt="" width="">
                                                        </a>
                                                    </div>
                                                    
                                                    <div>
                                                        Facture 
                                                    </div>
                                                </ng-container>
                                                </div>
                                            </div>
                                        </div>
                               </ng-container>
                            </div>
                        </div>
                        <hr class="clear">
                        <div class="mt-4">
                            <div class="mb-3"> 
                                   <h2 class="mb-0"><strong> Nombre d'heure total du fonctionnement moteur </strong></h2>
                                   <p class="first-txt">Exemple de calcul : 28 911km : 550h = 53km/h (moyenne Porsche entre 45&55 km/h)
                                    
                                    </p>
                                <p>{{objProduct.engine_operation_hour}}</p>
                            </div>
                            <div class="mt4 mb-4">
                                <h2 class="mb-0">Rapport PIWIS</h2>
                                <p>
                                    <ng-container *ngIf="objProduct.engine_operation_hour_image; else noImag" > 
                                        <ng-container *ngIf="objProduct.engine_operation_hour_image.length > 0;else noImag">
                                            <a href="{{base_url_node_only}}{{objProduct.engine_operation_hour_image[0].path}}" target="_blank">
                                                <img class="obj" src="assets/images/file.png" alt="" width="20">
                                            </a>
                                        </ng-container>
                                        <ng-template #noImag>
                                            <img class="obj" src="assets/images/file.png" alt="" width="20">
                                        </ng-template>
                                    </ng-container>
                                    <ng-template #noImag>
                                        <img class="obj" src="assets/images/file.png" alt="" width="20">
                                    </ng-template>
                                </p>
                                    

                            </div>
                            
                            
                            <h2 class="mb-0">
                                <strong>Épaisseur de peinture</strong>
                                
                            </h2>
                            <p  class="first-txt">
                                La moyenne est de 120µm, au-delà de 150μm élément repeint</p>
                            <ul class="paint mt-3">
                                 
                                     
                                     
                                
                                <li *ngIf="objProduct.paint_thickness_parts.length > 0">
                                    <div *ngIf="objProduct.paint_thickness_parts[0] != null && objProduct.paint_thickness_parts[0] != 'null' ">
                                        <!-- <div class="img-dd"><img src="assets/images/Ailes-av-gauche.png" alt="" width="25"></div> -->
                                        <div>
                                            <p class="first-txt">Ailes AV gauche</p>
                                            
                                            <p *ngIf="objProduct.paint_thickness_parts.length > 0"> {{ objProduct.paint_thickness_parts[0] }} </p>

                                        </div>
                                    </div>
                                </li>
                                <li *ngIf="objProduct.paint_thickness_parts.length > 1">
                                    <div *ngIf="objProduct.paint_thickness_parts[1] != null && objProduct.paint_thickness_parts[1] != 'null' ">
                                        <!-- <div class="img-dd"><img src="assets/images/Porte-av-gauche.png" alt="" width="25"></div> -->
                                        <div>
                                            <p class="first-txt">Porte AV gauche</p>
                                            <p *ngIf="objProduct.paint_thickness_parts.length > 1"> {{ objProduct.paint_thickness_parts[1] }} </p>
                                        </div>
                                    </div>
                                </li>
                                <li *ngIf="objProduct.paint_thickness_parts.length > 2">
                                    <div *ngIf="objProduct.paint_thickness_parts[2] != null && objProduct.paint_thickness_parts[2] != 'null' ">
                                        <!-- <div class="img-dd"><img src="assets/images/Porte-AR-gauche.png" alt="" width="25"></div> -->
                                        <div>
                                            <p class="first-txt">Porte AR gauche</p>
                                            <p *ngIf="objProduct.paint_thickness_parts.length > 2"> {{ objProduct.paint_thickness_parts[2] }} </p>
                                        </div>
                                    </div>
                                </li>
                                <li *ngIf="objProduct.paint_thickness_parts.length > 3">
                                    <div *ngIf="objProduct.paint_thickness_parts[3] != null && objProduct.paint_thickness_parts[3] != 'null' ">
                                        <!-- <div class="img-dd"><img src="assets/images/Alies-ar-gauche.png" alt="" width="25"></div> -->
                                        <div>
                                            <p class="first-txt">Ailes AR gauche</p>
                                            <p *ngIf="objProduct.paint_thickness_parts.length > 3"> {{ objProduct.paint_thickness_parts[3] }} </p>
                                        </div>
                                    </div>
                                </li>
                                <li *ngIf="objProduct.paint_thickness_parts.length > 4">
                                    <div *ngIf="objProduct.paint_thickness_parts[4] != null && objProduct.paint_thickness_parts[4] != 'null' ">
                                        <!-- <div class="img-dd"><img src="assets/images/Capot.png" alt="" width="25"></div> -->
                                        <div>
                                            <p class="first-txt">Capot</p>
                                            <p *ngIf="objProduct.paint_thickness_parts.length > 4"> {{ objProduct.paint_thickness_parts[4] }} </p>
                                        </div>
                                    </div>
                                </li>
                                <li *ngIf="objProduct.paint_thickness_parts.length > 5">
                                    <div *ngIf="objProduct.paint_thickness_parts[5] != null && objProduct.paint_thickness_parts[5] != 'null' ">
                                        <!-- <div class="img-dd"><img src="assets/images/Alies-AV-droite.png" alt="" width="25"></div> -->
                                        <div>
                                            <p class="first-txt">Ailes AV droite</p>
                                            <p *ngIf="objProduct.paint_thickness_parts.length > 5"> {{ objProduct.paint_thickness_parts[5] }} </p>
                                        </div>
                                    </div>
                                </li>
                                <li *ngIf="objProduct.paint_thickness_parts.length > 6">
                                    <div *ngIf="objProduct.paint_thickness_parts[6] != null && objProduct.paint_thickness_parts[6] != 'null' ">
                                        <!-- <div class="img-dd"><img src="assets/images/Porte-AV-droite.png" alt="" width="25"></div> -->
                                        <div>
                                            <p class="first-txt">Porte AV droite</p>
                                            <p *ngIf="objProduct.paint_thickness_parts.length > 6"> {{ objProduct.paint_thickness_parts[6] }} </p>
                                        </div>
                                    </div>
                                </li>
                                <li *ngIf="objProduct.paint_thickness_parts.length > 7">
                                    <div *ngIf="objProduct.paint_thickness_parts[7] != null && objProduct.paint_thickness_parts[7] != 'null' ">
                                        <!-- <div class="img-dd"><img src="assets/images/Porte-ar-droite.png" alt="" width="25"></div> -->
                                        <div>
                                            <p class="first-txt">Porte AR droite</p>
                                            <p *ngIf="objProduct.paint_thickness_parts.length > 7"> {{ objProduct.paint_thickness_parts[7] }} </p>
                                        </div>
                                    </div>
                                </li>
                                <li *ngIf="objProduct.paint_thickness_parts.length > 8">
                                    <div *ngIf="objProduct.paint_thickness_parts[8] != null && objProduct.paint_thickness_parts[8] != 'null' ">
                                        <!-- <div class="img-dd"><img src="assets/images/Alies-ar-gauche.png" alt="" width="25"></div> -->
                                        <div>
                                            <p class="first-txt">Ailes AR droite</p>
                                            <p *ngIf="objProduct.paint_thickness_parts.length > 8"> {{ objProduct.paint_thickness_parts[8] }} </p>
                                        </div>
                                    </div>
                                </li>
                                <li *ngIf="objProduct.paint_thickness_parts.length > 9">
                                    <div *ngIf="objProduct.paint_thickness_parts[9] != null && objProduct.paint_thickness_parts[9] != 'null' ">
                                        <!-- <div class="img-dd"><img src="assets/images/Toit.png" alt="" width="25"></div> -->
                                        <div>
                                            <p class="first-txt">Toit</p>
                                            <p *ngIf="objProduct.paint_thickness_parts.length > 9"> {{ objProduct.paint_thickness_parts[9] }} </p>
                                        </div>
                                    </div>
                                </li>
                                <li *ngIf="objProduct.paint_thickness_parts.length > 10">
                                    <div *ngIf="objProduct.paint_thickness_parts[10] != null && objProduct.paint_thickness_parts[10] != 'null' ">
                                        <!-- <div class="img-dd"><img src="assets/images/Hayon.png" alt="" width="25"></div> -->
                                        <div>
                                            <p class="first-txt">Hayon</p>
                                            <p *ngIf="objProduct.paint_thickness_parts.length > 10"> {{ objProduct.paint_thickness_parts[10] }} </p>
                                        </div>
                                    </div>
                                </li>
                             
                            </ul>

                           
                        </div>

                        <hr>
                        <div class="collection-description pt-0">
                            <h2 class="mb-0">
                                <i class="fa fa-map-marker"></i> {{objProduct.address}}
                            </h2>

                        </div>
                        <div class="collection-description pt-2">

                            <div class="collec_under">
                                <div>
                                    
                                    <a routerLink="/seller/{{objProduct.userId._id}}" *ngIf="objProduct.userId.userImage; else elseImageObj">
                                        <img src="{{base_url_node_only}}public/uploads/userProfile/{{objProduct.userId.userImage}}" class="mw-100" style="width: 70px;">

                                    </a>
                                    <ng-template #elseImageObj>
                                        <a routerLink="/seller/{{objProduct.userId._id}}">
                                            <div id="profileImage">
                                                {{objProduct.userId.firstName[0]}}{{objProduct.userId.lastName[0]}}
                                            </div>
                                        </a>
                                    </ng-template>
                                </div>
                                <div>
                                    <div class="">
                                        <span>
                                            <strong>
                                            <ng-container *ngIf="objProduct.userId.user_type == 'pro_user';else elseUserType ">
                                                {{objProduct.userId.enterprise}}
                                            </ng-container>
                                            <ng-template #elseUserType>
                                                {{objProduct.userId.userName}}
                                            </ng-template>
                                            </strong>
                                        </span>

                                        <a routerLink="/seller/{{objProduct.userId._id}}" *ngIf="apiResponse.rating_rec">



                                            <div class="rat-ing" *ngIf="apiResponse.rating_rec != ''; else noVal">
                                                <div class="r-s" *ngIf="apiResponse.rating_rec.length > 0">
                                                    <span style="--rating: {{apiResponse.rating_rec[0].avgRating}} "></span> ({{apiResponse.rating_rec[0].totalRating}})
    
                                                </div>
                                                <div>
                                                    <span><i class="fa-solid fa-angle-right"></i></span>
                                                </div>
                                            </div>
                                            <ng-template #noVal>
                                                <div class="rat-ing">
                                                    <div class="r-s">
                                                        <span style="--rating: 0 "></span> (0)
    
                                                    </div>
                                                    <div>
                                                        <span><i class="fa-solid fa-angle-right"></i></span>
                                                    </div>
                                                </div>
                                            </ng-template>
                                        </a>

                                        <p>Nombre d'annonces : {{objProduct.total_ad_count}} </p>
                                    </div>
                                    <!-- <div *ngIf="modelArray">
                                        <ul class="saleUL">
                                            <li *ngFor="let model of modelArray">
                                                <span *ngIf="model.model_name != '' "> {{model.model_name}},</span>
                                            </li>
                                        </ul>
                                    </div> -->
                                    

                                    <ng-container *ngIf="objProduct.userId.user_type == 'pro_user' ">
                                        
                                    </ng-container>
                                    <div *ngIf="objProduct.userId.user_type == 'pro_user' ">
                                        
                                        <h5 class="mb-1">{{objProduct.address}}</h5>
                                        <h5 class="mb-1">{{objProduct.userId.mobileNumber}}</h5>
                                        <!-- <h5 class="mb-1">{{objProduct.userId.siret}}</h5> -->
                                        <a href="mailto:{{objProduct.userId.email}}" class="text-primary"><i
                                            class="fa-solid fa-envelope padd-r"></i>{{objProduct.userId.email}}
                                        </a>
                                        <h5 class="mb-1" *ngIf="objProduct.userId.website_url !='null' ">{{objProduct.userId.website_url}}</h5>
                                    </div>
                                </div>
                            </div>



                            <p class="m-b-5"><i class="fa-solid fa-user p-r-5"></i> Membre depuis {{objProduct.userId.created_at | date: 'dd/MM/yyyy'}}</p>
                            <ng-container *ngIf="objProduct.is_follow == 1; else elsefollowBtn">

                                <button class="btn float-right btnnam" (click)="followSeller(objProduct)">Ne plus
                                    suivre</button> 
                            </ng-container>
                            <ng-template #elsefollowBtn>
                                <button class="btn float-right btnnam" (click)="followSeller(objProduct)">Suivre</button>
                            </ng-template>
                            <div class="clearfix"></div>

                            <!-- <p class="m-b-5"><i class="fa-solid fa-clock p-r-5"></i> Répond généralement en 10 minutes</p> -->
                        </div>
                        <div class="comeBack_up" *ngIf="apiResponse2">
                            <div *ngIf="apiResponse2.error == false; else loggedOut">
                                <div class="alert alert-success"><strong>{{ apiResponse2.errorMessage }}</strong></div>
                            </div>
                            <ng-template #loggedOut>
                                <div *ngIf="apiResponse2.errorMessage">
                                    <div class="alert alert-danger"><strong>{{ apiResponse2.errorMessage }}</strong>
                                    </div>
                                </div>
                            </ng-template>

                        </div>



                        <div class="clearfix"></div>
                        <hr>

                        <ng-container *ngIf="user_id;else elseReport">
                            <div class=" ">
                                <a routerLink="/reportAd/{{objProduct._id}}">Signaler l’annonce</a>
                            </div>
                        </ng-container>
                        <ng-template #elseReport>
                            <div class=" ">
                                <a routerLink="/login">Signaler l’annonce</a>
                            </div>
                        </ng-template>





                    </div>
                </div>
            </div>
            <!--Product Content-->
            <section class="section product-slider pb-0 col-12 col-lg-8">
                <div class="p-0">
                    <hr>
                    <div class="row">
                        <div class="section-header col-12">
                            <h2 class="text-transform-none">Ces annonces peuvent vous intéresser</h2>
                        </div>
                    </div>
                    <div class="productSlider grid-products">
                        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
                            <div ngxSlickItem *ngFor="let carAdObj of allCarAdSimilar">
                                <div class="item">
                                    <!-- start product image -->
                                    <div class="product-image">
                                        <!-- start product image -->
                                        <a href="/productDetail/{{carAdObj._id}}" class="product-img">
                                            <!-- image -->
                                            <ng-container *ngIf="carAdObj.exterior_image.length > 0; else imageCarAd">
                                                <img class="primary blur-up lazyload mw-100" data-src="{{base_url_node_only}}{{carAdObj.exterior_image[0].path}}" src="{{base_url_node_only}}{{carAdObj.exterior_image[0].path}}" alt="image" title="">
                                                <!-- End image -->
                                                <!-- Hover image -->
                                                <img class="hover blur-up lazyload mw-100" data-src="{{base_url_node_only}}{{carAdObj.exterior_image[0].path}}" src="{{base_url_node_only}}{{carAdObj.exterior_image[0].path}}" alt="image" title="">
                                                <!-- End hover image -->
                                            </ng-container>
                                            <ng-template #imageCarAd>
                                                <img class="primary blur-up lazyload mw-100" data-src="{{base_url_node_only}}public/uploads/no-image.png" src="{{base_url_node_only}}public/uploads/no-image.png" alt="image" title="">
                                                <!-- End image -->
                                                <!-- Hover image -->
                                                <img class="hover blur-up lazyload mw-100" data-src="{{base_url_node_only}}public/uploads/no-image.png" src="{{base_url_node_only}}public/uploads/no-image.png" alt="image" title="">
                                                <!-- End hover image -->
                                            </ng-template>

                                        </a>
                                        <!-- end product image -->
                                        <!--Product Button-->
                                        <div class="button-set style2">
                                            <ul class="camera-no">
                                                <li>
                                                    <!--Cart Button-->
                                                    <a class="btn-icon wishlist add-to-wishlist" href="/productDetail/{{carAdObj._id}}">
                                                        <i class="fa-solid fa-camera"><span class="ml-3">
                                                                {{carAdObj.exterior_image.length}}</span></i>
                                                    </a>
                                                    <!--end Cart Button-->
                                                </li>
                                            </ul>
                                        </div>
                                        <!--End Product Button-->
                                    </div>
                                    <!-- end product image -->
                                    <!--start product details -->
                                    <div class="product-details text-left pro-detal">
                                        <!-- product name -->
                                        <div class="product-name">
                                            <a href="/productDetail/{{carAdObj._id}}">
                                                <strong>
                                                    <h5 class="mb-0">{{carAdObj.ad_name}}</h5>
                                                </strong>
                                            </a>
                                        </div>
                                        <!-- End product name -->
                                        <!-- product price -->
                                        <div class="product-price">
                                            <span class="">
                                                <h5 class="mb-0">{{carAdObj.price}} <i
                                                        class="fa-solid fa-euro-sign"></i></h5>
                                            </span>
                                        </div>
                                        <!-- End product price -->
                                        <!--Product Review-->
                                        <div class="product-review">
                                            <div>
                                                <ul class="pp-info">
                                                    <li *ngIf="carAdObj.modelId.length > 0"><a href="/productDetail/{{carAdObj._id}}">{{carAdObj.modelId[0].model_name}}</a>
                                                    </li>
                                                    <li><a href="/productDetail/{{carAdObj._id}}"><i
                                                                class="fa-solid fa-circle"></i>
                                                            {{carAdObj.registration_year}}</a></li>
                                                    <li><a href="/productDetail/{{carAdObj._id}}"><i
                                                                class="fa-solid fa-circle"></i>
                                                            {{carAdObj.engine_operation_hour}} km</a></li>
                                                    <li *ngIf="carAdObj.fuel.length > 0"><a href="/productDetail/{{carAdObj._id}}">{{carAdObj.fuel[0].attribute_name}}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="position-relative">
                                                <ng-container *ngIf="carAdObj.type_of_gearbox">
                                                    <a href="/productDetail/{{carAdObj._id}}" *ngIf="carAdObj.type_of_gearbox.length > 0">{{carAdObj.type_of_gearbox[0].attribute_name}}
                                                    </a>
                                                </ng-container>
                                                <ng-container *ngIf="carAdObj.vehicle_condition">
                                                    <a href="/productDetail/{{carAdObj._id}}" *ngIf="carAdObj.vehicle_condition.length > 0">{{carAdObj.vehicle_condition[0].attribute_name}}
                                                    </a>
                                                </ng-container>

                                                <ng-container *ngIf="user_id == '' || user_id == null; else favElse">
                                                    <a routerLink="/login" class="hrt-an">
                                                        <span><i class="fa-solid fa-heart d-n">
                                                            </i><i class="icon an an-heart-l h-n"></i>
                                                        </span>
                                                    </a>
                                                </ng-container>
                                                <ng-template #favElse>

                                                    <a href="javascript:void(0)" (click)="carAdFav(carAdObj._id,user_id,'car')" class="hrt-an">
                                                        <ng-container *ngIf="carAdObj.isFav == 1; else accessNotFavElse">
                                                            <span><i class="fa-solid fa-heart"></i>
                                                            </span>
                                                        </ng-container>
                                                        <ng-template #accessNotFavElse>
                                                            <span>
                                                                <i class="fa-solid fa-heart d-n"></i>
                                                                <i class="icon an an-heart-l h-n"></i>
                                                            </span>
                                                        </ng-template>
                                                    </a>

                                                </ng-template>

                                            </div>
                                        </div>
                                        <!--End Product Review-->
                                    </div>
                                    <!-- End product details -->
                                </div>
                            </div>
                        </ngx-slick-carousel>
                    </div>
                </div>
            </section>
        </div>
        <!--End Container-->
    </div>
    <!--End Body Container-->





</div>
<app-footer></app-footer>