a.btn.rounded-0.btn-icon.quick-view-popup.quick-view.d-none.d-sm-none.d-md-none.d-lg-block {
    background: transparent !important;
    height: auto;
    display: block !important;
}

.side-btn1 {
    background-color: #f00 !important;
}

::ng-deep .ng-image-fullscreen-view .lightbox-wrapper .lightbox-div .lightbox-image-main .lightbox-image .custom-image-main img {
    width: 65% !important;
}

@media (max-width: 992px) {
    .max-mtt {
        margin-top: 15px;
    }
}

.product-gallery__featured {
    border-radius: 8px;
    border: solid 1px #F0F3F4;
    background-color: #fff;
}

.product-gallery__carousel {
    margin-top: 9px;
    /* owl-carousel-o img{
      border-radius: 8px;
      border: solid 1px #F0F3F4;
    } */
}

.product-gallery__carousel-item--active {
    border: solid 1px #459AD4 !important;
}


/* owl-carousel-o::ng-deep{
      img{
        border-radius: 8px;
      }
  } */

a.btn.rounded-0.btn-icon.quick-view-popup.quick-view.d-none.d-sm-none.d-md-none.d-lg-block {
    background: transparent !important;
    height: auto;
    display: block !important;
}

.side-btn1 {
    background-color: #f00 !important;
}

.pro-pic {
   
   
}

.prop-flex {
    display: flex;
    gap: 15px;
    /* align-items: center; */
    text-align: left;
}

.prof-d {
    width: -webkit-fill-available;
    display: flex;
    justify-content: space-between;
}

.ti-tal {
    font-size: 20px;
    font-weight: 600;
}

.ti-tal-ad {
    font-size: 17px;
}

.slas li {
    list-style: none;
    display: inline-block;
    font-size: 18px;
}

.slas li+li::before {
    content: "/";
    padding: 6px;
    font-weight: 600;
    color: #000;
}

[style^=--rating]::after {
    content: "★★★★★";
    font-size: 24px;
    white-space: nowrap;
    background: linear-gradient(90deg, #f00 calc(var(--rating) * 20%), #ddd calc(var(--rating) * 20%));
    background-clip: text;
    -webkit-background-clip: text;
    color: #0000;
}

.rat-ing {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    font-size: 17px;
}

.r-s {
    display: flex;
    align-items: center;
}

#custCarousel .carousel-indicators {
    position: static;
    margin-top: 20px;
    margin: 5px 0 0 0;
    display: flex;
    justify-content: flex-start;
}

#custCarousel .carousel-indicators>li {
    width: 100px;
}

#custCarousel .carousel-indicators li img {
    display: block;
    opacity: 0.5;
    height: 70px;
    object-fit: contain;
}

#custCarousel .carousel-indicators li.active img {
    opacity: 1;
}

#custCarousel .carousel-indicators li:hover img {
    opacity: 0.75;
}

.carousel-item img {
    width: 100%;
    min-height: 450px;
    border: 1px solid #ddd;
    object-fit: contain;
}

.min-mt {
    margin-top: 0 !important;
}

.carousel-control-next,
.carousel-control-prev {
    background: rgba(0, 0, 0, 0.5);
    width: 50px;
    height: 50px;
}

.img-galry {
    position: absolute;
    bottom: 7px;
    right: 7px;
    /* font-size: 35px; */
    color: #999;
    /* border: 1px solid #999; */
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    z-index: 222;
}

.img-galry:hover {
    color: #f00;
}

.pro-d-pro {
    align-items: flex-start !important;
    gap: 10px;
}

#custCarousel .carousel-indicators>li {
    border: 1px solid #ddd;
    border-radius: 5px;
}
#profileImage {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #ff0000;
    font-size: 35px;
    color: #fff;
    text-align: center;
    line-height: 100px;
    margin: 20px 0;
    text-transform: uppercase;
  }
  .new-span{
    border: 1px solid #000;
    border-radius: 50%;
    display: flex;
    width: 30px;
    height: 30px;
    padding: 5px;
  }
  .collec_under{
    display: flex;
    gap:30px
  }
  .saleUL li{
    list-style-type: none;  
    display: inline;
 
    
  }
  /* .saleUL li+li::before{
    content: ",";
  } */



  .paint {
    display: flex;
    gap: .5%;
    flex-wrap: wrap;
}

.paint li {
    width: 33%;
    list-style-type: none;
    margin-bottom: .5rem;
}

.paint li>div {
    display: flex;
    gap: 2%;
}

@media(max-width:500px) {
    .paint {
        width: 100%;
    }
    .paint li p {
        font-size: 12px;
    }
}

@media(max-width:350px) {
    .paint li {
        width: 100%;
    }
}

.mileage {
    display: flex;
    gap: 2%;
    flex-wrap: wrap;
}

.mileage li {
    list-style-type: none;
    display: flex;
    gap: 2%;
    margin-bottom: .5rem;
    width: -webkit-fill-available;
}

.mileage li>div p {
    line-height: normal;
}

.mileage li>div {
    width: 31%;
    display: flex;
    gap: 2%;
}

.obj {
    object-fit: contain;
}

.img-dd {
    border: 1px solid #666;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    flex: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

@media(max-width:450px) {
    .paint li {
        width: 49.5%;
    }
    .mileage li>div:nth-child(1) {
        width: 42%;
    }
    .mileage li>div:nth-child(2) {
        width: 42%;
    }
    .mileage li>div:nth-child(3) {
        width: 15%;
    }
}


img.icon-km {
    width: 31px;
}


.same-height-class{

    height: 80px;
    
}