<app-mobile-header></app-mobile-header>

<!--Page Wrapper-->
<div class="page-wrapper">

    <app-header></app-header>

    <!--Body Container-->
    <div id="page-content " class="mob-pt-0">
        <!--Breadcrumbs-->
        <!--<div class="breadcrumbs-wrapper text-uppercase">
      <div class="container">
          <div class="breadcrumbs"><a href="index.html" title="Back to the home page">Home</a><span>|</span><span class="fw-bold">Product Layout Style2</span></div>
      </div>
      </div>-->
        <!--End Breadcrumbs-->
        <div class="container p-0">
            <div class="row d-none d-xs-none d-sm-none d-md-none d-lg-block d-xl-block d-xxl-block">
                <div class="breadcrumbs-wrapper text-uppercase bread-crum">
                    <div class="container p-0">

                        <div class="breadcrumbs">
                            <div id="nav-gwbar" class="nav-gwbar-single-row nav-genz nav-gwbar-white nav-gwbar-scroll">

                                <a routerLink="/" class="nav-a nav-a1">Accueil</a> <i class="fa-solid fa-angle-right lh-30"></i>
                                <a routerLink="/productList" class="nav-a nav-a1">Annonce</a> <i class="fa-solid fa-angle-right lh-30"></i>


                                <span class="detal-spn">{{ad_name}}</span>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <div class="product-single">
                <div class="row">
                    <div class="col-lg-8 col-md-12 col-sm-12 col-12 p-0 d-block d-xs-block d-sm-block d-md-block d-lg-none d-xl-none d-xxl-none">
                        <div class="product-details-img thumb-left d-flex-wrap mb-md-0 position-relative">
                            <!-- <div class="zoompro-wrap product-zoom-right">-->
                            <div class="">
                                <div class="zoompro-span"><img id="zoompro" class="zoompro" src="assets/images/products/product-2.jpg" data-zoom-image="assets/images/products/product-2.jpg" alt="product"></div>
                                <div class="product-labels">
                                    <!--<span class="lbl pr-label1">new</span>-->
                                    <a class="btn rounded-0 btn-icon " href="javascript:void(0)" data-toggle="modal" data-target="#content_quickview" tabindex="0" style="width: 100% !important;height: 31px; border-radius: 50px !important;"> <i class="fa-solid fa-camera"></i> <span class="pl-10">1/10</span>
                                    </a>
                                </div>
                                <div class="product-wish">
                                    <a class="wishIcon wishlist rounded m-0" href="#"><i
                                            class="fa-solid fa-arrow-left"></i><span
                                            class="tooltip-label left"></span></a>
                                </div>
                                <div class="product-buttons">
                                    <a href="#" class="mfpbox mfp-with-anim btn rounded "><i
                                            class="fa-solid fa-share-nodes"></i><span class="tooltip-label"></span></a>
                                    <a href="#" class="btn rounded prlightbox hrt-an"><span><i
                                                class="fa-solid fa-heart d-n"></i><i
                                                class="icon an an-heart-l h-n"></i></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Main Content-->
        <div class="container">
            <!--Product Content-->
            <div class="product-single">
                <div class="row">
                    <p></p>
                    <div class="col-lg-8 col-md-6 col-sm-12 col-12 d-none d-xs-none d-sm-none d-md-none d-lg-block d-xl-block d-xxl-block">
                        <!-- <div class="product-details-img product-horizontal-style clearfix mb-3 mb-md-0">



                            <ng-image-slider #nav [images]="imageObject" [infinite]="false" [autoSlide]="true" [showArrow]="false" [imageSize]="{width: '50%', height: 800}" slideImage="1"></ng-image-slider>
                        </div> -->



                        <div id="custCarousel" class="carousel slide" data-ride="carousel" align="center">
                            <!-- slides -->
                            <div class="carousel-inner">
                                <!-- <a href="" class="img-galry"><svg class="image-gallery-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M8 3H5a2 2 0 0 0-2 2v3m18 0V5a2 2 0 0 0-2-2h-3m0 18h3a2 2 0 0 0 2-2v-3M3 16v3a2 2 0 0 0 2 2h3"></path></svg></a> -->
                                <ng-container *ngFor="let objProduct of allCarAd">


                                    <ng-container *ngFor="let dsfdsfdf of objProduct.accessoires_image let i=index">



                                        <ng-container *ngIf="i == 0; else elsedfsfdsf">
                                            <div class="carousel-item active">
                                                <img src="{{ dsfdsfdf.image }}" alt="Hills">
                                            </div>

                                        </ng-container>
                                        <ng-template #elsedfsfdsf>
                                            <div class="carousel-item ">
                                                <img src="{{ dsfdsfdf.image }}" alt="Hills">
                                            </div>
                                        </ng-template>

                                    </ng-container>
                                </ng-container>
                            </div>

                            <!-- Left right -->
                            <a class="carousel-control-prev" href="#custCarousel" data-slide="prev">
                                <span class="carousel-control-prev-icon"></span>
                            </a>
                            <a class="carousel-control-next" href="#custCarousel" data-slide="next">
                                <span class="carousel-control-next-icon"></span>
                            </a>

                            <!-- Thumbnails -->
                            <ol class="carousel-indicators list-inline">


                                <ng-container *ngFor="let objProduct of allCarAd">


                                    <ng-container *ngFor="let dsfdsfdf of objProduct.accessoires_image let i=index">



                                        <ng-container *ngIf="i == 0; else elsedfsfdsf">

                                            <li class="list-inline-item active">
                                                <a id="carousel-selector-0" class="selected" data-slide-to="0" data-target="#custCarousel">
                                                    <img src="{{ dsfdsfdf.image }}" class="img-fluid">
                                                </a>
                                            </li>

                                        </ng-container>
                                        <ng-template #elsedfsfdsf>
                                            <li class="list-inline-item">
                                                <a id="carousel-selector-{{i}}" data-slide-to="1" data-target="#custCarousel">
                                                    <img src="{{ dsfdsfdf.image }}" class="img-fluid">
                                                </a>
                                            </li>
                                        </ng-template>

                                    </ng-container>
                                </ng-container>
                                <!-- <li class="list-inline-item">
                                <a id="carousel-selector-2" data-slide-to="2" data-target="#custCarousel">
                                  <img src="https://i.imgur.com/83fandJ.jpg"  class="img-fluid">
                                </a>
                              </li>
                    
                               <li class="list-inline-item">
                                <a id="carousel-selector-2" data-slide-to="3" data-target="#custCarousel">
                                  <img src="https://i.imgur.com/JiQ9Ppv.jpg"  class="img-fluid">
                                </a>
                              </li> -->
                            </ol>
                        </div>

                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12 col-12 d-none d-xs-none d-sm-none d-md-none d-lg-block d-xl-block d-xxl-block">
                        <div class="wrap-product-info-bg wrap-pro p-20">
                            <ng-container *ngFor="let objProduct of allCarAd">
                                <div class="prop-flex">
                                    <div class="pro-pic">

                                        <ng-container *ngIf="objProduct.userId.user_type == 'pro_user';else elseUserTypePhoto ">
                                            <a routerLink="/seller/{{objProduct.userId._id}}" *ngIf="objProduct.userId.companyImage; else elseImageObj">
                                                <img src="{{base_url_node_only}}public/uploads/userProfile/{{objProduct.userId.companyImage}}" class="mw-100" style="width: 70px;">
    
                                            </a>
                                            <ng-template #elseImageObj>
                                                <a routerLink="/seller/{{objProduct.userId._id}}">
                                                    <div id="profileImage">
                                                        {{objProduct.userId.firstName[0]}}{{objProduct.userId.lastName[0]}}
                                                    </div>
                                                </a>
                                            </ng-template>
                                        </ng-container>

                                        <ng-template #elseUserTypePhoto>
                                            <a routerLink="/seller/{{objProduct.userId._id}}" *ngIf="objProduct.userId.userImage; else elseImageObj">
                                                <img src="{{base_url_node_only}}public/uploads/userProfile/{{objProduct.userId.userImage}}" class="mw-100" style="width: 70px;">
    
                                            </a>
                                            <ng-template #elseImageObj>
                                                <a routerLink="/seller/{{objProduct.userId._id}}">
                                                    <div id="profileImage">
                                                        {{objProduct.userId.firstName[0]}}{{objProduct.userId.lastName[0]}}
                                                    </div>
                                                </a>
                                            </ng-template>
                                        </ng-template>
                                        

                                    </div>
                                    <div class="prof-d">
                                        <div>
                                            <p class="ti-tal">
                                                <a routerLink="/seller/{{objProduct.userId._id}}"><ng-container *ngIf="objProduct.userId.user_type == 'pro_user';else elseUserType ">
                                                {{objProduct.userId.enterprise}}
                                                </ng-container>
                                                <ng-template #elseUserType>
                                                    {{objProduct.userId.userName}}
                                                </ng-template>
                                                </a>
                                            </p>
                                            <a routerLink="/seller/{{objProduct.userId._id}}" *ngIf="apiResponse.rating_rec">

                                                <div class="rat-ing" *ngIf="apiResponse.rating_rec != ''; else noVal">
                                                    <div class="r-s">
                                                        <span style="--rating: {{apiResponse.rating_rec[0].avgRating}} "></span> ({{apiResponse.rating_rec[0].totalRating}})

                                                    </div>
                                                    <div>
                                                        <span><i class="fa-solid fa-angle-right"></i></span>
                                                    </div>
                                                </div>
                                                <ng-template #noVal>
                                                    <div class="rat-ing">
                                                        <div class="r-s">
                                                            <span style="--rating: 0 "></span> (0)

                                                        </div>
                                                        <div>
                                                            <span><i class="fa-solid fa-angle-right"></i></span>
                                                        </div>
                                                    </div>
                                                </ng-template>
                                            </a>
                                            <span class="ti-tal-ad">{{old_ad_name}}</span>
                                            <p>
                                                <span class="ti-tal-ad">
                                                    {{old_price}}
                                                    <i class="fa-solid fa-euro-sign"></i>
                                                </span>
                                            </p>
                                            <div>
                                                <ul class="slas">
                                                    <li>{{old_model_name}}</li>
                                                    <li>{{old_model_variant}}</li>
                                                </ul>
                                                <p *ngIf="allCarAd">{{allCarAd[0].city}} {{allCarAd[0].country}}</p>
                                               
                                            </div>

                                        </div>
                                        <!-- <div class="angl"><i class="fa-solid fa-angle-right"></i></div> -->
                                    </div>

                                </div>

                                <div class="col-md-12 text-left">

                                    <!-- <a routerLink="/seller/{{objProduct.userId._id}}" *ngIf="objProduct.userId.userImage; else elseImageObj">
                                        <img src="{{base_url_node_only}}public/uploads/userProfile/{{objProduct.userId.userImage}}" width="150" height="150">
                                    </a>
                                    <ng-template #elseImageObj>
                                        <a routerLink="/seller/{{objProduct.userId._id}}">
                                            <img src="assets/images/logo/icons8-user-100.png" width="">
                                        </a>
                                    </ng-template> -->

                                    <!-- <span class="usr-name"><a routerLink="/seller/{{objProduct.userId._id}}">{{objProduct.userId.firstName}} {{objProduct.userId.lastName}}</a>
                                    </span> -->

                                    <!-- <span class="float-right spn-angl"><a routerLink="/seller/{{objProduct.userId._id}}"><i class="fa-solid fa-angle-right"></i></a></span> -->
                                    <hr>
                                    <!-- <p><i class="fa-solid fa-clock"></i><small> Répond généralement en 10
                                            minutes</small></p> -->
                                    <a routerLink="/adChatInitiate/{{objProduct._id}}" class="btn btn-side side-btn1"><i
                                            class="fa-solid fa-envelope padd-r"></i> Envoyer un message</a>

                                    <div *ngIf="user_id !='' && user_id != null;">

                                          
                                        <ng-container *ngIf="objProduct.contact_show == false; else notToShow" >
                                        <a href="javascript:void(0)" *ngIf="showNumberVar == true "
                                            (click)="showNumber()" class="btn btn-side side-btn2"><i
                                                class="fa-solid fa-phone padd-r"></i> Voir le numéro</a>
                                        
                                            <a href="javascript:void(0)" *ngIf="hideNumberVar == true "
                                                (click)="hideNumber()" class="btn btn-side side-btn2"><i
                                                    class="fa-solid fa-phone padd-r"></i>
                                                {{objProduct.userId.mobileNumber}}
                                            </a> 
                                        </ng-container>
                                       <ng-template #notToShow>
                                        <a href="javascript:void(0)"  
                                          class="btn btn-side side-btn2"><i
                                            class="fa-solid fa-phone padd-r"></i> Voir le numéro</a>
                                       </ng-template>
                                        
                                        <ng-container *ngIf="objProduct.userId.whatsapp && objProduct.userId.whatsapp != null  && objProduct.userId.whatsapp != 'null' ">
                                            <a target="_blank" href="https://api.whatsapp.com/send?phone={{objProduct.userId.whatsapp}}&text=" class="btn btn-side side-btn1">
                                                 
                                            
                                                Whatsapp
                                            </a>
                                        </ng-container>
                                    </div>

                                    <ng-container *ngIf="user_id !='' && user_id != null; else userLoginMsg">


                                        <ng-container *ngIf="ItemInCart == 0; else addedInCart">
                                            <a href="javascript:void(0)" (click)="addTocart(ad_id,user_id)" class="btn btn-side side-btn2" style="    border-color: #f00 !important;
                                                color: #f00 !important;">Ajouter au panier</a>
                                        </ng-container>
                                        <ng-template #addedInCart>
                                            <a href="javascript:void(0)" class="btn btn-side side-btn2" style="    border-color: #f00 !important;
                                            color: #f00 !important;">Ajouté dans le
                                                panier</a>
                                        </ng-template>

                                    </ng-container>
                                    <ng-template #userLoginMsg>
                                        <a routerLink="/login" class="btn btn-side side-btn1" style="    border-color: #f00 !important;
                                        color: #f00 !important;">Ajouter au panier</a>
                                    </ng-template>
                                    <div class="clearfix"></div><br>
                                    <div class="clearfix"></div>
                                    <br>
                                    <div class="comeBack_up" *ngIf="cartApiResponse">
                                        <div *ngIf="cartApiResponse.error; else loggedOut">
                                            <div class="alert alert-danger"><strong>{{ cartApiResponse.errorMessage
                                                    }}</strong></div>
                                        </div>
                                        <ng-template #loggedOut>
                                            <div class="alert alert-success"><strong>{{ cartApiResponse.errorMessage
                                                    }}</strong></div>
                                        </ng-template>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
                <div class="row" *ngFor="let objProduct of allCarAd">
                    <div class="col-lg-8 col-md-6 col-sm-12 col-12">
                        <!-- <h1 class="m-b-8">{{objProduct.ad_name}}</h1> -->
                        <p class="m-b-8">

                            <!-- <span *ngIf="objProduct.modelId.length > 0">{{objProduct.modelId[0].model_name}}</span> • <span>{{objProduct.model_variant}}</span>  -->


                            <!-- <span>   {{objProduct.registration_year}}</span>  • <span *ngIf="objProduct.fuel.length > 0">{{objProduct.fuel[0].attribute_name}}</span> 
                         -->
                            <!-- <span class="spn-price">700 <i class="fa-solid fa-euro-sign"></i></span> -->
                        </p>
                        <hr>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-8 main-col">



                        <!--Toolbar-->
                        <div class="toolbar mt-0">
                            <!-- <h2>Critères</h2> -->
                        </div>
                        <!--End Toolbar-->
                        <!--Product Grid-->
                        <div class="grid-products grid--view-items prd-grid">
                            <div class="row" *ngFor="let objProduct of allCarAd">

                                <div class="col-12 col-sm-6 col-md-4 col-lg-4 p-0">
                                    <div class="product-details">
                                        <!--Product Name-->
                                        <div class="product-name pb-0">
                                            <span class="float-left img-spn new-span">
                                                <!--<i class="fa-solid fa-gas-pump txt-icon"></i>-->
                                                <img src="assets/images/slideshow/pr1.png" class="txt-icon" style="max-width: 100%;">
                                            </span>
                                            <div class="side-txt">
                                                <p class="first-txt"><span>Modèle</span>
                                                </p>
                                                <p class="" *ngIf="objProduct.modelId.length > 0">
                                                    {{objProduct.modelId[0].model_name}}</p>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-sm-6 col-md-4 col-lg-4 p-0">
                                    <!--Start Product Details-->
                                    <div class="product-details">
                                        <!--Product Name-->
                                        <div class="product-name pb-0">
                                            <span class="float-left img-spn new-span">
                                                <!--<i class="fa-solid fa-gas-pump txt-icon"></i>-->
                                                <img src="assets/images/slideshow/pr1.png" class="txt-icon" style="max-width: 100%;">
                                            </span>
                                            <div class="side-txt">
                                                <p class="first-txt"><span>Génération</span>
                                                </p>
                                                <p class="" *ngIf="objProduct.subModelId.length > 0">
                                                    {{objProduct.subModelId[0].model_name}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!--End Product Details-->
                                </div>


                                <div class="col-12 col-sm-6 col-md-4 col-lg-4 p-0">
                                    <div class="product-details">
                                        <!--Product Name-->
                                        <div class="product-name pb-0">
                                            <span class="float-left img-spn">
                                                <!--<i class="fa-solid fa-gas-pump txt-icon"></i>--><img
                                                    src="assets/images/slideshow/4.png" class="txt-icon">
                                            </span>
                                            <div class="side-txt">
                                                <p class="first-txt">Année</p>
                                                <p class="second-txt">{{objProduct.registration_year}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="col-12 col-sm-6 col-md-4 col-lg-4 p-0">
                  <div class="product-details">
                     
                    <div class="product-name pb-0">
                      <span class="float-left img-spn">
                         
                        <img src="assets/images/slideshow/4.png" class="txt-icon">
                      </span>
                      <div class="side-txt">
                        <p class="first-txt"><span>Mise en circulation</span>
                        </p>
                        <p class="">7/2021</p>
                      </div>
                    </div>
                  </div>
                </div> -->

                                <div class="col-12 col-sm-6 col-md-4 col-lg-4 p-0">
                                    <div class="product-details">
                                        <!--Product Name-->
                                        <div class="product-name pb-0">
                                            <span class="float-left img-spn new-span">
                                                <!--<i class="fa-solid fa-gas-pump txt-icon"></i>-->
                                                <img src="assets/images/slideshow/pr1.png" class="txt-icon" style="max-width: 100%;">
                                            </span>
                                            <div class="side-txt">
                                                <p class="first-txt"><span>Type de pièce</span>
                                                </p>
                                                <p class="" *ngIf="objProduct.type_de_piece.length > 0">
                                                    {{objProduct.type_de_piece[0].attribute_name}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>




                                <div class="col-12 col-sm-6 col-md-4 col-lg-4 p-0">
                                    <div class="product-details">
                                        <!--Product Name-->
                                        <div class="product-name pb-0">
                                            <span class="float-left img-spn new-span">
                                                <!--<i class="fa-solid fa-gas-pump txt-icon"></i>-->
                                                <span style="font-size: x-small;font-weight: 700;">OEM</span>
                                            </span>
                                            <div class="side-txt">
                                                <p class="first-txt"><span>Pièce d'origine Porsche (OEM)</span>
                                                </p>
                                                <ng-container *ngIf="objProduct.OEM == 'yes'; else elseWarenty">
                                                    <p class="">Oui</p>
                                                </ng-container>
                                                <ng-template #elseWarenty>
                                                    <p class="">Non</p>
                                                </ng-template>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4 col-lg-4 p-0">
                                    <div class="product-details">
                                        <!--Product Name-->
                                        <div class="product-name pb-0">
                                            <span class="float-left img-spn new-span">
                                                <!--<i class="fa-solid fa-gas-pump txt-icon"></i>-->
                                                <img src="assets/images/slideshow/pr1.png" class="txt-icon mw-100">
                                            </span>
                                            <div class="side-txt">
                                                <p class="first-txt"><span>État</span>
                                                </p>
                                                <p class="">{{objProduct.state}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!--End Product Grid-->
                        <!--Pagination Classic-->
                        <hr class="clear">
                        <!--Collection Description-->
                        <div class="collection-description mt-4 pt-0">
                            <h2>Description</h2>
                            <!-- <p class="fw-400">Bmw SERIE 1 (F21/F20) 114D 95CH M SPORT ULTIMATE 3P EURO6C, BLANC, 5cv, 3 portes, mise en circulation le 25-07-2018, garantie 6 mois.</p>
              <br>
              <p class="fw-400">5 places, longueur : 4,33 mètres,<br>
                boîte de vitesse : manuelle
              </p>
              <br>
              <p class="fw-400">OPTIONS ET EQUIPEMENTS :<br>
                Audio - Télécommunications<br>
                - 6 Haut parleurs<br>
                - Appel d'Assistance Localisé<br>
                - Appel d'Urgence Localisé<br>
                - Commandes du système audio au volant
              </p>
              <a href="#" class="voir"><u>Voir plus</u></a> -->
                            {{objProduct.description}}

                        </div>
                        <!-- <hr class="clear">
            <div class="collection-description pt-2 collect-des mt-0">
              <h2 class="second-h pt-0">Paiement sécurisé avec</h2>
              <p>Vous virez l’argent sur votre compte leboncoin.
                Le véhicule vous plait ? Vous payez le vendeur en un clic et repartez avec le véhicule.
                Sinon, vous récupérez vos fonds. <strong>Tout cela gratuitement !</strong>
              </p>
              <a href="#"><i class="fa-solid fa-arrow-right"></i> Plus d’informations sur le paiement sécurisé</a>
            </div> -->
                        <hr>
                        <div class="clearfix"></div>
                        <div class="collection-description mt-4 pt-0">
                            <h2>Livraison</h2>
                            <ng-container *ngIf="objProduct.shipping_type_1">
                                 <div class="row">
                                   
                                    <ng-container *ngIf="objProduct.shipping_type_1 == 1 "> 
                                        <div class="col-md-4" *ngIf="objProduct.shipping_price_1 > 0">
                                            <label class="container-r">{{objProduct.shipping_type_1_text }}   {{objProduct.shipping_price_1 }}  
                                                <span class="checkmark-r"></span>
                                                <i class="fa-solid fa-euro"></i>
                                            </label></div>
                                    </ng-container>
                                    
                                    <ng-container *ngIf="objProduct.shipping_type_2 == 1 ">
                                        <div class="col-md-4" *ngIf="objProduct.shipping_price_2 > 0">
                                            <label class="container-r">{{objProduct.shipping_type_2_text }}   {{objProduct.shipping_price_2}}  <span class="checkmark-r"></span>
                                                <i class="fa-solid fa-euro"></i>
                                            </label></div>
                                    </ng-container>
                                    <ng-container *ngIf="objProduct.shipping_type_4 == 1">
                                        <div class="col-md-4" *ngIf="objProduct.shipping_price_4 > 0">
                                            <label class="container-r">{{objProduct.shipping_type_4_text }}   {{objProduct.shipping_price_4}}  <span class="checkmark-r"></span>
                                                <i class="fa-solid fa-euro"></i>
                                            </label></div>
                                    </ng-container>


                                    
                                    <ng-container *ngIf="objProduct.shipping_type_3== 1">
                                        <div class="col-md-4"  >
                                            <label class="container-r">{{objProduct.shipping_type_3_text }}  <span class="checkmark-r"> 

                                            </span></label></div>
                                    </ng-container>
                                    <ng-container *ngIf="objProduct.shipping_type_5== 1">
                                        <div class="col-md-4"  >
                                            <label class="container-r">{{objProduct.shipping_type_5_text }}  <span class="checkmark-r"> 

                                            </span></label></div>
                                    </ng-container>
                                     
                                </div>
                            </ng-container>
                        </div>
                        <hr>
                        <div class="collection-description mt-4 pt-0">
                            <h2 class="">
                                <i class="fa fa-map-marker"></i> {{objProduct.address}}
                            </h2>


                            <!-- <div>
                <div class="my-google-map">
                  <google-map [options]="mapOptions" height="500px"
                  width="100%">
                     <map-marker [position]="marker.position"></map-marker>
                  </google-map>
               </div>
              </div> -->
                        </div>
                        <div class="collection-description pt-2">

                            <div class="collec_under">
                                <div>
                                    <a routerLink="/seller/{{objProduct.userId._id}}" *ngIf="objProduct.userId.userImage; else elseImageObj">
                                        <img src="{{base_url_node_only}}public/uploads/userProfile/{{objProduct.userId.userImage}}" class="mw-100" style="width: 70px;">

                                    </a>
                                    <ng-template #elseImageObj>
                                        <a routerLink="/seller/{{objProduct.userId._id}}">
                                            <div id="profileImage">
                                                {{objProduct.userId.firstName[0]}}{{objProduct.userId.lastName[0]}}
                                            </div>
                                        </a>
                                    </ng-template>
                                </div>
                                <div>
                                    <div class="">
                                        <span><strong>
                                            <ng-container *ngIf="objProduct.userId.user_type == 'pro_user';else elseUserType ">
                                                {{objProduct.userId.enterprise}}
                                            </ng-container>
                                            <ng-template #elseUserType>
                                                {{objProduct.userId.userName}}
                                            </ng-template>
                                        </strong></span>

                                        <a routerLink="/seller/{{objProduct.userId._id}}" *ngIf="apiResponse.rating_rec">



                                            <div class="rat-ing" *ngIf="apiResponse.rating_rec != ''; else noVal">
                                                <div class="r-s">
                                                    <span style="--rating: {{apiResponse.rating_rec[0].avgRating}} "></span> ({{apiResponse.rating_rec[0].totalRating}})
    
                                                </div>
                                                <div>
                                                    <span><i class="fa-solid fa-angle-right"></i></span>
                                                </div>
                                            </div>
                                            <ng-template #noVal>
                                                <div class="rat-ing">
                                                    <div class="r-s">
                                                        <span style="--rating: 0 "></span> (0)
    
                                                    </div>
                                                    <div>
                                                        <span><i class="fa-solid fa-angle-right"></i></span>
                                                    </div>
                                                </div>
                                            </ng-template>
                                        </a>
                                        
                                        <p>Nombre d'annonces : {{objProduct.total_ad_count}} </p>
                                    </div>
                                    <!-- <div *ngIf="modelArray">
                                        <ul class="saleUL">
                                            <li *ngFor="let model of modelArray">
                                                <span *ngIf="model.model_name != '' "> {{model.model_name}},</span>
                                            </li>
                                        </ul>
                                    </div> -->
                                    
                                    <!-- <a href="mailto:{{objProduct.userId.email}}" class="text-primary"><i
                                            class="fa-solid fa-envelope padd-r"></i>{{objProduct.userId.email}}</a> -->
                                            
                                            <div *ngIf="objProduct.userId.user_type == 'pro_user' ">
                                        
                                                <h5 class="mb-1">{{objProduct.address}}</h5>
                                                <h5 class="mb-1">{{objProduct.userId.mobileNumber}}</h5>
                                                <!-- <h5 class="mb-1">{{objProduct.userId.siret}}</h5> -->
                                                <a href="mailto:{{objProduct.userId.email}}" class="text-primary"><i
                                                    class="fa-solid fa-envelope padd-r"></i>{{objProduct.userId.email}}
                                                </a>
                                                <h5 class="mb-1">{{objProduct.userId.website_url}}</h5>
                                            </div>

                                </div>
                            </div>

                            <p class="m-b-5"><i class="fa-solid fa-user p-r-5"></i> Membre depuis {{objProduct.userId.created_at | date: 'dd/MM/yyyy'}}</p>
                            <ng-container *ngIf="objProduct.is_follow == 1; else elsefollowBtn">

                                <button class="btn float-right btnnam" (click)="followSeller(objProduct)">Ne pas
                                    suivre</button>
                            </ng-container>
                            <ng-template #elsefollowBtn>
                                <button class="btn float-right btnnam" (click)="followSeller(objProduct)">Suivre</button>
                            </ng-template>
                            <div class="clearfix"></div>

                            <!-- <p class="m-b-5"><i class="fa-solid fa-clock p-r-5"></i> Répond généralement en 10 minutes</p> -->
                        </div>
                        <div class="comeBack_up" *ngIf="apiResponse2">
                            <div *ngIf="apiResponse2.error == false; else loggedOut">
                                <div class="alert alert-success"><strong>{{ apiResponse2.errorMessage }}</strong></div>
                            </div>
                            <ng-template #loggedOut>
                                <div *ngIf="apiResponse2.errorMessage">
                                    <div class="alert alert-danger"><strong>{{ apiResponse2.errorMessage }}</strong>
                                    </div>
                                </div>
                            </ng-template>

                        </div>




                        <div class="clearfix"></div><br>
                        <hr>

                        <ng-container *ngIf="user_id;else elseReport">
                            <div class=" ">
                                <a routerLink="/reportAd/{{objProduct._id}}">Signaler l’annonce</a>
                            </div>
                        </ng-container>
                        <ng-template #elseReport>
                            <div class=" ">
                                <a routerLink="/login">Signaler l’annonce</a>
                            </div>
                        </ng-template>






                    </div>
                </div>
            </div>
            <!--Product Content-->
            <section class="section product-slider pb-0 col-12 col-lg-8">
                <div class="p-0">
                    <hr>
                    <div class="row">
                        <div class="section-header col-12">
                            <h2 class="text-transform-none">Ces annonces peuvent vous intéresser</h2>
                        </div>
                    </div>
                    <div class="productSlider grid-products">
                        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
                            <div ngxSlickItem *ngFor="let carAdObj of allCarAdSimilar">
                                <div class="item">
                                    <!-- start product image -->
                                    <div class="product-image">
                                        <!-- start product image -->
                                        <a href="/accessoriesProductDetail/{{carAdObj._id}}" class="product-img">
                                            <!-- image -->
                                            <ng-container *ngIf="carAdObj.accessoires_image.length > 0; else imageCarAd">
                                                <img class="primary blur-up lazyload mw-100" data-src="{{base_url_node_only}}{{carAdObj.accessoires_image[0].path}}" src="{{base_url_node_only}}{{carAdObj.accessoires_image[0].path}}" alt="image" title="">
                                                <!-- End image -->
                                                <!-- Hover image -->
                                                <img class="hover blur-up lazyload mw-100" data-src="{{base_url_node_only}}{{carAdObj.accessoires_image[0].path}}" src="{{base_url_node_only}}{{carAdObj.accessoires_image[0].path}}" alt="image" title="">
                                                <!-- End hover image -->
                                            </ng-container>
                                            <ng-template #imageCarAd>
                                                <img class="primary blur-up lazyload mw-100" data-src="{{base_url_node_only}}public/uploads/no-image.png" src="{{base_url_node_only}}public/uploads/no-image.png" alt="image" title="">
                                                <!-- End image -->
                                                <!-- Hover image -->
                                                <img class="hover blur-up lazyload mw-100" data-src="{{base_url_node_only}}public/uploads/no-image.png" src="{{base_url_node_only}}public/uploads/no-image.png" alt="image" title="">
                                                <!-- End hover image -->
                                            </ng-template>

                                        </a>
                                        <!-- end product image -->
                                        <!--Product Button-->
                                        <div class="button-set style2">
                                            <ul class="camera-no">
                                                <li>
                                                    <!--Cart Button-->
                                                    <a class="btn-icon wishlist add-to-wishlist" href="/accessoriesProductDetail/{{carAdObj._id}}">
                                                        <i class="fa-solid fa-camera"><span class="ml-3">
                                                                {{carAdObj.accessoires_image.length}}</span></i>
                                                    </a>
                                                    <!--end Cart Button-->
                                                </li>
                                            </ul>
                                        </div>
                                        <!--End Product Button-->
                                    </div>
                                    <!-- end product image -->
                                    <!--start product details -->
                                    <div class="product-details text-left pro-detal">
                                        <!-- product name -->
                                        <div class="product-name">
                                            <a href="/accessoriesProductDetail/{{carAdObj._id}}">
                                                <strong>
                                                    <h5 class="mb-0">{{carAdObj.ad_name}}</h5>
                                                </strong>
                                            </a>
                                        </div>
                                        <!-- End product name -->
                                        <!-- product price -->
                                        <div class="product-price">
                                            <span class="">
                                                <h5 class="mb-0">{{carAdObj.price}} <i
                                                        class="fa-solid fa-euro-sign"></i></h5>
                                            </span>
                                        </div>
                                        <!-- End product price -->
                                        <!--Product Review-->
                                        <div class="product-review">
                                            <div>
                                                <ul class="pp-info">
                                                    <li *ngIf="carAdObj.modelId.length > 0"><a href="/accessoriesProductDetail/{{carAdObj._id}}">{{carAdObj.modelId[0].model_name}}</a>
                                                    </li>
                                                    <li><a href="/accessoriesProductDetail/{{carAdObj._id}}"><i
                                                                class="fa-solid fa-circle"></i>
                                                            {{carAdObj.registration_year}}</a></li>
                                                    <li><a href="/accessoriesProductDetail/{{carAdObj._id}}"><i
                                                                class="fa-solid fa-circle"></i>
                                                            {{carAdObj.engine_operation_hour}} km</a></li>
                                                    <li *ngIf="carAdObj.fuel.length > 0"><a href="/accessoriesProductDetail/{{carAdObj._id}}">{{carAdObj.fuel[0].attribute_name}}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="position-relative">
                                                <a href="/accessoriesProductDetail/{{carAdObj._id}}" *ngIf="carAdObj.type_of_gearbox.length > 0">{{carAdObj.type_of_gearbox[0].attribute_name}}
                                                </a>

                                                <a href="/accessoriesProductDetail/{{carAdObj._id}}" *ngIf="carAdObj.vehicle_condition.length > 0">{{carAdObj.vehicle_condition[0].attribute_name}}
                                                </a>

                                                <ng-container *ngIf="user_id == '' || user_id == null; else favElse">
                                                    <a routerLink="/login" class="hrt-an" tabindex="0">
                                                        <span><i class="fa-solid fa-heart d-n">
                                                            </i><i class="icon an an-heart-l h-n"></i>
                                                        </span>
                                                    </a>
                                                </ng-container>
                                                <ng-template #favElse>

                                                    <a href="javascript:void(0)" (click)="carAdFav(carAdObj._id,user_id,'car')" class="hrt-an" tabindex="0">
                                                        <ng-container *ngIf="carAdObj.isFav == 1; else accessNotFavElse">
                                                            <span><i class="fa-solid fa-heart"></i>
                                                            </span>
                                                        </ng-container>
                                                        <ng-template #accessNotFavElse>
                                                            <span>
                                                                <i class="fa-solid fa-heart d-n"></i>
                                                                <i class="icon an an-heart-l h-n"></i>
                                                            </span>
                                                        </ng-template>
                                                    </a>

                                                </ng-template>

                                            </div>
                                        </div>
                                        <!--End Product Review-->
                                    </div>
                                    <!-- End product details -->
                                </div>
                            </div>
                        </ngx-slick-carousel>
                    </div>
                </div>
            </section>
        </div>
        <!--End Container-->
    </div>
    <!--End Body Container-->


    <app-footer></app-footer>



</div>