<app-header></app-header>
<div class="page-wrapper">
   <div id="page-content" class="">
      <!--Container-->
      <div class="container pt-30">
         <!--Main Content-->
         <div class="row">
            <div class="p-0">
               <h3 class="m-t-20"><a href="#"><i class="fa-solid fa-arrow-left"></i> </a></h3>
            </div>
            <div class="row p-0">
               <h4 class="d-none">Ordres</h4>
               <div class="col-12 col-sm-12 col-md-8 col-lg-8 main-col mob-p-0">
                  <div class="panel panel-default">
                     <div class="panel-heading">
                        <h3 class="m-b-0 mob-fs-14">Commandez# {{orderDetail.order_id}} <i
                              class="fa-solid fa-arrow-right"></i>Articles de commande</h3>
                     </div>
                     <div class="panel-body">
                        <div class="" style="">
                           <table class="table align-middle tbl-img">
                              <thead class="bg-light">
                                 <tr class="th-trasfm">
                                    <th colspan="3" class="text-start">Article</th>
                                    <th class="">Quantité</th>
                                    <th class="">Total</th>
                                 </tr>
                              </thead>
                              <tbody>
                                 <tr>
                                    <td scope="row" class="border-bottom mob-plr-0 mob-td-img"><span><a href="#"><img
                                                class="" src="assets/images/products/product-6-1.jpg" alt="Sunset"
                                                width="80"></a></span></td>
                                    <td colspan="2" scope="row" class="border-bottom"><span><a href="#">Qualité
                                             supérieure</a></span></td>
                                    <td scope="row" class="border-bottom"><span>1</span></td>
                                    <td scope="row" class="border-bottom"><span><i class="fa-solid fa-euro"></i>10.00
                                       </span></td>
                                 </tr>
                                 <tr>
                                    <td scope="row" class="border-bottom mob-plr-0 mob-td-img"><span><a href="#"><img
                                                class="" src="assets/images/products/product-6-1.jpg" alt="Sunset"
                                                width="80"></a></span></td>
                                    <td colspan="2" scope="row" class="border-bottom"><span><a href="#">Qualité
                                             supérieure</a></span></td>
                                    <td scope="row" class="border-bottom"><span>1</span></td>
                                    <td scope="row" class="border-bottom"><span><i class="fa-solid fa-euro"></i>10.00
                                       </span></td>
                                 </tr>
                                 <tr>
                                    <td scope="row" class="border-bottom mob-plr-0 mob-td-img"><span><a href="#"><img
                                                class="" src="assets/images/products/product-6-1.jpg" alt="Sunset"
                                                width="80"></a></span></td>
                                    <td colspan="2" scope="row" class=""><span><a href="#">Qualité supérieure</a></span>
                                    </td>
                                    <td scope="row" class=""><span>1</span></td>
                                    <td scope="row" class=""><span><i class="fa-solid fa-euro"></i>10.00 </span></td>
                                 </tr>
                              </tbody>
                              <tfoot>
                                 <tr>
                                    <td colspan="4"
                                       style="border:1px solid #ddd; border-collapse:collapse; font-size:13px; font-weight:normal; letter-spacing:0.5px; line-height:1.5; text-align:right; padding:8px 10px; margin:0 0 0;">
                                       Sous-total :</td>
                                    <td
                                       style="border:1px solid #ddd; border-collapse:collapse; font-size:13px; font-weight:500; letter-spacing:0.5px; line-height:1.5; text-align:center; padding:0; margin:0 0 0;">
                                       <i class="fa-solid fa-euro-sign"></i>{{orderDetail.price}}</td>
                                 </tr>
                                 <tr>
                                    <td colspan="4"
                                       style="border:1px solid #ddd; border-collapse:collapse; font-size:13px; font-weight:normal; letter-spacing:0.5px; line-height:1.5; text-align:right; padding:8px 10px; margin:0 0 0;">
                                       Paiement Mathod:</td>
                                    <td
                                       style="border:1px solid #ddd; border-collapse:collapse; font-size:13px; font-weight:500; letter-spacing:0.5px; line-height:1.5; text-align:center; padding:8px 10px; margin:0 0 0;">
                                       {{orderDetail.payment_type}}</td>
                                 </tr>
                                 <tr>
                                    <td colspan="4"
                                       style="border:1px solid #ddd; border-collapse:collapse; font-size:13px; font-weight:normal; letter-spacing:0.5px; line-height:1.5; text-align:right; padding:8px 10px; margin:0 0 0;">
                                       Total:</td>
                                    <td
                                       style="border:1px solid #ddd; border-collapse:collapse; font-size:13px; font-weight:500; letter-spacing:0.5px; line-height:1.5; text-align:center; padding:0; margin:0 0 0;">
                                       <i class="fa-solid fa-euro-sign"></i>{{orderDetail.final_price}}</td>
                                 </tr>
                              </tfoot>
                           </table>
                        </div>
                     </div>
                  </div>
                  <div class="row mob-c-end">
                     <div class="col-9 col-6 col-md-6 col-sm-6 mob-p-0">
                        <div class="panel panel-default">
                           <div class="panel-heading">
                              <h3 class="m-b-0 mob-fs-14">Adresse de livraison</h3>
                           </div>
                           <div class="panel-body">
                              <p><strong class="strong-1">Client abc</strong> </p>
                              <p><strong class="strong-1">Europ</strong></p>
                              <p><strong class="strong-1">Europ</strong></p>
                              <p><strong class="strong-1">Europ</strong></p>
                              <p><strong class="strong-1">1254</strong></p>
                              <p><strong class="strong-1">Europ</strong></p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-12 col-sm-12 col-md-4 col-lg-4 cart__footer mob-p-0">
                  <div class="panel panel-default">
                     <div class="panel-heading">
                        <h3 class="m-b-0 mob-fs-14">Détails généraux</h3>
                     </div>
                     <div class="panel-body">
                        <p>
                           <strong class="strongg">État des commandes:</strong> <span
                              class="Traitement">{{orderDetail.payment_status}}</span>

                        </p>
                        <p><strong class="strongg">Date de l'ordre: </strong> <span> {{orderDetail.created_at|
                              date:'dd.MM.yyyy'}}</span></p>
                        <hr>
                        <p><strong class="strongg">Vendeur:</strong> <span class="clr-red">Client2</span> </p>
                        <p><strong class="strongg">Email:</strong> <span>{{orderDetail.email}}</span> </p>
                        <p><strong class="strongg">Téléphone :</strong> <span>{{orderDetail.mobileNumber}}</span></p>

                     </div>
                  </div>
                  <div class="panel panel-default">
                     <div class="panel-heading">
                        <h3 class="m-b-0 mob-fs-14">Notes de commande</h3>
                     </div>
                     <div class="panel-body">
                        <div class="row">
                           <div class="cmt">{{orderDetail.description}}</div>
                        </div>

                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!--End Main Content-->
         <!--End Container-->
      </div>
   </div>
   <app-footer></app-footer>