.productSlider.slick-slider .slick-slide,
.productPageSlider.slick-slider .slick-slide,
.productSlider-style2.slick-slider .slick-slide {
    margin: 0 10px !important;
}

.slick-slide {
    margin: 0 10px !important;
    height: 320px !important;
}

.top-urgent {
    position: absolute;
    background: #f00;
    z-index: 9;
    color: #fff;
    top: 10px;
    left: 10px;
    border-radius: 4px;
    padding: 8px;
    font-size: 11px !important;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slick-track {
    margin-left: 0 !important;
}

.filtr-cat {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.drop-button {
    width: 100%;
    border: none;
    background: #f4f6f7;
    color: #d1d1d2;
    font-weight: 500;
    font-size: 15px;
}

.product-review {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.grid-products .item .product-price {
    margin: 0 !important;
}

.pp-info li {
    line-height: 18px !important;
    padding: 0 !important;
}

.pp-info li+li:before {
    content: "|" !important;
    padding: 0 10px 0 0 !important;
}

@media(min-width:992px) {
    .item {
        height: 304px !important;
    }
}

@media(max-width:992px) and (min-width:600px) {
    .item {
        height: 300px !important;
    }
}

@media(max-width:599px) {
    .item {
        height: auto !important;
    }
}

.form-check {
    font-size: 13px !important;
}

.chk-flbl {
    padding-left: 35px;
}

.dropdown-menu {
    width: 300px !important;
}


/* custom checkbox */

.container-po {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    /* font-size: 22px; */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
}


/* Hide the browser's default checkbox */

.container-po input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0 !important;
    width: 0 !important;
}


/* Create a custom checkbox */

.checkmark-po {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    background-color: #fff;
    border: 2px solid #f00;
    border-radius: 50%;
}


/* On mouse-over, add a grey background color */

.container-po:hover input~.checkmark {
    background-color: #ccc;
}


/* When the checkbox is checked, add a blue background */

.container-po input:checked~.checkmark-po {
    background-color: #f00;
}


/* Create the checkmark/indicator (hidden when not checked) */

.checkmark-po:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the checkmark when checked */

.container-po input:checked~.checkmark-po:after {
    display: block;
}


/* Style the checkmark/indicator */

.container-po .checkmark-po:after {
    left: 5px;
    top: 1px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.flx-year {
    display: flex !important;
    gap: 5%;
}

.flx-yearc {
    width: 50% !important;
}

@media(max-width:992px) {
    .slick-slide {
        height: 340px;
    }
}



.flx-srch {
    display: flex;
    gap: 0.5rem;
    position: relative;
    padding: 0;
    margin-bottom: 0 !important;
    align-items: center;
}

.flx-srch .btn {
    /*position: absolute; */
    right: 6px;
    top: 9px;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    flex: none;
    padding: 0;
    text-align: center;
    align-items: center;
    line-height: 0 !important;
    /* margin-left: -33px; */
    align-self: center;
    background: transparent;
    color: #333;
    border-color: #666;
    border-radius: 50%;
}

.flx-top {
    display: flex;
    gap: .5rem;
    list-style-type: none;
    flex-wrap: wrap;
}

.flx-top li {
    background: aliceblue;
    display: flex;
    align-items: center;
    padding: 7px 10px;
    border-radius: 5px;
}
.form-check[_ngcontent-qmo-c82] {
    font-size: 13px !important;
}
input.input-chk-box.mr-15.ng-valid.ng-dirty.ng-touched {
    height: fit-content;
}

.text-center{
    display: flex;
    justify-content: center;
    gap: 8px;
}




