.flex-pro {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-lbl {
    flex: auto;
}

ul.type-de-chass.garanti-ul {
    display: flex;
    flex-wrap: wrap;
    
    
    gap: 3%;
    height: 300px;
     overflow: auto;
}

.type-de-chass li {
    width: 17%;
}

input[type=checkbox] {
    accent-color: #f00 !important;
    height: 15px;
    width: 15px;
    margin-right: 8px !important;
}

.lbl-float {
    float: none;
    display: flex;
}

@media(max-width:767px) {
    .type-de-chass li {
        width: 48%;
    }
    .p-b-20 {
        padding-bottom: 10px;
    }
    .rs-half {
        margin-bottom: 1rem;
    }
}

@media(max-width:576px) {
    .rs-half {
        padding: 0 !important;
    }
}


.fa-solid, .fas {
    margin-top: 4px;
    margin-left: 2px;
}

.d-te p {
    font-size: 10px !important;
}

@media(max-width: 767px) {
    .in-ner {
        padding: 10px !important;
    }
}

@media(min-width: 992px) {
    .pmt-6r {
        margin-top: 4.7rem;
    }
}

.loader-img {
    text-align: center;
}