.r-suces {
  display: flex;
  margin: 2rem auto;
  max-width: 800px;
  box-shadow: 0 0px 10px 2px #ccc;
  border-radius: 8px;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.r-suces h6 {
  margin-bottom: 8px !important;
  font-size: 16px;
}