<app-mobile-header></app-mobile-header>
<app-header></app-header>

<div class="container">
  <div class="row">
      <div class="col-12">
          <div class="r-suces">
              <div>
                  <img src="assets/images/logo.png" alt="logo" width="200">
                  <h6 class="mt-4">Nous avons bien reçu votre inscription.</h6>
                  <h6>Porschiste bienvenue dans notre communaute !</h6>
              </div>
          </div>
      </div>
  </div>
</div>

<app-footer></app-footer>