.fas-style {
    font-size: 48px;
    color: orange;
    border-radius: 50%;
    padding: 15px;
    width: 250px;
    width: 250px;
    height: 250px;
    box-shadow: 0 2px 15px #999;
    display: flex;
    align-items: center;
    justify-content: center;
}

 
.jumbo {
    background-color: #f0f8ff;
    border-radius: 20px;
    padding: 35px!important;
    max-width: 600px;
    margin: auto;
    box-shadow: 0 2px 25px #ccc;
}

.side-txt {
    padding-left: 0 !important;
}

.product-details {
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    overflow: auto;
}


/* custom checkbox */

.container-po {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    /* font-size: 22px; */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
}


/* Hide the browser's default checkbox */

.container-po input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0 !important;
    width: 0 !important;
}


/* Create a custom checkbox */

.checkmark-po {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    background-color: #fff;
    border: 2px solid #f00;
    border-radius: 3px;
}


/* On mouse-over, add a grey background color */

.container-po:hover input~.checkmark {
    background-color: #ccc;
}


/* When the checkbox is checked, add a blue background */

.container-po input:checked~.checkmark-po {
    background-color: #f00;
}


/* Create the checkmark/indicator (hidden when not checked) */

.checkmark-po:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the checkmark when checked */

.container-po input:checked~.checkmark-po:after {
    display: block;
}


/* Style the checkmark/indicator */

.container-po .checkmark-po:after {
    left: 5px;
    top: 0;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


.new-span {
    border: 1px solid #000;
    border-radius: 50%;
    display: flex;
    width: 30px;
    height: 30px;
    padding: 5px;
    align-items: center;
    justify-content: center;
  }
  