<app-mobile-header></app-mobile-header>

<!--Page Wrapper-->
<div class="page-wrapper">

    <app-header></app-header>

    <!--Body Container-->

    <div id="page-content" class="page-adjust">



        <!--Container-->
        <div class="container p-0 bx-s max-992 mb-3 mt-3" *ngIf="allChatRecord.length != 0 ;else emptyMsg">

            <!--Main Content-->
            <div class="row">

                <!--<div class="col-md-12">
          <h2>Déposer une annonce</h2>
          </div>-->
                <div class="col-12 col-sm-6 col-md-3 col-lg-3 mb-4 mb-md-0 col-3 d-none d-lg-block d-xl-block p-0">
                    <div class="scro-ling">
                        <div class="p-10">
                            <!-- <label for="myCheck" class="container-po">Case à cocher :
                            <input class="input-chk-box" type="checkbox" id="myCheck" onclick="myFunction()">
                            <span class="checkmark-po"></span>
                          </label>
                            <div id="text" style="display:none"><span><a href="#">Annuler</a></span><span class="float-right"><a href="#">Tout sélectionner</a></span></div> -->
                        </div>
                        <div class="p-10 l-section">

                            <ng-container *ngFor="let objMainAdChat of allChatRecord">
                                <a href="javascript:void(0)" (click)="openChatModule(objMainAdChat._id);">
                                    <div class="img-bx">
                                        <label for="schk" class="container-po">
                                        <!-- <input type="checkbox" class="nput-chk-box" id="schk"> -->
                                        <ng-container *ngIf="objMainAdChat.addDetail[0].category == 'Porsche Voitures'; else catImgAccess ">
                                            <ng-container *ngIf="objMainAdChat.addDetail[0].exterior_image.length >0; else noImgcarElse">
                                                <img class="side-img" src="{{base_url_node_only}}{{objMainAdChat.addDetail[0].exterior_image[0].path}}" width="100">
                                            </ng-container>
                                            <ng-template #noImgcarElse>
                                                <img class="side-img" src="{{base_url_node_only}}public/uploads/no-image.png" width="100">
                                            </ng-template>
                                        </ng-container>


                                        <ng-template #catImgAccess>
                                            <ng-container *ngIf="objMainAdChat.addDetail[0].accessoires_image.length >0; else noImgAccessElse">
                                                <img class="side-img" src="{{base_url_node_only}}{{objMainAdChat.addDetail[0].accessoires_image[0].path}}" width="100">
                                            </ng-container>
                                            <ng-template #noImgAccessElse>
                                                <img class="side-img" src="{{base_url_node_only}}public/uploads/no-image.png" width="100">
                                            </ng-template>
                                        </ng-template>
                                    <ng-container *ngIf="objMainAdChat.countdf == 1; else elseCheckRead">
                                        <div>
                                            <p>{{objMainAdChat.addDetail[0].ad_name}} </p>
                                            <!-- <p>Ford Focus cars</p> -->
                                            <p>{{objMainAdChat.created_at | date: 'dd/mm/yyyy HH:mm'}}</p>
                                        </div>
                                    
                                    </ng-container>
                                    <ng-template #elseCheckRead>
                                        <div>
                                            <p class="first-txt">{{objMainAdChat.addDetail[0].ad_name}} </p> 
                                            <p class="first-txt">{{objMainAdChat.created_at | date: 'dd/mm/yyyy HH:mm'}}</p>
                                        </div>
                                    </ng-template>
                                        
                                        <!-- <span class="checkmark-po"></span> -->
                                      </label>
                                    </div>
                                </a>

                            </ng-container>



                        </div>
                    </div>
                </div>


                <div class="col-12 col-sm-12 col-md-12 col-lg-6 mb-4 mb-md-0 p-0">
                    <div class="container bootstrap snippets bootdey p-0">
                        <div class="row">
                            <!--=========================================================-->
                            <!-- selected chat -->
                            <div class="col-md-12 bg-white p-0">
                                <div class="chat-message">
                                    <ul class="chat">
                                        <ng-container *ngFor="let chatObjAllMsg of allSingleChatRecord">

                                            <ng-container *ngIf="chatObjAllMsg.sender_id[0]._id == user_id; else elseDivRight">
                                                <li class="left clearfix">
                                                    <div class="chat-body clearfix">
                                                        <div class="header">
                                                            <strong class="primary-font">{{firstName}} {{lastName}}</strong>
                                                            <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> {{chatObjAllMsg.created_at  | date: 'dd/MM/yyyy HH:mm'}}</small>
                                                        </div>
                                                        <p class="first-txt">
                                                            {{chatObjAllMsg.message}}
                                                        </p>
                                                    </div>
                                                </li>
                                            </ng-container>
                                            <ng-template #elseDivRight>
                                                <li class="right clearfix  {{chatObjAllMsg.sender_id[0].firstName}}">
                                                    <div class="chat-body clearfix">
                                                        <div class="header">
                                                            <strong class="primary-font">{{chatObjAllMsg.sender_id[0].firstName}}  {{chatObjAllMsg.sender_id[0].lastName}}</strong>
                                                            <small class="pull-right text-muted"><i class="fa fa-clock-o"></i>{{chatObjAllMsg.created_at  | date: 'dd/MM/yyyy HH:mm'}}</small>
                                                        </div>
                                                        <ng-container *ngIf="chatObjAllMsg.mark_read_receiver == 0; else elseUnreadMsg">
                                                            <p class="">
                                                                {{chatObjAllMsg.message}}
                                                            </p>
                                                        </ng-container>

                                                        <ng-template #elseUnreadMsg>

                                                            <p class="first-txt">
                                                                {{chatObjAllMsg.message}}
                                                            </p>
                                                        </ng-template>
                                                        
                                                    </div>
                                                </li>
                                            </ng-template>


                                        </ng-container>
                                    </ul>




                                </div>
                                <div class="chat-box bg-white">
                                    <form [formGroup]="form" (ngSubmit)="submit()" class="customer-form">
                                        <input type="hidden" name="table_id" [(ngModel)]="table_id" formControlName="table_id">

                                        <input type="hidden" name="sender_id" formControlName="sender_id" [(ngModel)]="user_id">

                                        <div class="input-group">
                                            <input class="form-control border no-shadow no-rounded" placeholder="Tapez votre message ici" [(ngModel)]="newMessage" name="newMessage" formControlName="newMessage" (keyup)="$event.keyCode == 13">




                                            <span class="input-group-btn">
                      <!-- <button class="btn btn-success no-rounded" type="button" (click)="sendMessage()">Send</button> -->
                      <button class="btn btn-success no-rounded" type="submit" >Envoyer</button>
                      </span>



                                        </div>
                                        <div *ngIf="f['newMessage'].touched && f['newMessage'].invalid" class="validation_error">
                                            <div class="error" *ngIf="f['newMessage'].errors && f['newMessage'].errors['required']">Le message est requis.</div>

                                        </div>
                                        <div class="clearfix"></div>
                                        <br>
                                        <div class="comeBack_up" *ngIf="tableIdError">

                                            <div class="alert alert-danger"><strong>{{ tableIdError }}</strong></div>

                                        </div>
                                        <div class="clearfix"></div>
                                        <br>

                                    </form>





                                    <!-- /input-group -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="col-12 col-sm-6 col-md-3 col-lg-3 mb-4 mb-md-0 positon-r d-none d-lg-block d-xl-block">
                    <ng-container *ngFor="let objAdDetail of resultAd">
                        <ng-container *ngIf="objAdDetail.userId.length > 0">
                            <div class="r-div-1">
                                <ng-container *ngIf="objAdDetail.userId[0].userImage != ''; else elseImgUser">
                                    <img src="{{base_url_node_only}}public/uploads/userProfile/{{objAdDetail.userId[0].userImage}}" height="100" width="120">
                                </ng-container>
                                <ng-template #elseImgUser>
                                    <img src="assets/images/logo/icons8-user-100.png">
                                </ng-template>


                                <span>{{objAdDetail.userId[0].firstName}} {{objAdDetail.userId[0].firstName}}</span>
                                <!-- <span class="dot-3" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-ellipsis-vertical"></i></span>
              <ul class="dropdown-menu drop-down-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#">Données personnelles</a></li>
                <li><a class="dropdown-item" href="#">Débloquer cet utilisateur</a></li>
                <li><a class="dropdown-item" href="#">Signaler cet utilisateur</a></li>
                <li><a class="dropdown-item" href="#">Supprimer la conversation</a></li>
              </ul> -->
                                <!-- <p class="usr-p"><i class="fa-solid fa-message"></i>Répond généralement dans les 10 minutes</p> -->
                            </div>
                        </ng-container>

                        <ng-container *ngIf="objAdDetail.category == 'Pièces et accessoires'; else elseMainCategory ">
                            <div class="img-detal">
                                <a routerLink="/accessoriesProductDetail/{{objAdDetail._id}}">
                <ng-container *ngIf="objAdDetail.accessoires_image.length > 0; else elseImgAd">
                  <img class="side-img" src="{{base_url_node_only}}{{objAdDetail.accessoires_image[0].path}}" width="80">
                </ng-container>
                <ng-template #elseImgAd>
                  <img class="side-img" src="{{base_url_node_only}}public/uploads/no-image.png" width="80">
                </ng-template>
                <div>
                  <h6>
                    {{objAdDetail.ad_name}}</h6>
                  <p>{{objAdDetail.price}}<i class="fa-solid fa-euro"></i></p>
                  <p><span class="secure-pay">Paiement sécurisé</span></p>
                </div>
              </a>

                            </div>

                            <div class="ovr-div">
                                <div class="drs-bordr criteriaa">
                                    <h3>Critères</h3>
                                    <div class="my1">
                                        
                                                 
                                 
                                    <div class="product-details">
                                        <!--Product Name-->
                                        <div class="product-name pb-0">
                                            <span class="float-left img-spn new-span">
                                                <!--<i class="fa-solid fa-gas-pump txt-icon"></i>-->
                                                <img src="assets/images/slideshow/pr1.png" class="txt-icon" style="max-width: 100%;">
                                            </span>
                                            <div class="side-txt">
                                                <p class="first-txt"><span>Modèle</span>
                                                </p>
                                                <p class="" *ngIf="objAdDetail.modelId.length > 0">
                                                    {{objAdDetail.modelId[0].model_name}}</p>

                                            </div>
                                        </div>
                                    </div>
                         
                                    <!--Start Product Details-->
                                    <ng-container *ngIf="objAdDetail.subModelId">
                                        <div class="product-details">
                                            <!--Product Name-->
                                            <div class="product-name pb-0">
                                                <span class="float-left img-spn new-span">
                                                    <!--<i class="fa-solid fa-gas-pump txt-icon"></i>-->
                                                    <img src="assets/images/slideshow/pr1.png" class="txt-icon" style="max-width: 100%;">
                                                </span>
                                                <div class="side-txt">
                                                    <p class="first-txt"><span>Génération</span>
                                                    </p>
                                                    <p class="" *ngIf="objAdDetail.subModelId.length > 0">
                                                        {{objAdDetail.subModelId[0].model_name}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-container>
                                    <!--End Product Details-->
                                 
                                    <div class="product-details">
                                        <!--Product Name-->
                                        <div class="product-name pb-0">
                                            <span class="float-left img-spn">
                                                <!--<i class="fa-solid fa-gas-pump txt-icon"></i>--><img
                                                    src="assets/images/slideshow/4.png" class="txt-icon">
                                            </span>
                                            <div class="side-txt">
                                                <p class="first-txt">Année</p>
                                                <p class="second-txt">{{objAdDetail.registration_year}}</p>
                                            </div>
                                        </div>
                                    </div>
                                 
                               

                                <ng-container *ngIf="objAdDetail.type_de_piece">
                                    <div class="product-details">
                                        <!--Product Name-->
                                        <div class="product-name pb-0">
                                            <span class="float-left img-spn new-span">
                                                <!--<i class="fa-solid fa-gas-pump txt-icon"></i>-->
                                                <img src="assets/images/slideshow/pr1.png" class="txt-icon" style="max-width: 100%;">
                                            </span>
                                            <div class="side-txt">
                                                <p class="first-txt"><span>Type de pièce</span>
                                                </p>
                                                <p class="" *ngIf="objAdDetail.type_de_piece.length > 0">
                                                    {{objAdDetail.type_de_piece[0].attribute_name}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                                    <div class="product-details">
                                        <!--Product Name-->
                                        <div class="product-name pb-0">
                                            <span class="float-left img-spn new-span">
                                                <!--<i class="fa-solid fa-gas-pump txt-icon"></i>-->
                                                <span style="font-size: x-small;font-weight: 700;">OEM</span>
                                            </span>
                                            <div class="side-txt">
                                                <p class="first-txt"><span>Pièce d'origine Porsche (OEM)</span>
                                                </p>
                                                <ng-container *ngIf="objAdDetail.OEM == 'yes'; else elseWarenty">
                                                    <p class="">Oui</p>
                                                </ng-container>
                                                <ng-template #elseWarenty>
                                                    <p class="">Non</p>
                                                </ng-template>
                                            </div>
                                        </div>
                                    </div>
                               
                                    <div class="product-details">
                                        <!--Product Name-->
                                        <div class="product-name pb-0">
                                            <span class="float-left img-spn new-span">
                                                <!--<i class="fa-solid fa-gas-pump txt-icon"></i>-->
                                                <img src="assets/images/slideshow/pr1.png" class="txt-icon mw-100">
                                            </span>
                                            <div class="side-txt">
                                                <p class="first-txt"><span>État</span>
                                                </p>
                                                <p class="">{{objAdDetail.state}}</p>
                                            </div>
                                        </div>
                                    </div>
                               


                                    </div>
                                </div>
                                <div class="">
                                    <h3>Description</h3>
                                    <p>{{objAdDetail.description}}</p>
                                    <!-- <p> Véritable véhicul <span class="my2" style="display:none;">de collection. Échange contre bmw M ou 635 csi. Soulte de ma part possible suivant le véhicule.</span></p>
                <button id="show" >Voir plus</button> -->
                                </div>
                            </div>
                        </ng-container>
                        <ng-template #elseMainCategory>

                            <div class="img-detal">
                                <a routerLink="/productDetail/{{objAdDetail._id}}">
                <ng-container *ngIf="objAdDetail.exterior_image.length > 0; else elseImgAd">
                  <img class="side-img" src="{{base_url_node_only}}{{objAdDetail.exterior_image[0].path}}" width="80">
                </ng-container>
                <ng-template #elseImgAd>
                  <img class="side-img" src="{{base_url_node_only}}public/uploads/no-image.png" width="80">
                </ng-template>
                <div>
                  <h6>
                    {{objAdDetail.ad_name}}
                  </h6>
                  <p>{{objAdDetail.price}}<i class="fa-solid fa-euro"></i></p>
                </div>
              </a>
                            </div>
                            <div class="ovr-div">

                                <div class="drs-bordr criteriaa">
                                    <h3>Critères</h3>

                                    <div class="product-details">
                                        <!--Product Name-->
                                        <div class="product-name pb-0">
                                            <span class="float-left img-spn new-span">
                                                <!--<i class="fa-solid fa-gas-pump txt-icon"></i>-->
                                                <img src="assets/images/slideshow/pr1.png" class="txt-icon mw-100">
                                            </span>
                                            <div class="side-txt">
                                                <p class="first-txt"><span>Modèle</span>
                                                </p>
                                                <p class="" *ngIf="objAdDetail.modelId.length > 0">
                                                    {{objAdDetail.modelId[0].model_name}}</p>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="product-details">
                                        <!--Product Name-->
                                        <div class="product-name pb-0">
                                            <span class="float-left img-spn new-span">
                                                <!--<i class="fa-solid fa-gas-pump txt-icon"></i>-->
                                                <img src="assets/images/slideshow/pr1.png" class="txt-icon mw-100">
                                            </span>
                                            <div class="side-txt">
                                                <p class="first-txt"><span>Génération</span>
                                                </p>
                                                <ng-container *ngIf="objAdDetail.subModelId">
                                                    <p class=""  *ngIf="objAdDetail.subModelId.length > 0" >{{objAdDetail.subModelId[0].model_name}}
                                                    </p>
                                                </ng-container>
                                                 
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="product-details">
                                        <div class="product-name pb-0">
                                            <span class="float-left img-spn ">
                                                <img src="assets/images/slideshow/finish.png" class="txt-icon"
                                                   >
                                            </span>
                                            <div class="side-txt">
                                                <p class="first-txt"><span>Version</span>
                                                </p>
                                                <p class="">{{objAdDetail.model_variant}}</p>
                                            </div>
                                        </div>
                                    </div>
                                 
                                     
                                    <div class="my1">

                                         
                                         
                                        <div class="product-details">
                                            <!--Product Name-->
                                            <div class="product-name pb-0">
                                                <span class="float-left img-spn">
                                                    <!--<i class="fa-solid fa-gas-pump txt-icon"></i>--><img
                                                        src="assets/images/slideshow/4.png" class="txt-icon">
                                                </span>
                                                <div class="side-txt">
                                                    <p class="first-txt">Année</p>
                                                    <p class="second-txt">{{objAdDetail.registration_year}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    
                                        <div class="product-details">
                                            <!--Product Name-->
                                            <div class="product-name pb-0">
                                                <span class="float-left img-spn">
                                                    <!--<i class="fa-solid fa-gas-pump txt-icon"></i>-->
                                                    <img src="assets/images/slideshow/6.png" class="txt-icon">
                                                </span>
                                                <div class="side-txt">
                                                    <p class="first-txt"><span>Kilométrage</span>
                                                    </p>
                                                    <p class="">{{objAdDetail.engine_operation_hour}} KM</p>
                                                </div>
                                            </div>
                                        </div>
                                    

                                    <ng-container *ngIf="objAdDetail.fuel">
                                        
                                            <div class="product-details">
                                                <!--Product Name-->
                                                <div class="product-name pb-0">
                                                    <span class="float-left img-spn">
                                                        <!--<i class="fa-solid fa-gas-pump txt-icon"></i>-->
                                                        <img src="assets/images/slideshow/Group 599.png" class="txt-icon">
                                                    </span>
                                                    <div class="side-txt">
                                                        <p class="first-txt"><span>Carburant</span>
                                                        </p>
                                                        <p class="" *ngIf="objAdDetail.fuel.length > 0">
                                                            {{objAdDetail.fuel[0].attribute_name}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                         
                                    </ng-container>
                                    <ng-container *ngIf="objAdDetail.type_of_gearbox">
                                         
                                            <div class="product-details">
                                                <!--Product Name-->
                                                <div class="product-name pb-0">
                                                    <span class="float-left img-spn new-span">
                                                        <!--<i class="fa-solid fa-gas-pump txt-icon"></i>-->
                                                        <img src="../../../assets/images/icons/911.png" class="txt-icon"
                                                            style="max-width: 100%;">
                                                        <!--<i class="fa-solid fa-gas-pump txt-icon"></i>-->
                                                    </span>
                                                    <div class="side-txt">
                                                        <p class="first-txt"><span>Boîte de vitesse</span>
                                                        </p>
                                                        <p class="" *ngIf="objAdDetail.type_of_gearbox.length > 0">
                                                            {{objAdDetail.type_of_gearbox[0].attribute_name}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                         
                                    </ng-container>
                                    <ng-container *ngIf="objAdDetail.type_of_chassis">
                                    
                                        
                                         
                                            <div class="product-details">
                                                <!--Product Name-->
                                                <div class="product-name pb-0">
                                                    <span class="float-left img-spn new-span">
                                                        <!--<i class="fa-solid fa-gas-pump txt-icon"></i>-->
                                                        <img src="assets/images/slideshow/pr1.png" class="txt-icon"
                                                            style="max-width: 100%;">
                                                    </span>
                                                    <div class="side-txt">
                                                        <p class="first-txt"><span>Type de châssis</span>
                                                        </p>
                                                        <ng-container *ngIf="objAdDetail.type_of_chassis">
        
                                                            <p class="" *ngIf="objAdDetail.type_of_chassis.length > 0">
                                                            {{objAdDetail.type_of_chassis[0].attribute_name}}</p>
                                                        </ng-container>
                                                    </div>
                                                </div>
                                            </div>
                                         
                                    </ng-container>
                                    <ng-container *ngIf="objAdDetail.vehicle_condition">
                                         
                                            <div class="product-details">
                                                <!--Product Name-->
                                                <div class="product-name pb-0">
                                                    <span class="float-left img-spn new-span">
                                                        <!--<i class="fa-solid fa-gas-pump txt-icon"></i>--><img
                                                            src="assets/images/slideshow/status.png" class="txt-icon"
                                                            style="max-width: 100%;">
                                                    </span>
                                                    <div class="side-txt">
                                                        <p class="first-txt"><span>État du véhicule</span>
                                                        </p>
                                                        <ng-container *ngIf="objAdDetail.vehicle_condition">
                                                            <p class="" *ngIf="objAdDetail.vehicle_condition.length > 0">
                                                            {{objAdDetail.vehicle_condition[0].attribute_name}}</p>
                                                        </ng-container>
                                                    </div>
                                                </div>
                                            </div>
                                         
                                    </ng-container>
    
                                     
                                            <div class="product-details">
                                                <!--Product Name-->
                                                <div class="product-name pb-0">
                                                    <span class="float-left img-spn new-span">
                                                        <!--<i class="fa-solid fa-gas-pump txt-icon"></i>-->
                                                        <img src="assets/images/slideshow/pr1.png" class="txt-icon mw-100">
                                                    </span>
                                                    <div class="side-txt">
                                                        <p class="first-txt"><span>Couleur extérieur</span>
                                                        </p>
                                                        <ng-container *ngIf="objAdDetail.colorId">
                                                            <p class="" *ngIf="objAdDetail.colorId.length > 0">
                                                            {{objAdDetail.colorId[0].color_name}}</p>
                                                        </ng-container>
                                                    </div>
                                                </div>
                                            </div>
                                         
                                        <div class="product-details">
                                            <!--Product Name-->
                                            <div class="product-name pb-0">
                                                <span class="float-left img-spn new-span">
                                                    <!--<i class="fa-solid fa-gas-pump txt-icon"></i>-->
                                                    <img src="assets/images/slideshow/pr1.png" class="txt-icon mw-100">
                                                </span>
                                                <div class="side-txt">
                                                    <p class="first-txt"><span>Couleur intérieur</span>
                                                    </p>
                                                    <ng-container *ngIf="objAdDetail.colorIdInterior">
                                                        <p class="" *ngIf="objAdDetail.colorIdInterior.length > 0">
                                                            {{objAdDetail.colorIdInterior[0].color_name}}</p>
                                                    </ng-container>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                     
                                        <div class="product-details">
                                            <!--Product Name-->
                                            <div class="product-name pb-0">
                                                <span class="float-left img-spn">
                                                    <!--<i class="fa-solid fa-gas-pump txt-icon"></i>-->
                                                    <img src="assets/images/slideshow/10.png" class="txt-icon">
                                                </span>
                                                <div class="side-txt">
                                                    <p class="first-txt"><span>Peinture d’origine</span>
                                                    </p>
                                                    <ng-container *ngIf="objAdDetail.original_paint == 'yes'; else elseWarenty">
                                                        <p class="">Oui</p>
                                                    </ng-container>
                                                    <ng-template #elseWarenty>
                                                        <p class="">Non</p>
                                                    </ng-template>
                                                </div>
                                            </div>
                                        </div>
                                     
                                        <div class="product-details">
                                            <!--Product Name-->
                                            <div class="product-name pb-0">
                                                <span class="float-left img-spn">
                                                    <!--<i class="fa-solid fa-gas-pump txt-icon"></i>-->
                                                    <img src="assets/images/slideshow/service.png" class="txt-icon">
                                                </span>
                                                <div class="side-txt">
                                                    <p class="first-txt"><span>Carnet d’entretien</span>
                                                    </p>
                                                    <ng-container *ngIf="objAdDetail.maintenance_booklet == 'yes'; else elseWarenty">
                                                        <p class="">Oui</p>
                                                    </ng-container>
                                                    <ng-template #elseWarenty>
                                                        <p class="">Non</p>
                                                    </ng-template>
                                                </div>
                                            </div>
                                        </div>
                                     
                                        <div class="product-details">
                                            <!--Product Name-->
                                            <div class="product-name pb-0">
                                                <span class="float-left img-spn">
                                                    <!--<i class="fa-solid fa-gas-pump txt-icon"></i>-->
                                                    <img src="assets/images/slideshow/10.png" class="txt-icon">
                                                </span>
                                                <div class="side-txt">
                                                    <p class="first-txt"><span>Facture d’entretien</span>
                                                    </p>
                                                    <ng-container *ngIf="objAdDetail.maintenance_invoice == 'yes'; else elseWarenty">
                                                        <p class="">Oui</p>
                                                    </ng-container>
                                                    <ng-template #elseWarenty>
                                                        <p class="">Non</p>
                                                    </ng-template>
                                                </div>
                                            </div>
                                        </div>
                                     
                                        <div class="product-details">
                                            <!--Product Name-->
                                            <div class="product-name pb-0" *ngIf="objAdDetail.userId.user_type == 'pro_user'; else normal ">
                                                <span class="float-left img-spn new-span">
    
                                                    <a *ngIf="objAdDetail.userId.companyImage; else elseImageObj">
                                                        <img src="{{base_url_node_only}}public/uploads/userProfile/{{objAdDetail.userId.companyImage}}"
                                                            class="mw-100" style="width: 70px;">
    
                                                    </a>
                                                    <ng-template #elseImageObj>
                                                        <a>
                                                            <i class="fa fa-user"> </i>
                                                        </a>
                                                    </ng-template>
    
                                                </span>
                                                <div class="side-txt">
                                                    <p class="first-txt"><span>Vendeur</span>
                                                    </p>
                                                    <p class="">
                                                        Professionnel </p>
                                                </div>
                                            </div>
                                            <ng-template #normal>
                                                <span class="float-left img-spn new-span">
    
                                                    <i class="fa fa-user"> </i>
                                                </span>
                                                <div class="side-txt">
                                                    <p class="first-txt"><span>Vendeur</span>
                                                    </p>
                                                    <p class="">
                                                        Particulier </p>
                                                </div>
                                            </ng-template>
                                        </div>
                                     
                                        <div class="product-details">
                                            <!--Product Name-->
                                            <div class="product-name pb-0">
                                                <span class="float-left img-spn">
                                                    <!--<i class="fa-solid fa-gas-pump txt-icon"></i>-->
                                                    <img src="assets/images/slideshow/10.png" class="txt-icon">
                                                </span>
                                                <div class="side-txt">
                                                    <p class="first-txt"><span>Matching numbers </span>
                                                    </p>
                                                    <ng-container *ngIf="objAdDetail.matching_number == 'yes'; else elseWarenty">
                                                        <p class="">Oui</p>
                                                    </ng-container>
                                                    <ng-template #elseWarenty>
                                                        <p class="">Non</p>
                                                    </ng-template>
                                                </div>
                                            </div>
                                        </div>
                                     
                                        <div class="product-details">
                                            <!--Product Name-->
                                            <div class="product-name pb-0">
                                                <span class="float-left img-spn">
                                                    <!--<i class="fa-solid fa-gas-pump txt-icon"></i>-->
                                                    <img src="assets/images/slideshow/10.png" class="txt-icon">
                                                </span>
                                                <div class="side-txt">
                                                    <p class="first-txt"><span>Matching colors</span>
                                                    </p>
                                                    <ng-container *ngIf="objAdDetail.matching_color_paint == 'yes'; else elseWarenty">
                                                        <p class="">Oui</p>
                                                    </ng-container>
                                                    <ng-template #elseWarenty>
                                                        <p class="">Non</p>
                                                    </ng-template>
                                                </div>
                                            </div>
                                        </div>
                                     
                                        <div class="product-details">
                                            <!--Product Name-->
                                            <div class="product-name pb-0">
                                                <span class="float-left img-spn new-span"> 
                                                    <i class="fa fa-user"></i> 
                                                </span>
                                                <div class="side-txt">
                                                    <p class="first-txt"><span>Nombre de propriétaires</span>
                                                    </p>
                                                    <p class="">{{objAdDetail.number_of_owners}}</p>
                                                </div>
                                            </div>
                                        </div>
                                     
                                        <div class="product-details">
                                            <!--Product Name-->
                                            <div class="product-name pb-0">
                                                <span class="float-left img-spn">
                                                    <!--<i class="fa-solid fa-gas-pump txt-icon"></i>-->
                                                    <img src="assets/images/slideshow/10.png" class="txt-icon">
                                                </span>
                                                <div class="side-txt">
                                                    <p class="first-txt"><span>Garantie Porsche Approved</span>
                                                    </p>
                                                    <ng-container *ngIf="objAdDetail.pors_warranty == 'yes'; else elseWarenty">
                                                        <p class="">Oui</p>
                                                    </ng-container>
                                                    <ng-template #elseWarenty>
                                                        <p class="">Non</p>
                                                    </ng-template>
    
                                                </div>
                                            </div>
                                        </div>
                                     
                                        <div class="product-details">
                                            <!--Product Name-->
                                            <div class="product-name pb-0">
                                                <span class="float-left img-spn">
                                                    <!--<i class="fa-solid fa-gas-pump txt-icon"></i>-->
                                                    <img src="assets/images/slideshow/4.png" class="txt-icon">
                                                </span>
                                                <div class="side-txt">
                                                    <p class="first-txt"><span>Nombre de mois</span>
                                                    </p>
                                                    <p class="">{{objAdDetail.pors_warranty_month}}</p>
                                                </div>
                                            </div>
                                        </div>
                                     
                                    <div class="col-12 col-sm-6 col-md-4 col-lg-4 p-0"></div>
                                     
                                        <div class="product-details">
                                            <!--Product Name-->
                                            <div class="product-name pb-0">
                                                <span class="float-left img-spn">
                                                    <!--<i class="fa-solid fa-gas-pump txt-icon"></i>-->
                                                    <img src="assets/images/slideshow/10.png" class="txt-icon">
                                                </span>
                                                <div class="side-txt">
                                                    <p class="first-txt"><span>Garantie </span>
                                                    </p>
                                                    <ng-container *ngIf="objAdDetail.warranty == 'yes'; else elseWarenty">
                                                        <p class="">Oui</p>
                                                    </ng-container>
                                                    <ng-template #elseWarenty>
                                                        <p class="">Non</p>
                                                    </ng-template>
    
                                                </div>
                                            </div>
                                        </div>
                                     
                                        <div class="product-details">
                                            <!--Product Name-->
                                            <div class="product-name pb-0">
                                                <span class="float-left img-spn">
                                                    <!--<i class="fa-solid fa-gas-pump txt-icon"></i>-->
                                                    <img src="assets/images/slideshow/4.png" class="txt-icon">
                                                </span>
                                                <div class="side-txt">
                                                    <p class="first-txt"><span>Nombre de mois</span>
                                                    </p>
                                                    <p class="">{{objAdDetail.warranty_month}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    

                                    </div>

                                </div>

                                <div class="drs-bordr">
                                    <h3>Description</h3>
                                    <p>{{objAdDetail.description}}</p>
                                    <!-- <p> Véritable véhicul <span class="my2" style="display:none;">de collection. Échange contre bmw M ou 635 csi. Soulte de ma part possible suivant le véhicule.</span></p>
                <button id="show" >Voir plus</button> -->
                                </div>


                            </div>

                        </ng-template>

                    </ng-container>
                </div>



            </div>
            <!--End Main Content-->
        </div>

        <ng-template #emptyMsg>
            <div class="container">
                <div class="row">
                    <div style="text-align:center; height:500px " class='d-flex bd-highlight py-5 ' id='hello-example'>
                        <div class="align-self-center p-3 bd-highlight col-sx-12 container jumbotron jumbo">
                            <div class="col-md-12 mb-4">
                                <div class="fas-style mx-auto">
                                    <img class="mw-100" src="../../../assets/images/logo.png" width="200">
                                </div>
                            </div>
                            <h3>Aucun message</h3>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <!--End Container-->
    </div>
    <!--End Body Container-->


    <app-footer></app-footer>


    <!--End Body Container-->

</div>