<app-header></app-header>
<div id="page-content" class="p-t-30 mob-pt-0">
  <!--Container-->
  <div class="container pt-30">
    <!--Main Content-->
    <div class="">
      <div class="row">
        <!--<div class="col-md-12">
          <h2>Déposer une annonce</h2>
          </div>-->
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 login-f">
          <div class="p-2 otp-div1 text-center " style="padding: 25px!important;"> 
            <h1>Vérifions ensemble votre email</h1>
            					 
              <form [formGroup]="form" (ngSubmit)="submit()" class="customer-form">
                
                <div class="row">
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 p-0">
                     <div class="form-group">
                        <label for="CustomerEmail">E-mail <span class="required">*</span></label>
                        <input type="email" name="email" formControlName="email" placeholder="E-mail" id="CustomerEmail"  pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"/>
                     </div>

                     <div *ngIf="f['email'].touched && f['email'].invalid" class="validation_error">
                       <div class="error" *ngIf="f['email'].errors && f['email'].errors['required']">L'adresse électronique est obligatoire.</div>
                       <div class="error" *ngIf="f['email'].errors && f['email'].errors['pattern']">Veuillez entrer une adresse e-mail valide.</div>
                     </div>

                  </div>
                </div>
                <div class="mt-4">
                  <button type="submit" class="btn rounded me-auto w-100" >Soumettre</button>
                </div>
                

                <div class="clearfix"></div>
                  <br>
                  <div class="comeBack_up" *ngIf="apiResponse">
                    <div *ngIf="apiResponse.error; else loggedOut">
                    <div class="alert alert-danger"><strong>{{ apiResponse.errorMessage }}</strong></div>
                    </div>
                    <ng-template #loggedOut>
                        <div *ngIf="apiResponse.errorMessage">
                          <div class="alert alert-success"><strong>{{ apiResponse.errorMessage }}</strong></div>
                        </div>
                        </ng-template>
                  
                  </div>


                <div class="clearfix"></div><br>

              </form>

          </div>
        </div>
      </div>
    </div>
    <!--End Main Content-->
</div>
<!--End Container-->
</div>
<app-footer></app-footer>
<!--End Body Container-->