<app-mobile-header></app-mobile-header>

<!--Page Wrapper-->
<div class="page-wrapper">

    <app-header-for-ad></app-header-for-ad>

    <div id="page-content" class="bg-back ">
        <!--Container-->
        <div class="container">
            <div class="breadcrumbs-wrapper text-uppercase bread-crum d-none d-sm-block d-md-block d-lg-block d-xl-block">
                <div class="container p-0">
                    
                    
                    <div class="breadcrumbs">
                        <div id="nav-gwbar" class="nav-gwbar-single-row nav-genz nav-gwbar-white nav-gwbar-scroll">
                            <a routerLink="/adProfessionalUser" class="nav-a active">Annonces</a>
                            <a routerLink="/accessoriesPurchaseList" class="nav-a ">Transactions</a>
                            <ng-container *ngIf="user_type == 'pro_user' ">
                                <a routerLink="/subscriptionRenewal" class="nav-a">Abonnement automobiles</a> 
                                <a routerLink="/subscriptionAccessoriesRenewal" class="nav-a">Abonnement pièces&accessoires</a> 
                            </ng-container>
                            <a routerLink="/review" class="nav-a ">Avis</a>
    
                            <!-- <a href="#" class="nav-a">Acheter des crédits</a> -->
                            <!-- <a href="#" class="nav-a">Paramètres</a> ng generate component site/adNormalUserAcesAdReactivate
     -->
                        </div>
                    </div>

                    
                </div>
            </div>

            <!-- no subscription -->

            <div>
                <div>
                    <h1 class="m-t-20"><i class="fa-solid fa-arrow-left"></i> Abonnement</h1>
                </div>
                <ng-container *ngIf="resultCarOldPlan || resultAccessOldPlan;else elseNoPlan">
                    <div class="row">

                        <div class="col-lg-4 col-md-4 col-sm-6 col-12" *ngIf="resultCarOldPlan">


                            <div class="subs-msg1">
                                <p>Abonnement standard</p>
                                <p> 
                                
                                    Vente de {{resultCarOldPlan.maximum_upload}} annonces de véhicules
                                </p>
                                <p>Validé le : {{resultCarOldPlan.updated_at | date: 'dd/MM/yyyy HH:mm'}}</p>
                                <!-- <p>Utilisation : 1/3</p> -->
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-12" *ngIf="resultAccessOldPlan">
                            <div class="subs-msg1">
                                <p>Abonnement standard</p>
                                <p>Vente de {{resultCarOldPlan.maximum_upload}} annonces de véhicules</p>
                                <p>Validé le : {{resultAccessOldPlan.updated_at | date: 'dd/MM/yyyy HH:mm'}}</p>
                            </div>
                        </div>
                    </div>
                </ng-container>
                <ng-template #elseNoPlan>
                    <div class="subs-msg">
                        Vous n'avez pas d'abonnement
                    </div>
                </ng-template>

            <ng-container *ngIf="getAllOldPlanSubscriptionRec">
                <div class="row p-t-30" *ngIf="getAllOldPlanSubscriptionRec.length > 0">
                    <div class="table-responsive pt-5 pb-5">
                        <table class="table subs-tbl">
                            <thead>
                                <th>Numéro de commande</th>
                                <th>Type d'abonnement</th>
                                <th>Date du paiement</th>
                                <th>Type de paiement</th>
                                <!-- <th>ID du paiement</th> -->
                                <th>Prix € </th>
                                <!-- <th>TVA</th> -->
                                <th>Prix TTC € </th>
                                <th></th>
                            </thead>
                            <tbody>

                                <tr *ngFor="let val of getAllOldPlanSubscriptionRec let i = index">
                                    <td>{{val.order_id}}</td>
                                    <td> 
                                        Standard de {{val.maximum_upload}}/{{val.total_maximum_upload}} annonces de véhicules
                                    </td>
                                    <td> {{val.created_at | date: 'dd/MM/yyyy HH:mm'}}</td>
                                    <td>{{val.paymentType}}</td>
                                    <!-- <td>{{val.transaction_id}}</td> -->
                                    <td>{{val.price}} €</td>
                                    <!-- <td>0</td> -->
                                    <td>{{val.price}} €</td>
                                    <td> </td>
                                </tr>
                            </tbody>
                        </table>
                        <div style="text-align: end;">
                            <div class="center" class="pagination">
                                <div class="pagination" *ngFor="let item of inactiveNumber; let i = index">
                                    <ng-container *ngIf=" i == 0;else elsePagi">
                                        <a (click)="inactivePages(item)" class="active">{{ i + 1 }}</a>
                                    </ng-container>
                                    <ng-template #elsePagi>
                                        <a (click)="inactivePages(item)" [class.active]="selectedIndex2 === i">{{ i + 1 }}</a>
                                    </ng-template>


                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </ng-container>

            </div>


        </div>
        <div class="container  max-992">
            <!--Main Content-->
            <div class="pt-2 pt-lg-5">
                <div class="row post-ad-div">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 mb-4 mb-md-0 mob-p0">


                        <div class=" ">


                            <ng-container *ngIf="user_error == 1; else elseUserError">
                                <div class="alert alert-danger">
                                    <strong>ID d'utilisateur non valide</strong>
                                </div>
                            </ng-container>
                            <ng-template #elseUserError>
<form [formGroup]="formSevenStep" id="msform" class="customer-form">
    <input type="hidden" formControlName="ad_type" [(ngModel)]="old_ad_type">
    <fieldset>
        <input type="hidden" name="user_id" formControlName="user_id" [(ngModel)]="user_id">

<div class="row">
    <div class="row p-t-30 mob-p0">
        
        
<div class="grid-products grid--view-items shop-grid-5 prd-grid mob-p0">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 item text-left b-0 mob-p0">
            <div class="">
                <!--Start Product Image-->
                <div class="product-image new-div shado-div">
                    <div class="top-sec">



                    </div>
                    <div class="text-center pck">
                        <h3 class="text-center">Abonnement mensuel standard, par nombre de véhicule
                        </h3>
                        <!-- <a href="javascript:void(0)"  class="an-ker1">Aperçu</a> Maximum {{objUserPlanNormal.maximum_upload}} téléchargements pendant 30 jours{{objUserPlanNormal.day_number}} jours-->
                    </div>
                    <div>
                        <div class="top-sec">
                            <ul class="jour">
                                <ng-container *ngFor="let objUserPlanNormal of allUserParticularPlan let i=index">
                                    <ng-container *ngIf="objUserPlanNormal.maximum_upload <= 100; else elseeeeeCarDay">
                                        <li>
                                            <div class="form-check p-l-0 flex-sub">
                                                <input type="radio" class="input-chk-box mr-15" id="" name="proUserAd" formControlName="proUserAd" value="{{objUserPlanNormal._id}}" (click)="onItemChange(objUserPlanNormal.price)">
                                                <label class="form-check-label lbl-float lbl-w" for="check4">

                                                    De 0/{{objUserPlanNormal.maximum_upload}} véhicules    


                                                </label>
                                                <!-- <span class="r-price-spn">{{objUserPlanNormal.price}} <i class="fa-solid fa-euro-sign"></i> (HT) / {{objUserPlanNormal.day_number}} jours</span> -->

                                                <span class="r-price-spn">{{objUserPlanNormal.price}} <i class="fa-solid fa-euro-sign"></i> (HT) / Mensuel</span>
                                            </div>
                                        </li>
                                    </ng-container>
                                    <ng-template #elseeeeeCarDay>
                                        <li>
                                            <div class="form-check p-l-0 flex-sub">
                                                <input type="radio" class="input-chk-box mr-15" id="" name="proUserAd" formControlName="proUserAd" value="{{objUserPlanNormal._id}}" (click)="onItemChange(objUserPlanNormal.price)">
                                                <label class="form-check-label lbl-float lbl-w" for="check4">

                                                    De 0/{{objUserPlanNormal.maximum_upload}} véhicules    


                                                </label>
                                                <!-- <span class="r-price-spn">{{objUserPlanNormal.price}} <i class="fa-solid fa-euro-sign"></i> (HT) / {{objUserPlanNormal.day_number}} jours</span> -->

                                                <span class="r-price-spn">{{objUserPlanNormal.price}} <i class="fa-solid fa-euro-sign"></i> (HT) / Mensuel</span>
                                            </div>
                                        </li>
                                    </ng-template>
                                    
                                </ng-container>
                            </ul>
                        </div>

                    </div>
                </div>
                <!--End Product Image-->
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 item text-left b-0 mob-p0">
            <div class=" ">
                <!--Start Product Image-->
                <div class="product-image new-div shado-div">
                    <div class="top-sec">



                    </div>
                    <div class="text-center pck">
                        <h3 class="text-center">
                            Abonnement mensuel premium, par nombre de véhicule (vous placez les annonces en tête de liste des résultats de recherche)
                        </h3>
                        <!-- <a href="javascript:void(0)"  class="an-ker1">Aperçu</a> -->
                    </div>
                    <div>
                        <div class="top-sec">
                            <ul class="jour">
                                <ng-container *ngFor="let objUserPlanNormal of allUserParticularPlanTopSearch let i=index">

                                    <ng-container *ngIf="objUserPlanNormal.maximum_upload <= 100; else elseeeeeCarDay2">

                                        <li>
                                            <div class="form-check p-l-0 flex-sub">
                                                <input type="radio" class="input-chk-box mr-15" id="" name="proUserAd" formControlName="proUserAd" value="{{objUserPlanNormal._id}}" (click)="onItemChangeSec(objUserPlanNormal.top_price)">
                                                <label class="form-check-label lbl-float lbl-w" for="check4">De 0/{{objUserPlanNormal.maximum_upload}} voitures abonnement
                                                </label>
                                                <!-- <span class="r-price-spn">{{objUserPlanNormal.top_price}} <i class="fa-solid fa-euro-sign"></i> (HT) / {{objUserPlanNormal.day_number}} jours</span> -->


                                                <span class="r-price-spn">{{objUserPlanNormal.top_price}} <i class="fa-solid fa-euro-sign"></i> (HT) / Mensuel</span>
                                            </div>
                                        </li>
                                    </ng-container>
                                    <ng-template #elseeeeeCarDay2>
                                        <li>
                                            <div class="form-check p-l-0 flex-sub">
                                                <input type="radio" class="input-chk-box mr-15" id="" name="proUserAd" formControlName="proUserAd" value="{{objUserPlanNormal._id}}" (click)="onItemChangeSec(objUserPlanNormal.top_price)">
                                                <label class="form-check-label lbl-float lbl-w" for="check4">De 0/{{objUserPlanNormal.maximum_upload}} voitures abonnement</label>
                                                <!-- <span class="r-price-spn">{{objUserPlanNormal.top_price}} <i class="fa-solid fa-euro-sign"></i> (HT) / {{objUserPlanNormal.day_number}} jours</span> -->


                                                <span class="r-price-spn">{{objUserPlanNormal.top_price}} <i class="fa-solid fa-euro-sign"></i> (HT) / Mensuel</span>
                                            </div>
                                        </li>
                                    </ng-template>
                                    
                                </ng-container>
                            </ul>
                        </div>

                    </div>
                </div>
                <!--End Product Image-->
            </div>
        </div>
            

        <!--End Product Details-->
        <div>
            <h6>Sélectionner le mode de paiement</h6>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 item text-left b-0">
            <div class="form-check p-l-0">
                <input type="radio" class="input-chk-box mr-15 mt-12" id="check4" name="paymentType" formControlName="paymentType" value="Stripe">
                <label class="form-check-label lbl-float " for="check4">Carte bancaire</label>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 item text-left b-0">
            <div class="form-check p-l-0">
                <input type="radio" class="input-chk-box mr-15 mt-12" id="check01" name="paymentType" formControlName="paymentType" value="Paypal">
                <label class="form-check-label lbl-float " for="check01">Paypal</label>
            </div>
        </div>
        <div class="col-12">
            <!-- <p>En cliquant sur valider et payer, je reconnais avoir lu et accepté les <a href="#" class="an-ker">Conditions générales de vente </a> et renonce a mon droitde rétractation. En validant ma commande,
                j'accepte le commencement immédiat de la prestation </p> -->
            <p>En cliquant sur valider mon abonnement, vous demandez à démarrer votre abonnement immédiatement et confirmez avoir lu et accepté les conditions générales de vente de Porschists.com. Votre mode de paiement enregistré, sera automatiquement débité
                du montant de l'abonnement mensuel choisi. Vous pouvez le résilier dans les 15 jours avant la date de renouvellement, dans votre compte dans la rubrique abonnement. Aucune demande de remboursement ne sera acceptée au-delà des 15 jours avant la
                date de renouvellement automatique.</p>
            <div class="row  bottom-d">

                <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                    <span class="an-ker1"> {{final_plan_price}}<i class="fa-solid fa-euro"></i> TTC</span><br><span class="an-ker12">Détail du paiement</span>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 text-right align-self-c">
                    <button type="submit" class="btn btn-my btn-publier" (click)="next()"> Valider mon abonnement </button>

                </div>


            </div>
            <div class="clearfix"></div>
            <br>
            <div class="comeBack_up" *ngIf="apiResponseLast">
                <div *ngIf="apiResponseLast.error; else loggedOut">
                    <div class="alert alert-danger"><strong>{{ apiResponseLast.errorMessage }}</strong></div>
                </div>
                <ng-template #loggedOut>
                    <div *ngIf="apiResponseLast.errorMessage">
                        <div class="alert alert-success"><strong>{{ apiResponseLast.errorMessage }}</strong></div>
                    </div>
                </ng-template>

            </div>
        </div>
    </div>
</div>

        <div class="clearfix"></div><br>
    </div>
</div>


    </fieldset>
</form>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>