.subs-msg {
    height: 150px;
    background: #faebd7;
    max-width: 500px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 21px;
    border-radius: 10px;
    text-align: center;
    color: #f00;
}

.active {
    color: #f00;
}

.subs-msg1 {
    background: #faebd7;
    padding: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-size: 21px;
    border-radius: 10px;
    text-align: left;
    flex-direction: column;
    color: #f00;
}

.subs-tbl th {
    text-transform: initial !important;
    text-align: left;
}

a.active {
    color: #ff0000 !important;
    border-bottom: 3px solid red;
    margin: 8px !important;
}

li {
    cursor: pointer;
}

.center {
    text-align: center;
    font-family: monospace;
}

.pagination {
    display: inline-block;
    width: auto;
}

.pagination a {
    color: #000000;
    float: right;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .5s;
    border: 1px solid #DDD;
    margin: 0 4px;
    font-size: 20px;
}

.pagination a.active {
    background-color: #f00;
    color: #FFFFFF !important;
    border: 1px solid #f00;
    border-radius: 5px;
}

.pagination a:hover:not(.active) {
    background-color: #DDD;
}

.flex-sub {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
}

.flex-auto {
    flex: auto !important;
}

.pck h3 {
    margin-bottom: 0 !important;
    padding: 10px;
}

@media(max-width:992px) {
    .subs-tbl {
        width: 700px !important;
    }
}


.top-sec
{
    height: auto !important;
}




.flex-pro {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-lbl {
    flex: auto;
}

 
ul.type-de-chass.garanti-ul {
    display: flex;
    flex-wrap: wrap;
    
    
    gap: 3%;
    height: 300px;
     overflow: auto;
}


.type-de-chass li {
    width: 17%;
}

input[type=checkbox] {
    accent-color: #f00 !important;
    height: 15px;
    width: 15px;
    margin-right: 8px !important;
}

.lbl-float {
    float: none;
    display: flex;
}

@media(max-width:767px) {
    .type-de-chass li {
        width: 48%;
    }
    .p-b-20 {
        padding-bottom: 10px;
    }
    .rs-half {
        margin-bottom: 1rem;
    }
}

@media(max-width:576px) {
    .rs-half {
        padding: 0 !important;
    }
}


.fa-solid, .fas {
    margin-top: 4px;
    margin-left: 2px;
}


.d-te p {
    font-size: 10px !important;
}

@media(max-width: 767px) {
    .in-ner {
        padding: 10px !important;
    }
}

@media(min-width: 992px) {
    .pmt-6r {
        margin-top: 4.7rem;
    }
}


.loader-img {
    text-align: center;
}



