<app-mobile-header></app-mobile-header>

<!--Page Wrapper-->
<div class="page-wrapper">

  <app-header></app-header>

  <!--Body Container-->
  <div id="page-content " class="mob-pt-0 max-mtt">
    <!--Breadcrumbs-->
    <!--<div class="breadcrumbs-wrapper text-uppercase">
      <div class="container">
          <div class="breadcrumbs"><a href="index.html" title="Back to the home page">Home</a><span>|</span><span class="fw-bold">Product Layout Style2</span></div>
      </div>
      </div>-->
    <!--End Breadcrumbs-->
    
    <!--Main Content-->
    <div class="container">
      
      <!--Product Content-->
      
        
        <div class="clearfix"></div> 

        <div class="row" *ngIf="Sdata"> 
          <div class="col-lg-8 col-md-8 col-sm-12 col-12 mt-5" style="border: 1px solid #ccc; border-radius: 8px;">
            <h4 class="mt-3">Signaler une annonce</h4>
              <div class="cards "  >
                  <div class=" mt-5">
                      
                      <form [formGroup]="form" (ngSubmit)="submit()" class="customer-form">
                       
                          
                        <div class="mt-3 mb-3 dis">
                            <div class="row">
                                <div class="col-lg-7 col-md-7 col-sm-12 col-12">
                                    
                                    <img class="mw-100" *ngIf="Sdata.adData[0].accessoires_image[0].path != ''; else noimg " src="{{base_url_node_only}}public/{{Sdata.adData[0].accessoires_image[0].path}}">
                                    <ng-template #noimg>
                                        <img class="mw-100"  src="{{base_url_node_only}}public/uploads/no-image.png">
                                    </ng-template>
                                    <div class="col-lg-10 col-md-10 col-sm-10 col-9 ">
                                        <a class="ankr-big"><strong>{{Sdata.ad_name}}</strong></a>
                                    </div>
                                </div>

                                <div class="col-lg-5 col-md-5 col-sm-12 col-12">
                                    <h3><strong>COMMANDE PASSÉE</strong></h3>
                                    <p class="mb-0">{{Sdata.created_at | date:'MMM d, y'}}</p>
                                    <p class="mb-0">Numero De Commande</p>
                                    <a class="">{{Sdata.order_id}}</a>
                                    <p class="mb-0">ID du paiement</p>
                                    <a >{{Sdata.payment_intent}}</a>
                                </div>
                               
                            </div>
                        </div>
                        <hr>
                        <div class="mt-3 mb-3 dis">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-3 mb-3 p-0">

                                    <h5>Évaluer le annonce</h5>
                                    <fieldset class="rating" (change)="setRating($event)">
                                        <input type="radio" id="star5" name="rating" value="5" /><label class="full" for="star5" title="Awesome - 5 stars"></label>
                                        <input type="radio" id="star4" name="rating" value="4" /><label class="full" for="star4" title="Pretty good - 4 stars"></label>
                                        <input type="radio" id="star3" name="rating" value="3" /><label class="full" for="star3" title="Meh - 3 stars"></label>
                                        <input type="radio" id="star2" name="rating" value="2" /><label class="full" for="star2" title="Kinda bad - 2 stars"></label>
                                        <input type="radio" id="star1" name="rating" value="1" /><label class="full" for="star1" title="Sucks big time - 1 star"></label>
                                    </fieldset>
                                    
                                </div>
                            </div>
                        </div>
                       
                        <hr>
                          <div class="mt-3 mb-3 dis">
                              <div class="row">
                                  <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                      

                                      <label for="" class="">
                                        <strong>Message</strong>
                                        <span class="required"></span>
                                        <span  class="required">
                                            * 
                                        </span>
                                      </label>

                                      <textarea name="review" id="review" rows="5" class="form-control" formControlName="review"></textarea>
                                  </div>
                              </div>
                          </div>
                          <div class="errormsg" *ngIf="form.get('review')?.touched && form.get('review')?.hasError('required')">
                            <h4 class="text-danger"> <b>L'review est requis</b></h4>
                          </div>
                          <div class="mt-3 mb-3">
                              <button type="submit" class="btn btn-my1">Envoyer</button>
                          </div>
                          <!-- <div class="note">
                              <p class="mb-0"> 
                              </p>
                          </div> -->

                          <div class="clearfix"></div>
                      <br>
                      <div class="comeBack_up" *ngIf="webAddRatingReviewsRes">
                        <div *ngIf="webAddRatingReviewsRes.error == true; else loggedOut">
                          <div class="alert alert-danger"><strong>{{ webAddRatingReviewsRes.errorMessage }}</strong></div>
                        </div>
                        <ng-template #loggedOut>
                          <div class="alert alert-success"><strong>{{ webAddRatingReviewsRes.errorMessage }}</strong></div>
                        </ng-template>
                      </div>

                      </form>

                  </div>
              </div>
          </div>
      </div>

        <div class="clearfix"></div>
         


        
      <!--Product Content-->
     
    </div>
    <!--End Container-->
  </div>
  <!--End Body Container-->


  <app-footer></app-footer>



</div>