.counts1{
  font-size: 15px;
    -webkit-line-clamp: 3;
    max-height: 129.6px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    font-weight: normal !important;
}