<app-mobile-header></app-mobile-header>

<!--Page Wrapper-->
<div class="page-wrapper">

  <app-header></app-header>


  <div id="page-content" class="mob-pt-15">
    <!--Container-->
    <div class="container">
       <!--Category Masonary Grid-->
       <div class="row">
        <a href="#" class="d-lg-none d-md-none d-sm-none fs-22 m-b-5"><i class="fa-solid fa-arrow-left"></i></a>
          <h3>Mon Porschists</h3>
          <div class="col-md-12 usr-box">
            <ng-container *ngIf="user_type == 'pro_user'; else elseProLink ">
               <a routerLink="/viewProUserProfile/{{user_id}}">
                  <img class="mob-img-width" src="{{userImage}}" width="120">
                  <span><i class="fa-solid fa-plus spn-pluss mob-d-none"></i></span>
                  <span class="usr-name">{{ userName }}</span>
               </a>  
            </ng-container>
             
               <ng-template #elseProLink>
                  <a routerLink="/viewUserProfile/{{user_id}}">
                     <img class="mob-img-width" src="{{userImage}}" width="120">
                     <span><i class="fa-solid fa-plus spn-pluss mob-d-none"></i></span>
                     <span class="usr-name">{{ userName }}</span>
                  </a>  
               </ng-template>
              
             <!--<button class="btn btn-primary float-right usr-btn d-none d-sm-block"><span class="">Voir mon profil public</span></button>-->
             <span class="float-right spn-angl1"><i class="fa-solid fa-angle-right d-block d-sm-none"></i></span>
          </div>
       </div>
       <div class="grid-categorys grid-mr-20 p-t-30 d-none d-sm-block d-md-block d-lg-block">
          <div class="grid-masonary category-page-grid">
             <div class="grid-sizer col-6 col-sm-6 col-md-4 col-lg-4"></div>
             <div class="row mx-0">
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 category-grid-item cl-item">
                   <button class="btn btn-anonc">
                      <div class="category-item zoomscal-hov cat-itm mb-0">
                         <a routerLink="/adProfessionalUser" class="category-link cat-link">
                            <img src="assets/images/logo/megaphone1.png" alt="megaphone1" title="Annonces" width="30" />
                            <div class="details">
                               <div class="inner">
                                  <h3 class="category-title">Annonces</h3>
                                  <p class="counts1">Mes Annonces</p>
                               </div>
                            </div>
                         </a>
                      </div>
                   </button>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 category-grid-item cl-item">
                   <button class="btn btn-anonc">
                      <div class="category-item zoomscal-hov cat-itm mb-0">
                         <a routerLink="/accessoriesPurchaseList" class="category-link cat-link">
                            <img src="assets/images/logo/euro1.png" alt="euro" title="Transactions" width="30"/>
                            <div class="details">
                               <div class="inner">
                                  <h3 class="category-title">Transactions</h3>
                                  <p class="counts1">Mes transactions</p>
                               </div>
                            </div>
                         </a>
                      </div>
                   </button>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 category-grid-item cl-item">
                   <button class="btn btn-anonc">
                      <div class="category-item zoomscal-hov cat-itm mb-0">

                        <ng-container *ngIf="user_type == 'pro_user'; else elseProLinkTwo ">
                           <a routerLink="/viewProUserProfile/{{user_id}}" class="category-link cat-link">
                              <img src="assets/images/logo/account1.png" width="30">
                              <div class="details">
                                 <div class="inner">
                                    <h3 class="category-title">Mon Profil </h3>
                                    <p class="counts1">Modifier votre profil,adresse,nom,mail,photo /p>
                                 </div>
                              </div>
                           </a>
                        </ng-container>
                        <ng-template #elseProLinkTwo>
                           <a routerLink="/viewUserProfile/{{user_id}}" class="category-link cat-link">
                              <img src="assets/images/logo/account1.png" width="30">
                              <div class="details">
                                 <div class="inner">
                                    <h3 class="category-title">Mon Profil public</h3>
                                    <p class="counts1">Dans le menu Mon Profil public, on pourra voir son profil public, ses avis, changer la photo du profil, changer de nom d'utilisateur...
  </p>
                                 </div>
                              </div>
                           </a>
                        </ng-template>
                         
                      </div>
                   </button>
                </div>

                <!-- Ask permission from khushal before uncomment -->

                <!-- <div class="col-12 col-sm-6 col-md-4 col-lg-4 category-grid-item cl-item" >
                   <button class="btn btn-anonc">
                      <div class="category-item zoomscal-hov cat-itm mb-0">
                         <a href="#" class="category-link cat-link">
                            <img src="assets/images/logo/settings1.png" width="30">
                            <div class="details">
                               <div class="inner">
                                  <h3 class="category-title">Paramètres</h3>
                                  <p class="counts1">Compléter et modifier mes informations privées et préférences</p>
                               </div>
                            </div>
                         </a>
                      </div>
                   </button>
                </div> -->
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 category-grid-item cl-item">
                   <button class="btn btn-anonc">
                      <div class="category-item zoomscal-hov cat-itm mb-0">
                         <a routerLink="/changePassword/{{user_id}}" class="category-link cat-link">
                            <img src="assets/images/logo/verified1.png" width="30">
                            <div class="details">
                               <div class="inner">
                                  <h3 class="category-title">Connexion et sécurité</h3>
                                  <p class="counts1">Protéger mon compte et modifier mon mot de passe</p>
                               </div>
                            </div>
                         </a>
                      </div>
                   </button>
                </div>
                
                <!-- <div class="col-12 col-sm-6 col-md-4 col-lg-4 category-grid-item cl-item">
                  <button class="btn btn-anonc">
                     <div class="category-item zoomscal-hov cat-itm mb-0">
                        <a routerLink="/allBanks" class="category-link cat-link">
                           <img src="../../../assets/images/icons/bank.png" width="30">
                           <div class="details">
                              <div class="inner">
                                 <h3 class="category-title">Paramètres</h3>
                              </div>
                           </div>
                        </a>
                     </div>
                  </button>
               </div> -->

                <div class="col-12 col-sm-6 col-md-4 col-lg-4 category-grid-item cl-item">
                  <button class="btn btn-anonc">
                     <div class="category-item zoomscal-hov cat-itm mb-0">
                        <a routerLink="/logout" class="category-link cat-link">
                           <img src="../../../assets/images/icons/logout.png" width="30">
                           <div class="details">
                              <div class="inner">
                                 <h3 class="category-title">Déconnexion</h3>
                              </div>
                           </div>
                        </a>
                     </div>
                  </button>
               </div>



             </div>
          </div>
       </div>
       <!--End Category Masonary Grid-->
    </div>
    <div class="container pt-25">
       <div class="row ">
          <div class="col-12 d-lg-none d-md-none d-sm-none">
             <ul class="profil-ul">
                <li><a href="#"><img src="assets/images/logo/megaphone1.png"> <span class="li-n">Annonce</span> </a></li>
                <li><a href="#"><img src="assets/images/logo/heart.png"> <span class="li-n">Favoris</span ><span class="fevo-spn">1</span></a></li>
                <li><a href="#"><img src="assets/images/logo/euro1.png"> <span class="li-n">Transactions</span> </a></li>
                <li><a href="#"><img src="assets/images/logo/account1.png" width="30"> <span class="li-n">Profil</span> </a>
                </li>
                <li>
                   <a href="#"><img src="assets/images/logo/settings1.png" width="30"><span class="li-n"> Paramètres</span></a>
                   <ul class="pro-ul2">
                      <li><a href="information-personnellles.html">Informations personnelles<span><i class="fa-solid fa-angle-right"></i></span></a></li>
                      <li><a href="email.html">Email<span><i class="fa-solid fa-angle-right"></i></span></a></li>
                      <li><a href="numero-de-telephone.html">Numéro de téléphone<span><i class="fa-solid fa-angle-right"></i></span></a></li>
                      <li><a href="#">Moyens de paiement<span><i class="fa-solid fa-angle-right"></i></span></a></li>
                      <li><a href="#">Notifications<span><i class="fa-solid fa-angle-right"></i></span></a></li>
                      <li><a href="#">Messagerie<span><i class="fa-solid fa-angle-right"></i></span></a></li>
                   </ul>
                </li>
                <li>
                   <a href="#"><img src="assets/images/logo/verified1.png" width="30"> <span class="li-n"> Connexion et Sécurité</span></a>
                   <ul class="pro-ul2">
                      <li><a href="mot-de-passe.html">Mot de passe<span><i class="fa-solid fa-angle-right"></i></span></a></li>
                   </ul>
                </li>
                <li>
                   <a href="#"><img src="assets/images/logo/question-mark1.png" width="30"> <span class="li-n"> Aide</span></a>
                   <ul class="pro-ul2">
                      <li><a href="#">Informations pratiques<span><i class="fa-solid fa-angle-right"></i></span></a></li>
                   </ul>
                </li>
             </ul>
          </div>
       </div>
    </div>
    <!--End Container-->
 </div>
 <!--End Body Container-->


 <app-footer></app-footer>


 
</div>
<!--End Body Container-->
<!--Footer-->
 