<app-mobile-header></app-mobile-header>
<app-header></app-header>

<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 pt-5 pb-5 mx992-pt0">
            <div class="inform">


                <h1>{{apiRes.data.page_title}}</h1>
                <div [innerHTML]="apiRes.data.description"></div>
            </div>
        </div>
    </div>
</div>


<app-footer></app-footer>