

 .ng-autocomplete {
    position: relative !important;
    width: 250px !important;
}
.logo img{
  width: 70px !important;
}

::ng-deep ng-autocomplete .autocomplete-container .input-container input {
    font-size: 14px;
    box-sizing: border-box;
    border: none;
    box-shadow: none;
    outline: none;
    background-color: #fff;
    color: #000000de;
    width: 100%;
    padding: 0 15px;
    line-height: 40px;
    height: 40px;
    border: none;
    border-bottom: 3px solid red;
    border-radius: 0;
    padding-left: 30px;

}
.top-srch .search-barsec{
    height: auto;
    display: flex;
    margin-left: 10px;
}

::ng-deep ng-autocomplete .autocomplete-container {
    box-shadow: none !important; 
    position: relative;
    overflow: visible;
    height: 40px;
}
::ng-deep ng-autocomplete .autocomplete-container .not-found div {
    color: red;
    padding: 0.4em 0;
    font-size: .95em;
    line-height: 1.4;
    border-bottom: 1px solid rgba(230,230,230,.7);
}
::ng-deep ng-autocomplete  .autocomplete-container .suggestions-container .heading .text {
    color: black;
    font-size: .85em;
}
.msg-img{
    border-radius: 0 !important;
}
.drop-btn { 
  background: none;
  border: none;
  }
  
  .drop-down {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 130px !important;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top:25px;
  }
  
  .dropdown-content a {
    color: black;
    padding: 8px;
    text-decoration: none;
    display: block;
    text-align: left;
    margin-bottom: 0;
  }
   
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .drop-down:hover .dropdown-content {
    display: block;
  }
  .counter1 {
    font-size: 11px;
    color: #fff;
    background-color: #f00;
    min-width: 16px;
    height: 16px;
    line-height: 16px;
    top: 2px;
    right: 0;
}
.counter4 {
  font-size: 11px;
  color: #fff;
  background-color: #f00;
  min-width: 16px;
  height: 16px;
  line-height: 16px;
  top: 2px;
  right: 30px;
}
.active{
  border-bottom: 2px solid red;
}


.dropbtnp {
  background-color: #fff;
  color: #000;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdownp {
  position: relative;
  display: inline-block;
}

.dropdown-contentp {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0;
}

.dropdown-contentp a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  margin-bottom: 0 !important;
  text-align: left;
}

.dropdown-contentp a:hover {background-color: #f1f1f1}

.dropdownp:hover .dropdown-contentp {
  display: block;
}

.dropdownp:hover .dropbtnp {
  background-color: #fff;
}