/* You can add global styles to this file, and also import other style files */

@import "~ng-pick-datetime/assets/style/picker.min.css";
body {
    min-height: 100vh !important;
}

.fa-solid.fa-heart {
    color: rgb(255 0 0 / 70%) !important;
}

.active:after {
    content: none;
}

.sr-icon {
    position: absolute;
    top: 8px;
    color: #cdcece;
    left: 10px;
    z-index: 1;
}

.input-text.rounded-0.border-0.bg-in.srch-blok.input-styl.dropbtn {
    padding-left: 30px !important;
    cursor: auto;
    color: #666;
}

.searchField {
    position: relative;
}

button#myInput2 {
    border-radius: 97px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border: 1px solid #ddd !important;
}

.collection-banners .collection-grid-item {
    position: relative;
    overflow: hidden;
    box-shadow: 0 2px 37px #999;
    border-radius: 10px;
}

.product-name {
    padding: 3px 0;
}

.slick-initialized .slick-slide {
    border-radius: 10px;
    box-shadow: 0 -1px 9px -1px #9999;
}

.slick-track {
    padding-top: 15px;
    margin-left: 0 !important;
}

.grid-products .item .product-image img {
    object-fit: cover;
}

.product-image {
    background: aliceblue;
    border-radius: 10px 10px 0 0;
}

.slick-initialized .slick-slide {
    padding: 0;
    border-radius: 10px;
}

.product-details.text-left.pro-detal {
    padding: 10px;
}

.grid-products .product-review {
    margin-bottom: 0;
}

#nav-gwbar {
    border: none;
}

.grid-products .item .product-image img {
    object-fit: contain;
}

.carousel-inner img {
    object-fit: cover;
    height: 300px !important;
}

.ng-image-slider .ng-image-slider-container .main .main-inner .img-div img,
.ng-image-slider .ng-image-slider-container .main .main-inner .img-div video {
    object-fit: contain;
}

.ng-image-slider .ng-image-slider-container .main {
    height: 375px !important;
}

.wrap-product-info-bg img {
    object-fit: cover;
    border-radius: 10px !important;
}

.product-single {
    margin-top: 60px;
}

.collection-description a img {
    object-fit: contain;
}

.product-name a h5 {
    -webkit-line-clamp: 1;
    max-height: 129.6px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    /*height:41px;*/
}

.slick-list.draggable {
    margin-bottom: 25px;
}

.top-arrow {
    font-size: 15px!important;
    border: 4px solid #f00!important;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    color: #f00!important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.otp-div1 {
    max-width: 450px;
}

.login-register .inner {
    margin-top: 0;
    margin-bottom: 0 !important;
}

.login-register {
    margin-bottom: 50px;
}

.width-s {
    box-shadow: 0 3px 15px 3px #eee!important;
    padding: 20px !important;
    margin-top: 35px !important;
    margin-bottom: 30px;
}

.post-ad-div {
    box-shadow: rgba(0, 7, 6, 0.15) 0px 5px 23px 0px !important;
    border-radius: 15px!important;
}


/*--switch checkbox--*/

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #f00;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/*---end switch checkbox---*/

.col-md-2.img-preview {
    margin: 10px 3px;
    padding: 0;
    position: relative;
}

.img-preview img {
    height: 100%;
    object-fit: cover;
    width: 100%;
    border-radius: 5px;
}

button.btn.btn-danger.btn-sm.imgRemoveBtn {
    position: absolute;
    right: 50%;
    top: 50%;
    width: 30px !important;
    height: 30px;
    padding: 0;
    font-size: 11px;
    font-weight: 600;
    border-radius: 50%;
    transform: translate(50%, -50%);
}

.container.p-0.bx-s.max-992.mb-3.mt-3 {
    margin-bottom: 75px !important;
}

.chat-message {
    overflow-x: hidden;
}

.img-bx {
    display: flex;
}

img.side-img {
    width: 60px;
    height: 60px;
    object-fit: contain;
    margin-right: 10px;
    background: aliceblue;
}

.img-spn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.r-div-1 img {
    border-radius: 5px;
    margin-top: 11px;
    margin-right: 10px;
}

.product-single {
    margin-top: 0 !important;
}

.container.pt-30.max-992 {
    padding-top: 20px;
}

.pro-d-pro {
    display: flex;
    align-items: center;
}

.spn-angl {
    position: static;
}

.in-ner {
    box-shadow: 0 -1px 9px -1px #9999;
}

.dropdown-menu {
    min-width: 15rem !important;
}

.post-ad-div {
    margin-bottom: 50px;
    overflow: auto;
}

.iconsett {
    width: 25px;
    height: 25px;
    /* border-radius: 50%; */
    object-fit: contain;
    margin-right: 5px;
}

.iconsettttttt {
    width: 50%;
    height: 25px;
    /* border-radius: 50%; */
    object-fit: contain;
    margin-right: 5px;
}

span.usr-name {
    padding: 7px !important;
}

.img-preview img {
    background: #f5f5f5;
    border-radius: 10px;
}

.col-md-2.img-preview {
    border: 1px solid #ddd;
    border-radius: 10px;
}

img.mob-img-width {
    border-radius: 8px;
}

.slick-list.draggable {
    padding-bottom: 25px;
}

.anoon-tab li {
    margin-right: 10px;
}

.scrol-img {
    width: 83px!important;
    height: 68px !important;
    float: left !important;
    padding-right: 15px !important;
}

.mt-11 {
    margin-top: 11px !important;
}

.earth-p {
    background: #2675d1 !important;
    border-radius: 5px !important;
    position: relative!important;
}

.earth-p i.earth-i {
    position: absolute;
    left: 6px;
    top: 31%;
    color: #fff;
    font-size: 15px;
}

.earth-s {
    background: #2675d1 !important;
    border: none;
    color: #fff;
    width: 100%;
    border-radius: 5px;
    padding-left: 22px;
    padding-right: 0px;
    height: 32px;
    font-size: 11px;
}

@media(min-width:767px) {
    div#page-content {
        margin-bottom: 20px;
    }
}

@media(max-width:500px) {
    .post-ad-div {
        margin-bottom: 0 !important;
    }
}

@media(max-width:767px) {
    .carousel-inner img {
        height: 200px;
    }
    div#page-content {
        margin-bottom: 0;
    }
}

@media(max-width:575px) {
    .chat-box.bg-white {
        position: fixed;
        bottom: 0px;
        width: 100%;
    }
}

@media(min-width:575px) {
    .cat-dd[_ngcontent-xtr-c57] {
        border: 1px solid #ddd;
        border-radius: 10px;
        overflow: auto;
        margin-bottom: 0;
        padding-bottom: 10px;
        min-height: 340px;
    }
}

@media(max-width:992px) {
    .wrap-mts {
        margin-top: 50px;
    }
    .max-mtt {
        margin-top: 60px;
    }
}

@media(min-width:992px) {
    .min-mt {
        margin-top: 75px;
    }
}

.inform {
    box-shadow: 0 2px 10px #ccc;
    border-radius: 10px;
    padding: 25px;
}