<app-header></app-header>
<div id="page-content" class="p-t-30 mob-pt-0">
  <!--Container-->
  <div class="container pt-30">
    <!--Main Content-->
    <div class="">
      <div class="row">
        <!--<div class="col-md-12">
          <h2>Déposer une annonce</h2>
          </div>-->
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 login-f">
          <div class="dont-save">
            <div class="middle-div">
              <img class="mw-100" src="../../../assets/images/logo.png" height="200">
            </div>
          </div>
          <div class="p-2 otp-div1 text-center " style="padding: 25px!important;"> 
            <h1>Bonjour , {{firstName}} {{lastName}}</h1>
            <p>Définition du mot de passe : </p>
            <p><strong>{{user_email}}</strong></p>								 
              <form [formGroup]="form" (ngSubmit)="submit()" class="customer-form">
                <div class="row">

                  <input type="hidden" name="user_id" formControlName="user_id" [(ngModel)]="user_id">

                  <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="form-group">
                        <label for="CustomerEmail">Mot de passe<span class="required">*</span></label>
                        <input type="password" name="password" placeholder="" id="" formControlName="password" />
                        <div style="text-align: end;">
                            <span>(minimum 8 caractères)</span>
                        </div>
                    </div>
                    <div *ngIf="f['password'].touched && f['password'].invalid" class="validation_error">
                        <div class="error" *ngIf="f['password'].errors && f['password'].errors['required']">Mot de passe obligatoire.</div>
                        <div class="error" *ngIf="f['password'].errors && f['password'].errors['minlength']">La longueur minimale du mot de passe est de huit.</div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                      <div class="form-group">
                          <label for="CustomerEmail">Confirmer le mot de passe<span class="required">*</span></label>
                          <input type="password" name="confirmPassword" placeholder="" id="" formControlName="confirmPassword" />
                          <div style="text-align: end;">
                              <span> </span>
                          </div>
                      </div>
                      <div *ngIf="f['confirmPassword'].touched && f['confirmPassword'].invalid" class="validation_error">
                          <div class="error" *ngIf="f['confirmPassword'].errors && f['confirmPassword'].errors['required']">Confirmer le mot de passe obligatoire.</div>
                          <div class="error" *ngIf="f['confirmPassword'].errors && f['confirmPassword'].errors['matching']">
                              Le mot de passe de confirmation ne correspond pas</div>
                      </div>



                  </div>


                  <div class="mt-4">
                    <button type="submit" class="btn rounded me-auto w-100" >Valider</button>
                  </div>
                  <div class="mt-4"> 
                    <!-- <p>Je n'ai rien reçu <a href="javascript:void(0)" (click)="resendOtp()" class="ankr-red">Me renvoyer le code</a></p> -->
                  </div> 
                </div>
                
                

                
                

                <div class="clearfix"></div>
                  <br>
                  <div class="comeBack_up" *ngIf="apiResponse">
                    <div *ngIf="apiResponse.error; else loggedOut">
                    <div class="alert alert-danger"><strong>{{ apiResponse.errorMessage }}</strong></div>
                    </div>
                    <ng-template #loggedOut>
                        <div *ngIf="apiResponse.errorMessage">
                          <div class="alert alert-success"><strong>{{ apiResponse.errorMessage }}</strong></div>
                        </div>
                        </ng-template>
                  
                  </div>


                <div class="clearfix"></div><br>

              </form>

          </div>
        </div>
      </div>
    </div>
    <!--End Main Content-->
</div>
<!--End Container-->
</div>
<app-footer></app-footer>
<!--End Body Container-->