<!--Main Navigation Desktop-->
<div class="menu-outer d-none d-lg-block">
  <div class="container">
     <div class="row">
        <div class="col-1 col-sm-1 col-md-1 col-lg-12 align-self-center d-menu-col">
           <nav class="grid__item" id="AccessibleNav">
              <ul id="siteNav" class="site-nav medium left hidearrow">
                 <li class="lvl1 parent megamenu">
                    <a href="{{base_url}}productList?category={{category1}}">{{category1Heading}} <i class="an an-angle-down-l"></i></a>
                    <div class="megamenu style1">
                      <div class="row">
                       <ng-container *ngFor="let objectSubModel2 of allModel">
                         <div class="col-md-1 col-lg-1 br p-0">
                           <div class="imageCol text-center">
                               <a  href="{{base_url}}productList?category={{category1}}&accessModel={{objectSubModel2._id}}" class="mb-2 car">
                                 <h6>{{objectSubModel2.model_name}}</h6>
                                 
                                 <ng-container  *ngIf="objectSubModel2.black_white_image != null; else elseabc" >
                                   <img class="car1 lazyloaded" src="{{base_url_node_only}}public/uploads/models/{{objectSubModel2.black_white_image}}" alt="">
                                 </ng-container>
                                 <ng-template #elseabc>
                                   <img class="car1 lazyloaded" src="../../../assets/images/911-s.png" alt="">
                                 </ng-template>
                                 <ng-container *ngIf="objectSubModel2.fileImage != '' && objectSubModel2.fileImage != null; else SubCatImgIDElse ">
                                   

                                   <img class="lazyload car2 lazyloaded" src="{{base_url_node_only}}public/uploads/models/{{objectSubModel2.fileImage}}" data-src="{{base_url_node_only}}public/uploads/models/{{objectSubModel2.fileImage}}" alt="image"/>
                                 </ng-container>
                                 <ng-template #SubCatImgIDElse>
                                   <img class="lazyload car1" src="assets/images/megamenu/boxster-s.png" data-src="assets/images/megamenu/boxster-s.png" alt="image"/>
                                 </ng-template>
                               </a>
                               <div class="car-models text-left">
                                 <div class="dropdown-menu-container">
                                   <ul class="list-unstyled list-reversed">
                                     <li>
                                       <a class="active-model-check" href="{{base_url}}productList?category={{category1}}&accessModel={{objectSubModel2._id}}">
                                         <div class="cars-menu-margin">
                                           <div>
                                             <ul class="catgory">
                                               
                                               <li *ngFor="let secondSubModel of objectSubModel2.subModel">
                                                 <a href="{{base_url}}productList?category={{category1}}&accessModel={{objectSubModel2._id}}&subModel={{secondSubModel._id}}"><strong class="d-blk">{{secondSubModel.model_name}}</strong><small class="d-blk"> <i class="fa fa-arrow-right arow "aria-hidden="true"></i> <i class="fa fa-arrow-left arowl"aria-hidden="true"></i></small></a>
                                               </li>
                                               
                                             </ul>
                                           </div>
                                         </div>
                                       </a>
                                     </li>
                                   </ul>
                                 </div>
                               </div>
                           </div>
                         </div>
                       </ng-container>
                      </div>
                   </div>
                 </li>
                 <li class="lvl1 parent megamenu"  >
                    <a  href="{{base_url}}productList?category={{category2}}">{{category2Heading}} <i class="an an-angle-down-l"></i></a>
                    <div class="megamenu style1">
                       <div class="row">
                        <ng-container *ngFor="let objectSubModel of allSubModel">
                          <div class="col-md-1 col-lg-1 br p-0">
                            <div class="imageCol text-center">
                                <a  href="{{base_url}}productList?category={{category2}}&accessModel={{objectSubModel._id}}" class="mb-2 car">
                                  <h6>{{objectSubModel.model_name}}</h6>
                                  
                                  <ng-container  *ngIf="objectSubModel.black_white_image != null; else elseabc" >
                                    <img class="car1 lazyloaded" src="{{base_url_node_only}}public/uploads/models/{{objectSubModel.black_white_image}}" alt="">
                                  </ng-container>
                                  <ng-template #elseabc>
                                    <img class="car1 lazyloaded" src="../../../assets/images/911-s.png" alt="">
                                  </ng-template>
                                  <ng-container *ngIf="objectSubModel.fileImage != '' && objectSubModel.fileImage != null; else SubCatImgIDElse ">
                                    

                                    <img class="lazyload car2 lazyloaded" src="{{base_url_node_only}}public/uploads/models/{{objectSubModel.fileImage}}" data-src="{{base_url_node_only}}public/uploads/models/{{objectSubModel.fileImage}}" alt="image"/>
                                  </ng-container>
                                  <ng-template #SubCatImgIDElse>
                                    <img class="lazyload car1" src="assets/images/megamenu/boxster-s.png" data-src="assets/images/megamenu/boxster-s.png" alt="image"/>
                                  </ng-template>
                                </a>
                                <div class="car-models text-left">
                                  <div class="dropdown-menu-container">
                                    <ul class="list-unstyled list-reversed">
                                      <li>
                                        <a class="active-model-check" href="{{base_url}}productList?category={{category2}}&accessModel={{objectSubModel._id}}">
                                          <div class="cars-menu-margin">
                                            <div>
                                              <ul class="catgory">
                                                
                                                <li *ngFor="let secondSubModel of objectSubModel.subModel">
                                                  <a href="{{base_url}}productList?category={{category2}}&accessModel={{objectSubModel._id}}&subModel={{secondSubModel._id}}"><strong class="d-blk">{{secondSubModel.model_name}}</strong><small class="d-blk"> <i class="fa fa-arrow-right arow "aria-hidden="true"></i> <i class="fa fa-arrow-left arowl"aria-hidden="true"></i></small></a>
                                                </li>
                                                
                                              </ul>
                                            </div>
                                          </div>
                                        </a>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                            </div>
                          </div>
                        </ng-container>
                       </div>
                    </div>
                 </li>
              </ul>
           </nav>
        </div>
     </div>
  </div>
</div>
<!--End Main Navigation Desktop-->