.cardss
{
    box-shadow: 0 2px 9px #ccc;
    padding: 20px;
    max-width: 800px;
    margin: auto;
    border-radius: 10px;
}
.btn-theme-red
{
    background: #f00 !important;
    color: #fff;
    border-radius: 4px;
}