<app-mobile-header></app-mobile-header>
<app-header></app-header>


<div class="container mx992-p0">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 pt-5 mx992-pt0">

            <div class="row justify-content-start px-3">
                <div class="cardss">
                    <!-- <h1>{{apiRes.data.page_title}}</h1> -->
                    <form [formGroup]="form" (ngSubmit)="submit()" class="customer-form">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="mb-3 mt-3">
                                        <input type="email" class="form-control" id="nom" placeholder="Nom*" name="nom" formControlName="nom">
                                    </div>

                                    <div *ngIf="f['nom'].touched && f['nom'].invalid" class="validation_error">
                                        <div class="error" *ngIf="f['nom'].errors && f['nom'].errors['required']">Nom est obligatoire.</div>

                                    </div>

                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="mb-3 mt-3">
                                        <input type="email" class="form-control" id="prenom" placeholder="Prénom*" name="prenom" formControlName="prenom">
                                    </div>

                                    <div *ngIf="f['prenom'].touched && f['prenom'].invalid" class="validation_error">
                                        <div class="error" *ngIf="f['prenom'].errors && f['prenom'].errors['required']">Prénom est obligatoire.</div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="mb-3 mt-3">
                                        <input type="email" class="form-control" id="" placeholder="Nom de l'entreprise" name="enterprise_name" formControlName="enterprise_name">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="mb-3 mt-3">
                                        <input type="email" class="form-control" id="" placeholder="Email*" name="email" formControlName="email">
                                    </div>

                                    <div *ngIf="f['email'].touched && f['email'].invalid" class="validation_error">
                                        <div class="error" *ngIf="f['email'].errors && f['email'].errors['required']">L'adresse électronique est obligatoire.</div>
                                        <div class="error" *ngIf="f['email'].errors && f['email'].errors['pattern']">Veuillez entrer une adresse e-mail valide.</div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="mb-3 mt-3">
                                        <input type="number" class="form-control" id="" placeholder="Téléphone*" name="mobile" formControlName="mobile">
                                    </div>

                                    <div *ngIf="f['mobile'].touched && f['mobile'].invalid" class="validation_error">
                                        <div class="error" *ngIf="f['mobile'].errors && f['mobile'].errors['required']">Téléphone est obligatoire.</div>
                                    </div>


                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="mb-3 mt-3">
                                        <input type="email" class="form-control" id="" placeholder="Object de votre message*" name="subject" formControlName="subject">
                                    </div>
                                    <div *ngIf="f['subject'].touched && f['subject'].invalid" class="validation_error">
                                        <div class="error" *ngIf="f['subject'].errors && f['subject'].errors['required']">Object de votre message est obligatoire.</div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="row">

                                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="mb-3 mt-3">
                                        <textarea class="form-control" rows="5" placeholder="Message*" formControlName="message"></textarea>
                                        <span>0/700 caractères</span>
                                    </div>
                                    <div *ngIf="f['message'].touched && f['message'].invalid" class="validation_error">
                                        <div class="error" *ngIf="f['message'].errors && f['message'].errors['required']">Message est obligatoire.</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="clearfix"></div>
                        <br>
                        <div class="comeBack_up" *ngIf="apiResponse">
                            <div *ngIf="apiResponse.error; else loggedOut">
                                <div class="alert alert-danger"><strong>{{ apiResponse.errorMessage }}</strong></div>
                            </div>
                            <ng-template #loggedOut>
                                <div class="alert alert-success"><strong>{{ apiResponse.errorMessage }}</strong></div>
                            </ng-template>
                        </div>



                        <div class="text-center"> <button type="submit" class="btn btn-theme-red">Envoyer</button></div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>





<app-footer></app-footer>