<app-mobile-header></app-mobile-header>

<!--Page Wrapper-->
<div class="page-wrapper">

    <app-header></app-header>

    <!--Body Container-->
    <div id="page-content" class="page-bg page-adjust">
        <!--Container-->
        <div class="container pt-30 max-992">
            <!--Main Content-->
            <div class="">
                <div class="row">
                    <!--<div class="col-md-12">
                <h2>Déposer une annonce</h2>
                </div>-->
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 mb-4 mb-md-0">
                        <div class="inner in-ner">
                            <form [formGroup]="form" (ngSubmit)="submit()" class="customer-form">
                                <input type="hidden" [(ngModel)]="ad_id" name="ad_id" formControlName="ad_id">
                                <input type="hidden" [(ngModel)]="user_id" name="sender_id" formControlName="sender_id">
                                
                                <h1 class="" *ngFor="let objAdDetail of allCarAd">
                                    
                                    Envoyer un message à {{objAdDetail.userId.userName}} </h1>
                                <div class="row">
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 p-0">
                                        <!-- <div class="form-group">
                               <div class="col-md-10">
                                  <label for="" class="">Votre téléphone </label>
                                  <div class="input-group mb-3">
                                     <input type="text" formControlName="password"  name="password" class="form-control" placeholder="">
                                  </div>
                               </div>
                            </div> -->
                                        <div class="form-group">
                                            <label for="comment">Votre message <span style="color: #F00;">*</span></label>
                                            <textarea class="form-control" rows="8" id="comment" placeholder="Bonjour, cette annonce est-elle toujours disponible ?" formControlName="message" name="message"></textarea>

                                            <div *ngIf="f['message'].touched && f['message'].invalid" class="validation_error">
                                                <div class="error" *ngIf="f['message'].errors && f['message'].errors['required']">
                                                    Veuillez écrire un message.</div>

                                            </div>
                                        </div>
                                        <div><button type="submit" class="btn search_submit rechrchr btn-181" [disabled]="btn_disable">Envoyer <i class="fa fa-spinner fa-spin" *ngIf="btn_spring"></i></button></div>

                                        <div class="clearfix"></div>
                                        <br>
                                        <div class="comeBack_up" *ngIf="apiResponse">
                                            <div *ngIf="apiResponse.error; else loggedOut">
                                                <div class="alert alert-danger"><strong>{{ apiResponse.errorMessage }}</strong></div>
                                            </div>
                                            <ng-template #loggedOut>
                                                <ng-container *ngIf="apiResponse.errorMessage">
                                                    <div class="alert alert-success"><strong>{{ apiResponse.errorMessage }}</strong></div>
                                                </ng-container>


                                            </ng-template>
                                        </div>
                                        <div class="clearfix"></div>
                                        <br>

                                        <div class="lh-20">
                                            <a href="javascript:void(0)" class="">
                                                En cliquant sur Envoyer j'accepte que mes données soient traitées, comme décrit dans la politique de confidentialité de porschists.com
                                                Je peux révoquer ce consentement à tout moment.</a>
                                        </div>


                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 mb-4 mb-md-0">
                        <div class="inner in-ner" *ngFor="let objAdDetail of allCarAd">
                            <h1 class="">{{objAdDetail.ad_name}}</h1>
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 p-0">
                                    <h2>{{objAdDetail.category}}</h2>
                                    <div>
                                        <h2 class="m-b-0">{{objAdDetail.price}} €</h2>
                                        <!-- <p class="date-p">{{objAdDetail.created_at | date: 'dd/MM/yyyy'}} à {{objAdDetail.created_at | date: 'HH:mm'}}</p> -->
                                    </div>
                                    <br>
                                    <div>
                                        <p class="m-b-0 f-w-5" *ngIf="objAdDetail.modelId.length > 0">{{objAdDetail.modelId[0].model_name}}</p>
                                        <!-- <p class="f-w-5">N° SIREN 834126385 model_name</p> -->
                                    </div>
                                    <hr>
                                    <h3>Description</h3>
                                    <p>{{objAdDetail.description}}</p>
                                     
                                    <hr>
                                </div>

                                <ng-container *ngIf="objAdDetail.category == 'Porsche Voitures'; else elseChatInit ">
                                    <div class="row">

                                        <h2>Critères</h2>
                                        
                                        
                                        <div class="col-12 col-sm-6 col-md-4 col-lg-4 p-0">
                                            <div class="product-details">
                                                <!--Product Name-->
                                                <div class="product-name pb-0">
                                                    <span class="float-left img-spn new-span">
                                                        <!--<i class="fa-solid fa-gas-pump txt-icon"></i>-->
                                                        <img src="assets/images/slideshow/pr1.png" class="txt-icon mw-100">
                                                    </span>
                                                    <div class="side-txt">
                                                        <p class="first-txt"><span>Modèle</span>
                                                        </p>
                                                        <p class="" *ngIf="objAdDetail.modelId.length > 0">
                                                            {{objAdDetail.modelId[0].model_name}}</p>
        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
        
                                        <div class="col-12 col-sm-6 col-md-4 col-lg-4 p-0">
                                            <!--Start Product Details-->
                                            <div class="product-details">
                                                <!--Product Name-->
                                                <div class="product-name pb-0">
                                                    <span class="float-left img-spn new-span">
                                                        <!--<i class="fa-solid fa-gas-pump txt-icon"></i>-->
                                                        <img src="assets/images/slideshow/pr1.png" class="txt-icon mw-100">
                                                    </span>
                                                    <div class="side-txt">
                                                        <p class="first-txt"><span>Génération</span>
                                                        </p>
                                                        <ng-container *ngIf="objAdDetail.subModelId">
                                                            <p class=""  *ngIf="objAdDetail.subModelId.length > 0" >{{objAdDetail.subModelId[0].model_name}}
                                                            </p>
                                                        </ng-container>
                                                         
                                                    </div>
                                                </div>
                                            </div>
                                            <!--End Product Details-->
                                        </div>
        
        
        
                                        <div class="col-12 col-sm-6 col-md-4 col-lg-4 p-0">
                                            <div class="product-details">
                                                <div class="product-name pb-0">
                                                    <span class="float-left img-spn ">
                                                        <img src="assets/images/slideshow/finish.png" class="txt-icon"
                                                           >
                                                    </span>
                                                    <div class="side-txt">
                                                        <p class="first-txt"><span>Version</span>
                                                        </p>
                                                        <p class="">{{objAdDetail.model_variant}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
        
        
                                        <div class="col-12 col-sm-6 col-md-4 col-lg-4 p-0">
                                            <div class="product-details">
                                                <!--Product Name-->
                                                <div class="product-name pb-0">
                                                    <span class="float-left img-spn">
                                                        <!--<i class="fa-solid fa-gas-pump txt-icon"></i>--><img
                                                            src="assets/images/slideshow/4.png" class="txt-icon">
                                                    </span>
                                                    <div class="side-txt">
                                                        <p class="first-txt">Année</p>
                                                        <p class="second-txt">{{objAdDetail.registration_year}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                         
                                        <div class="col-12 col-sm-6 col-md-4 col-lg-4 p-0">
                                            <div class="product-details">
                                                <!--Product Name-->
                                                <div class="product-name pb-0">
                                                    <span class="float-left img-spn">
                                                        <!--<i class="fa-solid fa-gas-pump txt-icon"></i>-->
                                                        <img src="assets/images/slideshow/6.png" class="txt-icon">
                                                    </span>
                                                    <div class="side-txt">
                                                        <p class="first-txt"><span>Kilométrage</span>
                                                        </p>
                                                        <p class="">{{objAdDetail.engine_operation_hour}} KM</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-4 col-lg-4 p-0">
                                            <div class="product-details">
                                                <!--Product Name-->
                                                <div class="product-name pb-0">
                                                    <span class="float-left img-spn">
                                                        <!--<i class="fa-solid fa-gas-pump txt-icon"></i>-->
                                                        <img src="assets/images/slideshow/Group 599.png" class="txt-icon">
                                                    </span>
                                                    <div class="side-txt">
                                                        <p class="first-txt"><span>Carburant</span>
                                                        </p>
                                                        <p class="" *ngIf="objAdDetail.fuel.length > 0">
                                                            {{objAdDetail.fuel[0].attribute_name}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-4 col-lg-4 p-0">
                                            <div class="product-details">
                                                <!--Product Name-->
                                                <div class="product-name pb-0">
                                                    <span class="float-left img-spn new-span">
                                                        <!--<i class="fa-solid fa-gas-pump txt-icon"></i>-->
                                                        <img src="../../../assets/images/icons/911.png" class="txt-icon"
                                                            style="max-width: 100%;">
                                                        <!--<i class="fa-solid fa-gas-pump txt-icon"></i>-->
                                                    </span>
                                                    <div class="side-txt">
                                                        <p class="first-txt"><span>Boîte de vitesse</span>
                                                        </p>
                                                        <p class="" *ngIf="objAdDetail.type_of_gearbox.length > 0">
                                                            {{objAdDetail.type_of_gearbox[0].attribute_name}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
        
                                        <div class="col-12 col-sm-6 col-md-4 col-lg-4 p-0">
                                            <div class="product-details">
                                                <!--Product Name-->
                                                <div class="product-name pb-0">
                                                    <span class="float-left img-spn new-span">
                                                        <!--<i class="fa-solid fa-gas-pump txt-icon"></i>-->
                                                        <img src="assets/images/slideshow/pr1.png" class="txt-icon"
                                                            style="max-width: 100%;">
                                                    </span>
                                                    <div class="side-txt">
                                                        <p class="first-txt"><span>Type de châssis</span>
                                                        </p>
                                                        <ng-container *ngIf="objAdDetail.type_of_chassis">
        
                                                            <p class="" *ngIf="objAdDetail.type_of_chassis.length > 0">
                                                            {{objAdDetail.type_of_chassis[0].attribute_name}}</p>
                                                        </ng-container>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
        
                                        <div class="col-12 col-sm-6 col-md-4 col-lg-4 p-0">
                                            <div class="product-details">
                                                <!--Product Name-->
                                                <div class="product-name pb-0">
                                                    <span class="float-left img-spn new-span">
                                                        <!--<i class="fa-solid fa-gas-pump txt-icon"></i>--><img
                                                            src="assets/images/slideshow/status.png" class="txt-icon"
                                                            style="max-width: 100%;">
                                                    </span>
                                                    <div class="side-txt">
                                                        <p class="first-txt"><span>État du véhicule</span>
                                                        </p>
                                                        <ng-container *ngIf="objAdDetail.vehicle_condition">
                                                            <p class="" *ngIf="objAdDetail.vehicle_condition.length > 0">
                                                            {{objAdDetail.vehicle_condition[0].attribute_name}}</p>
                                                        </ng-container>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
        
        
                                        
                                        <div class="col-12 col-sm-6 col-md-4 col-lg-4 p-0">
                                            <div class="product-details">
                                                <!--Product Name-->
                                                <div class="product-name pb-0">
                                                    <span class="float-left img-spn new-span">
                                                        <!--<i class="fa-solid fa-gas-pump txt-icon"></i>-->
                                                        <img src="assets/images/slideshow/pr1.png" class="txt-icon mw-100">
                                                    </span>
                                                    <div class="side-txt">
                                                        <p class="first-txt"><span>Couleur extérieur</span>
                                                        </p>
                                                        <ng-container *ngIf="objAdDetail.colorId">
                                                            <p class="" *ngIf="objAdDetail.colorId.length > 0">
                                                            {{objAdDetail.colorId[0].color_name}}</p>
                                                        </ng-container>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="col-12 col-sm-6 col-md-4 col-lg-4 p-0">
                                            <div class="product-details">
                                                <!--Product Name-->
                                                <div class="product-name pb-0">
                                                    <span class="float-left img-spn new-span">
                                                        <!--<i class="fa-solid fa-gas-pump txt-icon"></i>-->
                                                        <img src="assets/images/slideshow/pr1.png" class="txt-icon mw-100">
                                                    </span>
                                                    <div class="side-txt">
                                                        <p class="first-txt"><span>Couleur intérieur</span>
                                                        </p>
                                                        <ng-container *ngIf="objAdDetail.colorIdInterior">
                                                            <p class="" *ngIf="objAdDetail.colorIdInterior.length > 0">
                                                                {{objAdDetail.colorIdInterior[0].color_name}}</p>
                                                        </ng-container>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
        
                                        <div class="col-12 col-sm-6 col-md-4 col-lg-4 p-0">
                                            <div class="product-details">
                                                <!--Product Name-->
                                                <div class="product-name pb-0">
                                                    <span class="float-left img-spn">
                                                        <!--<i class="fa-solid fa-gas-pump txt-icon"></i>-->
                                                        <img src="assets/images/slideshow/10.png" class="txt-icon">
                                                    </span>
                                                    <div class="side-txt">
                                                        <p class="first-txt"><span>Peinture d’origine</span>
                                                        </p>
                                                        <ng-container *ngIf="objAdDetail.original_paint == 'yes'; else elseWarenty">
                                                            <p class="">Oui</p>
                                                        </ng-container>
                                                        <ng-template #elseWarenty>
                                                            <p class="">Non</p>
                                                        </ng-template>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
        
                                        <div class="col-12 col-sm-6 col-md-4 col-lg-4 p-0">
                                            <div class="product-details">
                                                <!--Product Name-->
                                                <div class="product-name pb-0">
                                                    <span class="float-left img-spn">
                                                        <!--<i class="fa-solid fa-gas-pump txt-icon"></i>-->
                                                        <img src="assets/images/slideshow/service.png" class="txt-icon">
                                                    </span>
                                                    <div class="side-txt">
                                                        <p class="first-txt"><span>Carnet d’entretien</span>
                                                        </p>
                                                        <ng-container *ngIf="objAdDetail.maintenance_booklet == 'yes'; else elseWarenty">
                                                            <p class="">Oui</p>
                                                        </ng-container>
                                                        <ng-template #elseWarenty>
                                                            <p class="">Non</p>
                                                        </ng-template>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
        
        
                                        <div class="col-12 col-sm-6 col-md-4 col-lg-4 p-0">
                                            <div class="product-details">
                                                <!--Product Name-->
                                                <div class="product-name pb-0">
                                                    <span class="float-left img-spn">
                                                        <!--<i class="fa-solid fa-gas-pump txt-icon"></i>-->
                                                        <img src="assets/images/slideshow/10.png" class="txt-icon">
                                                    </span>
                                                    <div class="side-txt">
                                                        <p class="first-txt"><span>Facture d’entretien</span>
                                                        </p>
                                                        <ng-container *ngIf="objAdDetail.maintenance_invoice == 'yes'; else elseWarenty">
                                                            <p class="">Oui</p>
                                                        </ng-container>
                                                        <ng-template #elseWarenty>
                                                            <p class="">Non</p>
                                                        </ng-template>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
        
                                        <div class="col-12 col-sm-6 col-md-4 col-lg-4 p-0">
                                            <div class="product-details">
                                                <!--Product Name-->
                                                <div class="product-name pb-0" *ngIf="objAdDetail.userId.user_type == 'pro_user'; else normal ">
                                                    <span class="float-left img-spn new-span">
        
                                                        <a *ngIf="objAdDetail.userId.companyImage; else elseImageObj">
                                                            <img src="{{base_url_node_only}}public/uploads/userProfile/{{objAdDetail.userId.companyImage}}"
                                                                class="mw-100" style="width: 70px;">
        
                                                        </a>
                                                        <ng-template #elseImageObj>
                                                            <a>
                                                                <i class="fa fa-user"> </i>
                                                            </a>
                                                        </ng-template>
        
                                                    </span>
                                                    <div class="side-txt">
                                                        <p class="first-txt"><span>Vendeur</span>
                                                        </p>
                                                        <p class="">
                                                            Professionnel </p>
                                                    </div>
                                                </div>
                                                <ng-template #normal>
                                                    <span class="float-left img-spn new-span">
        
                                                        <i class="fa fa-user"> </i>
                                                    </span>
                                                    <div class="side-txt">
                                                        <p class="first-txt"><span>Vendeur</span>
                                                        </p>
                                                        <p class="">
                                                            Particulier </p>
                                                    </div>
                                                </ng-template>
                                            </div>
                                        </div>
        
        
                                        <div class="col-12 col-sm-6 col-md-4 col-lg-4 p-0">
                                            <div class="product-details">
                                                <!--Product Name-->
                                                <div class="product-name pb-0">
                                                    <span class="float-left img-spn">
                                                        <!--<i class="fa-solid fa-gas-pump txt-icon"></i>-->
                                                        <img src="assets/images/slideshow/10.png" class="txt-icon">
                                                    </span>
                                                    <div class="side-txt">
                                                        <p class="first-txt"><span>Matching numbers </span>
                                                        </p>
                                                        <ng-container *ngIf="objAdDetail.matching_number == 'yes'; else elseWarenty">
                                                            <p class="">Oui</p>
                                                        </ng-container>
                                                        <ng-template #elseWarenty>
                                                            <p class="">Non</p>
                                                        </ng-template>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
        
                                        <div class="col-12 col-sm-6 col-md-4 col-lg-4 p-0">
                                            <div class="product-details">
                                                <!--Product Name-->
                                                <div class="product-name pb-0">
                                                    <span class="float-left img-spn">
                                                        <!--<i class="fa-solid fa-gas-pump txt-icon"></i>-->
                                                        <img src="assets/images/slideshow/10.png" class="txt-icon">
                                                    </span>
                                                    <div class="side-txt">
                                                        <p class="first-txt"><span>Matching colors</span>
                                                        </p>
                                                        <ng-container *ngIf="objAdDetail.matching_color_paint == 'yes'; else elseWarenty">
                                                            <p class="">Oui</p>
                                                        </ng-container>
                                                        <ng-template #elseWarenty>
                                                            <p class="">Non</p>
                                                        </ng-template>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-4 col-lg-4 p-0">
                                            <div class="product-details">
                                                <!--Product Name-->
                                                <div class="product-name pb-0">
                                                    <span class="float-left img-spn new-span"> 
                                                        <i class="fa fa-user"></i> 
                                                    </span>
                                                    <div class="side-txt">
                                                        <p class="first-txt"><span>Nombre de propriétaires</span>
                                                        </p>
                                                        <p class="">{{objAdDetail.number_of_owners}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
        
        
                                        <div class="col-12 col-sm-6 col-md-4 col-lg-4 p-0">
                                            <div class="product-details">
                                                <!--Product Name-->
                                                <div class="product-name pb-0">
                                                    <span class="float-left img-spn">
                                                        <!--<i class="fa-solid fa-gas-pump txt-icon"></i>-->
                                                        <img src="assets/images/slideshow/10.png" class="txt-icon">
                                                    </span>
                                                    <div class="side-txt">
                                                        <p class="first-txt"><span>Garantie Porsche Approved</span>
                                                        </p>
                                                        <ng-container *ngIf="objAdDetail.pors_warranty == 'yes'; else elseWarenty">
                                                            <p class="">Oui</p>
                                                        </ng-container>
                                                        <ng-template #elseWarenty>
                                                            <p class="">Non</p>
                                                        </ng-template>
        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-4 col-lg-4 p-0">
                                            <div class="product-details">
                                                <!--Product Name-->
                                                <div class="product-name pb-0">
                                                    <span class="float-left img-spn">
                                                        <!--<i class="fa-solid fa-gas-pump txt-icon"></i>-->
                                                        <img src="assets/images/slideshow/4.png" class="txt-icon">
                                                    </span>
                                                    <div class="side-txt">
                                                        <p class="first-txt"><span>Nombre de mois</span>
                                                        </p>
                                                        <p class="">{{objAdDetail.pors_warranty_month}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-4 col-lg-4 p-0"></div>
                                        <div class="col-12 col-sm-6 col-md-4 col-lg-4 p-0">
                                            <div class="product-details">
                                                <!--Product Name-->
                                                <div class="product-name pb-0">
                                                    <span class="float-left img-spn">
                                                        <!--<i class="fa-solid fa-gas-pump txt-icon"></i>-->
                                                        <img src="assets/images/slideshow/10.png" class="txt-icon">
                                                    </span>
                                                    <div class="side-txt">
                                                        <p class="first-txt"><span>Garantie </span>
                                                        </p>
                                                        <ng-container *ngIf="objAdDetail.warranty == 'yes'; else elseWarenty">
                                                            <p class="">Oui</p>
                                                        </ng-container>
                                                        <ng-template #elseWarenty>
                                                            <p class="">Non</p>
                                                        </ng-template>
        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-4 col-lg-4 p-0">
                                            <div class="product-details">
                                                <!--Product Name-->
                                                <div class="product-name pb-0">
                                                    <span class="float-left img-spn">
                                                        <!--<i class="fa-solid fa-gas-pump txt-icon"></i>-->
                                                        <img src="assets/images/slideshow/4.png" class="txt-icon">
                                                    </span>
                                                    <div class="side-txt">
                                                        <p class="first-txt"><span>Nombre de mois</span>
                                                        </p>
                                                        <p class="">{{objAdDetail.warranty_month}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </ng-container>
                                <ng-template #elseChatInit>
                                    <div class="row">

                                        <h2>Critères</h2>
                                        
                                        

                                        
                                <div class="col-12 col-sm-6 col-md-4 col-lg-4 p-0">
                                    <div class="product-details">
                                        <!--Product Name-->
                                        <div class="product-name pb-0">
                                            <span class="float-left img-spn new-span">
                                                <!--<i class="fa-solid fa-gas-pump txt-icon"></i>-->
                                                <img src="assets/images/slideshow/pr1.png" class="txt-icon" style="max-width: 100%;">
                                            </span>
                                            <div class="side-txt">
                                                <p class="first-txt"><span>Modèle</span>
                                                </p>
                                                <p class="" *ngIf="objAdDetail.modelId.length > 0">
                                                    {{objAdDetail.modelId[0].model_name}}</p>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-sm-6 col-md-4 col-lg-4 p-0">
                                    <!--Start Product Details-->
                                    <div class="product-details">
                                        <!--Product Name-->
                                        <div class="product-name pb-0">
                                            <span class="float-left img-spn new-span">
                                                <!--<i class="fa-solid fa-gas-pump txt-icon"></i>-->
                                                <img src="assets/images/slideshow/pr1.png" class="txt-icon" style="max-width: 100%;">
                                            </span>
                                            <div class="side-txt">
                                                <p class="first-txt"><span>Génération</span>
                                                </p>
                                                <p class="" *ngIf="objAdDetail.subModelId.length > 0">
                                                    {{objAdDetail.subModelId[0].model_name}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!--End Product Details-->
                                </div>


                                <div class="col-12 col-sm-6 col-md-4 col-lg-4 p-0">
                                    <div class="product-details">
                                        <!--Product Name-->
                                        <div class="product-name pb-0">
                                            <span class="float-left img-spn">
                                                <!--<i class="fa-solid fa-gas-pump txt-icon"></i>--><img
                                                    src="assets/images/slideshow/4.png" class="txt-icon">
                                            </span>
                                            <div class="side-txt">
                                                <p class="first-txt">Année</p>
                                                <p class="second-txt">{{objAdDetail.registration_year}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="col-12 col-sm-6 col-md-4 col-lg-4 p-0">
                  <div class="product-details">
                     
                    <div class="product-name pb-0">
                      <span class="float-left img-spn">
                         
                        <img src="assets/images/slideshow/4.png" class="txt-icon">
                      </span>
                      <div class="side-txt">
                        <p class="first-txt"><span>Mise en circulation</span>
                        </p>
                        <p class="">7/2021</p>
                      </div>
                    </div>
                  </div>
                </div> -->

                                <div class="col-12 col-sm-6 col-md-4 col-lg-4 p-0">
                                    <div class="product-details">
                                        <!--Product Name-->
                                        <div class="product-name pb-0">
                                            <span class="float-left img-spn new-span">
                                                <!--<i class="fa-solid fa-gas-pump txt-icon"></i>-->
                                                <img src="assets/images/slideshow/pr1.png" class="txt-icon" style="max-width: 100%;">
                                            </span>
                                            <div class="side-txt">
                                                <p class="first-txt"><span>Type de pièce</span>
                                                </p>
                                                <p class="" *ngIf="objAdDetail.type_de_piece.length > 0">
                                                    {{objAdDetail.type_de_piece[0].attribute_name}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>




                                <div class="col-12 col-sm-6 col-md-4 col-lg-4 p-0">
                                    <div class="product-details">
                                        <!--Product Name-->
                                        <div class="product-name pb-0">
                                            <span class="float-left img-spn new-span">
                                                <!--<i class="fa-solid fa-gas-pump txt-icon"></i>-->
                                                <span style="font-size: x-small;font-weight: 700;">OEM</span>
                                            </span>
                                            <div class="side-txt">
                                                <p class="first-txt"><span>Pièce d'origine Porsche (OEM)</span>
                                                </p>
                                                <ng-container *ngIf="objAdDetail.OEM == 'yes'; else elseWarenty">
                                                    <p class="">Oui</p>
                                                </ng-container>
                                                <ng-template #elseWarenty>
                                                    <p class="">Non</p>
                                                </ng-template>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4 col-lg-4 p-0">
                                    <div class="product-details">
                                        <!--Product Name-->
                                        <div class="product-name pb-0">
                                            <span class="float-left img-spn new-span">
                                                <!--<i class="fa-solid fa-gas-pump txt-icon"></i>-->
                                                <img src="assets/images/slideshow/pr1.png" class="txt-icon mw-100">
                                            </span>
                                            <div class="side-txt">
                                                <p class="first-txt"><span>État</span>
                                                </p>
                                                <p class="">{{objAdDetail.state}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                                    </div>
                                </ng-template>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Main Content-->
        </div>
        <!--End Container-->
    </div>
    <!--End Body Container-->

</div>