<!--Header wrap-->
<div class="header-main header-12 d-none d-sm-none d-md-none d-lg-block d-xl-block d-xxl-block">
    <!--Header-->
    <header id="header" class="header header-wrap mih-90 d-flex align-items-center">
        <div class="container mw-100 ">
            <div class="h-flex">
                <!--Logo / Menu Toggle-->
                <div class="h-flexl">
                    <div class="">
                        <!--Mobile Toggle-->
                        <button type="button" class="btn--link site-header__menu js-mobile-nav-toggle mobile-nav--open me-3 d-lg-none"><i
                     class="icon an an-times-l"></i><i class="icon an an-bars-l"></i></button>
                        <!--End Mobile Toggle-->
                        <!--Logo-->
                        <div class="logo">
                            <a href="/"><img class="logo-img mh-100" src="../../../assets/images/logo.png" alt="logo" title="logo" width="200" /><span class="logo-txt d-none"></span></a>
                        </div>
                        <!--End Logo-->
                    </div>
                    <!--End Logo / Menu Toggle-->
                    <!--Search Inline-->
                    <div class="">
                        <ul class="top-srch" style="display: flex;align-items: center;">


                            <li class="d-flex">
                                <ng-container *ngIf="user_id !='' && user_id != null; else userLoginAdPost">
                                    <ng-container *ngIf="user_type =='normal_user' else userTypeAdPost">
                                        <a class="btn btn-sm btn-primary rounded px-4 d-ano" routerLink="/adPostParticular"><i
                                 class="fa-solid fa-square-plus fa-plus"></i> Déposer une annonce</a>
                                    </ng-container>
                                    <ng-template #userTypeAdPost>
                                        <a class="btn btn-sm btn-primary rounded px-4 d-ano" routerLink="/adPost"><i
                                 class="fa-solid fa-square-plus fa-plus"></i> Déposer une annonce</a>
                                    </ng-template>

                                </ng-container>
                                <ng-template #userLoginAdPost>
                                    <a class="btn btn-sm btn-primary rounded px-4 d-ano" routerLink="/login/adPost"><i
                              class="fa-solid fa-square-plus fa-plus"></i> Déposer une annonce</a>
                                </ng-template>
                            </li>



                            <!-- <li class="search-barsec">

                     <a class="">
                        <div class="ng-autocomplete">
                           <i class="fa-solid fa-magnifying-glass fa-srch"></i>
                           <ng-autocomplete [data]="autoCompleteData" [searchKeyword]="keyword" placeholder="Rechercher"
                              (selected)='selectEvent($event)' (inputChanged)='onChangeSearch($event)'
                              (inputFocused)='onFocused($event)'  
                              [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate"
                              (keyup)="onKeydownEvent($event)">
                           </ng-autocomplete>

                           <ng-template #itemTemplate let-item>
                              <a [innerHTML]="item._id"></a>
                           </ng-template>

                           <ng-template #notFoundTemplate let-notFound>
                              <div >Non trouvé</div>
                           </ng-template>
                        </div>
                     </a>


                  </li> -->




                        </ul>
                    </div>


                </div>

                <div>
                    <p class="mb-0 txt-pre">{{old_title}}</p>
                </div>
                <!--End Search Inline-->
                <!--Right Action-->
                <div class="h-flex-r">
                    <!--Wishlist-->
                    <!-- <div class="wishlist-link iconset">
                  <ng-container *ngIf="user_id !='' && user_id != null; else userLoginFav">
                     <a routerLink="/favorites">
                        <img src="assets/fonts/icons8-heart-24.png">
                        <div class="hovr" routerLinkActive="active">Mes favoris</div>
                     </a>
                  </ng-container>
                  <ng-template #userLoginFav>
                      
                  </ng-template>
               </div>
               <div class="wishlist-link iconset">
                  <ng-container *ngIf="user_id !='' && user_id != null; else userLoginFav">
                     <a routerLink="/notifications"  >
                        <img src="assets/fonts/icons8-bell-50.png">
                        <span
                           class="wishlist-count counter4
                            d-flex-center justify-content-center position-absolute translate-middle rounded-circle">0</span>
                            <div class="hovr" routerLinkActive="active">Mes recherches</div>
                        
                     </a>
                  </ng-container>
                  
                  
               </div>
               
               <div class="header-cart iconset">
                  <ng-container *ngIf="user_id !='' && user_id != null; else userLoginMsg">
                     <a routerLink="/allMessage" class="site-header__cart btn-minicart" data-bs-toggle="modal"
                        data-bs-target="#minicart-drawer">
                        <img src="assets/fonts/icons8-sms-24.png" class="msg-img">
                        <div class="hovr" routerLinkActive="active">Mes messages</div>
                     </a>
                  </ng-container>
                  <ng-template #userLoginMsg>

                      
                  </ng-template>

               </div>


               <div class="header-cart iconset">
                  <ng-container *ngIf="user_id !='' && user_id != null; else userLoginMsg1">
                     <a routerLink="/my_cart" class="site-header__cart btn-minicart" data-bs-toggle="modal"
                        data-bs-target="#minicart-drawer">
                        <img src="../../../assets/images/icons/cart.png" class="msg-img">
                        <span
                        class="wishlist-count counter1 d-flex-center justify-content-center position-absolute translate-middle rounded-circle">{{this.cartCountval}}</span>
                     <div class="hovr" routerLinkActive="active">Panier</div>
                     </a>
                  </ng-container>
                  <ng-template #userLoginMsg1>

                      
                  </ng-template>

               </div> -->








                    <ng-container *ngIf="user_id !='' && user_id != null; else userLogin">
                        <div class="user-link ">
                            <div class="dropdownp">

                                <!--<img src="{{userImage}}">-->

                                <a routerLink="/userProfile/{{user_id}}" class="hovr d-block car-ho-vr" style="">
                                    <img class="car-b" src="assets/fonts/car-icon.png" style="">
                                    <img class="car-r" src="assets/fonts/red-car.png">

                                    <!--<img class="iconsettttttt" src="assets/fonts/car-icon.png">-->
                                    Mon Porschists
                                </a>

                                <div class="dropdown-contentp">
                                    <a routerLink="/favorites"><img class="iconsett" src="assets/fonts/icons8-heart-24.png"> Mes favoris</a>
                                    <a routerLink="/notifications"><img class="iconsett" src="assets/fonts/icons8-bell-50.png"> Mes recherches</a>
                                    <a routerLink="/allMessage" style="position: relative;display: flex;"><img class="iconsett" src="assets/fonts/icons8-sms-24.png"><span style="
                                       background: #333;
                                       color: #fff;
                                       border-radius: 50%;
                                       display: flex;
                                       width: 20px;
                                       height: 20px;
                                       align-items: center;
                                       justify-content: center;
                                       font-size: 10px;
                                       position: absolute;
                                       top: 0;
                                   ">{{notificationCount}}
                                   </span> Mes messages</a>

                                    <a routerLink="/my_cart"><img class="iconsett" src="../../../assets/images/icons/cart.png">Panier</a>

                                    <a routerLink="/logout"><img class="iconsett" src="assets/fonts/logout.png">Me déconnecter</a>


                                </div>
                            </div>


                        </div>
                    </ng-container>
                    <ng-template #userLogin>
                        <a class="user-link iconset" routerLink="/login">
                            <img src="assets/fonts/icons8-user-24.png" style="width:25px;">
                            <div class="hovr">Se connecter</div>
                        </a>
                        <a class="user-link iconset" routerLink="/registration">
                            <img src="assets/fonts/registration.png" style="width:25px;">
                            <div class="hovr">S'inscrire</div>
                        </a>
                    </ng-template>


                    <!-- <ng-container *ngIf="user_id !='' && user_id != null; else userLogin">


                  
                  <a class="user-link iconset" routerLink="/userProfile/{{user_id}}">
                     <img src="{{userImage}}" height="30" width="30">
                     <div class="hovr">Mon Porchists</div>
                  </a>

                  <a class="user-link iconset" routerLink="/logout">
                     <img src="assets/fonts/logout.png" height="30" width="30">
                     <div class="hovr">Me déconnecter</div>
                  </a>
               </ng-container>
               <ng-template #userLogin>
                  <a class="user-link iconset" routerLink="/login">
                     <img src="assets/fonts/icons8-user-24.png">
                     <div class="hovr">Se connecter</div>
                  </a>
                  <a class="user-link iconset" routerLink="/registration">
                     <img src="assets/fonts/registration.png">
                     <div class="hovr">S'inscrire</div>
                  </a>
               </ng-template> -->


                    <!--End Setting Dropdown-->
                </div>
                <!--End Right Action-->
            </div>
        </div>
    </header>
    <!--End Header-->
    <!--Start Main Navigation Desktop-->
      <!-- <app-header-category></app-header-category> -->
    <!--End Main Navigation Desktop-->
</div>
<!--End Header wrap-->